<h1 class="alert alert-danger" ng-if="error">{{error}}</h1>
<div class="container loading" ng-if="loading">
  <i class="icon-spinnery-dealie spinner large"></i>
  <span>Getting Lab Locations...</span>
</div>
<table class="userList table table-striped table-hover piTable table-bordered locationTable" ng-if="rooms && !loading">
	<thead>
		<tr class="blueBg">
			<th colspan="8" class="blueBg">
				<h1 class="blueBg">Laboratory Locations</h1>
				<div class="btn-group" style="margin:-22px 0 0 30px">
			     <a class="btn-large btn" ng-click="openRoomModal()" style="padding:10px; margin-left:5px;"><i class="icon-plus-2" style="margin: 3px 13px 0 0 !important;font-size: 21px;"></i>Add Lab Room</a>
			   </div>
			</th>
		</tr>
		<tr>
			<th clas="temp">Edit</th>
			<th>
				<a ng-click="order = 'Last_name'; reverse=!reverse">Building<br>
				<input class="span2" ng-model="search.building" placeholder="Filter by Building"/>
			</th>
			<th>
				Lab Room
				<input class="span2" ng-model="search.room" placeholder="Filter by Lab Room"/>
			</th>
			<th style="width:12.6%">
				<a ng-click="order = 'Supervisor.User.Name'; reverse=!reverse">Lab PI</a><br>
				<input class="span2" ng-model="search.pi" placeholder="Filter by PI"/>
			</th>
			<th style="width:15.4%;">
				<a ng-click="order = 'Primary_department'; reverse=!reverse">Department(s)<br>
				<input class="span2" ng-model="search.department" placeholder="Filter by Department"/>
			</th>
			<!--<th>Lab Phone</th>-->
			<th>Campus</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="room in rooms |  orderBy:['Building.Campus.Name','Building.Name', 'Name'] | genericFilter:search" ng-class="{inactive: !room.Is_active}">
			<td style="width:6%;">
				<a ng-hide="contact.edit" class="edit btn btn btn-primary" ng-click="openRoomModal(room)"><i class="icon-pencil"></i></a>
				<a class="btn btn-danger btn DeactivateeRow" ng-click="lhf.handleObjectActive(room)" ng-if="room.Is_active"><i class="icon-remove"></i></a>
				<a class="btn btn-success btn DeactivateeRow" ng-click="lhf.handleObjectActive(room)" ng-if="!room.Is_active"><i class="icon-checkmark"></i></a>
				<i class="icon-spinnery-dealie spinner small" style="position:absolute;margin: 3px;" ng-if="room.IsDirty"></i>
			</td>

			<td style="width:15%"> 
				{{lhf.getBuildingByRoom(room).Name}}
			</td>

			<td once-text="room.Name" style="width:10%;">
			</td>
			<td colspan="2" style="width:28%">
				<ul ng-if="room.PrincipalInvestigators.length">
					<li ng-repeat="pi in room.PrincipalInvestigators" class="piList"> 
						<span once-text="pi.User.Name"></span>
						<ul>
							<li ng-repeat="department in pi.Departments"><span once-text="department.Name"></span></li>
						</ul>
					</li>
				</ul>
				<span ng-if="!room.PrincipalInvestigators.length">Unsassigned</span>
			</td>

			<td style="width:15%" once-text="room.Building.Campus.Name">
			</td>
		</tr>
	</tbody>
</table>

<script type="text/ng-template" id="rooms-modal.html">
        <div class="modal-header" style="padding:0;" class="">
            <h2 style="padding:5px" ng-if="modalData.Key_id" class="greenBg">Editing {{modalData.Name}}<span ng-if="!modalData.Name">Unnamed Room</span></h2>
        	<h2 style="padding:5px" ng-if="!modalData.Key_id" class="greenBg">Create a New Room</h2>
        </div>
        <div class="modal-body">
        	<form class="form-horizontal form">
			    <div class="control-group">
		         <label class="control-label" for="inputEmail">Room Number</label>
		         <div class="controls">
		         	<input type="text" id="inputEmail" ng-model="modalData.Name" placeholder="Room Number">
		         </div>
			    </div>

			    <div class="" style="padding:3px 0;">
				    <div  class="control-group">
			         <label class="control-label" for="inputEmail">Building</label>
			         <div class="controls">
						<input style="" class="span4" placeholder="Select A Building" typeahead-on-select='onSelectBuilding($item)' type="text" ng-model="modalData.Building" typeahead="building as building.Name for building in buildings | filter:$viewValue" ng-init="" ng-if="!isProductionServer || userCopy.Username">
				  	 </div>
			    </div>

        	</form>
        </div>
        <div class="modal-footer">
			<i class="icon-spinnery-dealie spinner small" ng-if="modalData.IsDirty"></i>
            <a class="btn btn-success hazardBtn btn-large" ng-click="save(modalData)"><i class="icon-checkmark"></i>Save</a>
            <a class="btn btn-danger hazardBtn btn-large" ng-click="cancel()"><i class="icon-cancel"></i>Cancel</a>
        </div>
     </script>