	<table class="userList table table-striped table-hover piTable">
	<thead>
		<tr class="greenBg">
			<th colspan="8" class="greenBg">
				<h1 class="greenBg">Lab Contacts</h1>
				<div class="btn-group" style="margin:-22px 0 0 30px">
			     <a class="btn btn-large" ng-click="showInactive = !showInactive">
				     <span ng-show="showInactive"><i class="icon-minus-3" style="font-size:30px; width: 35px; font-size: 30px; margin-left:-9px"></i>Hide Inactive Contacts</span>
				     <span ng-hide="showInactive"><i class="icon-plus-3"  style="font-size:30px; width: 35px; font-size: 30px; margin-left:-9px"></i>Show Inactive Contacts</span>
			     </a>
			     <a class="btn-large btn" ng-click="addUser()" style="padding:10px; margin-left:5px;"><img src='../../img/add-user-icon.png'>Add Contact</a>
			   </div>
			</th>
		</tr>
		<tr>
			<th>Edit User</th>
			<!--<th><a ng-click="order = 'Is_active'; reverse=!reverse">Activate/Deactivate User</a></th>-->
			<th>
				<a ng-click="order = 'Last_name'; reverse=!reverse">Last Name<i ng-class="{ 'icon-arrow-up':Name.reverse, 'icon-arrow-down':!Name.reverse }"></i></a><br>
				<input class="span2" ng-model="searchText.Name" placeholder="Filter by Name"/>
			</th>
			<th>
				First Name
			</th>
			<th>
				<a ng-click="order = 'Supervisor.User.Name'; reverse=!reverse">Lab PI<i ng-class="{ 'icon-arrow-up':Supervisor.reverse, 'icon-arrow-down':!Supervisor.reverse }"></i></a><br>
				<input class="span2" ng-model="selectedPi.Supervisor.User.Name" placeholder="Filter by PI"/>
			</th>
			<th>
				<a ng-click="order = 'Primary_department'; reverse=!reverse">Department(s)<i ng-class="{ 'icon-arrow-up':Primary_department.reverse, 'icon-arrow-down':!Primary_department.reverse }"></i></a><br>
				<input class="span2" ng-model="selectedDepartment.Primary_department.Name" placeholder="Filter by Department"/>
			</th>
			<!--<th>Lab Phone</th>-->
			<th>Email</th>
			<th>Emergency Phone</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="contact in LabContacts | orderBy:order:reverse | filter:searchText | filter: selectedDepartment | filter: selectedPi" ng-if="contact.Is_active != showInactive">
			<td style="width:18%;">
				<a ng-hide="contact.edit" class="edit btn btn btn-primary" ng-click="addUser(contact)"><i class="icon-pencil"></i></a>
				<a class="btn btn-danger btn DeactivateeRow" ng-click="handleUserActive(contact)" ng-if="contact.Is_active && contact.Is_active > 0">Deactivate</a>
				<a class="btn btn-success btn DeactivateeRow" ng-click="handleUserActive(contact)" ng-if="!contact.Is_active || contact.Is_active == 0">Activate</a>
				<img class="smallLoading" src="../../img/loading.gif" style="margin-left:5px; " ng-show="contact.IsDirty"/>
			</td>

			<td style="width:14%;" once-text="contact.Last_name">
				<!--{{contact.Last_name}}-->
			</td>

			<td style="width:14%;" once-text="contact.First_name">
				<!--{{contact.First_name}}-->
			</td>
			<td style="width:14%;" >
				<a once-href="'PIHub.php#/personnel?pi='+contact.Supervisor.Key_id" once-text="contact.Supervisor.User.Name"></a>
				<!--{{contact.Supervisor.User.Name}}-->
			</td>

			<td style="width:16%;" once-text="contact.Primary_department.Name">
				<!--{{contact.Primary_department.Name}}-->
			</td>
			<!--
			<td style="width:12%;" once-text="contact.Lab_phone">
			
			</td>
			-->
			<td style="width:12%;" once-text="contact.Email">
				<!--{{contact.Email}}-->
			</td>

			<td style="width:12%;" once-text="contact.Emergency_phone">
				<!--{{contact.Emergency_phone}}-->
			</td>

		</tr>
	</tbody>
</table>

<script type="text/ng-template" id="labContactModal.html">
        <div class="modal-header" style="padding:0;" class="">
            <h2 style="padding:5px" ng-show="userCopy.Key_id" class="greenBg">Editing {{userCopy.Name}}</h2>
        	<h2 style="padding:5px" ng-hide="userCopy.Key_id" class="greenBg">Create a New Lab Contact</h2>
        </div>
        <div class="modal-body">
        	<form class="form-horizontal form">

        		<div class="control-group">
		         <label class="control-label" for="inputEmail">Username</label>
		         <div class="controls">

		         	<div class="input-append" ng-if="isProductionServer && !userCopy.Username">
		             	<input type="text" id="inputEmail" ng-model="userCopy.userNameForQuery" placeholder="Username">
		             	<a class="add-on greenBg" ng-click="getAuthUser()"><i class="icon-search"></i></a>
			      		<img ng-show="lookingForUser" class="smallLoading" src="../../img/loading.gif"/>
			      	</div>
		            <input type="text" ng-if="!isProductionServer || userCopy.Username" id="inputEmail" disabled="disabled" ng-model="userCopy.Username" placeholder="Username">
		         	<input type="hidden" ng-model="userCopy.Username"/>
		         </div>
			    </div>
			    
			    <div class="control-group">
		         <label class="control-label" for="inputEmail">First Name</label>
		         <div class="controls">
		         	<input type="text" id="inputEmail" ng-model="userCopy.First_name" ng-if="isProductionServer && !userCopy.Username" disabled="disabled" placeholder="First Name">
		            <input type="text" id="inputEmail" ng-model="userCopy.First_name" ng-if="!isProductionServer || userCopy.Username" placeholder="First Name">
		         </div>
			    </div>

			    <div class="control-group">
		         <label class="control-label" for="inputEmail">Last Name</label>
		         <div class="controls">
		         	<input type="text" id="inputEmail" ng-model="userCopy.Last_name" ng-if="isProductionServer && !userCopy.Username" disabled="disabled" placeholder="Last Name">
		            <input type="text" id="inputEmail" ng-model="userCopy.Last_name" ng-if="!isProductionServer || userCopy.Username" placeholder="Last Name">
		         </div>
			    </div>

			    <div class="control-group">
		         <label class="control-label" for="inputEmail">Email</label>
		         <div class="controls">
		            <input type="text" id="inputEmail" ng-model="userCopy.Email" ng-if="isProductionServer && !userCopy.Username" disabled="disabled" placeholder="Email">
		            <input type="text" id="inputEmail" ng-model="userCopy.Email" ng-if="!isProductionServer || userCopy.Username" placeholder="Email">
		         </div>
			    </div>
			    <!--
			    <div class="control-group">
		         <label class="control-label" for="inputEmail">Lab Phone</label>
		         <div class="controls">
		            <input type="text" id="inputEmail" ng-model="userCopy.Lab_phone" placeholder="Lab Phone" ng-if="isProductionServer && !userCopy.Username" disabled="disabled">
		            <input type="text" id="inputEmail" ng-model="userCopy.Lab_phone" placeholder="Lab Phone" ng-if="!isProductionServer || userCopy.Username">

		         </div>
			    </div>
			    -->
			    <div class="control-group">
		         <label class="control-label" for="inputEmail">Emergency Phone</label>
		         <div class="controls">
		         	<input type="text" id="inputEmail" ng-model="userCopy.Emergency_phone" placeholder="Emergency Phone" ng-if="isProductionServer && !userCopy.Username" disabled="disabled">
		            <input type="text" id="inputEmail" ng-model="userCopy.Emergency_phone" placeholder="Emergency Phone" ng-if="!isProductionServer || userCopy.Username">
		         </div>
			    </div>

			 	<div class=""style="padding:3px 0">
				    <div  class="control-group">
			         <label class="control-label" for="inputEmail">Principal Investigator</label>
			         <div class="controls">
						<input style="" class="span4" placeholder="Select A PI"  typeahead-on-select='onSelectPI($item, $model, $label)' type="text" ng-model="userCopy.Supervisor" typeahead="pi as pi.User.Name for pi in pis | filter:$viewValue" ng-init="" ng-if="isProductionServer && !userCopy.Username" disabled="disabled">
				   		<input style="" class="span4" placeholder="Select A PI"  typeahead-on-select='onSelectPI($item, $model, $label)' type="text" ng-model="userCopy.Supervisor" typeahead="pi as pi.User.Name for pi in pis | filter:$viewValue" ng-init="" ng-if="!isProductionServer || userCopy.Username">

				    </div>
			    </div>

			    <div class="" style="padding:3px 0;">
				    <div  class="control-group">
			         <label class="control-label" for="inputEmail">Roles(s)</label>
			         <div class="controls">
						<input style="" class="span4" placeholder="Select A Role"  typeahead-on-select='onSelectRole($item, $model, $label)' type="text" ng-model="selectedRole" typeahead="role as role.Name for role in roles | filter:$viewValue" ng-init="" ng-if="isProductionServer && !userCopy.Username" disabled="disabled">
						<input style="" class="span4" placeholder="Select A Role"  typeahead-on-select='onSelectRole($item, $model, $label)' type="text" ng-model="selectedRole" typeahead="role as role.Name for role in roles | filter:$viewValue" ng-init="" ng-if="!isProductionServer || userCopy.Username">
						<img ng-show="selectedDepartment.IsDirty" class="smallLoading" src="../../img/loading.gif"/>
				   		
				    <ul style="margin-top:3px;">
				    	<li ng-repeat="role in userCopy.Roles"><a class="btn btn-danger btn-mini" ng-click="removeRole(role)"><i class="icon-cancel"></i></a>{{role.Name}}<img ng-show="role.IsDirty" class="smallLoading" src="../../img/loading.gif"/>
						</li>
				    </ul>
				   </div>
			    </div>

			      <div class=""style="padding:3px 0">
				    <div  class="control-group">
			         <label class="control-label" for="inputEmail">Department</label>
			         <div class="controls">
						<input style="" class="span4" placeholder="Select A Department"  typeahead-on-select='onSelectDepartment($item, $model, $label)' type="text" ng-model="userCopy.Primary_department" typeahead="department as department.Name for department in departments | filter:$viewValue" ng-init="" ng-if="isProductionServer && !userCopy.Username" disabled="disabled">
						<input style="" class="span4" placeholder="Select A Department"  typeahead-on-select='onSelectDepartment($item, $model, $label)' type="text" ng-model="userCopy.Primary_department" typeahead="department as department.Name for department in departments | filter:$viewValue" ng-init="" ng-if="!isProductionServer || userCopy.Username">

						<img ng-show="selectedDepartment.IsDirty" class="smallLoading" src="../../img/loading.gif"/>
				    </div>
			    </div>
        	</form>
        </div>
        <div class="modal-footer">
        	<img ng-show="userCopy.IsDirty" class="smallLoading" src="../../img/loading.gif"/>
            <a ng-if="userCopy.Key_id" class="btn btn-success hazardBtn btn-large" ng-click="saveNewUser(userCopy, user)"><i class="icon-checkmark"></i>Save</a>
            <a ng-if="!userCopy.Key_id" class="btn btn-success hazardBtn btn-large" ng-click="saveNewUser(userCopy)"><i class="icon-checkmark"></i>Save</a>
            <a class="btn btn-danger hazardBtn btn-large" ng-click="cancel()"><i class="icon-cancel"></i>Cancel</a>
        </div>
     </script>