<table class="userList table table-striped table-hover piTable">
	<thead>
		<tr>
			<th colspan="8" class="blueBg">
				<h1 class="blueBg">Principal Investigators</h1>
				<div class="btn-group" style="margin:-22px 0 0 30px">
			     <a class="btn btn-large" ng-click="showInactive = !showInactive">
				     <span ng-show="showInactive"><i class="icon-minus-3" style="font-size:30px; width: 35px; font-size: 30px; margin-left:-9px"></i>Hide Inactive Contacts</span>
				     <span ng-hide="showInactive"><i class="icon-plus-3"  style="font-size:30px; width: 35px; font-size: 30px; margin-left:-9px"></i>Show Inactive Contacts</span>
			     </a>
			     <a class="btn-large btn btn" ng-click="addPi()" style="padding:10px; margin-left:5px;"><img src='../../img/add-user-icon.png'>Add PI</a>
			</th>
		</tr>
		<tr>
			<th>Edit PI</th>
			<th>
				<a ng-click="order = 'Name'; Name.reverse=!Name.reverse">Name<i ng-class="{ 'icon-arrow-up':Name.reverse, 'icon-arrow-down':!Name.reverse }"></i></a><br>
				<input ng-model="searchText" style="width:125px;" placeholder="Filter by Name"/>
			</th>
			<th>
				<a ng-click="order = 'Departments[0]'; Departments[0].reverse=!Departments[0].reverse">Department(s)<i ng-class="{ 'icon-arrow-up':Supervisor.reverse, 'icon-arrow-down':!Supervisor.reverse }"></i></a><br>
				<input ng-model="selectedDepartment" style="width:165px;" placeholder="Filter by Department"/>
			</th>
			<th>Office Phone</th>
			<th>Lab Phone</th>
			<th>
				<a ng-click="order = 'Primary_department'; Primary_department.reverse=!Primary_department.reverse">Building(s)<i ng-class="{ 'icon-arrow-up':Primary_department.reverse, 'icon-arrow-down':!Primary_department.reverse }"></i></a><br>
				<input ng-model="selectedBuilding" style="width:150px;" placeholder="Filter by Building"/>
			</th>
			<th><a ng-click="order = 'Email'; reverse=!reverse">Email</a></th>
			<th>Emergency Phone</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="pi in pis | orderBy:order:reverse | filter:searchText | filter:buildingFilter() | filter:departmentFilter()">

			<td style="width:14%;">
				<a ng-hide="pi.edit" class="edit btn btn btn-primary" ng-click="addPi(pi)"><i class="icon-pencil"></i></a>
				<a class="btn btn-danger btn DeactivateeRow" ng-click="handleUserActive(pi)" ng-if="pi.Is_active && !pi.edit">Deactivate</a>
				<a class="btn btn-success btn DeactivateeRow" ng-click="handleUserActive(pi)" ng-if="!pi.Is_active && !pi.edit">Activate</a>
				
			</td>

			<td style="width:12%;">
				<img ng-show="pi.IsDirty" class="smallLoading" src="../../img/loading.gif" style="margin-left:-25px; margin-top:15px;"/>
				{{pi.User.Name}}
			</td>

			<td style="width:11%;">
				<ul>
					<li ng-repeat="department in pi.Departments">{{department.Name}}</li>
				</ul>
			</td>

			<td style="width:12%;">
				{{pi.User.Offce_phone}}
			</td>

			<td style="width:12%;">
				{{pi.User.Lab_phone}}
			</td>

			<td style="width:12%;">
				<ul>
					<li ng-repeat="building in pi.Buildings">{{building.Name}}</li>
				</ul>
			</td>

			<td style="width:12%;">
				{{pi.User.Email}}
			</td>

			<td style="width:12%;">
				{{pi.User.Emergency_phone}}
			</td>

		</tr>
	</tbody>
</table>

<script type="text/ng-template" id="piModal.html">
        <div class="modal-header" style="padding:0;" class="">
            <h2 style="padding:5px" ng-show="piCopy.Key_id" class="blueBg">Editing {{piCopy.Name}}</h2>
        	<h2 style="padding:5px" ng-hide="piCopy.Key_id" class="blueBg">Create a New Lab Contact</h2>
        </div>
        <div class="modal-body">
        	<form class="form-horizontal form">

        		<div class="control-group">
		         <label class="control-label" for="inputEmail">Username</label>
		         <div class="controls">
		         	<div class="input-append">
		             <input type="text" ng-if="isProductionServer && !piCopy.User.Username" id="inputEmail" ng-model="piCopy.userNameForQuery" placeholder="Username"><a ng-if="isProductionServer && !piCopy.User.Username" class="add-on greenBg" ng-click="getAuthUser()"><i class="icon-search"></i></a>
			      </div>
		            <input type="text" ng-if="!isProductionServer || piCopy.User.Username" id="inputEmail" disabled="disabled" ng-model="piCopy.User.Username" placeholder="Name">
		         </div>
			    </div>
			    
			    <div class="control-group">
		         <label class="control-label" for="inputEmail">Name</label>
		         <div class="controls">
		         	<input type="text" id="inputEmail" ng-model="piCopy.User.Name" ng-if="isProductionServer && !piCopy.Username" disabled="disabled" placeholder="Name">
		            <input type="text" id="inputEmail" ng-model="piCopy.User.Name" ng-if="!isProductionServer || piCopy.Username" placeholder="Name">
		         </div>
			    </div>

			    <div class="control-group">
		         <label class="control-label" for="inputEmail">Email</label>
		         <div class="controls">
		            <input type="text" id="inputEmail" ng-model="piCopy.User.Email" ng-if="isProductionServer && !piCopy.Username" disabled="disabled" placeholder="Email">
		            <input type="text" id="inputEmail" ng-model="piCopy.User.Email" ng-if="!isProductionServer || piCopy.Username" placeholder="Email">
		         </div>
			    </div>

			    <div class="control-group">
		         <label class="control-label" for="inputEmail">Lab Phone</label>
		         
		         <div class="controls">
		            <input type="text" id="inputEmail" ng-model="piCopy.User.Lab_phone" placeholder="Lab Phone" ng-if="isProductionServer && !piCopy.Username" disabled="disabled">
		            <input type="text" id="inputEmail" ng-model="piCopy.User.Lab_phone" placeholder="Lab Phone" ng-if="!isProductionServer || piCopy.Username">
		         </div>
			    </div>

			    <div class="control-group">
		         <label class="control-label" for="inputEmail">Office Phone</label>
		         <div class="controls">
		            <input type="text" id="inputEmail" ng-model="piCopy.User.Office_phone" placeholder="Office Phone" ng-if="isProductionServer && !piCopy.Username" disabled="disabled">
		            <input type="text" id="inputEmail" ng-model="piCopy.User.Office_phone" placeholder="Office Phone" ng-if="!isProductionServer || piCopy.Username">

		         </div>
			    </div>

			    <div class="control-group">
		         <label class="control-label" for="inputEmail">Emergency Phone</label>
		         <div class="controls">
		         	<input type="text" id="inputEmail" ng-model="piCopy.User.Emergency_phone" placeholder="Emergency Phone" ng-if="isProductionServer && !piCopy.Username" disabled="disabled">
		            <input type="text" id="inputEmail" ng-model="piCopy.User.Emergency_phone" placeholder="Emergency Phone" ng-if="!isProductionServer || piCopy.Username">
		         </div>
			    </div>

			    <div class="" style="padding:3px 0;">
				    <div  class="control-group">
			         <label class="control-label" for="inputEmail">Roles(s)</label>
			         <div class="controls">
						<input style="" class="span4" placeholder="Select A Role"  typeahead-on-select='onSelectRole($item, $model, $label)' type="text" ng-model="selectedRole" typeahead="role as role.Name for role in roles | filter:$viewValue" ng-init="" ng-if="isProductionServer && !piCopy.Username" disabled="disabled">
						<input style="" class="span4" placeholder="Select A Role"  typeahead-on-select='onSelectRole($item, $model, $label)' type="text" ng-model="selectedRole" typeahead="role as role.Name for role in roles | filter:$viewValue" ng-init="" ng-if="!isProductionServer || piCopy.Username">
						<img ng-show="selectedDepartment.IsDirty" class="smallLoading" src="../../img/loading.gif"/>
				   		
				    <ul style="margin-top:3px;">
				    	<li ng-repeat="role in piCopy.User.Roles"><a class="btn btn-danger btn-mini" ng-click="removeRole(role)"><i class="icon-cancel"></i></a>{{role.Name}}<img ng-show="role.IsDirty" class="smallLoading" src="../../img/loading.gif"/>
						</li>
				    </ul>
				   </div>
			    </div>

			      <div class=""style="padding:3px 0">
				    <div  class="control-group">
			         <label class="control-label" for="inputEmail">Department</label>
			         <div class="controls">
						<input style="" class="span4" placeholder="Select A Department"  typeahead-on-select='onSelectDepartment($item, $model, $label)' type="text" ng-model="piCopy.Primary_department" typeahead="department as department.Name for department in departments | filter:$viewValue" ng-init="" ng-if="isProductionServer && !piCopy.Username" disabled="disabled">
						<input style="" class="span4" placeholder="Select A Department"  typeahead-on-select='onSelectDepartment($item, $model, $label)' type="text" ng-model="piCopy.Primary_department" typeahead="department as department.Name for department in departments | filter:$viewValue" ng-init="" ng-if="!isProductionServer || piCopy.Username">
					<ul>
				    	<li ng-repeat="department in piCopy.Departments"><a class="btn btn-danger btn-mini" ng-click="removeDepartment(department)"><i class="icon-cancel"></i></a>{{department.Name}}<img ng-show="department.IsDirty" class="smallLoading" src="../../img/loading.gif"/>			         </div>
</li>
				    </ul>
						<img ng-show="selectedDepartment.IsDirty" class="smallLoading" src="../../img/loading.gif"/>
				    </div>
			    </div>
        	</form>
        </div>
        <div class="modal-footer">
        	<img ng-show="piCopy.IsDirty" class="smallLoading" src="../../img/loading.gif"/>
            <a ng-if="piCopy.Key_id" class="btn btn-success hazardBtn btn-large" ng-click="saveUser(piCopy)"><i class="icon-checkmark"></i>Save</a>
            <a ng-if="!piCopy.Key_id" class="btn btn-success hazardBtn btn-large" ng-click="saveNewUser(piCopy)"><i class="icon-checkmark"></i>Save</a>
            <a class="btn btn-danger hazardBtn btn-large" ng-click="cancel()"><i class="icon-cancel"></i>Cancel</a>
        </div>
     </script>