<table class="userList table table-striped table-hover piTable table-bordered" ng-show="neededUsers">
	<thead>
		<tr>
			<th colspan="10" class="blueBg">
				<h1 class="blueBg">Principal Investigators</h1>
				<div class="btn-group" style="margin: -18px 0 0 20px;">
				     <a class="btn btn-large" ng-click="showInactive = !showInactive">
				     	 <input type="hidden" ng-model="showInactive" ng-init="showInactive = false">
					     <span ng-show="showInactive">Show Active PI</span>
					     <span ng-hide="showInactive">Show Inactive PI</span>
				     </a>
				     <a class="btn-large btn" ng-click="openModal()" style="padding:10px; margin-left:5px;"><img src='../../img/add-user-icon.png'>Add PI</a>
			     </div>
			     <h2 class="blueBg" style="float:right; margin-top:8px;">Displaying <span class="underline bold">{{filtered.length}}</span> Principal Investigators</h2>
			</th>
		</tr>
		<tr>
			<th>Edit PI</th>
			<th>
				<a ng-click="order = 'User.Last_name'; reverse=!reverse">Last Name<i ng-class="{ 'icon-arrow-up':Name.reverse, 'icon-arrow-down':!Name.reverse }"></i></a><br>
				<input ng-model="searchText" style="width:125px;" placeholder="Filter by Name"/>
			</th>
			<th>First Name</th>
			<th>
				Department(s)<br>
				<input ng-model="selectedDepartment" style="width:165px;" placeholder="Filter by Department"/>
			</th>
			<th>Office Phone</th>
			<th>Lab Phone</th>
			<th>
				Building(s)<br>
				<input ng-model="selectedBuilding" style="width:150px;" placeholder="Filter by Building"/>
			</th>
			<th><a ng-click="order = 'Email'; reverse=!reverse">Email</a></th>
			<th>Emergency Phone</th>
		</tr>
	</thead>
	<tbody>
			<tr ng-repeat="pi in (filtered = (pis | isPI | filter:activeFilter(showInactive) | filter:searchText | filter:buildingFilter() | filter:departmentFilter() | orderBy:order:reverse ))">
			<td style="width:8%;">
				<a ng-hide="pi.edit" class="edit btn btn btn-primary" ng-click="openModal(pi)"><i class="icon-pencil"></i></a>
				<a class="btn btn-danger btn DeactivateeRow" ng-click="handlePiActive(pi)" ng-show="pi.Is_active"><i class="icon-remove"></i></a>
				<a class="btn btn-success btn DeactivateeRow" ng-click="handlePiActive(pi)" ng-show="!pi.Is_active"><i class="icon-checkmark"></i></a>
				<i class="icon-spinnery-dealie spinner small" style="position:absolute;margin: 3px;" ng-if="pi.IsDirty"></i>
			</td>
			
			<td style="width:9%;">
				{{pi.Last_name}}
			</td>

			<td style="width:9%;">
				{{pi.First_name}}
			</td>

			<td style="width:20%;">
				<ul>
					<li ng-repeat="department in pi.PrincipalInvestigator.Departments" once-text="department.Name"><!--{{department.Name}}--></li>
				</ul>
			</td>

			<td style="width:9%;">
				{{pi.Office_phone}}
			</td>

			<td style="width:9%;">
				{{pi.Lab_phone}}
			</td>

			<td style="width:17%;">
				<ul>
					<li ng-repeat="building in pi.PrincipalInvestigator.Buildings" once-text="building.Name"></li>
				</ul>
			</td>

			<td style="width:12%;">
				{{pi.Email}}
			</td>

			<td style="width:7%;">
				{{pi.Emergency_phone}}
			</td>

		</tr>
	</tbody>
</table>

<script type="text/ng-template" id="piModal.html">
        <div class="modal-header" style="padding:0;" class="">
            <h2 style="padding:5px" ng-show="modalData.Key_id" class="blueBg">Editing {{modalData.User.Name}}</h2>
        	<h2 style="padding:5px" ng-hide="modalData.Key_id" class="blueBg">Create a New Principal Investigator</h2>
        </div>
        <div class="modal-body">
        <h3 class="alert alert-danger" ng-if="modalError">{{modalError}}</h3>
        	<form class="form-horizontal form">
        	<div class="error alert alert-danger" ng-if="frmError && !modalData.User.Username" style="color:black">{{frmError}}</div>
        		<div class="control-group">
		         <label class="control-label" for="inputEmail">Username</label>
		         <div class="controls">
		         	<div class="input-append">
		             <input type="text" ng-if="isProductionServer && !modalData.User.Username" id="inputEmail" ng-model="modalData.userNameForQuery" placeholder="Username"><a ng-if="isProductionServer && !modalData.User.Username" class="add-on greenBg" ng-click="getAuthUser(modalData.User)"><i class="icon-search"></i></a>
		             				      	<img ng-show="lookingForUser" class="smallLoading" src="../../img/loading.gif"/>

			      </div>
		            <input type="text" ng-if="!isProductionServer || modalData.User.Username" id="inputEmail" disabled="disabled" ng-model="modalData.User.Username" placeholder="Name">
		        	<input type="hidden" ng-model="modalData.User.Username"/>
		         </div>
			    </div>
			    
			    <div class="control-group">
		         <label class="control-label" for="inputEmail">First Name</label>
		         <div class="controls">
		         	<input type="text" id="inputEmail" ng-model="modalData.User.First_name" ng-if="isProductionServer && !modalData.User.Username" disabled="disabled" placeholder="First Name">
		            <input type="text" id="inputEmail" ng-model="modalData.User.First_name" ng-if="!isProductionServer || modalData.User.Username" placeholder="First Name">
		         </div>
			    </div>

			    <div class="control-group">
		         <label class="control-label" for="inputEmail">Last Name</label>
		         <div class="controls">
		         	<input type="text" id="inputEmail" ng-model="modalData.User.Last_name" ng-if="isProductionServer && !modalData.User.Username" disabled="disabled" placeholder="Last Name">
		            <input type="text" id="inputEmail" ng-model="modalData.User.Last_name" ng-if="!isProductionServer || modalData.User.Username" placeholder="Last Name">
		         </div>
			    </div>

			    <div class="control-group">
		         <label class="control-label" for="inputEmail">Email</label>
		         <div class="controls">
		            <input type="text" id="inputEmail" ng-model="modalData.User.Email" ng-if="isProductionServer && !modalData.User.Username" disabled="disabled" placeholder="Email">
		            <input type="text" id="inputEmail" ng-model="modalData.User.Email" ng-if="!isProductionServer || modalData.User.Username" placeholder="Email">
		         </div>
			    </div>

			    <div class="control-group">
		         <label class="control-label" for="inputEmail">Lab Phone</label>
		         
		         <div class="controls">
		            <input type="text" id="inputEmail" ng-model="modalData.User.Lab_phone" placeholder="Lab Phone" ng-if="isProductionServer && !modalData.User.Username" disabled="disabled">
		            <input type="text" id="inputEmail" ng-model="modalData.User.Lab_phone" placeholder="Lab Phone" ng-if="!isProductionServer || modalData.User.Username">
		         </div>
			    </div>

			    <div class="control-group">
		         <label class="control-label" for="inputEmail">Office Phone</label>
		         <div class="controls">
		            <input type="text" id="inputEmail" ng-model="modalData.User.Office_phone" placeholder="Office Phone" ng-if="isProductionServer && !modalData.User.Username" disabled="disabled">
		            <input type="text" id="inputEmail" ng-model="modalData.User.Office_phone" placeholder="Office Phone" ng-if="!isProductionServer || modalData.User.Username">

		         </div>
			    </div>

			    <div class="control-group">
		         <label class="control-label" for="inputEmail">Emergency Phone</label>
		         <div class="controls">
		         	<input type="text" id="inputEmail" ng-model="modalData.User.Emergency_phone" placeholder="Emergency Phone" ng-if="isProductionServer && !modalData.User.Username" disabled="disabled">
		            <input type="text" id="inputEmail" ng-model="modalData.User.Emergency_phone" placeholder="Emergency Phone" ng-if="!isProductionServer || modalData.User.Username">
		         </div>
			    </div>

			    <div class="" style="padding:3px 0;">
				    <div  class="control-group">
			         <label class="control-label" for="inputEmail">Roles(s)</label>
			         <div class="controls">
						<input style="" class="span4" placeholder="Select A Role"  typeahead-on-select='onSelectRole($item, $model, $label)' type="text" ng-model="selectedRole" typeahead="role as role.Name for role in roles | filter:$viewValue" ng-init="" ng-if="isProductionServer && !modalData.User.Username" disabled="disabled">
						<input style="" class="span4" placeholder="Select A Role"  typeahead-on-select='onSelectRole($item, $model, $label)' type="text" ng-model="selectedRole" typeahead="role as role.Name for role in roles | filter:$viewValue" ng-init="" ng-if="!isProductionServer || modalData.User.Username">
				   		
				    <ul style="margin-top:3px;">
				    	<li ng-repeat="role in modalData.User.Roles" ng-if="role.Name"><a class="btn btn-danger btn-mini" ng-click="removeRole(modalData.User, role)"><i class="icon-cancel"></i></a>{{role.Name}}<i class="icon-spinnery-dealie spinner small" style="position:absolute;margin: 3px;" ng-if="role.IsDirty"></i>
						</li>
				    </ul>
				   </div>
			    </div>

			      <div class=""style="padding:3px 0">
				    <div  class="control-group">
			         <label class="control-label" for="inputEmail">Department</label>
			         <div class="controls">
						<input style="" class="span4" placeholder="Select A Department"  typeahead-on-select='onAddDepartmentToPi($item, $model, $label)' type="text" ng-model="modalData.Primary_department" typeahead="department as department.Name for department in departments | filter:$viewValue" ng-init="" ng-if="isProductionServer && !modalData.User.Username" disabled="disabled">
						<input style="" class="span4" placeholder="Select A Department"  typeahead-on-select='onAddDepartmentToPi($item, $model, $label)' type="text" ng-model="modalData.Primary_department" typeahead="department as department.Name for department in departments | filter:$viewValue" ng-init="" ng-if="!isProductionServer || modalData.User.Username">
					<ul>
				    	<li ng-repeat="department in modalData.Departments"><a class="btn btn-danger btn-mini" ng-click="removeDepartment(department)"><i class="icon-cancel"></i></a>{{department.Name}}<i class="icon-spinnery-dealie spinner small" style="position:absolute;margin: 3px;" ng-if="department.IsDirty"></i>
						</li>
				    </ul>
						<i class="icon-spinnery-dealie spinner small" style="position:absolute;margin: 3px;" ng-if="department.IsDirty"></i>
				    </div>
			    </div>
        	</form>
        </div>
        <div class="modal-footer">
			<i class="icon-spinnery-dealie spinner small" style=";margin: 3px;" ng-if="modalData.IsDirty"></i>
        	<!--ng-if="modalData.User.Username"-->
            <a  class="btn btn-success hazardBtn btn-large" ng-if="modalData.User.Username"  ng-click="savePi()"><i class="icon-checkmark"></i>Save</a>
            <a alt="Please enter a username to find the user." ng-if="!modalData.User.Username" diabled="disabled" ng-if="!modalData.User.Username" class="btn hazardBtn btn-large" ng-click="formError('Please enter a username to find the user.')"><i class="icon-checkmark"></i>Save</a>
            <a class="btn btn-danger hazardBtn btn-large" ng-click="cancel()"><i class="icon-cancel"></i>Cancel</a>
        </div>
     </script>