<table class="userList table table-striped table-hover piTable">
	<thead>
		<tr>
			<th colspan="9" class="blueBg">
				<h1 class="blueBg">Principal Investigators</h1>
				<div class="btn-group" style="margin:-22px 0 0 30px">
			     <a class="btn btn-large" ng-click="showInactive = !showInactive">
				     <span ng-show="showInactive">Show Active PI</span>
				     <span ng-hide="showInactive">Show Inactive PI</span>
			     </a>
			     <a class="btn-large btn" ng-click="addPi()" style="padding:10px; margin-left:5px;"><img src='../../img/add-user-icon.png'>Add PI</a>
			</th>
		</tr>
		<tr>
			<th>Edit PI</th>
			<th>
				<a ng-click="order = 'User.Last_name'; reverse=!reverse">Last Name<i ng-class="{ 'icon-arrow-up':Name.reverse, 'icon-arrow-down':!Name.reverse }"></i></a><br>
				<input ng-model="searchText" style="width:125px;" placeholder="Filter by Name"/>
			</th>
			<th>First Name</th>
			<th>
				Department(s)<br>
				<input ng-model="selectedDepartment" style="width:165px;" placeholder="Filter by Department"/>
			</th>
			<th>Office Phone</th>
			<th>Lab Phone</th>
			<th>
				Building(s)<br>
				<input ng-model="selectedBuilding" style="width:150px;" placeholder="Filter by Building"/>
			</th>
			<th><a ng-click="order = 'Email'; reverse=!reverse">Email</a></th>
			<th>Emergency Phone</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="pi in pis | filter:searchText | filter:buildingFilter() | filter:departmentFilter() | orderBy:order:reverse " ng-if="pi.Is_active != showInactive">

			<td style="width:12%;">
				<a ng-hide="pi.edit" class="edit btn btn btn-primary" ng-click="addPi(pi)"><i class="icon-pencil"></i></a>
				<a class="btn btn-danger btn DeactivateeRow" ng-click="handlePiActive(pi)" ng-show="pi.Is_active">Deactivate</a>
				<a class="btn btn-success btn DeactivateeRow" ng-click="handlePiActive(pi)" ng-show="!pi.Is_active">Activate</a>
				<img class="smallLoading" src="../../img/loading.gif" style="margin-left:5px;margin-top: 10px;position:absolute;" ng-show="pi.IsDirty"/>
			</td>
			
			<td style="width:9%;" once-text="pi.User.Last_name">
				<!--{{pi.User.Last_name}}-->
			</td>

			<td style="width:9%;" once-text="pi.User.First_name">
				<!--{{pi.User.First_name}}-->
			</td>

			<td style="width:20%;">
				<ul>
					<li ng-repeat="department in pi.Departments" once-text="department.Name"><!--{{department.Name}}--></li>
				</ul>
			</td>

			<td style="width:9%;" once-text="pi.User.Office_phone">
				<!--{{pi.User.Office_phone}}-->
			</td>

			<td style="width:9%;" once-text="pi.User.Lab_phone">
				<!--{{pi.User.Lab_phone}}-->
			</td>

			<td style="width:17%;">
				<ul>
					<li ng-repeat="building in pi.Buildings" once-text="building.Name"><!--{{building.Name}}-->/li>
				</ul>
			</td>

			<td style="width:12%;" once-text="pi.User.Email">
				<!--{{pi.User.Email}}-->
			</td>

			<td style="width:7%;" once-text="pi.User.Emergency_phone">
				<!--{{pi.User.Emergency_phone}}-->
			</td>

		</tr>
	</tbody>
</table>

<script type="text/ng-template" id="piModal.html">
        <div class="modal-header" style="padding:0;" class="">
            <h2 style="padding:5px" ng-show="piCopy.Key_id" class="blueBg">Editing {{piCopy.User.Name}}</h2>
        	<h2 style="padding:5px" ng-hide="piCopy.Key_id" class="blueBg">Create a New Principal Investigator</h2>
        </div>
        <div class="modal-body">
        	<form class="form-horizontal form">
        	<div class="error alert alert-danger" ng-if="frmError && !piCopy.User.Username" style="color:black">{{frmError}}</div>
        		<div class="control-group">
		         <label class="control-label" for="inputEmail">Username</label>
		         <div class="controls">
		         	<div class="input-append">
		             <input type="text" ng-if="isProductionServer && !piCopy.User.Username" id="inputEmail" ng-model="piCopy.userNameForQuery" placeholder="Username"><a ng-if="isProductionServer && !piCopy.User.Username" class="add-on greenBg" ng-click="getAuthUser()"><i class="icon-search"></i></a>
		             				      	<img ng-show="lookingForUser" class="smallLoading" src="../../img/loading.gif"/>

			      </div>
		            <input type="text" ng-if="!isProductionServer || piCopy.User.Username" id="inputEmail" disabled="disabled" ng-model="piCopy.User.Username" placeholder="Name">
		        	<input type="hidden" ng-model="piCopy.User.Username"/>
		         </div>
			    </div>
			    
			    <div class="control-group">
		         <label class="control-label" for="inputEmail">First Name</label>
		         <div class="controls">
		         	<input type="text" id="inputEmail" ng-model="piCopy.User.First_name" ng-if="isProductionServer && !piCopy.User.Username" disabled="disabled" placeholder="First Name">
		            <input type="text" id="inputEmail" ng-model="piCopy.User.First_name" ng-if="!isProductionServer || piCopy.User.Username" placeholder="First Name">
		         </div>
			    </div>

			    <div class="control-group">
		         <label class="control-label" for="inputEmail">Last Name</label>
		         <div class="controls">
		         	<input type="text" id="inputEmail" ng-model="piCopy.User.Last_name" ng-if="isProductionServer && !piCopy.User.Username" disabled="disabled" placeholder="Last Name">
		            <input type="text" id="inputEmail" ng-model="piCopy.User.Last_name" ng-if="!isProductionServer || piCopy.User.Username" placeholder="Last Name">
		         </div>
			    </div>

			    <div class="control-group">
		         <label class="control-label" for="inputEmail">Email</label>
		         <div class="controls">
		            <input type="text" id="inputEmail" ng-model="piCopy.User.Email" ng-if="isProductionServer && !piCopy.User.Username" disabled="disabled" placeholder="Email">
		            <input type="text" id="inputEmail" ng-model="piCopy.User.Email" ng-if="!isProductionServer || piCopy.User.Username" placeholder="Email">
		         </div>
			    </div>

			    <div class="control-group">
		         <label class="control-label" for="inputEmail">Lab Phone</label>
		         
		         <div class="controls">
		            <input type="text" id="inputEmail" ng-model="piCopy.User.Lab_phone" placeholder="Lab Phone" ng-if="isProductionServer && !piCopy.User.Username" disabled="disabled">
		            <input type="text" id="inputEmail" ng-model="piCopy.User.Lab_phone" placeholder="Lab Phone" ng-if="!isProductionServer || piCopy.User.Username">
		         </div>
			    </div>

			    <div class="control-group">
		         <label class="control-label" for="inputEmail">Office Phone</label>
		         <div class="controls">
		            <input type="text" id="inputEmail" ng-model="piCopy.User.Office_phone" placeholder="Office Phone" ng-if="isProductionServer && !piCopy.User.Username" disabled="disabled">
		            <input type="text" id="inputEmail" ng-model="piCopy.User.Office_phone" placeholder="Office Phone" ng-if="!isProductionServer || piCopy.User.Username">

		         </div>
			    </div>

			    <div class="control-group">
		         <label class="control-label" for="inputEmail">Emergency Phone</label>
		         <div class="controls">
		         	<input type="text" id="inputEmail" ng-model="piCopy.User.Emergency_phone" placeholder="Emergency Phone" ng-if="isProductionServer && !piCopy.User.Username" disabled="disabled">
		            <input type="text" id="inputEmail" ng-model="piCopy.User.Emergency_phone" placeholder="Emergency Phone" ng-if="!isProductionServer || piCopy.User.Username">
		         </div>
			    </div>

			    <div class="" style="padding:3px 0;">
				    <div  class="control-group">
			         <label class="control-label" for="inputEmail">Roles(s)</label>
			         <div class="controls">
						<input style="" class="span4" placeholder="Select A Role"  typeahead-on-select='onSelectRole($item, $model, $label)' type="text" ng-model="selectedRole" typeahead="role as role.Name for role in roles | filter:$viewValue" ng-init="" ng-if="isProductionServer && !piCopy.User.Username" disabled="disabled">
						<input style="" class="span4" placeholder="Select A Role"  typeahead-on-select='onSelectRole($item, $model, $label)' type="text" ng-model="selectedRole" typeahead="role as role.Name for role in roles | filter:$viewValue" ng-init="" ng-if="!isProductionServer || piCopy.User.Username">
						<img ng-show="selectedDepartment.IsDirty" class="smallLoading" src="../../img/loading.gif"/>
				   		
				    <ul style="margin-top:3px;">
				    	<li ng-repeat="role in piCopy.User.Roles" ng-if="role.Name"><a class="btn btn-danger btn-mini" ng-click="removeRole(role)"><i class="icon-cancel"></i></a>{{role.Name}}<img ng-show="role.IsDirty" class="smallLoading" src="../../img/loading.gif"/>
						</li>
				    </ul>
				   </div>
			    </div>

			      <div class=""style="padding:3px 0">
				    <div  class="control-group">
			         <label class="control-label" for="inputEmail">Department</label>
			         <div class="controls">
						<input style="" class="span4" placeholder="Select A Department"  typeahead-on-select='onSelectDepartment($item, $model, $label)' type="text" ng-model="piCopy.Primary_department" typeahead="department as department.Name for department in departments | filter:$viewValue" ng-init="" ng-if="isProductionServer && !piCopy.User.Username" disabled="disabled">
						<input style="" class="span4" placeholder="Select A Department"  typeahead-on-select='onSelectDepartment($item, $model, $label)' type="text" ng-model="piCopy.Primary_department" typeahead="department as department.Name for department in departments | filter:$viewValue" ng-init="" ng-if="!isProductionServer || piCopy.User.Username">
					<ul>
				    	<li ng-repeat="department in piCopy.Departments"><a class="btn btn-danger btn-mini" ng-click="removeDepartment(department)"><i class="icon-cancel"></i></a>{{department.Name}}<img ng-show="department.IsDirty" class="smallLoading" src="../../img/loading.gif"/>			         </div>
						</li>
				    </ul>
						<img ng-show="selectedDepartment.IsDirty" class="smallLoading" src="../../img/loading.gif"/>
				    </div>
			    </div>
        	</form>
        </div>
        <div class="modal-footer">
        	<img ng-show="piCopy.IsDirty" class="smallLoading" src="../../img/loading.gif"/>
            <a ng-if="piCopy.User.Username" class="btn btn-success hazardBtn btn-large" ng-click="savePi()"><i class="icon-checkmark"></i>Save</a>
            <a alt="Pleas enter a username to find the user." diabled="disabled" ng-if="!piCopy.User.Username" class="btn hazardBtn btn-large" ng-click="formError('Please enter a username to find the user.')"><i class="icon-checkmark"></i>Save</a>
            <a class="btn btn-danger hazardBtn btn-large" ng-click="cancel()"><i class="icon-cancel"></i>Cancel</a>
        </div>
     </script>