<h3 style="margin-top:10px;" ng-show="!data.length">No equipment to display at this time.</h3>
<div class="fake-table bordered striped" ng-show="data.length">
    
    <div class="table-header">
        <h3>Location</h3>
        <h3>Type</h3>
        <h3>Manufacturer</h3>
        <h3>Model</h3>
        <h3>Serial #</h3>
        <h3>Certification Status</h3>
    </div>

    <div class="table-row" ng-repeat="equipment in data">
        <div>
            <span ng-repeat="insp in inspections = (equipment.EquipmentInspections | recentEquipmentInspections | orderBy:'Due_date':true | limitTo:1)">
                {{insp.Room.Building.Alias || insp.Room.Building.Name}} {{insp.Room.Name}}
            </span>
        </div>
        <div>{{equipment.Type}}</div>
        <div>{{equipment.Make}}</div>
        <div>{{equipment.Model}}</div>
        <div>{{equipment.Serial_number}}</div>
        <div>
            <span ng-repeat="inspection in inspections">
                <!-- Copied from equipment module cabinet-table... -->
                <span ng-class="{'red': inspection.Status == Constants.EQUIPMENT.STATUS.FAIL || inspection.Status == Constants.EQUIPMENT.STATUS.OVERDUE || inspection.Is_uncertified,
                        'yellow': inspection.Status == Constants.EQUIPMENT.STATUS.PENDING || inspection.Status == Constants.EQUIPMENT.STATUS.NEW,
                        'green': inspection.Status == Constants.EQUIPMENT.STATUS.PASS }">
                    <span class="bold" ng-if="inspection.Is_uncertified && inspection.Status != Constants.EQUIPMENT.STATUS.FAIL">FAILED ON: {{inspection.Due_date | dateToISO}}</span>
                    <span class="bold" ng-if="!inspection.Is_uncertified && inspection.Status == Constants.EQUIPMENT.STATUS.FAIL">FAIL</span>
                    <span class="bold" ng-if="inspection.Status == Constants.EQUIPMENT.STATUS.OVERDUE">OVERDUE: {{inspection.Due_date | dateToISO}}</span>
                    <span class="bold" ng-if="inspection.Status == Constants.EQUIPMENT.STATUS.PENDING">DUE: {{inspection.Due_date | dateToISO}}</span>
                    <span class="bold" ng-if="inspection.Status == Constants.EQUIPMENT.STATUS.NEW">NO CERTIFICATION RECORD</span>
                    <span class="bold green" ng-if="inspection.Status == Constants.EQUIPMENT.STATUS.PASS">PASS</span>
                </span>
            </span>
        </div>
    </div>
</div>