<div class="content-container">

    <h3 style="padding-top: 15px;">
        <span ng-if="data.text">{{data.text}}</span>
        <span ng-if="!data.text">Do you want to download {{data.name}}?</span>
    </h3>

    <div style="font-size: 1.5em; font-style: italic;">
        <p style="padding-top:15px;" ng-repeat="disclaimer in data.disclaimers">{{disclaimer}}</p>
    </div>
</div>

<div class="toolbar-container">
    <div class="toolbar pull-right">
        <a ng-href="{{data.path}}" ng-mouseup="afterSave()" class="btn btn-success">
            <i class="icon-download-3"></i>
            <span>Yes, Download file</span>
        </a>

        <a ng-click="afterSave()" class="btn btn-danger">No</a>
    </div>
</div>
