<form class="content-container">
    <h4 style="margin-bottom: 20px;">
        <span ng-if="Constants.ROLE.NAME.LAB_PERSONNEL == api.getProfilePositionRequiredRole()">Please select one of the following that best describes your position in the laboratory.</span>
        <span ng-if="Constants.ROLE.NAME.PRINCIPAL_INVESTIGATOR == api.getProfilePositionRequiredRole()">Please select the title that best describes your position.</span>
    </h4>

    <select required ng-model="data.Position" ng-options="position as position for position in api.getProfilePositionOptions()">
        <option value="" style="display:none">--Select a Position--</option>
    </select>

</form>

<div class="toolbar-container">
    <div class="toolbar pull-right">
        <a ng-click="save(data, api.saveUserProfile, api.validateUserProfile)" class="btn btn-success">
            <i class="icon-checkmark"></i> Save
        </a>
    </div>
</div>
