<form class="content-container">
    <div class="fake-table striped bordered">
        <div class="table-row">
            <div>First Name</div>
            <div>{{data.First_name}}</div>
            <div ng-if="editData"></div>
        </div>
        <div class="table-row">
            <div>Last Name</div>
            <div>{{data.Last_name}}</div>
            <div ng-if="editData"></div>
        </div>
        <div class="table-row">
            <div>Position</div>
            <div>{{data.Position}}</div>
            <div ng-if="editData">
                <select required ng-model="editData.Position" ng-options="position as position for position in api.getProfilePositionOptions()">
                    <option value="" style="display:none">--Select a Position--</option>
                </select>
            </div>
        </div>
        <div class="table-row" ng-if="data.Lab_phone != undefined">
            <div>Lab Phone</div>
            <div>{{data.Lab_phone | tel}}</div>
            <div ng-if="editData">
                <input required ng-model="editData.Lab_phone">
            </div>
        </div>
        <div class="table-row" ng-if="data.Office_phone != undefined">
            <div>Office Phone</div>
            <div>{{data.Office_phone | tel}}</div>
            <div ng-if="editData">
                <input required ng-model="editData.Office_phone">
            </div>
        </div>
        <div class="table-row" ng-if="data.Emergency_phone != undefined">
            <div>Emergency Phone</div>
            <div>{{data.Emergency_phone | tel}}</div>
            <div ng-if="editData">
                <input required ng-model="editData.Emergency_phone">
            </div>
        </div>
    </div>
</form>

<div class="toolbar-container">
    <div class="toolbar pull-right">
        <a ng-if="!editData" ng-click="prepareEdit(data)" class="btn btn-primary">
            <i class="icon-pencil"></i> Edit
        </a>
        <a ng-if="editData" ng-click="cancelEdit()" class="btn btn-danger">
            <i class="icon-cancel"></i> Cancel
        </a>
        <a ng-if="editData" ng-click="save(editData, api.saveUserProfile)" class="btn btn-success">
            <i class="icon-checkmark"></i> Save
        </a>
    </div>
</div>
