<div class="content-container">
    <div class="tight-list" ng-repeat="(building_id, rooms) in data.Rooms | groupBy: 'Building_id'" ng-init="_hide = false">
        <div class="fake-table striped">
            <div class="table-header">
                <h3 ng-click="_hide = !_hide">
                    <div class="collapsible-table-header">
                        <span ng-repeat="b in (data.Buildings | filter : {'Key_id': building_id} : true)">{{b.Name}}</span>
                        <span>
                            ({{rooms.length}})
                            <i ng-class="{'icon-arrow-down': !_hide, 'icon-arrow-right': _hide}"></i>
                        </span>
                    </div>
                </h3>
            </div>
            <div ng-if="!_hide" ng-repeat="room in rooms | orderBy: 'Name'" class="table-row">
                <div style="padding-left: 25px;">{{room.Name}}</div>
            </div>
        </div>
    </div>
</div>

<div ng-if="data.help" class="toolbar-container">
    <div class="toolbar">
        <h5><i class="icon-help" style="margin:10px;"></i>If any of your Lab Locations need to be updated, contact your administrator:</h4>
        <span><b>{{data.help.Name}}</b> | <a ng-href="mailto:{{data.help.Email}}">{{data.help.Email}}</a> | {{data.help.Office_phone | tel}}</span>
    </div>
</div>
