<div class="content-container">
    <div class="fake-table striped bordered content-container">
        <div class="table-row" ng-repeat="personnel in data.LabPersonnel | orderBy: 'Last_name'">
            <div>{{personnel.Name}}</div>
            <div>{{personnel.Position}}</div>
            <div ng-if="adminView">
                <span class="badge" ng-repeat="role in personnel.Roles | filter:Constants.ROLE.NAME.LAB_CONTACT">
                    {{role.Name || role}}
                </span>
            </div>
            <div ng-if="adminView" class="overlay-container">
                <div ng-if="personnel._editing" class="overlay"><i class="icon-spinnery-dealie spinner"></i></div>

                <a class="btn btn-small btn-primary left"
                   title="Edit"
                   ng-click="api.editUserAsRole(personnel, Constants.ROLE.NAME.LAB_PERSONNEL, data.PI, data.LabPersonnel)">
                    <i class="icon-pencil"></i>
                </a>
                <a class="btn btn-small btn-warning left"
                   title="Unassign from PI"
                   ng-click="api.unassignUserFromSupervisor(personnel, false, data.LabPersonnel)">
                    <i class="icon-minus-4"></i>
                </a>
                <a class="btn btn-small btn-danger left"
                   title="Unassign from PI and Inactivate"
                   ng-click="api.unassignUserFromSupervisor(personnel, true, data.LabPersonnel)">
                    <i class="icon-remove"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div ng-if="data.help" class="toolbar-container">
    <div class="toolbar">
        <h5><i class="icon-help" style="margin:10px;"></i>If any of your Lab Personnel need to be updated, contact your administrator:</h4>
        <span><b>{{data.help.Name}}</b> | <a ng-href="mailto:{{data.help.Email}}">{{data.help.Email}}</a> | {{data.help.Office_phone | tel}}</span>
    </div>
</div>
