<div class="fake-table striped bordered content-container">

    <div class="table-row">
        <div>Name</div>
        <div>{{data.pi.Name}}</div>
    </div>
    <div class="table-row">
        <div>Department</div>
        <div>
            <div ng-repeat="dept in data.pi.Departments">{{dept.Name}}</div>
        </div>
    </div>

    <div class="table-row" ng-if="data.pi.Rooms.length">
        <div>Lab Locations</div>
        <div>
            <div class="fake-table striped bordered">
                <div class="table-header">
                    <h3>Building</h3>
                    <h3>Room</h3> 
                </div>
                <div class="table-row" ng-repeat="(building_id, rooms) in data.pi.Rooms | groupBy: 'Building_id'">
                    <div ng-repeat="b in (data.pi.Buildings | filter : {'Key_id': building_id})">{{b.Name}}</div>
                    <div>
                        <div ng-repeat="room in rooms | orderBy: Name">{{room.Name}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-row" ng-if="data.pi.LabPersonnel.length">
        <div>Lab Personnel</div>
        <div>
            <div class="fake-table striped bordered">
                <div class="table-row" ng-repeat="personnel in data.pi.LabPersonnel | orderBy: 'Last_name'">
                    <div>{{personnel.Name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="data.help" class="toolbar-container">
    <div class="toolbar">
        <h5><i class="icon-help" style="margin:10px;"></i>If any of your profile information cannot be updated, contact your administrator:</h4>
        <span><b>{{data.help.Name}}</b> | <a ng-href="mailto:{{data.help.Email}}">{{data.help.Email}}</a> | {{data.help.Office_phone | tel}}</span>
    </div>
</div>
