@media print {
    .no-print {
        display: none !important;
    }
}

.banner {
    margin-top: -2px;
    color: white;
    padding: 10px;
    background-repeat: no-repeat !important;
    background-size: 70px !Important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7)
}

.banner.dashboard-banner {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1040;
}

.dashboard {
    padding-top: 75px;
}

.title-icon {
    margin-right: 5px;
    font-size: 35px;
    width: auto;
    line-height: 43px;
}

ul.banner-nav {
    margin-right: 160px;
    float: right;
    margin-top: -30px;
}

ul.banner-nav li {
    display:inline-block;
    margin-right:10px;
}

ul.banner-nav li a {
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    display: block;
}

ul.banner-nav li a:hover {
    color: #ddd;
}

ul.banner-nav li span {
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    display: block;
    text-decoration: underline;
}

.card .expander {
    padding: 10px 15px 5px 15px; cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #662D91;
    color: white;
}

.card .expander .title {
    flex-grow: 2;
}

.card .expander i {
    font-size: inherit;
    margin-right: 30px;
}

/* Templates table */
.templates.table tbody:nth-child(even) {
    background: #ECF0F1;
}

/* Only stripe sections that are closed*/
.templates.table tbody.closed:hover td[rowspan],
.templates.table tbody.closed tr:hover td {
    background: lightgray;
}

/* Reset the tr striping so we can stripe using tbody */
.templates.table tbody tr:nth-child(even){
    background:initial;
}

.subtitle {
    font-style: italic;
    margin-top: 5px;
}

.inner.card {
    margin: 15px;
    padding: 15px;
}

.message-type-info li {
    padding-top: 15px;
}

.message-type-info .desc {
    padding-bottom: 15px;
}

.message-type-info .desc .boldword {
    font-weight: bold;
    padding-right: 15px;
}

.macro-list {
    font-size: 14px;
    padding-top: 10px;
}

.macro-list li {
    padding-top: 10px;
}

.email-content {
    word-break: break-word;
}

.filters {
    margin: 5px;
    display: flex;
    justify-content: space-evenly
}

.filters > * {
    flex-grow: 1;
    padding: 0 5px;
    margin: 0 5px;
}

.filters > button {
    flex-grow: 0;
    align-self: flex-start;
    padding: 0px 15px;
    margin: 0 5px;
}
