<a ng-if="list.activeQuestions.length && list.Is_active != false" ng-class="{active:list.currentlyOpen}" ng-click="cf.changeChecklist(list)">
	<span style="display:inline-block; width:75%; margin-right:10%;">{{list.Name}}</span>
	<span style="width: 15%;float:right; text-align:right;" ng-class="{'red' : list.completedQuestions>0&&list.completedQuestions<list.activeQuestions.length, 'green' : list.completedQuestions==list.activeQuestions.length && list.completedQuestions!=0}">{{list.completedQuestions}}/{{list.activeQuestions.length}}</span>
</a>

