<div class="right-column">
	<div class="well full">
		<pre>{{drums | json}}</pre>
		I<div class="fak-table" ng-if="drums.length">
			<div class="table-header">
				<h3></h3>
			</div>
		</div>
		<h1 class="disposals"><i class="icon-trashcan"></i>Drums</h1>
		<div class="fake-table">
			<div class="table-header">
				<h3>Edit</h3>
				<h3>Label</h3>
				<h3>Contents</h3>
				<h3>Ship</h3>
			</div>
			<div class="table-row" ng-repeat="drum in drums">
				<div>
					<button ng-click="editDrum(drum)" ng-disabled="drum.edit" class="btn btn-primary left"><i class="icon-pencil"></i></button>
				</div>

				<div ng-if="!drum.edit">
					{{drum.Label}}
				</div>
				<div ng-if='drum.edit'>
					<input ng-model="DrumCopy.Label">
				</div>

				<div>
					<p ng-repeat="isotope in drum.Contents">{{isotope.Curie_level}} of {{isotope.Isotope_name}}</p>
				</div>

				<div>
					<button ng-if="!drum.edit" class="btn btn-success left"><i class="icon-box-out"></i>Ship Drum</button>
					<button ng-click="af.saveDrum(drum,copy)" ng-if="drum.edit" class="btn btn-success left"><i class="icon-checkmark"></i>Save</button>
					<button ng-click="cancelEditDrum(drum)" ng-if="drum.edit" class="btn btn-danger left"><i class="icon-cancel-2"></i>Cancel</button>
				</div>

			</div>
		</div>
	</div>
	<div class="well half">
		<h1>Solid Waste</h1>
		<div class="card full">
			<div class="fake-table disposals">
				<div class="table-header">
					<h3>Pickup Date</h3>
					<h3>Description</h3>
					<h3>Contents</h3>
					<h3>Add to Drum</h3>
				</div>
				<div class="table-row" ng-repeat="bag in wasteBags | disposalSolids">
					<div>
						{{bag.Pickup.Requested_date | dateToISO}}
					</div>
					<div>
						<p ng-repeat="content in bag.Contents">
							{{content.Curie_level}} mCi of {{content.Isotope_name}}
						</p>
					</div>
					<div>
						<a class="btn btn-success btn-left" ng-click="assignDrum(bag)"><i class="icon-checkmark"></i></a>
					</div>
				</div>
				<div class="table-row" ng-repeat="collection in svCollections | disposalSolids">
					<div>
						{{collection.Pickup.Requested_date | dateToISO}}
					</div>
					<div>
						<p ng-repeat="content in collection.Contents">
							{{content.Curie_level}} mCi of {{content.Isotope_name}}
						</p>
					</div>
					<div>
						<a class="btn btn-success btn-left" ng-click="assignDrum(collection)"><i class="icon-checkmark"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="well half">
		<h1 class="carboys"><i class="icon-carboy"></i>Carboys</h1>
		<div class="card full carboys">
			<div class="fake-table">
				<div class="table-header">
					<h3>Carboy Number</h3>
					<h3>Reading</h3>
					<h3>Contents</h3>
					<h3>Pour Date</h3>
					<h3>Poor</h3>
				</div>
				<div class="table-row" ng-repeat="cycle in cycles | disposalCycles">
					<div>
						{{cycle.Carboy.Carboy_number}}
					</div>
					<div>
						<p ng-repeat="content in cycle.Contents">
							{{content.Curie_level}} mCi of {{content.Isotope_name}}
						</p>
					</div>
					<div>
						{{cycle.Pour_date}}
					</div>
					<div>
						<button ng-disabled="" class="btn btn-success left"><i class="icon-checkmark"></i>Pour Carboy</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>