<div class="right-column">
	<div class="well full">
		<pre>{{drums | json}}</pre>
		I<div class="fak-table" ng-if="drums.length">
			<div class="table-header">
				<h3></h3>
			</div>
		</div>
		<h1 class="disposals"><i class="icon-trashcan"></i>Drums</h1>
		<div class="fake-table">
			<div class="table-header">
				<h3>Edit</h3>
				<h3>Label</h3>
				<h3>Contents</h3>
				<h3>Ship</h3>
			</div>
			<div class="table-row" ng-repeat="drum in drums">
				<div>
					<button ng-click="editDrum(drum)" ng-disabled="drum.edit" class="btn btn-primary left"><i class="icon-pencil"></i></button>
				</div>

				<div ng-if="!drum.edit">
					{{drum.label}}
				</div>
				<div ng-if='drum.edit'>
					<input ng-model="DrumCopy.lable">
				</div>

				<div>
					<p ng-repeat="isotope in drum.Contents">{{isotope.Curie_level}} of {{isotope.Isotope_name}}</p>
				</div>

				<div>
					<button ng-if="!drum.edit" class="btn btn-success left"><i class="icon-box-out"></i>Ship Drum</button>
					<button ng-click="af.saveDrum(drum,copy)" ng-if="drum.edit" class="btn btn-success left"><i class="icon-checkmark"></i>Save</button>
					<button ng-click="cancelEditDrum(drum)" ng-if="drum.edit" class="btn btn-danger left"><i class="icon-cancel-2"></i>Cancel</button>
				</div>

			</div>
		</div>
	</div>
	<div class="well full">
		solid waste
		<pre>{{wasteBags}}</pre>
		<pre>{{svCollections}}</pre>
	</div>
	<div class="well full">
		carboy poor stuff
		<pre>{{carboys}}</pre>
	</div>

</div>