<div cg-busy="{promise:piPromise,message:'Loading Principal Investigator',backdrop:true,templateUrl:'busy-templates/full-page-busy.html'}"></div>
<div class="row-fluid">
	<div class="span2">
		<ul class="sideNav">
			<li><a ng-click="selectedView = 'authorizations'">Authorizations</a></li>
			<li><a ng-click="selectedView = 'pos'">Purhcase Orders</a></li>
		</ul>
	</div>
	<div ng-if="pi" class="span10">
		<h1>{{pi.User.Name}}</h1>
		<div class="card full">
			<h3 class="card-header">{{pi.User.Name}} has {{pi.Authorizations.length}} authorization<span ng-if="pi.Authorizations.length != 1">s</span></h3>
			<ul ng-if="selectedView == 'authorizations'">
				<li ng-repeat="auth in pi.Authorizations">
					{{auth.Isotope.Name}}
				</li>
			</ul>
		</div>
		<div class="card full">{{pi.Purchase_orders|json}}</div>
	</div>	
</div>