{{testPi}}
<div cg-busy="{promise:piPromise,message:'Loading Principal Investigator',backdrop:true,templateUrl:'busy-templates/full-page-busy.html'}"></div>
<div class="row-fluid">
	<div class="left-nav blueBg">
		<ul class="sideNav">
			<li><a class="auths" ng-click="selectedView = 'authorizations'"><i class="icon-unlocked-2"></i>Authorizations</a></li>
			<li><a class="pos"  ng-click="selectedView = 'orders'"><i class="fa fa-usd"></i>Purhcase Orders</a></li>
			<li><a class="parcels"  ng-click="selectedView = 'parcels'"><i class="icon-box"></i>Parcels</a></li>
		</ul>
	</div>
	<div ng-if="pi" class="right-column">

		<h1>{{pi.User.Name}}</h1>
		<div class="card full" ng-click="selectedView = 'authorizations'">
			<h3 class="card-header" ng-if="pi.Authorizations.length">
				<i class="icon-unlocked-2"></i>{{pi.User.Name}} has 
				<span class="bold">
					{{pi.Authorizations.length}} Authorization<span ng-if="pi.Authorizations.length != 1">s</span>
				</span>
				<a class="btn btn-success left" ng-click="openModal('admin/admin-modals/authorization-modal')"><i class="icon-plus-2"></i><i class="icon-unlocked-2"></i>Add Authorization</a>
			</h3>
			<h3 class="card-header" ng-if="!pi.Authorizations || !pi.Authorizations.length"><i class="icon-unlocked-2"></i>{{pi.User.Name}} has no Authorizations <a class="btn btn-success left"><i class="icon-plus-2"></i><i class="icon-unlocked-2"></i>Add Authorization</a></h3>
			<div class="card-content" ng-if="selectedView == 'authorizations'">
				<div class="fake-table striped bordered" ng-if="pi.Authorizations.length">
					<div class="table-header">
						<h3>Edit</h3>
						<h3>Isotope</h3>
						<h3>Half Life</h3>
						<h3>Emitter Type</h3>
						<h3>Maximum Quantity</h3>
						<h3>Approval Date</h3>
						<h3>Revocation Date</h3>
					</div>
						<div class="table-row" ng-repeat="auth in pi.Authorizations" ng-class="{'inactive':!auth.Is_active}">
							<div>
								<a class="btn btn-primary"><i class="icon-pencil"></i></a>
								<a ng-if="auth.Is_active" class="btn btn-danger"><i class="icon-remove"></i></a>
								<a ng-if="!auth.Is_active" class="btn btn-success"><i class="icon-checkmark"></i></a>
							</div>

							<div>
								{{auth.Isotope.Name}}
							</div>

							<div>
								{{auth.Isotope.Half_life}}
							</div>

							<div>
								{{auth.Isotope.Emitter_type}}
							</div>

							<div>
								{{auth.Max_quantity}}
							</div>

							<div>
								{{auth.Approval_date | dateToISO}}
							</div>

							<div>
								{{auth.Revocation_date | dateToISO}}
							</div>
						</div>
					</div>
				</div>
			</ul>
		</div>
		<div class="card full" ng-click="selectedView = 'orders'">
			<h3 class="card-header" ng-if="pi.PurchaseOrders"><i class="fa fa-usd"></i>{{pi.User.Name}} has <span class="bold">{{pi.PurchaseOrders.length}} Purhcase Order<span ng-if="pi.Authorizations.length != 1">s</span></span></h3>
			<h3 class="card-header" ng-if="!pi.PurchaseOrders"><i class="fa fa-usd"></i>{{pi.User.Name}} has no Purhcase Orders</h3>

			<ul ng-if="selectedView == 'orders'">
				<li ng-repeat="order in pi.PurchaseOrders">
					{{order}}
				</li>
			</ul>
		</div>
		<div class="card full" ng-click="selectedView = 'parcels'">
			<h3 class="card-header" ng-if="pi.ActiveParcels"><i class="icon-box"></i>{{pi.User.Name}} has <span class="bold">{{pi.ActiveParcels.length}} Parcel<span ng-if="pi.Authorizations.length != 1">s</span></span></h3>
			<h3 class="card-header" ng-if="!pi.ActiveParcels"><i class="fa fa-usd"></i>{{pi.User.Name}} has no Parcels</h3>

			<ul ng-if="selectedView == 'parcels'">
				<li ng-repeat="parcel in pi.ActiveParcels">
					{{parcel}}
				</li>
			</ul>
		</div>
		<div class="card full"><pre>{{pi|json}}</pre></div>
	</div>	
</div>