<div cg-busy="{promise:PickupSaving,message:'Saving Pickup', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:pickupsPromise,message:'Loading Pickups', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:ScintVialCollectionSaving,message:'Saving Pickup', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:WasteBagSaving,message:'Saving Pickup', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:CarboyUseCycleSaving,message:'Saving Pickup', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>

<div class="card super pickups pickup-collection" ng-repeat="pickup in pickups | activePickups">
	<div>
		<h1 ng-class="{'no-underline':!pickup.show}" class="card-header accordion-header" ng-click="pickup.show = !pickup.show">
			<!--<span class="pull-left">-->
				<i class="icon-box-remove"></i>{{pickup.PrincipalInvestigator.User.Name}} requested a pickup on {{pickup.Requested_date | dateToISO}}
			<!--</span>
			<i class="pull-right" ng-class="{'icon-minus':pickup.show,'icon-plus':!pickup.show}"></i>
	-->
		</h1>

		<div ng-show="pickup.show" class="print-always">
			<h3>Pickup Status:<label class="checkbox print">
					<input type="checkbox" ng-true-value="yes" ng-checked="pickup.Status == 'PICKED UP' || pickup.Status == 'AT RSO'"/>
					<span class="metro-checkbox">Picked Up</span>
				</label></h3>
			<a class="btn btn-large no-print btn-info" ng-click="setStatusAndSave(pickup,'PICKED UP', (pickup.Status == 'PICKED UP' || pickup.Status == 'AT RSO'))">
				<label class="checkbox">
					<input type="checkbox" ng-true-value="yes" ng-checked="pickup.Status == 'PICKED UP' || pickup.Status == 'AT RSO'"/>
					<span class="metro-checkbox">Picked Up</span>
				</label>
			</a>
			<a class="btn btn-large no-print btn-success" ng-click="setStatusAndSave(pickup, 'AT RSO', (pickup.Status == 'AT RSO'))">
				<label class="checkbox">
					<input type="checkbox" ng-true-value="yes" ng-checked="pickup.Status == 'AT RSO'"/>
					<span class="metro-checkbox">At RSO</span>
				</label>
			</a>
		</div>

		<div class="print-always" ng-show="pickup.show" ng-if="pickup.Waste_bags.length">
			<h3>{{pickup.Waste_bags.length}} Waste Bag<span ng-if="pickup.Waste_bags.length>1">s</span></h3>
			<div class="fake-table" ng-if="pickup.Waste_bags.length">
				<div class="table-row" ng-repeat="bag in pickup.Waste_bags" ng-class="{'inactive':bag.removed}">
					<div class="button-cell no-print">
						<a ng-if="!bag.removed" class="btn btn-danger left" ng-click="af.adminRemoveFromPickup(bag)"><i class="icon-remove"></i>Remove</a>
						<a ng-if="bag.removed" class="btn btn-success left" ng-click="af.adminAddToPickup(bag, pickup)"><i class="icon-plus-2"></i>Add</a>
					</div>
					<div>
						<span ng-if="bag.Date_removed">Removed from {{bag.Container_name}} on {{bag.Date_removed | dateToISO}}</span>
						<span ng-if="!bag.Date_removed">Still in container</span>
						<p>Contents: <span ng-if="!bag.Contents">N/A</span><span ng-repeat="content in bag.Contents">{{content.Curie_level}}mCi of {{content.Isotope_name}}<span ng-if="!$last">, </span></span></p>
					</div>
				</div>
			</div>
		</div>

		<div class="print-always" ng-show="pickup.show" ng-if="pickup.Scint_vial_collections.length">
			<h3>{{pickup.Scint_vial_trays}} Scint Vial Trays:</h3>
			<div class="fake-table" ng-if="pickup.Scint_vial_collections.length">
				<div ng-repeat="collection in pickup.Scint_vial_collections" ng-if="collection.Contents.length" ng-class="{'inactive':collection.removed}" class="table-row">
					<div class="button-cell no-print">
						<a ng-if="!collection.removed" class="btn btn-danger left" ng-click="af.adminRemoveFromPickup(collection)"><i class="icon-remove"></i>Remove</a>
						<a ng-if="collection.removed" class="btn btn-success left" ng-click="af.adminAddToPickup(collection, pickup)"><i class="icon-plus-2"></i>Add</a>
					</div>
					<div>Contents: <span ng-repeat="content in collection.Contents">{{content.Curie_level}}mCi of {{content.Isotope_name}}<span ng-if="!$last">, </span></span>
					</div>
				</div>
			</div>
		</div>

		<div class="print-always" ng-show="pickup.show" ng-if="pickup.Carboy_use_cycles.length">
			<h3 >{{pickup.Carboy_use_cycles.length}} Carboy<span ng-if="pickup.Carboy_use_cycles.length>1">s</span></h3>
			<div class="fake-table" ng-if="pickup.Carboy_use_cycles.length">
				<div class="table-row" ng-repeat="cycle in pickup.Carboy_use_cycles" ng-class="{'inactive':cycle.removed}">
					<div class="button-cell no-print">
						<a ng-if="!cycle.removed" class="btn btn-danger left" ng-click="af.adminRemoveFromPickup(cycle)"><i class="icon-remove"></i>Remove</a>
						<a ng-if="cycle.removed" class="btn btn-success left" ng-click="af.adminAddToPickup(cycle, pickup)"><i class="icon-plus-2"></i>Add</a>
					</div>

					<div>
						Carboy Number {{cycle.Carboy.Carboy_number}}
						<p ng-if="cycle.Contents.length">
							Contents: <span ng-repeat="content in cycle.Contents">{{content.Curie_level}}mCi of {{content.Isotope_name}}<span ng-if="!$last">, </span></span>
						</p>
					</div>
				</div>
				</div>
			</div>
			<div class="print-always" ng-show="pickup.show" ng-if="pickup.Notes">
				<h3>Notes:<p>{{pickup.Notes}}</p></h3>
			</div>
		</div>
	</div>
	 <!--
	<ul>
		<li ng-repeat="pickup in pickups | activePickups"><pre>{{pickup | json}}</pre></li>
	</ul>
	-->