<div cg-busy="{promise:PickupSaving,message:'Saving Pickup', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:pickupsPromise,message:'Loading Pickups', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>

<div class="card super pickups pickup-collection" ng-repeat="pickup in pickups | activePickups">
	<div>
		<h1 class="card-header">
			<i class="icon-box-remove"></i>{{pickup.PrincipalInvestigator.User.Name}} requested a pickup on {{pickup.Requested_date | dateToISO}}
		</h1>
		<div>
			<h3>Pickup Status:<label class="checkbox print">
					<input type="checkbox" ng-true-value="yes" ng-checked="pickup.Status == 'PICKED UP' || pickup.Status == 'AT RSO'"/>
					<span class="metro-checkbox">Picked Up</span>
				</label></h3>
			<a class="btn btn-large no-print btn-info" ng-click="setStatusAndSave(pickup,'PICKED UP', (pickup.Status == 'PICKED UP' || pickup.Status == 'AT RSO'))">
				<label class="checkbox">
					<input type="checkbox" ng-true-value="yes" ng-checked="pickup.Status == 'PICKED UP' || pickup.Status == 'AT RSO'"/>
					<span class="metro-checkbox">Picked Up</span>
				</label>
			</a>
			<a class="btn btn-large no-print btn-success" ng-click="setStatusAndSave(pickup, 'AT RSO', (pickup.Status == 'AT RSO'))">
				<label class="checkbox">
					<input type="checkbox" ng-true-value="yes" ng-checked="pickup.Status == 'AT RSO'"/>
					<span class="metro-checkbox">At RSO</span>
				</label>
			</a>
		</div>

		<div ng-if="pickup.Waste_bags.length">
			<h3>{{pickup.Waste_bags.length}} Waste Bag<span ng-if="pickup.Waste_bags.length>1">s</span></h3>
			<ul ng-if="pickup.Waste_bags.length">
				<li ng-repeat="bag in pickup.Waste_bags">
					<p>Removed from {{bag.Container_name}} on {{bag.Date_removed | dateToISO}}</p>
					<p ng-if="bag.Contents.length">
						Contents: <span ng-repeat="content in bag.Contents">{{content.Curie_level}}mCi of {{content.Isotope_name}}<span ng-if="!$last">, </span></span>
					</p>
				</li>
			</ul>
		</div>

		<div ng-if="pickup.Scint_vial_collections.length">
			<h3 >{{pickup.Scint_vial_trays}} Scint Vial Trays:</h3>
			<ul ng-if="pickup.Scint_vial_collections.length">
				<li ng-repeat="collection in pickup.Scint_vial_collections" ng-if="collection.Contents.length">
					Contents: <span ng-repeat="content in collection.Contents">{{content.Curie_level}}mCi of {{content.Isotope_name}}<span ng-if="!$last">, </span></span>
				</li>
			</ul>
		</div>

		<div ng-if="pickup.Carboy_use_cycles.length">
			<h3 >{{pickup.Carboy_use_cycles.length}} Carboy<span ng-if="pickup.Carboy_use_cycles.length>1">s</span></h3>
			<ul ng-if="pickup.Carboy_use_cycles.length">
				<li ng-repeat="cycle in pickup.Carboy_use_cycles">
					<p>Carboy Number {{cycle.Carboy.Carboy_number}}</p>
					<p ng-if="cycle.Contents.length">Contents: <span ng-repeat="content in cycle.Contents">{{content.Curie_level}}mCi of {{content.Isotope_name}}<span ng-if="!$last">, </span></span></p>
				</li>
			</ul>
		</div>
	</div>
</div>
 <!--
<ul>
	<li ng-repeat="pickup in pickups | activePickups"><pre>{{pickup | json}}</pre></li>
</ul>
-->