# specify line endings to avoid git commits that change entire files when worked on in different platforms
*.js text eol=crlf
*.html text eol=crlf
*.php text eol=crlf
*.css text eol=crlf
*.scss text eol=crlf
