<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="3.1.0" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="3.1.1" />
  <package id="lodash" version="4.16.1" />
  <package id="lodash.TypeScript.DefinitelyTyped" version="2.4.5" />
  <package id="Typescript.Compiler" version="2.0" />
</packages>