@CHARSET "ISO-8859-1";
/*****************variables***********/
/* line 13, ../sass/style.scss */
.blueBg {
  background-color: #49afcd;
  border-color: #49afcd;
  color: white;
}

/* line 18, ../sass/style.scss */
.greenBg {
  background-color: #51a351 !important;
  border-color: #51a351 !important;
  color: white !important;
}

/* line 23, ../sass/style.scss */
.greyBg {
  background-color: #cccccc;
  border-color: #cccccc;
}

/* line 27, ../sass/style.scss */
.orangeBg {
  background-color: #cc0000;
  border-color: #cc0000;
  color: white;
}

/* line 32, ../sass/style.scss */
.purpleBg {
  background-color: #781096;
  border-color: #781096;
  color: white;
}

/* line 38, ../sass/style.scss */
h1.orangeBg, h2.orangeBg, h3.orangeBg, h4.orangeBg, h5.orangeBg {
  padding: 10px;
}

/* line 22, ../sass/style.scss */
/* line 42, ../sass/style.scss */
html {
  height: 100%;
  background: #fff;
}

/* line 24, ../sass/style.scss */
/* line 48, ../sass/style.scss */
body {
  min-height: 100%;
}

/* line 26, ../sass/style.scss */
/* line 53, ../sass/style.scss */
body {
  margin: 0;
  background: #003b3b;
  background: #01102b;
  background: #004754;
  background: #ddd;
  font-family: 'Open Sans', sans-serif;
}

/* line 34, ../sass/style.scss */
/* line 63, ../sass/style.scss */
.whitebg, .whiteBg {
  background: #fff;
}

/******************************************************************************
*
* Typography Overrides
*
*******************************************************************************/
/* line 43, ../sass/style.scss */
/* line 73, ../sass/style.scss */
h1, h2, h3, h4, h5, p, a {
  font-family: 'Open Sans', sans-serif;
}

/* line 58, ../sass/style.scss */
/* line 78, ../sass/style.scss */
.iconGlyph {
  font-family: "icomoon";
}

/* line 62, ../sass/style.scss */
/* line 83, ../sass/style.scss */
a {
  	    /**
      * Apply transitions to all hover states, etc
      **/
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

/* line 71, ../sass/style.scss */
/* line 94, ../sass/style.scss */
.siteTitle {
  color: #cb5a47 !important;
  font-size: 2em !important;
  line-height: .9em;
  font-weight: bold;
}

/* line 77, ../sass/style.scss */
/* line 102, ../sass/style.scss */
.header {
  padding-bottom: 50px;
  border-bottom: dashed 2px #bfccd3;
}

/**************************************************************
*************	Utility CLASSES
**************************************************************/
/* line 87, ../sass/style.scss */
/* line 111, ../sass/style.scss */
.text-shadow {
  text-shadow: 3px 3px 2px rgba(150, 150, 150, 0.43);
}

/* line 88, ../sass/style.scss */
/* line 116, ../sass/style.scss */
.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

/* line 89, ../sass/style.scss */
/* line 123, ../sass/style.scss */
.blue-border {
  border-left: 3px solid #49afcd;
}

/* line 90, ../sass/style.scss */
/* line 128, ../sass/style.scss */
tr.blue-border {
  border: 4px solid #49afcd;
}

/* line 91, ../sass/style.scss */
/* line 133, ../sass/style.scss */
.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  margin-left: 5px;
}

/* line 92, ../sass/style.scss */
/* line 139, ../sass/style.scss */
td.shadow {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3), 6px -2px 4px rgba(0, 0, 0, 0.3);
}

/* line 93, ../sass/style.scss */
/* line 144, ../sass/style.scss */
.current {
  background: white;
  padding: 75px 10px 10px 10px;
}

/* line 94, ../sass/style.scss */
/* line 150, ../sass/style.scss */
.shadow .jqtree-toggler {
  left: -1.3em !important;
}

/*************************************************************
RSMS Center specific styles
*************************************************************/
/* line 103, ../sass/style.scss */
/* line 158, ../sass/style.scss */
div.rsmsCenterIconContainer a {
  padding-top: 5px;
  position: relative;
}

/* line 109, ../sass/style.scss */
/* line 163, ../sass/style.scss */
div.rsmsCenterIconContainer a:hover {
  -webkit-transform: scale(1.06);
  -moz-transform: scale(1.06);
  -o-transform: scale(1.06);
  -ms-transform: scale(1.06);
  text-decoration: none !Important;
}

@media (max-width: 1200px) {
  /* line 109, ../sass/style.scss */
  /* line 172, ../sass/style.scss */
  div.rsmsCenterIconContainer a:hover {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
  }
}
/* line 123, ../sass/style.scss */
/* line 180, ../sass/style.scss */
div.rsmsCenterIconContainer a p {
  color: white;
  line-height: normal;
  text-decoration: none !important;
  padding: 5px;
  font-size: 1.7vw;
}

@media (max-width: 772px) {
  /* line 131, ../sass/style.scss */
  /* line 189, ../sass/style.scss */
  div.rsmsCenterIconContainer a img {
    float: right;
    height: 45px;
    padding-right: 5px;
    max-width: 277px;
  }
}
@media (min-width: 1201px) {
  /* line 200, ../sass/style.scss */
  div.rsmsCenterIconContainer a img {
    width: 100% !important;
  }
}
/*******************************************************
* Emergency Info HUB STYLES
*******************************************************/
/* line 211, ../sass/style.scss */
#emergency-info .dropdown-menu li {
  text-align: left;
}
/* line 215, ../sass/style.scss */
#emergency-info > div {
  margin: inherit auto !important;
  text-align: center;
}
/* line 220, ../sass/style.scss */
#emergency-info > div ul.allHazardList li {
  text-align: left;
}
/* line 226, ../sass/style.scss */
#emergency-info > div li.lefterizer span {
  font-size: 15px;
  font-weight: bold;
  text-align: left;
}
/* line 230, ../sass/style.scss */
#emergency-info > div li.lefterizer span li {
  width: 400px;
  padding-left: 8px;
  font-weight: bold;
}
/* line 238, ../sass/style.scss */
#emergency-info #biologicalMaterials {
  color: red;
}
/* line 241, ../sass/style.scss */
#emergency-info #biologicalMaterials ul li {
  color: red;
}

/*******************************************************
*	USER HUB STYLES
*******************************************************/
/* line 145, ../sass/style.scss */
/* line 252, ../sass/style.scss */
.userList {
  background: white;
}
/* line 255, ../sass/style.scss */
.userList th h1 {
  display: inline-block;
}

/* line 260, ../sass/style.scss */
.userList tr {
  border: none;
}
/* line 262, ../sass/style.scss */
.userList tr th {
  font-size: 18px;
}

/* line 147, ../sass/style.scss */
/* line 267, ../sass/style.scss */
.userList tr td {
  width: 1%;
  transition: all .3s;
  font-size: 16px;
}

/* line 150, ../sass/style.scss */
/* line 273, ../sass/style.scss */
.userList tr td ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 156, ../sass/style.scss */
/* line 279, ../sass/style.scss */
.userList tr td li i {
  width: auto;
  margin: 4px 0 0 5px;
  cursor: pointer;
}

/* line 161, ../sass/style.scss */
/* line 285, ../sass/style.scss */
.userList tr td li i.icon-minus {
  color: #bd362f;
}

/* line 165, ../sass/style.scss */
/* line 289, ../sass/style.scss */
.userList tr td li.add-role {
  color: #5bb75b;
}

/* line 169, ../sass/style.scss */
/* line 293, ../sass/style.scss */
.userList tr td:last-child {
  width: 4%;
}

/* line 175, ../sass/style.scss */
/* line 298, ../sass/style.scss */
tr.edit {
  border: #999 solid 3px;
  zoom: 1.1;
  transition: border .2s;
}

/* line 181, ../sass/style.scss */
/* line 305, ../sass/style.scss */
tr.edit td {
  box-shadow: 6px 5px 8px rgba(0, 0, 0, 0.5);
  background: #fff !important;
}

/* line 187, ../sass/style.scss */
/* line 311, ../sass/style.scss */
tr.notedit:hover, tr.notedit td:hover {
  background: #f7f7f7 !important;
}

/* line 191, ../sass/style.scss */
/* line 316, ../sass/style.scss */
tr.updated {
  border: 3px solid #51a351;
}

/* line 195, ../sass/style.scss */
/* line 321, ../sass/style.scss */
.hide-inactive-rows tr.inactive {
  display: none;
}

/* line 199, ../sass/style.scss */
/* line 326, ../sass/style.scss */
tr.inactive td {
  background: pink !important;
}

/* line 330, ../sass/style.scss */
li.inactive {
  background: rgba(255, 105, 180, 0.1) !important;
}

/* line 202, ../sass/style.scss */
/* line 335, ../sass/style.scss */
tr.notedit, tr.notedit td {
  background: none !important;
}

/* line 341, ../sass/style.scss */
.modal-content .form-horizontal .control-label {
  width: 124px;
}
/* line 344, ../sass/style.scss */
.modal-content .form-horizontal .controls {
  margin-left: 130px;
}

/*******************************************************
*	HAZARD HUB STYLES
*******************************************************/
/* line 209, ../sass/style.scss */
/* line 354, ../sass/style.scss */
#hazardTree {
  padding-top: 60px;
  font-size: 25px;
  /*********** toggle hidden state of subhazards **********************/
}

/* line 212, ../sass/style.scss */
/* line 360, ../sass/style.scss */
a i {
  text-align: center;
  margin: 3px 12px 0 -2px;
  width: 1em;
}

/* line 217, ../sass/style.scss */
/* line 367, ../sass/style.scss */
#hazardTree li {
  display: block;
  min-height: 25px;
  padding: 20px;
  margin: 20px;
  border: 3px solid #a7a7a7;
  white-space: wrap;
  margin-left: 18px;
  min-width: 18px;
}

/* line 229, ../sass/style.scss */
/* line 378, ../sass/style.scss */
#hazardTree li:hover {
  border-color: #49afcd;
}

/* line 233, ../sass/style.scss */
/* line 382, ../sass/style.scss */
#hazardTree .toggle {
  width: auto;
  font-size: 30px;
  color: #333;
  margin: -10px 3px 0 0;
  min-width: 0;
  height: auto;
  border: 0 none transparent;
  background: transparent;
}

/* line 244, ../sass/style.scss */
/* line 393, ../sass/style.scss */
#hazardTree textarea:focus, #hazardTree input:focus, #hazardTree button:focus {
  outline: 0;
}

/* line 248, ../sass/style.scss */
/* line 397, ../sass/style.scss */
#hazardTree li {
  transition: height 0.3s linear, line-height 0.3s linear, padding 0.3s linear, margin 0.3s linear, border 0.1s linear;
}

/* line 256, ../sass/style.scss */
/* line 401, ../sass/style.scss */
#hazardTree h2 {
  display: inline;
  font-size: .9vw;
}

/* line 261, ../sass/style.scss */
/* line 406, ../sass/style.scss */
#hazardTree .leftThings {
  height: 46px;
  padding-top: 6px;
  display: inline-block;
  max-width: 60%;
  min-width: 450px;
}

/* line 413, ../sass/style.scss */
#hazardTree li.small .leftThings {
  max-width: 70%;
}

/* line 267, ../sass/style.scss */
/* line 417, ../sass/style.scss */
#hazardTree .leftThings a {
  margin: 0 5px;
}

/* line 272, ../sass/style.scss */
/* line 421, ../sass/style.scss */
#hazardTree .hazarNodeButtons {
  display: inline-block;
  float: right;
}

/* line 276, ../sass/style.scss */
/* line 426, ../sass/style.scss */
#hazardTree .hazarNodeButtons a {
  margin: 0 5px;
  font-size: 1vw;
}

/* line 430, ../sass/style.scss */
/* line 432, ../sass/style.scss */
.hazardBtn i, .hazardBtn span {
  margin: 0 10px;
  font-size: 15px;
  color: white !Important;
}

/* line 437, ../sass/style.scss */
.hazardBtn i {
  margin: 5px !important;
  font-size: 25px;
}

/* line 441, ../sass/style.scss */
a.hazardBtn {
  padding-left: 3px;
  padding-right: 8px;
  color: white !important;
}

/* line 446, ../sass/style.scss */
li.small a.hazardBtn span {
  display: none;
}

/* line 450, ../sass/style.scss */
li.minimized ol {
  margin-top: 0 !important;
  border: none !important;
}

/* line 285, ../sass/style.scss */
/* line 457, ../sass/style.scss */
#hazardTree [ng-cloak] {
  display: none;
}

/* line 288, ../sass/style.scss */
/* line 461, ../sass/style.scss */
#hazardTree * {
  box-sizing: border-box;
}

/* line 291, ../sass/style.scss */
/* line 465, ../sass/style.scss */
#hazardTree .minimized > ol > li {
  overflow: hidden;
  position: relative;
  border: none;
  height: 0;
  line-height: 0;
  background: none !important;
  margin: 0 20px;
  padding: 0 20px;
  width: 0;
}

/* line 301, ../sass/style.scss */
/* line 477, ../sass/style.scss */
#hazardTree .minimized > ol > li div {
  display: none;
}

/* line 306, ../sass/style.scss */
/* line 481, ../sass/style.scss */
#hazardTree .minimized > ol > li button a {
  display: none;
}

/* line 310, ../sass/style.scss */
/* line 485, ../sass/style.scss */
#hazardTree .minimized > ol {
  border: 0 none transparent;
  height: 0;
}

/* line 315, ../sass/style.scss */
/* line 490, ../sass/style.scss */
#hazardTree button {
  cursor: pointer;
}

/*****************************************************************
*******           BUILDING HUB               ***************************
******************************************************************/
/* line 497, ../sass/style.scss */
#buildingHub ul {
  list-style: none;
}

/* line 501, ../sass/style.scss */
div#buildings {
  padding: 10px;
  margin: 10px;
}

/* line 506, ../sass/style.scss */
div#buildings div.building {
  margin: 10px;
  padding: 20px;
  border: 3px solid #999;
  background: #e7e7e7;
}

/* line 513, ../sass/style.scss */
div.selected h3, div.selected h4 {
  margin: 10px 0;
  font-weight: bold;
}

/* line 518, ../sass/style.scss */
div#buildings div.selected {
  border: 3px solid #49afcd;
  background: #fff;
}

/* line 522, ../sass/style.scss */
div#buildings div.selected h2 {
  color: #49afcd;
  font-weight: bold;
}

@media all and (min-width: 1200px) {
  /* line 527, ../sass/style.scss */
  #buildingHub .hazards, #buildingHub .contacts {
    width: 45%;
  }
}
@media all and (max-width: 1199px) {
  /* line 532, ../sass/style.scss */
  #buildingHub .hazards, #buildingHub .contacts {
    width: 100%;
  }
}
/* line 536, ../sass/style.scss */
div#buildings div.building .PI {
  padding: 21px 0 0px;
  border-top: 1px solid #d7d7d7;
  width: 100%;
  margin: 20px 0;
}

/* line 542, ../sass/style.scss */
div#buildings ul.row {
  margin-left: 0 !important;
}

/* line 545, ../sass/style.scss */
div#buildings li.row {
  margin-left: 0;
}

/* line 548, ../sass/style.scss */
div.building ul.well {
  margin-left: 0;
}

/* line 551, ../sass/style.scss */
div.building .room {
  margin-top: 10px;
}

/* line 554, ../sass/style.scss */
a.btn i {
  text-align: center;
  margin: 2px 0 0 0;
  color: white;
  margin: 4px 15px 5px 0 !important;
  font-size: 25px;
}

/* line 561, ../sass/style.scss */
a.hazardBtn i {
  margin: 4px 10px 2px 0px !important;
}

/* line 564, ../sass/style.scss */
.small a.hazardBtn i {
  margin: 7px 13px 2px 5px !important;
}
/* line 566, ../sass/style.scss */
.small a.hazardBtn i.icon-checkmark {
  margin: 7px 2px 2px 5px !important;
}

/* line 570, ../sass/style.scss */
a.btn-mini i {
  margin: 1px 1px 3px 0 !important;
  font-size: 15px !important;
}

/* line 574, ../sass/style.scss */
#buildingHub a.btn-mini {
  margin: 5px;
}

/* line 577, ../sass/style.scss */
#buildingHub a.btn {
  color: white;
}

/* line 580, ../sass/style.scss */
.building .buttons {
  float: right;
  margin-top: -8px;
}

/*******************************************************
*	Checklist Hub Styles
*******************************************************/
/* line 325, ../sass/style.scss */
/* line 588, ../sass/style.scss */
#parentChecklistsContainer, #addChecklist {
  margin: 30px 0;
}

/* line 328, ../sass/style.scss */
/* line 593, ../sass/style.scss */
a#addChecklistToHazard {
  margin-top: -9px;
}

/* line 331, ../sass/style.scss */
/* line 598, ../sass/style.scss */
ul.questionList, ul#parentHazards, ul.listWithChecks {
  margin-left: 0;
  list-style: none;
}
/* line 601, ../sass/style.scss */
ul.questionList h3, ul.questionList h4, ul#parentHazards h3, ul#parentHazards h4, ul.listWithChecks h3, ul.listWithChecks h4 {
  margin-bottom: 5px;
}

/* line 334, ../sass/style.scss */
/* line 606, ../sass/style.scss */
ul.questionList li, ul#parentHazards li, ul.listWithChecks li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* line 340, ../sass/style.scss */
/* line 343, ../sass/style.scss */
/* line 616, ../sass/style.scss */
ul#parentHazards li a {
  margin-left: 8px;
}

/* line 346, ../sass/style.scss */
/* line 621, ../sass/style.scss */
ul.listWithChecks li {
  padding-left: 32px;
}

/* line 350, ../sass/style.scss */
/* line 355, ../sass/style.scss */
/* line 629, ../sass/style.scss */
label.deficiencyRoomList {
  background: #fff;
}

/* line 358, ../sass/style.scss */
/* line 634, ../sass/style.scss */
div.deficiencyRoomList {
  margin: 10px;
  padding: 10px;
}

/* line 362, ../sass/style.scss */
/* line 640, ../sass/style.scss */
.resolvedDeficiencies {
  margin: 0 10px 10px 10px;
  padding: 10px;
}

/* Common css rules for metro-ui-light & metro-ui-dark */
/* Body & Footer & headers
-------------------------------------------------- */
/* line 372, ../sass/style.scss */
/* line 649, ../sass/style.scss */
body {
  padding-top: 14px;
  position: relative;
  font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
  font-weight: 300;
  font-size: 11px;
}

/* line 382, ../sass/style.scss */
/* line 658, ../sass/style.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 390, ../sass/style.scss */
/* line 668, ../sass/style.scss */
.clearfix {
  display: inline-block;
  zoom: 1;
}

/* line 394, ../sass/style.scss */
/* line 674, ../sass/style.scss */
html[xmlns] .clearfix {
  display: block;
}

/* line 397, ../sass/style.scss */
/* line 679, ../sass/style.scss */
* html .clearfix {
  height: 1%;
}

/********************ROOM SELECTION & HAZARD ASSESMENT*************/
/* line 402, ../sass/style.scss */
/* line 685, ../sass/style.scss */
.rooms label, .hazards label {
  margin: 20px 0;
}

/* line 689, ../sass/style.scss */
.selectedBuildings {
  margin-left: 0;
  list-style: none;
}
/* line 692, ../sass/style.scss */
.selectedBuildings li {
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}
/* line 695, ../sass/style.scss */
.selectedBuildings li:after {
  clear: both;
  content: ".";
  display: block;
  height: 1px;
  visibility: hidden;
}
/* line 702, ../sass/style.scss */
.selectedBuildings li ul {
  margin-left: 0;
  list-style: none;
}
/* line 705, ../sass/style.scss */
.selectedBuildings li ul li {
  font-size: 14px;
  border: none;
  float: left;
  margin-right: 5px;
}
/* line 710, ../sass/style.scss */
.selectedBuildings li ul li:after {
  height: auto;
  float: right;
  content: ", ";
  visibility: visible;
}
/* line 717, ../sass/style.scss */
.selectedBuildings li ul li:last-child:after {
  content: "";
}

/* line 725, ../sass/style.scss */
.subRooms {
  margin-left: 0;
  list-style: none;
}
/* line 728, ../sass/style.scss */
.subRooms li {
  font-size: 12px;
  border: none;
  float: left;
  margin-right: 5px;
}
/* line 733, ../sass/style.scss */
.subRooms li:after {
  margin-top: -19px;
  height: auto;
  float: right;
  content: ", ";
  visibility: visible;
}
/* line 741, ../sass/style.scss */
.subRooms li:last-child:after {
  content: "";
}

/* line 748, ../sass/style.scss */
.singleHazard {
  clear: both;
}

/* line 406, ../sass/style.scss */
/* line 753, ../sass/style.scss */
.hazards {
  width: 100%;
}

/* line 756, ../sass/style.scss */
#editPiForm {
  margin: 10px 0 40px;
}
/* line 758, ../sass/style.scss */
#editPiForm h3 {
  white-space: nowrap;
  height: 47px;
}
/* line 762, ../sass/style.scss */
#editPiForm h3 div a {
  white-space: normal;
}

/* line 409, ../sass/style.scss */
/* line 769, ../sass/style.scss */
.hazard {
  background: #f7f7f7;
  border-bottom: #d7d7d7 solid 3px;
  margin: 10px 0;
  width: 98%;
  padding: 10px 1%;
}

/* line 776, ../sass/style.scss */
img.smallLoading {
  margin: -3px 0 0 4px;
  width: 17px;
}

/* line 780, ../sass/style.scss */
.subHazardModal, .roomsModal {
  margin-top: -5px;
  border: 1px solid #ddd;
  position: absolute;
  background: white;
  z-index: 50000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
/* line 787, ../sass/style.scss */
.subHazardModal h3, .roomsModal h3 {
  font-weight: normal;
}
/* line 789, ../sass/style.scss */
.subHazardModal h3 i, .roomsModal h3 i {
  position: absolute;
  right: 7px;
}
/* line 794, ../sass/style.scss */
.subHazardModal ul, .roomsModal ul {
  margin: 3px 0;
  max-height: 300px;
  overflow: auto;
  overflow-x: hidden;
  padding: 10px 1px;
  width: 100%;
}
/* line 801, ../sass/style.scss */
.subHazardModal ul li, .roomsModal ul li {
  width: 100%;
}
/* line 804, ../sass/style.scss */
.subHazardModal ul li label span.metro-checkbox, .roomsModal ul li label span.metro-checkbox {
  width: 100%;
}
/* line 807, ../sass/style.scss */
.subHazardModal ul li label img, .roomsModal ul li label img {
  margin: -3px 0 0 4px;
  width: 17px;
}

/* line 815, ../sass/style.scss */
.subHazardModal {
  min-width: 350px;
}

/* line 818, ../sass/style.scss */
.greyedOut {
  color: #bbb !important;
}

/* line 821, ../sass/style.scss */
.selectedFooter {
  z-index: 100000;
  background: white;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.5);
  border: 1px solid #dddddd;
  bottom: 100px;
  position: fixed;
  padding: 25px;
  width: auto;
  margin-bottom: 30px;
}
/* line 831, ../sass/style.scss */
.selectedFooter h2 {
  text-align: center;
}
/* line 836, ../sass/style.scss */
.selectedFooter table tr th {
  background: #d16349;
  color: #fff;
}
/* line 840, ../sass/style.scss */
.selectedFooter table tr td {
  background: #faf0ee;
}
/* line 845, ../sass/style.scss */
.selectedFooter table tr:nth-child(odd) td {
  background: #f5dfda;
}

/********************CHECKLIST STYLES *****************************/
/* line 418, ../sass/style.scss */
/* line 855, ../sass/style.scss */
.checklist.panel {
  padding: 15px;
  margin: 10px 10px 15px;
  background: #f0f0f0;
  border-radius: 3px;
}

/* line 423, ../sass/style.scss */
/* line 863, ../sass/style.scss */
div.question, li.question {
  border-bottom: 1px solid #d7d7d7;
  padding: 10px 2%;
  margin: 10px 0;
  width: 93%;
  background: #f7f7f7;
}

/* individual page menu bars*/
/* line 435, ../sass/style.scss */
/* line 873, ../sass/style.scss */
.pageMenu {
  min-height: 55px !important;
  color: white !important;
  padding: 2px 0 2px 0;
  width: 100%;
}
/* line 878, ../sass/style.scss */
.pageMenu li:first-child {
  width: 100%;
}

/* line 440, ../sass/style.scss */
/* line 883, ../sass/style.scss */
.pageMenu a {
  color: white;
  margin-left: 13px;
}

/* line 445, ../sass/style.scss */
/* line 888, ../sass/style.scss */
.pageMenu a img {
  margin: 0 13px 0 5px;
}

/* line 450, ../sass/style.scss */
/* line 893, ../sass/style.scss */
.questionControls {
  margin: 10px 0 5px;
  display: block;
}

/* line 454, ../sass/style.scss */
/* line 899, ../sass/style.scss */
.deficiencies, .recommendations {
  padding: 15px 0;
}

/*rotate hide/reveal text for sidenav on checklist*/
/* line 458, ../sass/style.scss */
/* line 905, ../sass/style.scss */
.rotate {
  -webkit-transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  -o-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
  /* Safari & Chrome */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/*****************************************************************
*****            POST INSPECTION PROCESS                **********
*****************************************************************/
/* line 925, ../sass/style.scss */
.postInspectionNav {
  list-style: none;
  width: 100%;
  height: 70px;
  margin-top: 16px;
}

/* line 931, ../sass/style.scss */
.postInspectionNav li {
  float: left;
  margin-right: 10px;
}

/* line 935, ../sass/style.scss */
.inspectionInfo {
  margin-bottom: 20px;
}

/* line 940, ../sass/style.scss */
.inspectionInfo .row h3 {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: bold;
}
/* line 945, ../sass/style.scss */
.inspectionInfo .row p {
  color: #24748c;
  margin-left: 2px;
}

/* line 951, ../sass/style.scss */
.correctiveAction {
  position: absolute;
}

/* line 954, ../sass/style.scss */
.inspectionInfo .row {
  margin-left: 0;
}

/* line 957, ../sass/style.scss */
.inspectionInfo p {
  display: inline;
  font-size: 18px;
  width: 20px;
}

/* line 962, ../sass/style.scss */
.inspectionInfo .pull-right {
  width: 360px;
}

/* line 966, ../sass/style.scss */
.inspectionReportTable th {
  text-align: center;
  font-weight: bold;
  font-size: 1.8em;
}
/* line 972, ../sass/style.scss */
.inspectionReportTable td .row-fluid {
  border-bottom: 1px solid #dddddd;
}
/* line 974, ../sass/style.scss */
.inspectionReportTable td .row-fluid:last-child {
  border-bottom: none;
}
/* line 977, ../sass/style.scss */
.inspectionReportTable td .row-fluid .span6 {
  padding: 5px;
}
/* line 979, ../sass/style.scss */
.inspectionReportTable td .row-fluid .span6:last-child {
  border-left: 1px solid #dddddd;
}

/* line 988, ../sass/style.scss */
td.reviewHeader {
  font-weight: bold;
  font-size: 25px;
  color: white;
  padding-left: 15px;
  height: 38px;
  background-position: 5px 7px;
  background-repeat: no-repeat;
}

/* line 997, ../sass/style.scss */
.inspectionHeader div {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}
/* line 1001, ../sass/style.scss */
.inspectionHeader div h1 {
  border-style: solid;
  border-color: #49afcd;
  border-width: 8px 0;
  margin-top: 12px;
  font-size: 36px;
  font-style: italic;
  font-weight: bold;
}
/* line 1010, ../sass/style.scss */
.inspectionHeader div h3 {
  color: #49afcd;
  font-size: 12px;
  font-weight: bold;
}
/* line 1016, ../sass/style.scss */
.inspectionHeader div img:not(.usclogo) {
  width: 54px;
  margin: 0 2px 0;
}
/* line 1020, ../sass/style.scss */
.inspectionHeader div img.usclogo {
  float: left;
}
/* line 1023, ../sass/style.scss */
.inspectionHeader div img.rsc-logo {
  float: none !important;
  width: 225px;
}

/* line 1029, ../sass/style.scss */
#biologicalMaterialsHeader, #chemicalSafetyHeader, #radiationSafetyHeader, #generalSafetyHeader {
  vertical-align: middle;
  text-align: left;
}
/* line 1032, ../sass/style.scss */
#biologicalMaterialsHeader img, #chemicalSafetyHeader img, #radiationSafetyHeader img, #generalSafetyHeader img {
  width: 38px;
  margin: 0 5px 8px 0;
}

/* line 1037, ../sass/style.scss */
#biologicalMaterialsHeader {
  background-color: #d00;
}

/* line 1041, ../sass/style.scss */
#chemicalSafetyHeader {
  background-color: #F3F306;
  color: black;
  background-size: 38px;
}

/* line 1047, ../sass/style.scss */
#radiationSafetyHeader {
  background-color: #6600cc;
  background-size: 40px 40px;
}
/* line 1051, ../sass/style.scss */
#radiationSafetyHeader img {
  margin: 4px 5px 8px 0 !important;
}

/* line 1055, ../sass/style.scss */
#generalSafetyHeader {
  background-color: #006600;
}

/* line 1058, ../sass/style.scss */
.Pending {
  font-size: 14px;
}

/* line 1061, ../sass/style.scss */
.Pending:after {
  margin-left: 15px;
  font-family: 'Open Sans', sans-serif !important;
}

/* line 1065, ../sass/style.scss */
.Incomplete {
  color: #e67e1d !important;
}

/* line 1068, ../sass/style.scss */
.Pending {
  color: #e67e1d !important;
}

/* line 1071, ../sass/style.scss */
.Pending:before {
  content: "\e13a";
}

/* line 1077, ../sass/style.scss */
.Complete {
  color: #090 !important;
}

/* line 1083, ../sass/style.scss */
.Complete:before {
  content: "\e03c";
}

/* line 1086, ../sass/style.scss */
.Incomplete {
  color: #900 !important;
}

/* line 1089, ../sass/style.scss */
.Incomplete:before {
  content: "\e03a";
}

/* line 1095, ../sass/style.scss */
.detail {
  margin-bottom: 55px;
}
/* line 1097, ../sass/style.scss */
.detail h2 {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  margin: 0 10px;
}

/* line 1104, ../sass/style.scss */
.checklistDetailsQuestion {
  padding: 30px 10px 25px;
  margin: 0 10px;
  border-bottom: 1px solid #ddd;
}
/* line 1105, ../sass/style.scss */
.checklistDetailsQuestion:hover {
  background: #f7f7f7;
}
/* line 1111, ../sass/style.scss */
.checklistDetailsQuestion h3 {
  font-size: 20px;
  font-weight: bold;
}
/* line 1115, ../sass/style.scss */
.checklistDetailsQuestion i {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
}
/* line 1121, ../sass/style.scss */
.checklistDetailsQuestion ul {
  margin: 15px;
  list-style: none;
}
/* line 1124, ../sass/style.scss */
.checklistDetailsQuestion ul li {
  margin-bottom: 10px;
  font-size: 19px;
}
/* line 1127, ../sass/style.scss */
.checklistDetailsQuestion ul li h5 {
  font-weight: bold;
  font-size: 19px;
}
/* line 1131, ../sass/style.scss */
.checklistDetailsQuestion ul li p.rootCause {
  margin-left: 5px;
  font-size: 15px;
}
/* line 1138, ../sass/style.scss */
.checklistDetailsQuestion ul.recommendations li {
  color: #2f96b4;
}
/* line 1143, ../sass/style.scss */
.checklistDetailsQuestion ul.deficiencies li {
  color: #cc0000;
}
/* line 1148, ../sass/style.scss */
.checklistDetailsQuestion ul.observations li {
  color: #781096;
}

/* line 1154, ../sass/style.scss */
ul.key {
  margin-top: -70px;
  float: right;
  list-style: none;
}
/* line 1158, ../sass/style.scss */
ul.key:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 1166, ../sass/style.scss */
ul.key li {
  font-size: 20px;
  font-weight: bold;
  float: left;
  padding: 5px;
  margin-top: 10px;
}
/* line 1172, ../sass/style.scss */
ul.key li span {
  height: 30px;
  width: 30px;
  display: inline-block;
  margin-top: 5px;
}
/* line 1178, ../sass/style.scss */
ul.key li h2 {
  margin-top: -10px;
}
/* line 1182, ../sass/style.scss */
ul.key li.observations {
  color: #781096;
}
/* line 1184, ../sass/style.scss */
ul.key li.observations span {
  background: #781096;
}
/* line 1186, ../sass/style.scss */
ul.key li.recommendations {
  color: #2f96b4;
}
/* line 1188, ../sass/style.scss */
ul.key li.recommendations span {
  background: #2f96b4;
}
/* line 1190, ../sass/style.scss */
ul.key li.deficiencies {
  color: #cc0000;
}
/* line 1192, ../sass/style.scss */
ul.key li.deficiencies span {
  background: #cc0000;
}

/* line 1195, ../sass/style.scss */
.Yes {
  color: #090;
}

/* line 1198, ../sass/style.scss */
.No {
  color: #c00;
}

/****************************************************************
*****           HAZARD ASSESSMENT   ****************************
*****************************************************************/
/* line 487, ../sass/style.scss */
/* line 1206, ../sass/style.scss */
.hazardRooms {
  margin-top: -20px;
}

/* line 489, ../sass/style.scss */
/* line 1210, ../sass/style.scss */
.hazardRooms p {
  margin-bottom: -25px;
}

/* line 494, ../sass/style.scss */
/* line 1215, ../sass/style.scss */
.jqtree_common .input-append {
  margin-bottom: -35px;
}

/* line 1218, ../sass/style.scss */
.hazardLi {
  clear: both;
}
/* line 1221, ../sass/style.scss */
.hazardLi h4 label {
  white-space: nowrap;
}
/* line 1223, ../sass/style.scss */
.hazardLi h4 label span.metro-checkbox {
  margin-right: 0 !Important;
  width: 100%;
  display: inline !Important;
}

/* line 497, ../sass/style.scss */
/* line 1232, ../sass/style.scss */
.hazardList, .hazardList ul {
  list-style: none !Important;
}
/* line 1235, ../sass/style.scss */
.hazardList i, .hazardList ul i {
  margin: 5px 2px 0;
  font-size: 17px;
}
/* line 1238, ../sass/style.scss */
.hazardList i.icon-plus-2, .hazardList ul i.icon-plus-2 {
  color: #51a351;
}
/* line 1241, ../sass/style.scss */
.hazardList i.icon-enter, .hazardList ul i.icon-enter {
  color: #49afcd;
}

@media (max-width: 1365px) {
  /* line 501, ../sass/style.scss */
  /* line 1249, ../sass/style.scss */
  .hazardList {
    width: 100%;
    margin-bottom: 40px;
  }
  /* line 1252, ../sass/style.scss */
  .hazardList.narrow {
    width: 50px;
  }

  /* line 1256, ../sass/style.scss */
  .hazardLi {
    clear: both;
  }
  /* line 1259, ../sass/style.scss */
  .hazardLi h4 label {
    white-space: nowrap;
  }
  /* line 1261, ../sass/style.scss */
  .hazardLi h4 label span.metro-checkbox {
    margin-right: 0 !Important;
    width: 100%;
    display: inline !Important;
  }
}
@media (min-width: 1206px) {
  /* line 508, ../sass/style.scss */
  /* line 1272, ../sass/style.scss */
  .hazardList {
    width: 30%;
    margin: 0 3% 0 0;
    float: left;
  }
  /* line 1276, ../sass/style.scss */
  .hazardList.narrow {
    width: 50px;
  }

  /* line 1280, ../sass/style.scss */
  .hazardLi {
    clear: both;
  }
  /* line 1284, ../sass/style.scss */
  .hazardLi h4 label span.metro-checkbox {
    font-size: .85vw;
  }
}
/* line 1292, ../sass/style.scss */
.allHazardList hr {
  border-top: 1px solid #999 !important;
}

/* line 515, ../sass/style.scss */
/* line 1297, ../sass/style.scss */
.hazardListHeader {
  background-size: 45px 45px !important;
  background-position: left 50%;
  background-repeat: no-repeat !important;
  padding-left: 60px;
  margin-bottom: 10px;
  font-size: 1.5vw;
}

/* line 523, ../sass/style.scss */
/* line 1307, ../sass/style.scss */
#biologicalMaterials, #biologicalSafety, #biologicalHazards {
  background: url(../img/biohazard-largeicon.png);
}

/* line 527, ../sass/style.scss */
/* line 1312, ../sass/style.scss */
#generalLaboratorySafety, #chemicalSafety, #chemicalHazards {
  background: url(../img/chemical-safety-large-icon.png);
}

/* line 530, ../sass/style.scss */
/* line 1317, ../sass/style.scss */
#radiationSafety, #radiationHazards {
  background: url(../img/radiation-large-icon.png);
}

/* line 1320, ../sass/style.scss */
.pseudoSelect {
  border-color: #ccc;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 20px;
  background: white;
  text-align: left;
  width: 220px;
}
/* line 1321, ../sass/style.scss */
.pseudoSelect:hover {
  background: white;
  border-color: #ccc;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 20px;
  background: white;
  text-align: left;
  width: 220px;
  color: black;
}
/* line 1339, ../sass/style.scss */
.pseudoSelect i {
  margin-top: -113px !important;
  font-size: 44px !important;
  float: right;
  color: black !important;
}

/* line 1346, ../sass/style.scss */
.roomSelect {
  margin-left: 50%;
  margin-top: -3px;
  z-index: 10000000000;
}

/* line 1351, ../sass/style.scss */
.selectRooms {
  border: none;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  width: 224px;
  border: 2px solid #ccc;
  margin: 0;
  margin-top: -21px;
  margin-left: 9px;
  padding: 10px;
  background: white;
  position: absolute;
  list-style: none;
}
/* line 1364, ../sass/style.scss */
.selectRooms li {
  padding: 5px;
  border: none;
}
/* line 1367, ../sass/style.scss */
.selectRooms li h4 {
  font-weight: bold;
}
/* line 1371, ../sass/style.scss */
.selectRooms ul {
  list-style: none;
  margin-left: 10px !important;
}
/* line 1374, ../sass/style.scss */
.selectRooms ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 1378, ../sass/style.scss */
.selectRooms ul li:after {
  margin-top: -19px;
  margin-left: 0;
  content: "" !important;
  margin-left: -4px;
}

/* line 1388, ../sass/style.scss */
.roomSelectContainer {
  display: inline;
}

/*****************************************************************
*******           PI HUB               ***************************
******************************************************************/
/* line 536, ../sass/style.scss */
/* line 1396, ../sass/style.scss */
#piButtons a {
  margin: 20px 10px;
}

/* line 539, ../sass/style.scss */
/* line 1401, ../sass/style.scss */
.list thead a {
  margin: 10px;
}

/* line 543, ../sass/style.scss */
/* line 1406, ../sass/style.scss */
.list h2 {
  margin-top: 30px;
  margin-bottom: -4px;
}

/* line 548, ../sass/style.scss */
/* line 1412, ../sass/style.scss */
#departmentList, #specialHazardList {
  list-style: none;
}

/* line 552, ../sass/style.scss */
/* line 1417, ../sass/style.scss */
#departmentList li, #specialHazardList li {
  font-size: 20px;
  line-height: 34px;
}

/* line 557, ../sass/style.scss */
/* line 1423, ../sass/style.scss */
textarea, input {
  border-color: #999;
}

/* line 561, ../sass/style.scss */
/* line 1428, ../sass/style.scss */
.hazard-assessment-modal {
  height: 400px;
  overflow: hidden !important;
  left: 0;
  margin: 0;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-left: 70px;
  width: auto;
}

/* line 577, ../sass/style.scss */
/* line 1445, ../sass/style.scss */
.hazard-assessment-modal .modal-body {
  overflow: hidden;
  padding-right: 0;
}

/* line 581, ../sass/style.scss */
/* line 1451, ../sass/style.scss */
.hazard-assessment-modal .tabbable .nav-stacked {
  border-left: 1px solid #ccc;
  float: left;
  overflow-x: hidden;
  height: 315px;
}

/* line 588, ../sass/style.scss */
/* line 1459, ../sass/style.scss */
.hazard-assessment-modal .tabbable .nav-stacked > li {
  padding-right: 15px;
  margin-left: 10px;
  width: 450px;
}

@media (max-width: 1200px) {
  /* line 594, ../sass/style.scss */
  /* line 1467, ../sass/style.scss */
  .hazard-assessment-modal .tabbable .nav-stacked > li {
    padding-right: 15px;
    margin-left: 10px;
    width: 250px;
  }
}
/* line 600, ../sass/style.scss */
/* line 1474, ../sass/style.scss */
.hazard-assessment-modal .tab-content {
  height: 330px;
  overflow: hidden !important;
}

/* line 604, ../sass/style.scss */
/* line 1480, ../sass/style.scss */
.hazard-assessment-modal .modal-header, .hazard-assessment-modal li.active a {
  background: #e67e1d !important;
  color: white !important;
}

/* line 608, ../sass/style.scss */
/* line 1486, ../sass/style.scss */
.hazard-assessment-modal li a {
  color: #666;
  cursor: pointer;
}

/* line 612, ../sass/style.scss */
/* line 1492, ../sass/style.scss */
.hazard-assessment-modal li a:hover {
  text-decoration: none !important;
}

/* line 615, ../sass/style.scss */
/* line 1497, ../sass/style.scss */
li.active a {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-color: #e67e1d !important;
}

/* line 619, ../sass/style.scss */
/* line 1503, ../sass/style.scss */
.nav-tabs.nav-stacked > li > a {
  border: none;
}

/***************************************************************
********* I
***************************************************************/
/* Let's get this party started */
/* line 629, ../sass/style.scss */
/* line 1512, ../sass/style.scss */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
/* line 634, ../sass/style.scss */
/* line 1518, ../sass/style.scss */
::-webkit-scrollbar-track {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #ccc;
}

/* Handle */
/* line 642, ../sass/style.scss */
/* line 1526, ../sass/style.scss */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.3);
}

/* line 648, ../sass/style.scss */
/* line 1533, ../sass/style.scss */
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.2);
}

/* line 653, ../sass/style.scss 
.checklist:before {
  display: block;
  content: " ";
  margin-top: -265px;
  height: 285px;
  visibility: hidden;
}
*/
/* line 660, ../sass/style.scss */
/* line 1547, ../sass/style.scss */
.checklist ul {
  list-style: none !important;
}

/* line 663, ../sass/style.scss */
/* line 1552, ../sass/style.scss */
#sp-nav ul li a {
  line-height: normal;
  color: black;
  margin: 0;
  border-bottom: 1px solid #c0c0c0;
  font-size: 17px;
  padding: 24px 10px 37px 30px;
  text-shadow: none;
  box-shadow: none !important;
}

/* line 674, ../sass/style.scss */
/* line 1564, ../sass/style.scss */
#sp-nav ul {
  padding: 0;
}

/* line 678, ../sass/style.scss */
/* line 1569, ../sass/style.scss */
#sp-nav ul li a.active {
  background: white;
  color: black;
}

/* line 683, ../sass/style.scss */
/* line 1575, ../sass/style.scss */
.accordion-toggle h2 {
  color: black;
  text-decoration: none !important;
}

/* line 687, ../sass/style.scss */
/* line 1581, ../sass/style.scss */
.accordion-toggle:hover {
  text-decoration: none !important;
}

/* line 690, ../sass/style.scss */
/* line 1586, ../sass/style.scss */
.questionAnswerInputs {
  float: right;
}

/* line 693, ../sass/style.scss */
/* line 1591, ../sass/style.scss */
.dropInputs {
  clear: both;
  margin-top: 39px;
  float: none;
}

/* line 698, ../sass/style.scss */
/* line 1598, ../sass/style.scss */
.menuIcon {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  color: #333 !important;
  background: #d5d5d5;
  padding: 25px 5px 25px 5px !important;
  top: 91px;
  display: block;
  position: fixed;
  font-size: 45px;
  margin: -15px 0 -9px 98%;
  float: left;
  z-index: 500;
  border-radius: 0 3px 3px 0;
  transition: margin-left .2s;
  -webkit-transition: margin-left .2s;
}

/* line 714, ../sass/style.scss */
/* line 1616, ../sass/style.scss */
.menuIcon:hover {
  padding: 24px 5px 25px 4px !important;
  border: 1px solid #ccc;
  text-decoration: none;
}

/* line 719, ../sass/style.scss */
/* line 1623, ../sass/style.scss */
.menuIcon:hover:active {
  color: green !important t;
}

/* line 722, ../sass/style.scss */
/* line 1628, ../sass/style.scss */
.pushLeft {
  transition: margin-left .2s;
  -webkit-transition: margin-left .2s;
  margin-left: 20% !important;
}

/* line 727, ../sass/style.scss */
/* line 1635, ../sass/style.scss */
span.red {
  color: #f00;
}

/* line 730, ../sass/style.scss */
/* line 1640, ../sass/style.scss */
span.green {
  color: #090;
}

/* line 734, ../sass/style.scss */
/* line 1645, ../sass/style.scss */
.hazardList > ul {
  margin: 0;
}
/* line 1647, ../sass/style.scss */
.hazardList > ul li {
  margin: 5px 0;
}

/* line 737, ../sass/style.scss */
/* line 740, ../sass/style.scss */
/* line 1657, ../sass/style.scss */
.topSub h1, .topSub h2, .topSub h3, .topSub h4, .topSub h5, .topSub h6 {
  color: black;
}

/* line 743, ../sass/style.scss */
/* line 1662, ../sass/style.scss */
.topSub {
  padding: 5px 0;
  padding: 5px;
}

/* line 749, ../sass/style.scss */
/* line 1668, ../sass/style.scss */
.topSub:hover {
  background: #eeeeee;
}

/* line 752, ../sass/style.scss */
/* line 1673, ../sass/style.scss */
.subHazards {
  margin: -9px 0 11px 39px !important;
}

/* line 755, ../sass/style.scss */
/* line 1678, ../sass/style.scss */
.subHazards > li, .subHazards > p, .topSub > p, .topSub > li, .roomRepeat {
  font-size: 15px;
  margin: 15px 0;
}

/****overrides for small room number checkboxes in hazard assessment***************/
/* line 760, ../sass/style.scss */
/* line 1685, ../sass/style.scss */
label.checkbox input[type=checkbox] ~ span.smaller::after {
  padding: 0 0 15px 2px;
  font-family: 'IcoMoon';
  content: "\2003";
  font-size: 10px !important;
  position: absolute;
  top: 7px !important;
  left: 7px !important;
  width: 12px !important;
  height: 0 !important;
  z-index: 1000;
}

/* line 772, ../sass/style.scss */
/* line 1699, ../sass/style.scss */
.roomRepeat {
  margin: 3px;
}

/* line 775, ../sass/style.scss */
/* line 1704, ../sass/style.scss */
.roomRepeat:after {
  content: ", ";
}

/* line 778, ../sass/style.scss */
/* line 1709, ../sass/style.scss */
.last:after {
  content: "" !important;
}

/* line 781, ../sass/style.scss */
/* line 1714, ../sass/style.scss */
.modal-trigger-plus {
  color: #090;
  font-size: 25px;
  margin-top: 6px;
}

/* line 787, ../sass/style.scss */
/* line 1721, ../sass/style.scss */
.subHazards > li h4, .topSub > li h4 {
  white-space: nowrap;
}

/* line 790, ../sass/style.scss */
/* line 1726, ../sass/style.scss */
#footer ul {
  list-style: none;
  margin: 15px 0;
}

/* line 795, ../sass/style.scss */
/* line 1732, ../sass/style.scss */
#footer li {
  float: left;
  width: 25%;
}

/* line 799, ../sass/style.scss */
/* line 1738, ../sass/style.scss */
#footer li a {
  font-size: 1vw;
}

/* line 802, ../sass/style.scss */
/* line 1743, ../sass/style.scss */
#footer li a span {
  margin-left: 10px;
}

/* line 805, ../sass/style.scss */
/* line 1748, ../sass/style.scss */
#footer li a img {
  max-width: 20%;
}

@media (max-width: 800px) {
  /* line 809, ../sass/style.scss */
  /* line 1754, ../sass/style.scss */
  #footer li a span {
    margin-left: 10px;
    display: block;
  }
}
/* line 814, ../sass/style.scss */
/* line 1760, ../sass/style.scss */
.clipboard {
  background: url(../img/clipboard.png);
}

/* line 815, ../sass/style.scss */
/* line 1765, ../sass/style.scss */
.phone {
  background: url(../img/phone.png);
  padding-left: 140px !important;
}

/* line 816, ../sass/style.scss */
/* line 1771, ../sass/style.scss */
.speechBubble {
  background: url(../img/speechBubble.png);
  padding-left: 190px !important;
}

/* line 817, ../sass/style.scss */
/* line 1777, ../sass/style.scss */
.checkmarkFooter {
  background: url(../img/checkmarkFooter.png);
  padding-left: 140px !important;
}

/* line 819, ../sass/style.scss */
/* line 1783, ../sass/style.scss */
.accordion:first-child {
  padding: 10px;
}

/* line 822, ../sass/style.scss */
/* line 1788, ../sass/style.scss */
.test {
  width: 100px;
}

/* line 1791, ../sass/style.scss */
.loading img {
  width: 50px;
}

/* line 1794, ../sass/style.scss */
.loading {
  font-size: 20px;
  font-weight: bold;
}

/* line 1798, ../sass/style.scss */
.listStyleNone {
  list-style: none;
}

/* line 1801, ../sass/style.scss */
.hide {
  display: none !important;
}

/* line 1804, ../sass/style.scss */
.btn {
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
}

/* line 1811, ../sass/style.scss */
.quickdate {
  display: inline-block;
  position: relative;
  font-size: 12px !Important;
}

/* line 1812, ../sass/style.scss */
.quickdate-button div, .quickdate-action-link div {
  display: inline;
}

/* line 1813, ../sass/style.scss */
.quickdate-popup {
  z-index: 10;
  background-color: #fff;
  border: solid 1px #000;
  text-align: center;
  width: 250px;
  display: none;
  position: absolute;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

/* line 1814, ../sass/style.scss */
.quickdate-popup.open {
  display: block;
}

/* line 1815, ../sass/style.scss */
.quickdate-close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #333;
}

/* line 1816, ../sass/style.scss */
.quickdate-close:hover, .quickdate-close:visited {
  color: #333;
}

/* line 1817, ../sass/style.scss */
.quickdate-calendar-header {
  display: block;
  padding: 2px 0;
  margin-bottom: 5px;
  text-align: center;
}

/* line 1818, ../sass/style.scss */
.quickdate-month {
  display: inline-block;
}

/* line 1819, ../sass/style.scss */
a.quickdate-prev-month {
  float: left;
}

/* line 1820, ../sass/style.scss */
a.quickdate-next-month {
  float: right;
}

/* line 1821, ../sass/style.scss */
.quickdate-text-inputs {
  text-align: left;
  margin-bottom: 5px;
}

/* line 1822, ../sass/style.scss */
.quickdate-input-wrapper {
  width: 48%;
  display: inline-block;
}

/* line 1823, ../sass/style.scss */
input.quickdate-date-input, input.quickdate-time-input {
  width: 200px;
  margin: 0;
  height: auto;
  padding: 2px 3px;
}

/* line 1824, ../sass/style.scss */
table.quickdate-calendar {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-top: 5px;
  margin-left: -3px;
}

/* line 1825, ../sass/style.scss */
table.quickdate-calendar th, table.quickdate-calendar td {
  padding: 5px;
}

/* line 1826, ../sass/style.scss */
table.quickdate-calendar td:hover {
  cursor: pointer;
}

/* line 1827, ../sass/style.scss */
.quickdate-popup-footer {
  text-align: right;
  display: block;
}

/* line 1828, ../sass/style.scss */
.quickdate-error {
  border: 1px solid #dd3b30 !important;
}

/* line 1829, ../sass/style.scss */
.quickdate-error:focus {
  outline-color: #dd3b30 !important;
}

/* line 1830, ../sass/style.scss */
.is-today {
  background: #49afcd !important;
  color: white !important;
}

/* line 1834, ../sass/style.scss */
.disabled-date {
  cursor: text !important;
  color: #666 !Important;
  background: #b9b9b9 !important;
}

/* line 1840, ../sass/style.scss */
.invalid {
  border-color: red;
}

/* line 1845, ../sass/style.scss */
.modal-body ul {
  list-style-type: none;
  margin-left: 0;
}

/* line 1852, ../sass/style.scss */
.bold {
  font-weight: bold;
}

/* line 1855, ../sass/style.scss */
.underline {
  text-decoration: underline;
}

/* line 1858, ../sass/style.scss */
.notTheOpenedOne {
  max-height: none !Important;
  overflow-y: hidden !important;
}

/* define height and width of scrollable area. Add 16px to width for scrollbar          */
/* line 1866, ../sass/style.scss */
div.tableContainer {
  clear: both;
  max-height: 500px;
  overflow: auto;
  width: auto;
}

/* Reset overflow value to hidden for all non-IE browsers. */
/* line 1874, ../sass/style.scss */
div.tableContainer {
  overflow: hidden;
  width: auto;
}

/* define width of table. IE browsers only                 */
/* line 1880, ../sass/style.scss */
div.tableContainer table {
  float: left;
  width: auto;
}

/* define width of table. Add 16px to width for scrollbar.           */
/* All other non-IE browsers.                                        */
/* line 1887, ../sass/style.scss */
div.tableContainer table {
  width: auto;
}

/* set table header to a fixed position. WinIE 6.x only                                       */
/* In WinIE 6.x, any element with a position property set to relative and is a child of       */
/* an element that has an overflow property set, the relative value translates into fixed.    */
/* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */
/* line 1895, ../sass/style.scss */
thead.fixedHeader tr {
  position: relative;
}

/* set THEAD element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* line 1901, ../sass/style.scss */
html > body thead.fixedHeader tr {
  display: block;
}

/* make the TH elements pretty */
/* make the A elements pretty. makes for nice clickable headers                */
/* define the table content to be scrollable                                              */
/* set TBODY element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* induced side effect is that child TDs no longer accept width: auto                     */
/* line 1917, ../sass/style.scss */
html > body tbody.scrollContent {
  display: block;
  max-height: 450px;
  overflow: auto;
  width: 100%;
}

/* define width of TH elements: 1st, 2nd, and 3rd respectively.          */
/* Add 16px to last TH for scrollbar padding. All other non-IE browsers. */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
/* line 1927, ../sass/style.scss */
table {
  font-size: 12px;
}

/* line 1938, ../sass/style.scss */
table.roomList td {
  vertical-align: middle;
}
/* line 1941, ../sass/style.scss */
table.roomList h2 {
  margin-top: 0;
}

/* line 1945, ../sass/style.scss */
.piHeader {
  width: 60%;
  font-size: 30px;
  display: inline-block;
  padding-top: 15px;
}

/* line 1952, ../sass/style.scss */
#piButtons {
  width: 100%;
}
