<div class="modal-header" style="padding:0;">
    <h2 ng-show="!addRoom" style="padding:5px; background: rgb(107, 86, 179)" class="blueBg">
        <span ng-if="modalData.PIWipeTest.Key_id">Edit</span>
        <span ng-if="!modalData.PIWipeTest.Key_id">Add</span> Miscellaneous Wipe
    </h2>
</div>
<div class="modal-body">

    <div class="control-group">
        <label class="control-label" for="notes">Instrument</label>
        <div class="controls">
            <select ng-init="modalData.PIWipeTest.Reading_type = Constants.WIPE_TEST.READING_TYPE.LSC" ng-model="modalData.PIWipeTest.Reading_type" style="width:100px">
                <option value="{{Constants.WIPE_TEST.READING_TYPE.LSC}}">{{Constants.WIPE_TEST.READING_TYPE.LSC}}</option>
                <option value="{{Constants.WIPE_TEST.READING_TYPE.ALPHA_BETA}}">{{Constants.WIPE_TEST.READING_TYPE.ALPHA_BETA}}</option>
                <option value="{{Constants.WIPE_TEST.READING_TYPE.MCA}}">{{Constants.WIPE_TEST.READING_TYPE.MCA}}</option>
            </select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="notes">Notes</label>
        <div class="controls input-append">
            <textarea data-ng-model="modalData.PIWipeTest.Notes" placeholder="Notes" /></textarea>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-large btn-success left" ng-click="save(modalData.PIWipeTest)"><i class="icon-checkmark"></i>Save</a>
    <a class="btn btn-large btn-danger left" ng-click="close()"><i class="icon-cancel-2"></i>Close</a>
</div>
