<div class="modal-header pickups" style="padding:0;">
    <h2 ng-show="!addRoom" style="padding:5px;"><span ng-if="!modalData.Authorization">Request</span><span ng-if="modalData.Authorization">Edit</span> a Waste Pickup</h2>
</div>
<div class="modal-body pickups-modal">
  <h3>Pickup Contents:</h3>
    <div ng-if="modalData.pickup.Waste_bags">
        <h4>Waste Bags:</h4>
        <ul>
            <li ng-repeat="bag in modalData.pickup.Waste_bags">
                <span ng-if="bag.Date_removed">
                    Removed from {{bag.Container_name}} on {{bag.Date_removed | dateToISO}}<br>
                </span>
                <span ng-if="!bag.Date_removed">
                    Bag currently in {{bag.Container_name}}<br>
                </span>
                Contains:  <span ng-if="bag.Contents.length" ng-repeat="isotope in bag.Contents">{{isotope.Curie_level}} of {{isotope.Isotope_name}}<span ng-if="!$last">, </span></span>
                <span ng-if="!bag.Contents.length">(empty bag)</span>
            </li>
        </ul>
    </div>

    <div ng-if="modalData.pickup.Scint_vial_collections">
        <h4>Scintillation Vial Contents:</h4>
        <ul>
            <li ng-repeat="collection in modalData.pickup.Scint_vial_collections">
                <span ng-repeat="isotope in collection.Contents">{{isotope.Curie_level}} of {{isotope.Isotope_name}}<span ng-if="!$last">, </span></span>
            </li>
            <li>
                Trays: {{modalData.pickup.Scint_vial_trays}}
            </li>

        </ul>
    </div>
    
    <div ng-if="modalData.pickup.Carboy_use_cycles">
        <h4>Carboys:</h4>
        <ul>
            <li ng-repeat="cycle in modalData.pickup.Carboy_use_cycles">
                Carboy Number {{cycle.Carboy.Carboy_number}}<br />
                Contains:
                <span ng-repeat="isotope in cycle.Contents">{{isotope.Curie_level}} of {{isotope.Isotope_name}}<span ng-if="!$last">, </span></span>
            </li>
        </ul>
    </div>

    <div class="form">
        <div class="form-group">
        <label for="notes"><h4>Notes:</h4></label>
        <textarea ng-model="modalData.pickup.Notes" class="notes" id="notes" rows="5" placeholder="I.E. Please bring 1 carboy."></textarea>
    </div>
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-large btn-success left" ng-click="requestPickup(modalData.pickup)"><i class="icon-checkmark"></i>Save</a>
    <a class="btn btn-large btn-danger left" ng-click="close()"><i class="icon-cancel-2"></i>Close</a>
</div>
