<span style="position:relative; display:block">
<div class="modal-backdrop in"></div>
<h1 style="top:300px;padding:20px 0; z-index:30000;text-align:center; background:rgba(255,255,255,.6); border-top:1px solid:3ccc;border:bottom: 1px solid:3ccc; box-shadow:0 0 20px rgba(0,0,0,.9); color:black; position:fixed; left:0; right:0"><i style="color:black;" class="spinner icon-spinnery-dealie large"></i>{{$message}}</h1>
</span>
<!--
<div class="modal">
	<div class="modal-body">
		<h1><i class="spinner icon-spinnery-dealie large"></i>{{$message}}</h1>
	</div>
</div>
</span>
-->