<div class="centerIcons safety-programs" >
    <h3 class="rsms-center-header">Biosafety Programs</h3>
    <div class="span2 rsmsCenterIconContainer" style=" margin-bottom:30px;">
      <a ng-click="setRoute('home')" class="span12 purpleBg" >
        <img class="" src="../img/home-icon-large.png" />
        <p style="color:white !important">Home</p>
      </a>
    </div>
    <div class="span2 rsmsCenterIconContainer" style=" margin-bottom:30px;">
      <a href="../biosafety-committees"  class="span12 redBg">
        <i class="icon-paper"></i>
        <p style="color:white !important">Biosafety Protocols</p>
      </a>
    </div>
</div>
<?php
require_once 'bottom_view.php';
?>

