<div class="centerIcons" >
    <h3 class="rsms-center-header">Inspections</h3>

    <div class="span2 rsmsCenterIconContainer" style=" margin-bottom:30px;">
      <a ng-click="setRoute('home')" class="span12 purpleBg" >
        <img class="" src="../img/home-icon-large.png" />
        <p>Home</p>
      </a>
    </div>

    <div class="span2 rsmsCenterIconContainer " style=" margin-bottom:30px;" ng-if="rbf.getHasPermission([ R[Constants.ROLE.NAME.ADMIN], R[Constants.ROLE.NAME.SAFETY_INSPECTOR]])">
      <a href="inspection/manageInspections.php" class="span12 orangeBg">
        <img class="" src="../img/manage-inspections-icon.png" />
        <p>Manage Inspections</p>
      </a>
    </div>

    <div class="span2 rsmsCenterIconContainer" style=" margin-bottom:30px;">
      <a class="span12 redBg" href="../hazard-inventory">
        <img class="" src="../img/new-inspection-icon.png" />
        <p>Lab Hazards Inventory</p>
      </a>
    </div>

    <div class="span2 rsmsCenterIconContainer" style=" margin-bottom:30px;">
      <a class="span12 blueBg" href="../reports">
        <i class="icon-clipboard-2"></i>
        <p>Reports</p>
      </a>
    </div>

</div>
<?php
require_once 'bottom_view.php';
?>
