<div class="centerIcons" >
    <h3 class="">Inspections</h3>

    <div class="span2 rsmsCenterIconContainer" style=" margin-bottom:30px;">
      <a ng-click="setRoute('home')" class="span12 purpleBg" >
        <img class="" src="../img/home-icon-large.png" />
        <p>Home</p>
      </a>
    </div>

    <div class="span2 rsmsCenterIconContainer " style=" margin-bottom:30px;">
      <a href="inspection/manageInspections.php" style="background: #d00;" class="span12">
        <img class="" src="../img/manage-inspections-icon.png" />
        <p>Manage Inspections</p>
      </a>
    </div>

    <div class="span2 rsmsCenterIconContainer" style=" ">
      <a class="span12" style="background: #d00;" href="inspection/hazardInventory.php">
        <img class="" src="../img/new-inspection-icon.png" />
        <p>Laboratory Inspection</p>
      </a>
    </div>

</div>
<?php
require_once 'bottom_view.php';
?>
