<div class="centerIcons safety-programs" >
    <h3 class="rsms-center-header">Safety Programs</h3>
    <div class="span2 rsmsCenterIconContainer" style=" margin-bottom:30px;">
      <a ng-click="setRoute('home')" class="span12 purpleBg" >
        <img class="" src="../img/home-icon-large.png" />
        <p style="color:white !important">Home</p>
      </a>
    </div>
    <div class="span2 rsmsCenterIconContainer " style=" margin-bottom:30px;"  ng-if="rbf.getHasPermission([ R['Admin'], R['Radiation Admin'], ])">
      <a ng-click="setRoute('biosafety-programs')"  class="span12 bio">
        <img class="" src="../img/biohazard-largeicon.png" />
        <p>Biological Safety</p>
      </a>
    </div>

    <div class="span2 rsmsCenterIconContainer " style=" margin-bottom:30px;"  ng-if="rbf.getHasPermission([ R['Admin'], R['Radiation Admin'], ])">
      <a href="../rad/#/admin" class="span12 chem">
        <img class="" src="../img/chemical-blue-icon.png" />
        <p>Chemical Safety</p>
      </a>
    </div>
    <div class="span2 rsmsCenterIconContainer " style=" margin-bottom:30px;"  ng-if="rbf.getHasPermission([ R['Admin'], R['Radiation Admin'], ])">
      <a href="../rad/#/admin" class="span12 rad">
        <img class="" src="../img/radiation-large-icon.png" />
        <p>Radiation Safety</p>
      </a>
    </div>

</div>
<?php
require_once 'bottom_view.php';
?>

