<div cg-busy="{promise:parcelPromise,message:'Loading', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:ParcelUseSaving,message:'Saving Use', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>

<h1 class="alert alert-danger fixed-full" ng-if="error">{{error}}</h1>
<div style="margin-top:70px;" ng-if="pi">
    <div class="card full parcels">
        <div class="card-content">
            <div class="fake-table striped">
                <div class="table-header" ng-class="{'inactive': parcel.AmountOnHand == 0}">
                    <h3>R.S. Number</h3>
                    <h3>Isotope</h3>
                    <h3>Arrival Date</h3>
                    <h3>Orginal Activity Ordered</h3>
                    <h3>Amount not used in experiments</h3>
                    <h3>Total Amount In Lab</h3>
                </div>
                <div class="table-row" ng-class="{'inactive': parcel.AmountOnHand == 0}">
                    <div>
                        {{parcel.Rs_number}}
                    </div>

                    <div ng-init="parcel.loadAuthorization()">
                        {{parcel.Authorization.IsotopeName}}
                    </div>

                    <div>
                        <span ng-if="parcel.Arrival_date && parcel.Arrival_date != '0000-00-00 00:00:00'">{{parcel.Arrival_date | dateToISO}}</span>
                        <span ng-if="parcel.Transfer_in_date">{{parcel.Transfer_in_date | dateToISO}}</span>
                    </div>

                    <div>
                        {{parcel.Quantity}} mCi
                    </div>

                    <div>
                        {{parcel.Remainder}} mCi
                    </div>

                    <div>
                        {{parcel.AmountOnHand}} mCi
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- ng-if="pi && (!parcelUses || !parcelUses[0] || !parcelUses[0].pUses || !parcelUses[0].pUses.length)"-->
    <div class="card full parcels">
        <div class="card-content">
        </div>
    </div>
    <div class="card full parcels">
        <div class="card-content">
            <h3 class="card-header padding">
                Package Uses 
                <button ng-click="addUsage(parcel)" ng-disabled="parcel.AmountOnHand == 0" class="btn btn-success left"><i class="icon-plus-2"></i>Add Usage</button>
                <button ng-init="parcel.showActive = true" ng-click="parcel.showActive = !parcel.showActive"  class="btn">
                    Show <span ng-if="parcel.showActive">Inactive</span><span ng-if="!parcel.showActive">Active</span> Uses
                </button>
            </h3>
            <table class="table-bordered table parcel-uses" style="margin-bottom:0" ng-show="parcelUses">
                <tbody>
                    <tr class="table-header">
                        <th>Edit</th>
                        <th>Date</th>
                        <th>Use</th>
                        <th>Amount</th>
                        <th class="use-amount solids">Solid Waste</th>
                        <th>Liquid Waste</th>
                        <th class="use-amount vials">S/V Waste</th>
                        <th>Other Waste</th>
                        <th class="use-amount vials">Not Disposed</th>
                    </tr>
                    <tr class="table-row top-align" ng-repeat="use in parcel.ParcelUses" ng-if="use && parcel.showActive == use.Is_active" ng-class="{'formError': use.error}" table-error="{{use.error}}" obj="use">
                        <td ng-init="use.loadParcelUseAmounts()">
                            <button class="btn btn-primary" 
                                    ng-click="editUse(use)" 
                                    ng-if="(!use.Date_transferred && !use.getIsPickedUp()) || roleBasedFactory.getHasPermission([R[Constants.ROLE.NAME.RADIATION_ADMIN]])"><i class="icon-pencil"></i></button>
                            <button class="btn" 
                                    ng-click="deactivate(use)" 
                                    ng-if="(!use.Date_transferred && !use.getIsPickedUp()) || roleBasedFactory.getHasPermission([R[Constants.ROLE.NAME.RADIATION_ADMIN]])"
                                    ng-class="{'btn-danger':use.Is_active, 'btn-success':!use.Is_active}">
                            <i ng-class="{'icon-cancel-2':use.Is_active, 'icon-checkmark-2':!use.Is_active}"></i></button>

                            <button class="btn btn-primary disabled"
                                    popover-placement="right" popover="Contact RSO if changes are needed." popover-title="This waste has already been picked up"
                                    ng-if="!use.Date_transferred && use.getIsPickedUp() && !roleBasedFactory.getHasPermission([R[Constants.ROLE.NAME.RADIATION_ADMIN]])">
                                <i class="icon-pencil"></i>
                            </button>
                            <button class="btn disabled"
                                    popover-placement="right" popover="Contact RSO if changes are needed." popover-title="This waste has already been picked up"
                                    ng-if="!use.Date_transferred && use.getIsPickedUp() && !roleBasedFactory.getHasPermission([R[Constants.ROLE.NAME.RADIATION_ADMIN]])"
                                    ng-class="{'btn-danger':use.Is_active, 'btn-success':!use.Is_active}">
                                <i ng-class="{'icon-remove':use.Is_active, 'icon-checkmark-2':!use.Is_active}"></i>
                            </button>

                        </td>
                        <td>
                            <span ng-if="use.Date_transferred">Transferred: {{use.Date_transferred | dateToISO}}</span>
                            <span ng-if="!use.Date_transferred">{{use.Date_used || use.Date_transferred | dateToISO:use:'Date_used':true}}</span>
                        </td>


                        <td>
                            <span ng-if="!use.Date_transferred">{{use.Experiment_use}}</span>
                            <span ng-if="use.Date_transferred">{{use.Comments || 'Tranfser'}}</span>
                        </td>

                        <td>
                            {{use.Quantity}} mCi
                        </td>

                        <td class="use-amount solids">
                            <div ng-repeat="solid in use.solids = (use.ParcelUseAmounts | filter:{Waste_type_id:constants.WASTE_TYPE.SOLID})">
                                <span>{{solid.Curie_level}}mCi</span><span ng-bind-html="getContainer('WasteBag', solid.Waste_bag_id)"></span>
                            </div>
                            <div ng-if="!use.solids.length">No Solid Disposals</div>
                        </td>
                        <td class="use-amount liquids">
                            <div ng-repeat="liquid in liquids = (use.ParcelUseAmounts | filter:{Waste_type_id:constants.WASTE_TYPE.LIQUID})">
                                {{liquid.Curie_level}}mCi <small><br />Carboy #{{liquid.Carboy.CarboyNumber}}</small>
                            </div>
                            <div ng-if="!liquids.length">No Liquid Disposals</div>
                        </td>
                        <td class="use-amount vials">
                            <div ng-repeat="vial in vials = (use.ParcelUseAmounts | filter:{Waste_type_id:constants.WASTE_TYPE.VIAL})">
                                <span>{{vial.Curie_level}}mCi</span><span ng-bind-html="getContainer('ScintVialCollection', vial.Scint_vial_collection_id)"></span>
                            </div>
                            <div ng-if="!vials.length">No vial Disposals</div>
                        </td>
                        <td class="use-amount others">
                            <div ng-show="!others.length">N/A</div>
                            <div ng-repeat="other in others = (use.ParcelUseAmounts | filter:{Waste_type_id:constants.WASTE_TYPE.OTHER})">
                                <span>{{other.Curie_level}}mCi</span><span ng-bind-html="getContainer('OtherWasteContainer', other.Other_waste_container_id)"></span>
                            </div>
                        </td>
                        <td class="use-amount vials">
                            <div ng-bind-html="getSampleAmount(use)"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<div class="card full parcels" ng-if="pi.Pickups">
    <div class="card-header">
        <h2><i style="margin-top: 12px;margin-left: 3px;" class="icon-box-remove"></i>Pickups</h2>
    </div>
    <div class="card-content" style="padding-bottom:0">
        <table class="pickup-table table table-bordered" style="margin-bottom:0;">
            <tr ng-if="pi.Pickups" class="pickup-tab-header">
                <td>Status</td>
                <td>Requested</td>
                <td>Picked Up</td>
                <td class="use-amount solids">Solid Waste</td>
                <td>Liquid Waste</td>
                <td class="use-amount vials">S/V Waste</td>
                <td>Other Waste</td>
            </tr>
            <tr ng-repeat="pickup in pickups" class="pickup-tab">
                <td>{{pickup.Status}}</td>
                <td class="use-amount">{{pickup.Requested_date | dateToISO}}</td>
                <td class="use-amount"><span ng-if="pickup.Pickup_date">{{pickup.Pickup_date | dateToISO}}</span></td>
                <td class="use-amount solids">{{tabulateWaste(parcel.ParcelUses, constants.WASTE_TYPE.SOLID, pickup.Key_id)}}</td>
                <td class="use-amount">{{tabulateWaste(parcel.ParcelUses, constants.WASTE_TYPE.LIQUID, pickup.Key_id)}}</td>
                <td class="use-amount vials">{{tabulateWaste(parcel.ParcelUses, constants.WASTE_TYPE.VIAL, pickup.Key_id)}}</td>
                <td class="use-amount">{{tabulateWaste(parcel.ParcelUses, constants.WASTE_TYPE.OTHER, pickup.Key_id)}}</td>
            </tr>
        </table>
    </div>
</div>
