<div cg-busy="{promise:parcelPromise,message:'Loading', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:ParcelUseSaving,message:'Saving Use', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>

<h1 class="alert alert-danger fixed-full" ng-if="error">{{error}}</h1>
<div style="margin-top:70px;" ng-if="pi">
    <span ng-init="pi.loadWasteBags()" ng-if="pi.SolidsContainers"></span>
    <div class="card full parcels">
        <div class="card-content">
            <div class="fake-table striped">
                <div class="table-header" ng-class="{'inactive': parcel.AmountOnHand == 0}">
                    <h3>R.S. Number</h3>
                    <h3>Isotope</h3>
                    <h3>Arrival Date</h3>
                    <h3>Orginal Activity</h3>
                    <h3>Usable Activity</h3>
                    <h3>Amount On Hand</h3>
                </div>
                <div class="table-row" ng-class="{'inactive': parcel.AmountOnHand == 0}">
                    <div>
                        {{parcel.Rs_number}}
                    </div>

                    <div ng-init="parcel.loadAuthorization()"> 
                        {{parcel.Authorization.IsotopeName}}
                    </div>

                    <div>
                        {{parcel.Arrival_date | dateToISO}}
                    </div>

                    <div>
                        {{parcel.Quantity}} mCi
                    </div>

                    <div>
                        {{parcel.Remainder}} mCi
                    </div>

                    <div>
                        {{parcel.AmountOnHand}} mCi
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="card full parcels" ng-if="pi">
        <h3 class="card-header padding">Package Usages <button ng-click="addUsage(parcel)" ng-disabled="parcel.AmountOnHand == 0" class="btn btn-success left"><i class="icon-plus-2"></i>Add Usage</button></h3>
        <div class="card-content">
            <table class="table-bordered table parcel-uses" ng-show="parcel.ParcelUses">
                <tr class="table-header">
                    <th>Edit</th>
                    <th>Date</th>
                    <th>Use</th>
                    <th>Amount</th>
                    <th>Disposals</th>
                    <!--<th></th>-->
                </tr>
                <tr class="table-row top-align" ng-repeat="use in parcel.ParcelUses" ng-class="{'formError': use.error, 'inactive': use.getIsPickedUp()}" table-error="{{use.error}}" obj="use">
                    <td ng-init="use.loadParcelUseAmounts()">
                        <button class="btn btn-primary" ng-click="editUse(use)" ng-disabled="use.Date_transferred || use.getIsPickedUp()"><i class="icon-pencil"></i></button>
                    </td>
                    <td>
                        <span ng-if="use.Date_transferred">Transferred: {{use.Date_transferred | dateToISO}}</span>
                        <span ng-if="!use.Date_transferred">{{use.Date_used || use.Date_transferred | dateToISO:use:'Date_used':true}}</span>
                    </td>
                    

                    <td>
                        <span ng-if="!use.Date_transferred">{{use.Experiment_use}}</span>
                        <span ng-if="use.Date_transferred">{{use.Comments || 'Tranfser'}}</span>
                    </td>
                    

                    <td>
                        {{use.Quantity}} mCi
                    </td>

                    <td class="use-amounts">
                        <table class="table">
                            <tr class="table-row row-fluid">
                                <td class="use-amount solids">
                                    <div ng-repeat="solid in use.solids = (use.ParcelUseAmounts | filter:{Waste_type_id:constants.WASTE_TYPE.SOLID})">
                                        <span class="bold">Sol: </span>{{solid.Curie_level}}mCi in {{solid.Container_name}}<i title="Picked Up" ng-if="solid.IsPickedUp" class="danger icon-remove"></i>
                                    </div>
                                    <div ng-if="!use.solids.length">No Solid Disposals</div>
                                </td>
                                <td class="use-amount liquids">
                                    <div ng-repeat="liquid in liquids = (use.ParcelUseAmounts | filter:{Waste_type_id:constants.WASTE_TYPE.LIQUID})">
                                        <span class="bold">Liq:</span> {{liquid.Curie_level}}mCi in Carboy {{liquid.Carboy.Carboy.Carboy_number}} <i title="Picked Up" ng-if="liquid.IsPickedUp" class="danger icon-remove"></i>
                                    </div>
                                    <div ng-if="!liquids.length">No Liquid Disposals</div>
                                </td>
                                <td class="use-amount vials">
                                    <div ng-repeat="vial in vials = (use.ParcelUseAmounts | filter:{Waste_type_id:constants.WASTE_TYPE.VIAL})">
                                        <span class="bold">S/V:</span> {{vial.Curie_level}}mCi <i title="Picked Up" ng-if="vial.IsPickedUp" class="danger icon-remove"></i>
                                    </div>
                                    <div ng-if="!vials.length">No vial Disposals</div>
                                </td>
                                <td class="use-amount others">
                                    <span class="bold" style="margin-bottom:10px;display:block">Other:<span class="bold" ng-show="!others.length">N/A</span></span>
                                    <div ng-repeat="other in others = (use.ParcelUseAmounts | filter:{Waste_type_id:constants.WASTE_TYPE.OTHER})">
                                         {{other.Curie_level}} mCi <span ng-if="other.Comments"><br />{{other.Comments}}</span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        
                    </td>
            </table>
        </div>
    </div>
