  <div cg-busy="{promise:piPromise,message:'Loading', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
    
    <div class="alert alert-info inventory-due-message" ng-if="pi && pi.Quarterly_inventories.length && !pi.Quarterly_inventories[0].Sign_off_date">
        <h3>You have an inventory due on {{pi.Quarterly_inventories[0].Due_date | dateToISO}} <a ui-sref="quarterly-inventory({ pi: pi.Key_id})" class="btn">View Inventory</a></h3>
    </div>    

    <div class="alert alert-danger inventory-due-message" ng-if="pi && getNeedsLabWipes(pi)">
        <h3>You have uses within the last week, but haven't recorded a wipe test. <a ui-sref="lab-wipes({ pi: pi.Key_id})" class="btn">Your Wipe Tests</a></h3>
    </div>  

    <div class="alert alert-danger inventory-due-message" ng-if="piAuth === null">
        <h3>You have no Authorization. Functionality will be limited.</h3>
    </div>

    <div class="alert alert-danger inventory-due-message" ng-if="piAuth.Termination_date">
        <h3>Your Authorization #{{piAuth.Authorization_number}} is Terminated. Functionality will be limited.</h3>
    </div>

    <div class="centerIcons" ng-if="pi" ng-class="{'move-down': pi.Quarterly_inventories.length && !pi.Quarterly_inventories[0].Sign_off_date || (pi && getNeedsLabWipes(pi))}">      
      <div class="span2 rsmsCenterIconContainer">
        <a class="span12 parcels" style="background: rgb(122, 6, 109);" ui-sref="pi-orders({ pi: pi.Key_id})">
          <i class="icon-box"></i>
          <p>Orders</p>
        </a>
      </div>
    <div class="span2 rsmsCenterIconContainer" style="margin-bottom:30px;">
      <a href="hubs/emergencyInformationHub.php" class="span12" style="background: #e67e1d;" ui-sref="use-log({ pi: pi.Key_id})">
          <i class="icon-list-2"></i>
        <p>Use Logs</p>
      </a>
    </div>

    <div class="span2 rsmsCenterIconContainer" style="margin-bottom:30px;">
        <a class="span12" style="background: rgb(122, 6, 109);" ui-sref="pickups({ pi: pi.Key_id})">
          <i class="icon-box-remove"></i>
          <p>Pickups</p>
        </a>
    </div>
     
    <div class="span2 rsmsCenterIconContainer" style="margin-bottom:30px;">
      <a class="bg-color-green span12" style="background: rgb(251, 37, 37);" ui-sref="containers({ pi: pi.Key_id})">
      <i class="icon-remove-2"></i>
        <p>Waste Containers</p>
      </a>
    </div>

    <div class="span2 rsmsCenterIconContainer" style="margin-bottom:30px;">
        <a class="bg-color-blue span12" style="background: rgb(251, 37, 37);" ui-sref="current-inventories({ pi: pi.Key_id})">
            <i class="icon-clipboard-2"></i>
            <p>Current Inventories</p>
        </a>
    </div>

    <div class="span2 rsmsCenterIconContainer" style="margin-bottom:30px;">
        <a class="bg-color-purple span12" style="background: rgb(251, 37, 37);" ui-sref="lab-wipes({ pi: pi.Key_id})">
            <i class="icon-paper-2"></i>
            <p>Wipe Tests</p>
        </a>
    </div>

    <div class="span2 rsmsCenterIconContainer" style="margin-bottom:30px;">
        <a class="bg-color-blue span12" style="background: rgb(251, 37, 37);" ui-sref="pi-auths({ pi: pi.Key_id})">
            <i class="icon-unlocked-2"></i>
            <p>Authorizations</p>
        </a>
    </div>


  </div>

  <div class="centerIcons" ng-if="pi">



  </div>