<div cg-busy="{promise:PickupSaving,message:'Saving Pickup', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:ScintVialCollectionSaving,message:'Saving Pickup', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:WasteBagSaving,message:'Saving Pickup', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:CarboyUseCycleSaving,message:'Saving Pickup', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:piPromise,message:'Loading', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>

<div style="margin-top: 70px;" ng-if="pi" ng-init="getCurrentPickup(pi)">
    <div class="card full two-thirds pickup-collection">
        <h2 style="padding:10px;">
            <span ng-if="!CurrentPickup && !containers.length">No Waste is ready for pickup</span>
            <span ng-if="!CurrentPickup && containers.length">Containers Ready for Pickup</span>
            <span ng-if="CurrentPickup">Containers In Pickup Requested {{CurrentPickup.Requested_date | dateToIso}}</span>
        </h2>
        <containers containers="containers"></containers>
        <div style="padding:10px;" ng-if="containers.length">
            <label>Notes:</label>
            <textarea ng-init="pickupNotes = CurrentPickup.Notes" rows="3" style="width:90%" ng-model="pickupNotes"></textarea>
        </div>
        <div style="padding:10px;" ng-if="containers.length">
            <button ng-click="createPickup(containers,pi,pickupNotes)" class="btn btn-success btn-large left" ng-disabled="!pi.CurrentWasteBag.Contents.length && pi.CurrentScintVialCollection && pi.CarboyUseCycles">
                <i class="icon-box-remove"></i>
                <span ng-if="!CurrentPickup"> Request Pickup</span>
                <span ng-if="CurrentPickup"> Update Pickup</span>
            </button>
        </div>
    </div>        
</div>
