<div style="margin-top:70px;" ng-if="pi">
    <div class="card full parcels">
        <h3 class="card-header  padding" ng-if="pi.ActiveParcels"><i class="icon-box"></i>You have <span class="bold">{{pi.ActiveParcels.length}} Package<span ng-if="pi.ActiveParcels.length != 1">s</span></span></h3>
        <h3 class="card-header parcels padding" ng-if="!pi.ActiveParcels.length">You have no Packages</h3>
        <span ng-if="pi.SolidsContainers" ng-init="pi.loadWasteBags()"></span>
        <div class="card-content">
            <div class="fake-table striped bordered">
                <div class="table-header">
                    <h3>Use Log</h3>
                    <h3>R.S. Number</h3>
                    <h3>Isotope</h3>
                    <h3>Arrival Date</h3>
                    <h3>Orginal Activity</h3>
                    <h3>Usable Activity</h3>
                    <h3>Amount On Hand</h3>
                </div>
                <div class="table-row" ng-repeat="parcel in pi.ActiveParcels | parcelsInLab" ng-class="{'inactive':!parcel.Is_active}">
                    <div>
                        <a ui-sref="parcel-use-log({ pi: pi.Key_id, parcel: parcel.Key_id})" class="btn left btn-info">
                            <i class="icon-list-2"></i>Use log
                        </a>
                    </div>

                    <div>
                        {{parcel.Rs_number}}
                    </div>

                    <div>
                        {{parcel.Authorization.IsotopeName}}
                    </div>

                    <div>
                        <span ng-if="parcel.Arrival_date && parcel.Arrival_date != '0000-00-00 00:00:00'">{{parcel.Arrival_date | dateToISO}}</span>
                        <span ng-if="parcel.Transfer_in_date">{{parcel.Transfer_in_date | dateToISO}}</span>
                    </div>

                    <div>
                        {{parcel.Quantity}} mCi
                    </div>

                    <div>
                        {{parcel.Remainder}} mCi
                    </div>

                    <div>
                        {{parcel.AmountOnHand}} mCi
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
