<div style="margin-top:70px;" ng-if="pi">
    <div class="card full parcels">
        <h3 class="card-header  padding" ng-if="pi.ActiveParcels"><i class="icon-box"></i>You have <span class="bold">{{pi.ActiveParcels.length}} Package<span ng-if="pi.ActiveParcels.length != 1">s</span></span></h3>
        <h3 class="card-header parcels padding" ng-if="!pi.ActiveParcels.length">You have no Packages</h3>
        <div class="card-content">
            <div class="fake-table striped bordered">
                <div class="table-header">
                    <h3>Use Log</h3>
                    <h3>R.S. Number</h3>
                    <h3>Isotope</h3>
                    <h3>Arrival Date</h3>
                    <h3>Orginal Quantity</h3>
                    <h3>Remaining Quantity</h3>
                </div>
                <div class="table-row" ng-repeat="parcel in pi.ActiveParcels" ng-class="{'inactive':!parcel.Is_active}">
                    <div>
                        <a ui-sref="parcel-use-log({ pi: pi.Key_id, parcel: parcel.Key_id})" class="btn left btn-info">
                            <i class="icon-list-2"></i>Use log
                        </a>
                    </div>

                    <div>
                        {{parcel.Rs_number}}
                    </div>

                    <div>
                        {{parcel.Isotope.Name}}
                    </div>

                    <div>
                        {{parcel.Arrival_date | dateToISO}}
                    </div>

                    <div>
                        {{parcel.Quantity}} mCi
                    </div>

                    <div>
                        {{parcel.Remainder}} mCi
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
