<div class="modal-header" style="padding:0;" class="">
    <h2 style="padding:5px" class="redBg">Remove Corrective Action?</h2>
</div>
<div class="modal-body">
    <h2>This will permanently the entered corrective action.</h2>
</div>
<div class="modal-footer">
    <i class="icon-spinnery-dealie spinner small" ng-if="dirty"></i>
    <a class="btn btn-large hazardBtn btn-warning left" ng-click="deleteCorrectiveAction(def)"><i class="icon-remove"></i>Remove Corrective Action</a>
    <a class="btn btn-danger hazardBtn btn-large left" ng-click="cancel()"><i class="icon-cancel-2"></i>Cancel</a>
</div>
