<div class="modal-header" style="padding:0;" class="">
    <h2 style="padding:5px" ng-if="!modalData.Key_id" class="redBg">Add a corrective action</h2>
</div>
<div class="modal-body">
    <h4 ng-if="validationError" class="alert alert-danger">{{validationError}}</h4>
    <h3>Audit Criteria:</h3>
    <p>{{question.Text}}</p>

    <h3>Deficiency:</h3>
    <p ng-if="def.Deficiency.Text != 'Other'">{{def.Deficiency.Text}}</p>
    <p ng-if="def.Deficiency.Text == 'Other'">{{def.Other_text}}</p>

    <form class="form">
        <div class="control-group">
            <label class="bold"><i class="icon-checkmark-2" ng-show="def.CorrectiveActionCopy.Status == Constants.CORRECTIVE_ACTION.STATUS.ACCEPTED" style="color:#090"></i>Corrective Action Status (Select One)</label>
            <label class="checkbox" ng-repeat="status in options" style="padding-top:4px">
                <input type="checkbox" ng-true-value="{{status.Value}}" ng-model="copy.Status" />
                <span class="metro-checkbox">{{status.Label}}</span>
            </label>
        </div>
        <div class="control-group">
            <label class="control-label bold" for="inputEmail">Describe Corrective Action:</label>
            <div class="controls">
                <textarea ng-model="copy.Text"></textarea>
            </div>
        </div>

        <div class="control-group" ng-if="copy.Status == Constants.CORRECTIVE_ACTION.STATUS.PENDING">
            <label class="control-label bold">Anticipated Completion Date:</label>
            <div class="controls">
                <datepicker2 ng-model='dates.promisedDate' disable-timepicker='true' date-filter='todayOrAfter'></datepicker2>
            </div>
        </div>
        <div class="control-group" ng-if="copy.Status == Constants.CORRECTIVE_ACTION.STATUS.COMPLETE">
            <label class="control-label bold">Completion Date:</label>
            <div class="controls">
                <datepicker2 ng-model='dates.completionDate' disable-timepicker='true' date-filter='afterInspection'></datepicker2>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <i class="icon-spinnery-dealie spinner small" ng-if="dirty"></i>
    <span ng-if="copy.Text">
        <a class="btn btn-success hazardBtn btn-large" ng-if="(copy.Status == Constants.CORRECTIVE_ACTION.STATUS.PENDING && dates.promisedDate) || (copy.Status == Constants.CORRECTIVE_ACTION.STATUS.COMPLETE && dates.completionDate)" ng-click="saveCorrectiveAction(copy, copy)"><i class="icon-checkmark"></i>Save</a>
        <a disabled="disabled" class="btn btn-success hazardBtn btn-large" ng-if="(copy.Status == Constants.CORRECTIVE_ACTION.STATUS.PENDING && !dates.promisedDate) || (copy.Status == Constants.CORRECTIVE_ACTION.STATUS.COMPLETE && !dates.completionDate)"><i class="icon-checkmark"></i>Save</a>
    </span>
    <span ng-if="!copy.Text">
        <a disabled="disabled" class="btn btn-success hazardBtn btn-large"><i class="icon-checkmark"></i>Save</a>
    </span>
    <a class="btn btn-danger hazardBtn btn-large left" ng-click="cancel()"><i class="icon-cancel-2"></i>Cancel</a>
</div>
