<tr ng-if="hasNegativeRespones(checklist.Questions)" class="no-hover"><td colspan="4" class="checklistHeader {{checklist.Questions[0].ChecklistName}}">{{checklist.Name}}</td></tr>
<tr ng-repeat="question in (negs = checklist.Questions | isNegative | orderBy: 'Order_index')">
<td colspan="2" style="padding:0 !Important;">
    <table class="table nested-table" style="border-spacing:0 !important" watched="{{question.Responses.DeficiencySelections.length}}">
        <tr ng-if="!question.Responses.DeficiencySelections.length && !question.Responses.SupplementalDeficiencies.length">
            <td colspan=4>Unknown Deficiency</td>
        </tr>
        <tr ng-repeat="def in question.Responses.DeficiencySelections">
            <td ng-if="def.Deficiency.Text" style="padding:16px !important;width:58%">
                <span ng-if="def.Deficiency.Text != 'Other'">
                    {{def.Deficiency.Text}}<span ng-if="def.Rooms.length && def.Show_rooms" style="display:inline"> (Room<span ng-if="def.Rooms.length>1">s</span>: <span ng-repeat="room in def.Rooms">{{room.Name}}<span ng-if="!$last">, </span></span>)</span>
                </span>
                <span ng-if="def.Deficiency.Text == 'Other'">
                    {{def.Other_text}}<span style="display:inline" ng-if="def.Rooms.length && def.Show_rooms"> (Room<span ng-if="def.Rooms.length>1">s</span>: <span ng-repeat="room in def.Rooms">{{room.Name}}<span ng-if="!$last">, </span></span>)</span>
                </span>
            
            </td>
            <td style="padding:16px !important;" ng-if="!def.Deficiency.Text">
                Unknown Deficiency
                <ul ng-if="def.Rooms.length < getNumberOfRoomsForQuestionByChecklist(question)" class="subRooms" style="margin-left:0">
                    <li>Room<span ng-if="def.Rooms.length>1">s</span>:</li>
                    <li ng-repeat="room in def.Rooms">{{room.Name}}</li>
                </ul>
            </td>

            <td style="padding:15px !important;" class="{{def.CorrectiveActions[0].Status}}" ng-if="def.Corrected_in_inspection < 1">
                <div>
                    <div class="inner-action" ng-if="!def.CorrectiveActions.length || def.CorrectiveActions[0].Status == Constants.CORRECTIVE_ACTION.STATUS.INCOMPLETE">
                        <div style="text-align:center">
                            <a class="btn btn-danger btn-larger left" ng-if="!inspection.Date_closed" ng-click="openModal(question, def)">
                                <i class="icon-plus-2"></i>Add Corrective Action
                            </a>
                        </div>
                    </div>

                    <div class="inner-action" ng-if="def.CorrectiveActions.length && def.CorrectiveActions[0].Status == Constants.CORRECTIVE_ACTION.STATUS.PENDING">
                        <i class="icon-spinnery-dealie spinner small" ng-if="def.CorrectiveActions[0].dirty"></i>

                        <h4 class="bold">Pending Corrective Action:</h4>
                        <p ng-bind-html="def.CorrectiveActions[0].Text | sanitize"></p>

                        <h4 class="bold">Anticipated Completion Date:</h4>
                        <p ng-if="def.CorrectiveActions[0].Promised_date">{{def.CorrectiveActions[0].Promised_date | dateToISO:def.CorrectiveActions[0]:'Promised_date'}}</p>

                        <p ng-if="def.CorrectiveActions[0].Needs_facilities">{{Constants.CORRECTIVE_ACTION.NO_COMPLETION_DATE_REASON.NEEDS_FACILITIES.LABEL}}</p>
                        <p ng-if="def.CorrectiveActions[0].Needs_ehs">{{Constants.CORRECTIVE_ACTION.NO_COMPLETION_DATE_REASON.NEEDS_EHS.LABEL}}</p>
                        <p ng-if="def.CorrectiveActions[0].Insuficient_funds">{{Constants.CORRECTIVE_ACTION.NO_COMPLETION_DATE_REASON.INSUFFICIENT_FUNDS.LABEL}}</p>
                        <p ng-if="def.CorrectiveActions[0].Other_reason">{{def.CorrectiveActions[0].Other_reason}}</p>

                    </div>

                    <div class="inner-action" ng-if="def.CorrectiveActions.length && def.CorrectiveActions[0].Status == Constants.CORRECTIVE_ACTION.STATUS.COMPLETE">
                        <h4 class="bold">Completed Corrective Action:</h4>
                        <p ng-bind-html="def.CorrectiveActions[0].Text | sanitize"></p>

                        <h4 class="bold">Completion Date:</h4>
                        <p>{{def.CorrectiveActions[0].Completion_date | dateToISO:def.CorrectiveActions[0]:'Completion_date'}}</p>
                    </div>
                </div>
                <div class="lower-right-buttons" ng-if="def.CorrectiveActions[0] && !inspection.Date_closed">
                    <a class="btn btn-small btn-primary" ng-click="openModal(question, def)"><i class="icon-pencil"></i></a>
                    <a class="btn btn-small btn-danger" ng-click="openDeleteModal(def)"><i class="icon-remove"></i></a>
                </div>
            </td>
            <td style="padding:15px !important;" class="corrective-action corrected-during-inspection" ng-if="def.Corrected_in_inspection > 0" >
                <h3 class="bold inner-action">
                    Corrected during inspection
                </h3>              
            </td>
        </tr>
        <tr ng-repeat="def in question.Responses.SupplementalDeficiencies">
            <td ng-if="def.Text" style="padding:16px !important;width:58%">
                {{def.Text}}<span ng-if="def.Rooms.length && def.Show_rooms" style="display:inline"> (Room<span ng-if="def.Rooms.length>1">s</span>: <span ng-repeat="room in def.Rooms">{{room.Name}}<span ng-if="!$last">, </span></span>)</span>
            </td>
            <td style="padding:16px !important;" ng-if="!def.Text">
                Unknown Deficiency
                <ul ng-if="def.Rooms.length < getNumberOfRoomsForQuestionByChecklist(question)" class="subRooms" style="margin-left:0">
                    <li>Room<span ng-if="def.Rooms.length>1">s</span>:</li>
                    <li ng-repeat="room in def.Rooms">{{room.Name}}</li>
                </ul>
            </td>

            <td style="padding:15px !important;" class="{{def.CorrectiveActions[0].Status}}">
                <div>
                    <div class="inner-action" ng-if="def.Corrected_in_inspection < 1 && !def.CorrectiveActions.length || def.CorrectiveActions[0].Status == Constants.CORRECTIVE_ACTION.STATUS.INCOMPLETE">
                        <div style="text-align:center">
                            <a class="btn btn-danger btn-larger left" ng-if="!inspection.Date_closed" ng-click="openModal(question, def)">
                                <i class="icon-plus-2"></i>Add Corrective Action
                            </a>
                        </div>
                    </div>

                    <div class="inner-action" ng-if="def.CorrectiveActions.length && def.CorrectiveActions[0].Status == Constants.CORRECTIVE_ACTION.STATUS.PENDING">
                        <h4 class="bold">Planned Corrective Action:</h4>
                        <p ng-bind-html="def.CorrectiveActions[0].Text | sanitize"></p>

                        <h4 class="bold">Anticipated Completion Date:</h4>
                        <p ng-if="def.CorrectiveActions[0].Promised_date">{{def.CorrectiveActions[0].Promised_date | dateToISO:def.CorrectiveActions[0]:'Promised_date'}}</p>

                        <p ng-if="def.CorrectiveActions[0].Needs_facilities">{{Constants.CORRECTIVE_ACTION.NO_COMPLETION_DATE_REASON.NEEDS_FACILITIES.LABEL}}</p>
                        <p ng-if="def.CorrectiveActions[0].Needs_ehs">{{Constants.CORRECTIVE_ACTION.NO_COMPLETION_DATE_REASON.NEEDS_EHS.LABEL}}</p>
                        <p ng-if="def.CorrectiveActions[0].Insuficient_funds">{{Constants.CORRECTIVE_ACTION.NO_COMPLETION_DATE_REASON.INSUFFICIENT_FUNDS.LABEL}}</p>
                        <p ng-if="def.CorrectiveActions[0].Other_reason">{{def.CorrectiveActions[0].Other_reason}}</p>
                    </div>

                    <div class="inner-action" ng-if="def.CorrectiveActions.length && def.CorrectiveActions[0].Status == Constants.CORRECTIVE_ACTION.STATUS.COMPLETE">
             
                        <h4 class="bold">Completed Corrective Action:</h4>
                        <p ng-bind-html="def.CorrectiveActions[0].Text | sanitize"></p>

                        <h4 class="bold">Completion Date:</h4>
                        <p>{{def.CorrectiveActions[0].Completion_date | dateToISO:def.CorrectiveActions[0]:'Completion_date'}}</p>
                    </div>

                    <div class="inner-action" ng-if="def.Corrected_in_inspection > 0">
                        <h3 class="bold">
                            Corrected during inspection
                        </h3>
                    </div>

                </div>
                <div class="lower-right-buttons" ng-if="def.CorrectiveActions[0] && !inspection.Date_closed">
                    <a class="btn btn-small btn-primary" ng-click="openModal(question, def)"><i class="icon-pencil"></i></a>
                    <a class="btn btn-small btn-danger" ng-click="openDeleteModal(def)"><i class="icon-remove"></i></a>
                </div>

                
            </td>
            
        </tr>
    </table>
</td>
<td ng-bind-html="question.Description | sanitize" class="sanitized" style="padding:10px !important;"></td>
<td ng-bind-html="question.Reference | sanitize" class="sanitized" style="padding:10px !important;"></td>
</tr>
