<tr ng-if="hasNegativeRespones(checklist.Questions)" class="no-hover"><td colspan="4" class="checklistHeader {{checklist.Questions[0].ChecklistName}}">{{checklist.Name}}</td></tr>
<tr ng-repeat="question in (negs = checklist.Questions | isNegative | orderBy: 'Order_index')">
<td colspan="2" style="padding:0;">
    <table class="table nested-table" style="border-spacing:0 !important" watched="{{question.Responses.DeficiencySelections.length}}">
    <tr ng-if="!question.Responses.DeficiencySelections.length">
        <td colspan=4>Unknown Deficiency</td>
    </tr>
    <tr ng-repeat="def in question.Responses.DeficiencySelections">
        <td ng-if="def.Deficiency.Text" style="padding:16px !important;width:58%">
            <span ng-if="def.Deficiency.Text != 'Other'">
                {{def.Deficiency.Text}}<span ng-if="def.Rooms.length && def.Show_rooms" style="display:inline"> (Room<span ng-if="def.Rooms.length>1">s</span>: <span ng-repeat="room in def.Rooms">{{room.Name}}<span ng-if="!$last">, </span></span>)</span>
            </span>
            <span ng-if="def.Deficiency.Text == 'Other'">
                {{def.Other_text}}<span style="display:inline" ng-if="def.Rooms.length && def.Show_rooms"> (Room<span ng-if="def.Rooms.length>1">s</span>: <span ng-repeat="room in def.Rooms">{{room.Name}}<span ng-if="!$last">, </span></span>)</span>
            </span>
            
        </td>
        <td style="padding:16px !important;" ng-if="!def.Deficiency.Text">
            Unknown Deficiency
            <ul ng-if="def.Rooms.length < getNumberOfRoomsForQuestionByChecklist(question)" class="subRooms" style="margin-left:0">
                <li>Room<span ng-if="def.Rooms.length>1">s</span>:</li>
                <li ng-repeat="room in def.Rooms">{{room.Name}}</li>
            </ul>
        </td>

        <td style="padding:15px !important;" class="{{def.CorrectiveActions[0].Status}}" ng-if="def.Corrected_in_inspection < 1">
            <div>
                <div class="inner-action" ng-if="!def.CorrectiveActions.length || def.CorrectiveActions[0].Status == Constants.CORRECTIVE_ACTION.STATUS.INCOMPLETE">
                    <div style="text-align:center">
                        <a class="btn btn-danger btn-larger left" ng-click="openModal(question, def)">
                            <i class="icon-plus-2"></i>Add Corrective Action
                        </a>
                    </div>
                </div>

                <div class="inner-action" ng-if="def.CorrectiveActions.length && def.CorrectiveActions[0].Status == Constants.CORRECTIVE_ACTION.STATUS.PENDING">
                    <a class="btn btn-primary left" ng-click="openModal(question, def)">
                        <i class="icon-pencil"></i>Edit
                    </a>
                    <i class="icon-spinnery-dealie spinner small" ng-if="def.CorrectiveActions[0].dirty"></i>

                    <h4 class="bold">Pending Corrective Action:</h4>
                    <p>{{def.CorrectiveActions[0].Text}}</p>

                    <h4 class="bold">Anticipated Completion Date:</h4>
                    <p>{{def.CorrectiveActions[0].Promised_date | dateToISO:def.CorrectiveActions[0]:'Promised_date'}}</p>
                </div>

                <div class="inner-action" ng-if="def.CorrectiveActions.length && def.CorrectiveActions[0].Status == Constants.CORRECTIVE_ACTION.STATUS.COMPLETE">
                    <a ng-click="openModal(question, def)" class="btn btn-primary left">
                        <i class="icon-pencil"></i>Edit
                    </a>
                    <h4 class="bold">Completed Corrective Action:</h4>
                    <p>{{def.CorrectiveActions[0].Text}}</p>

                    <h4 class="bold">Completion Date:</h4>
                    <p>{{def.CorrectiveActions[0].Completion_date | dateToISO:def.CorrectiveActions[0]:'Completion_date'}}</p>
                </div>
            </div>
        </td>
        <td class="corrective-action" ng-if="def.Corrected_in_inspection > 0" style="padding:15px !important;" >
            <div>
                <div>
                   <h3 class="bold inner-action">
                        Corrected during inspection
                    </h3>
                </div>
            </div>
        </td>
    </table>
</td>
<td once-text="question.Description" style="padding:10px !important;"></td>
<td once-text="question.Reference" style="padding:10px !important;"></td>
</tr>
