<tr ng-if="hasNegativeRespones(q)"><td colspan="4" class="checklistHeader">{{key}}</td></tr>
<tr ng-repeat="question in q | isNegative">
<td colspan="2" style="padding:0;">
<!--<pre>{{question | json}}</pre>-->
    <div class="row-fluid" ng-if="!question.Responses.DeficiencySelections.length" style="padding:16px">Unknown Deficiency</div>
    <div class="row-fluid" ng-repeat="def in question.Responses.DeficiencySelections" >

        <span class="span6" ng-if="def.Deficiency.Text">
            <span ng-if="def.Deficiency.Text != 'Other'" once-text="def.Deficiency.Text"></span>
            <span ng-if="def.Deficiency.Text == 'Other'" once-text="def.Other_text"></span>
            <ul ng-if="def.Rooms.length && def.Show_rooms" class="subRooms" style="margin-left:0">
                <li>Room<span ng-if="def.Rooms.length>1">s</span>:</li>
                <li ng-repeat="room in def.Rooms">{{room.Name}}</li>
            </ul>
        </span>
        <span class="span6" style="padding:16px;" ng-if="!def.Deficiency.Text">
            Unknown Deficiency
            <ul ng-if="def.Rooms.length < getNumberOfRoomsForQuestionByChecklist(question)" class="subRooms" style="margin-left:0">
                <li>Room<span ng-if="def.Rooms.length>1">s</span>:</li>
                <li ng-repeat="room in def.Rooms">{{room.Name}}</li>
            </ul>
        </span

        <span style="padding:16px;" class="span6 {{def.CorrectiveActions[0].Status}}">
            <span ng-if="!def.Deficiency.Text">
                Unknown Deficiency
            </span>
            <span ng-if="def.Deficiency.Text">
                <span ng-if="def.Corrected_in_inspection < 1" class="corrective-action">
                    <div class="" ng-if="!def.CorrectiveActions.length || def.CorrectiveActions[0].Status == Constants.CORRECTIVE_ACTION.STATUS.INCOMPLETE">
                        <div>
                            <a class="btn btn-danger btn-larger left" ng-click="openModal(question, def)">
                                <i class="icon-plus-2"></i>Add Corrective Action
                            </a>
                        </div>
                    </div>

                    <div class="" ng-if="def.CorrectiveActions.length && def.CorrectiveActions[0].Status == Constants.CORRECTIVE_ACTION.STATUS.PENDING">
                        <a class="btn btn-primary left" ng-click="openModal(question, def)">
                            <i class="icon-pencil"></i>Edit
                        </a>
                        <a ng-click="complete(def.CorrectiveActions[0])" class="btn btn-success left">
                            <i class="icon-checkmark"></i>Complete
                        </a>
                        <i class="icon-spinnery-dealie spinner small" ng-if="def.CorrectiveActions[0].dirty"></i>

                        <h4 class="bold">Pending Corrective Action:</h4>
                        <p>{{def.CorrectiveActions[0].Text}}</p>

                        <h4 class="bold">Anticipated Completion Date:</h4>
                        <p>{{def.CorrectiveActions[0].Promised_date | dateToISO:def.CorrectiveActions[0]:'Promised_date'}}</p>
                    </div>

                    <div class="" ng-if="def.CorrectiveActions.length && def.CorrectiveActions[0].Status == Constants.CORRECTIVE_ACTION.STATUS.COMPLETE">
                        <a ng-click="openModal(question, def)" class="btn btn-primary left">
                            <i class="icon-pencil"></i>Edit
                        </a>
                        <h4 class="bold">Completed Corrective Action:</h4>
                        <p>{{def.CorrectiveActions[0].Text}}</p>

                        <h4 class="bold">Completion Date:</h4>
                        <p>{{def.CorrectiveActions[0].Completion_date | dateToISO:def.CorrectiveActions[0]:'Completion_date'}}</p>

                    </div>
                </span>
            </span>

                <h3 ng-if="def.Corrected_in_inspection > 0" class="bold">
                    Corrected during inspection
                </h3>
        </span>
    </div>
</span>
</td>
<td once-text="question.Description"></td>
<td once-text="question.Reference"></td>
</tr>
