<h2>Please select personnel to receive the lab safety inspection report:</h2>
<div class="loading" ng-show='!inspection' >
  <img class="" src="../../img/loading.gif"/>
 Building List
</div>
<span ng-if='inspection'>

<form class="form" style="margin-top:35px;">
  <div class="control-group">
      <div class="controls">
        <label class="checkbox">
           <input type="checkbox" ng-model="inspection.PrincipalInvestigator.User.include" ng-init="inspection.PrincipalInvestigator.User.include = true" ng-change="handleContactList(inspection.PrincipalInvestigator.User)"><span class="metro-checkbox">{{inspection.PrincipalInvestigator.User.Name}}</span>
        </label>
        </label>
      </div>
  </div>

  <div class="control-group" ng-repeat="contact in inspection.PrincipalInvestigator.LabPersonnel">
      <div class="controls">
        <label class="checkbox">
           <input type="checkbox" ng-model="contact.include" ng-change="handleContactList(contact)"><span class="metro-checkbox">{{contact.Name}}</span>
        </label>
        </label>
      </div>
  </div>


  <div class="control-group" style="margin-top:15px;">
      <div class="controls" ng-repeat="other in others">
        <label class="control-label" for="inputEmail" style="float: left; margin: 4px 10px 0 0;">Other Recipient</label>
         <div class="controls">
            <input type="text" id="inputEmail" ng-model="other.email" placeholder="Email">
         </div>
      </div>
  </div>

  <textarea ng-model="defaultNote.Text" style="width:800px;" rows="10" html-text></textarea><br>

  <a ng-click="sendEmail()" class="btn btn-large btn-success left" style="float:left;"><i class="icon-email"></i>Send Inspection Report</a>
  <img style="margin-top: 18px;" ng-show="sending" class="smallLoading" src="../../img/loading.gif"/>
  <div ng-if="emailSent" class="alert span-5" style="float: left; font-size: 30px; margin-left: 15px; padding: 14px;" ng-class="{'alert-success': emailSent == 'success', 'alert-error': emailSent == 'error'}">
    <span ng-if="emailSent == 'success'">The email was sent successfully.</span>
    <span ng-if="emailSent == 'error'">There was a problem sending the email.</span>
  </div>


</form>


</span>
