<div class="modal-header" style="padding:0;" class="">
    <h2 style="padding:5px" ng-if="!modalData.Key_id" class="redBg">Submit Corrective Action Plan?</h2>
</div>
<div class="modal-body">
<!--<pre>{{def|json}}</pre>-->
    <h4 ng-if="validationError" class="alert alert-danger">{{validationError}}</h4>
    <span ng-if="totals">
        <h3 ng-if="inspection.Cap_submitted_date && inspection.Cap_submitted_date != '0000-00-00 00:00:00'">Your corrective action plan was submitted on {{inspection.Cap_submitted_date | dateToISO}}</h3>
        <h3>All of your corrective actions have a status of Pending or Complete</h3>
        <p>You have <span ng-if="pendings" style="color:orange" class="bold">{{pendings}} pending corrective action<span ng-if="pendings.length>1">s</span> </span><span ng-if="pendings && completes">and </span><span ng-if="completes" style="color:green" class="bold">{{completes}} completed corrective action<span ng-if="completes.length>1">s</span>.
        </p>
    </span>
    <span ng-if="!totals">
        <h3>No Deficiencies were found during the inspection.</h3>
    </span>

</div>
<div class="modal-footer" ng-if="totals">
    <a ng-if="!totals" class="btn btn-danger left btn-large" ng-click="cancel()"><i class="icon-cancel-2"></i>Close</a>
    <span ng-if="totals">
        <span ng-if="!inspection.Cap_submitted_date || inspection.Cap_submitted_date == '0000-00-00 00:00:00'">
            <i class="icon-spinnery-dealie spinner small" ng-if="dirty"></i>
            <a class="btn btn-success left btn-large" ng-click="closeOut()"><i class="icon-checkmark"></i>Submit CAP</a>
        </span>
        <a class="btn btn-danger left btn-large" ng-click="cancel()"><i class="icon-cancel-2"></i><span ng-if="!inspection.Cap_submitted_date || inspection.Cap_submitted_date == '0000-00-00 00:00:00'">Not Yet</span><span ng-if="inspection.Cap_submitted_date && inspection.Cap_submitted_date != '0000-00-00 00:00:00'">Close</span></a>
    </span>
</div>
