<div cg-busy="{promise:InspectionPromise,message:'Loading Inspection', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:InspectionWipeSaving,message:'Saving Smear', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:InspectionWipeTestSaving,message:'Creating Wipe Test', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:SavingSmears,message:'Saving Smears', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div class="inspection-well super well">
	<h1 ng-if="inspection.PrincipalInvestigator">Inspection of {{inspection.PrincipalInvestigator.User.Name}}'s Labs started on {{inspection.Date_started|dateToISO}}
	<a class="btn btn-info btn-large"  href="http://radon.qa.sc.edu/rsms/views/inspection/InspectionConfirmation.php#/report?inspection={{inspection.Key_id}}">Inspection Report</a>
	</h1>
	<div class="card super wipe-tests" ng-if="inspection.PrincipalInvestigator">
		
		<h3 class="card-header padding">
			<i class="icon-paper"></i>Wipe Test

   			<form class="form-inline" style="display:inline-block; margin:0 10px;" ng-if="inspection.Inspection_wipe_tests[0].edit">
				<label class="bold">Instrument: </label>
				<select ng-model="InspectionWipeTestCopy.Reading_type" style="width:110px">
                        <option value="{{Constants.WIPE_TEST.READING_TYPE.LSC}}">{{Constants.WIPE_TEST.READING_TYPE.LSC}}</option>
                        <option value="{{Constants.WIPE_TEST.READING_TYPE.ALPHA_BETA}}">{{Constants.WIPE_TEST.READING_TYPE.ALPHA_BETA}}</option>
                        <option value="{{Constants.WIPE_TEST.READING_TYPE.MCA}}">{{Constants.WIPE_TEST.READING_TYPE.MCA}}</option>
				</select>

				<a ng-if="!InspectionWipeTestCopy.Key_id" ng-click="af.saveInspectionWipeTest(InspectionWipeTestCopy, null, inspection)" class="left btn btn-success"><i class="icon-plus-2"></i>Create Wipe Test</a>

				<a ng-if="InspectionWipeTestCopy.Key_id" ng-click="af.saveInspectionWipeTest(InspectionWipeTestCopy, inspection.Inspection_wipe_tests[0], inspection)" class="left btn btn-success"><i class="icon-plus-2"></i>Save Wipe Test</a>

				<a ng-if="InspectionWipeTestCopy.Key_id" ng-click="cancelEditInspectionWipeTest(inspection.Inspection_wipe_tests[0])" class="left btn btn-success"><i class="icon-plus-2"></i>Save Wipe Test</a>

			</form>

			<a ng-if="!inspection.Inspection_wipe_tests[0].edit && !inspection.Notification_date" class="btn btn-primary left" ng-click="editInspectionWipeTest(inspection.Inspection_wipe_tests[0])"><i class="icon-pencil"></i>Edit</a>

			<a ng-if="inspection.Inspection_wipe_tests[0].Key_id && !inspection.Inspection_wipe_tests[0].adding && !inspection.Notification_date" ng-click="addWipes(inspection.Inspection_wipe_tests[0])" class="left btn btn-success"><i class="icon-plus-2"></i>Add Smears</a>
		</h3>

		<h3 class="padding" ng-if="inspection.Inspection_wipe_tests[0].Key_id">
			<span ng-if="inspection.Inspection_wipe_tests[0].Inspection_wipes.length">
				Smears
			</span>
			<span ng-if="!inspection.Inspection_wipe_tests[0].Inspection_wipes.length">
				No Smears yet for this inspection.
			</span>
		</h3>
		<div class="fake-table" ng-if="inspection.Inspection_wipe_tests[0].Inspection_wipes.length">
			<div class="table-header">
				<h3>Edit</h3>
				<h3>Room</h3>
				<h3>Location</h3>
				<h3>Instrument</h3>
				<h3>Radioactivity</h3>
				<h3 ng-if="inspection.Notification_date">Rewipe Reading</h3>
				<h3>Notes</h3>
				<h3></h3>
			</div>
			<!-- row should have a red background if it is hot.  A wipe is hot if it's Curie_level is 3 or more times its background level, or its Lab_background_level is three or more times its Lab_curie_level-->
			<div class="table-row" ng-class="{'new': smear.Lab_curie_level && smear.Lab_curie_level < (inspection.Inspection_wipe_tests[0].Lab_background_level * 3) && smear.Location != 'Background','inactive':smear.Curie_level >= (inspection.Inspection_wipe_tests[0].Background_level * 3) && (!smear.Lab_curie_level || smear.Lab_curie_level >= (inspection.Inspection_wipe_tests[0].Lab_background_level * 3))}" ng-repeat="smear in inspection.Inspection_wipe_tests[0].Inspection_wipes | orderBy:'Key_id'">
				<div>
					<button ng-disabled="smear.edit || (smear.Location != 'Background' && inspection.Notification_date && smear.Curie_level < (inspection.Inspection_wipe_tests[0].Background_level * 3))" class="btn btn-primary left" ng-click="editInspectionWipe(smear)"><i class="icon-pencil"></i>Edit</button>
				</div>

				<div ng-if="!smear.edit  || smear.Location == 'Background'">
					{{smear.Room.Name}}
					<span ng-if="smear.Location == 'Background'"> 
						N/A
					</span>
				</div>
				<div ng-if="smear.edit && smear.Location != 'Background'">
					<select style="width:60px" ng-if="InspectionWipeCopy" ng-model="InspectionWipeCopy.Room_id">
						<option ng-repeat="room in inspection.Rooms" value="{{room.Key_id}}">{{room.Name}}</option>
					</select>

					<select style="width:60px" ng-if="!InspectionWipeCopy" ng-model="smear.Room_id">
						<option ng-repeat="room in inspection.Rooms" value="{{room.Key_id}}">{{room.Name}}</option>
					</select>
				</div>

				<div ng-if="!smear.edit || smear.Location == 'Background'">
					{{smear.Location}}
				</div>

				<div ng-if="smear.edit && smear.Location != 'Background'">
					<textarea ng-if="InspectionWipeCopy" ng-model="InspectionWipeCopy.Location" placeholder="Location"></textarea>
					<textarea ng-if="!InspectionWipeCopy" ng-model="smear.Location" placeholder="Location"></textarea>
				</div>

				<div>{{inspection.Inspection_wipe_tests[0].Reading_type}}</div>
				
				<div ng-if="!smear.edit || inspection.Notification_date">
					{{smear.Curie_level}} <span ng-if="smear.Curie_level != null">DPM</span><span ng-if="smear.Curie_level == null">N/A</span>
				</div>
				<div ng-if="smear.edit && !inspection.Notification_date">
					<div ng-if="InspectionWipeCopy" class="control-group">
					     <div class="controls input-append">
							<input style="width:40px" ng-model="InspectionWipeCopy.Curie_level">
							<span class="add-on">DPM</span>
						</div>
					</div>

					<div ng-if="!InspectionWipeCopy" class="control-group">
					     <div class="controls input-append">
							<input style="width:40px" ng-model="smear.Curie_level">
							<span class="add-on">DPM</span>
						</div>
					</div>
				</div>

				<div ng-if="!smear.edit && inspection.Notification_date">
					{{smear.Lab_curie_level}} <span ng-if="smear.Lab_curie_level != null">DPM</span><span ng-if="smear.Lab_curie_level == null">N/A</span>
				</div>
				<div ng-if="smear.edit && inspection.Notification_date">
					<div ng-if="InspectionWipeCopy" class="control-group">
					     <div class="controls input-append">
							<input style="width:40px" ng-model="InspectionWipeCopy.Lab_curie_level">
							<span class="add-on">DPM</span>
						</div>
					</div>

					<div ng-if="!InspectionWipeCopy" class="control-group">
					     <div class="controls input-append">
							<input style="width:40px" ng-model="smear.Lab_curie_level">
							<span class="add-on">DPM</span>
						</div>
					</div>
				</div>


				<div ng-if="!smear.edit">
					{{smear.Notes}}
				</div>
				<div ng-if="smear.edit">
					<textarea ng-if="InspectionWipeCopy" ng-model="InspectionWipeCopy.Notes"></textarea>
					<textarea ng-if="!InspectionWipeCopy" ng-model="smear.Notes"></textarea>
				</div>

				<div>
					<span ng-if="smear.edit && InspectionWipeCopy">
						<a class="btn btn-success left" ng-click="af.saveInspectionWipe(InspectionWipeCopy, smear,inspection.Inspection_wipe_tests[0])"><i class="icon-checkmark"></i>Save</a>
						<a class="btn btn-danger left" ng-click="cancelInspectionWipeEdit(smear,inspection.Inspection_wipe_tests[0])"><i class="icon-cancel-2"></i>Cancel</a>
					</span>
				</div>
			</div>
			<div class="table-row hover-white" ng-if="inspection.Inspection_wipe_tests[0].adding">
					<div class="hover-white">
						<a class="btn btn-large left btn-success" ng-click="af.saveInspectionWipes(inspection.Inspection_wipe_tests[0])"><i class="icon-checkmark"></i>Save Smears</a>
					</div>
					<div class="hover-white"></div>
					<div class="hover-white"></div>
					<div class="hover-white"></div>
					<div class="hover-white"></div>
					<div class="hover-white"></div>
					<div class="hover-white"></div>
				</div>
		</div>
	</div>
</div>
