<div cg-busy="{promise:loading, message:'Loading...', backdrop:true, templateUrl:'../busy-templates/full-page-busy.html'}"></div>
<div class="email-hub">

    <div class="card full">
        <h1 class="expander">
            <span>Email Queue</span>
            <span ng-if="QueuedEmailsPage">({{QueuedEmailsPage.TotalCount}})</span>
        </h1>

        <form class="filters" ng-submit="loadPage(1)">
            <h4 style="flex-grow: 0; align-self: center;">Filter Results:</h4>
            <select ng-model="filters.Module" ng-options="module for module in Modules" style="flex-grow: 0">
                <option value="">-- Module --</option>
            </select>

            <select ng-model="filters.Template" ng-options="template.Key_id as template.Title for template in Templates | orderBy: ['Module', 'Title', 'Message_type']">
                <option value="">-- Template --</option>
            </select>

            <input name="search" ng-model="filters.Search" placeholder="Search">

            <button type="submit" class="btn btn-warning">
                <i class="icon-search"></i>
            </button>
        </form>
    </div>

    <div class="card full">
        <pagination class="nav nav-pills"
            page="Pager.currentPage"
            items-per-page="Pager.numPerPage"
            on-select-page="loadPage(page)"
            total-items="QueuedEmailsPage.TotalCount"
            boundary-links="true"
            max-size="10"
            rotate="false">
        </pagination>

        <table ng-if="QueuedEmailsPage" class="table table-bordered templates">
            <thead>
                <th></th>
                <th>Module</th>
                <th>Template</th>
                <th>Queued</th>
                <th>Sent</th>
                <th>Subject</th>
                <th>Recipients</th>
            </thead>
            <tbody ng-repeat="email in QueuedEmailsPage.Results" ng-class="{closed: !email.ShowBody}">
                <tr ng-class="{greenBg: email.ShowBody, greyBg: !email.Email_id}">
                    <td>
                        <a ng-class="{'btn-primary' : email.ShowBody, 'btn-inverse' : !email.ShowBody}" class="btn left" ng-click="toggleMessageContent(email)">
                            <i ng-class="{'icon-search': !email.ShowBody, 'icon-cancel': email.ShowBody}"></i>
                        </a>
                    </td>
                    <td>{{email.Module}}</td>
                    <td>
                        <h4>{{email.Template_name}}</h4>
                        <h5 class="subtitle">{{email.Message_type}}</h5>
                    </td>
                    <td>{{email.Queued_date || email.Scheduled_date | dateToIsoTime}}</td>
                    <td ng-class="{orangeBg: !email.Sent_date && email.Email_id}">
                        <span ng-if="email.Sent_date">{{email.Sent_date | dateToIsoTime}}</span>
                        <span ng-if="!email.Sent_date && email.Email_id">
                            <i class="icon-help" popover="This email has been enqueued, but has not yet been sent."></i>
                        </span>
                    </td>
                    <td>{{email.Subject}}</td>
                    <td>
                        <ul style="list-style: none; margin: unset;">
                            <li ng-if="to_cc" ng-repeat="to_cc in (email.Recipients + (email.Cc_recipients || '')).split(',')">
                                <code>{{to_cc}}</code>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr ng-if="email.ShowBody">
                    <td colspan="7">
                        <div class="inner card span12">
                            <div class="label label-warning" style="margin-bottom: 15px" ng-if="email.Email_id && !email.Sent_date">
                                This email is enqueued, but has not yet been sent.
                            </div>

                            <div ng-if="!email.Email_id && email.Scheduled_date">
                                <span ng-if="email.Scheduled_date">This message is scheduled to be generated and sent on {{email.Scheduled_date | dateToISO}}</span>
                            </div>

                            <div ng-if="email.Body">
                                <span class="badge pull-right">
                                    <a ui-sref="templates({tid:email.Template_id})" target="_blank">View Template</a>
                                </span>
                                <h3>Email Subject</h3>
                                <pre ng-bind-html="email.Subject"></pre>

                                <h3>Email Body</h3>
                                <pre ng-bind-html="email.Body" class="email-content"></pre>
                            </div>

                            <div>
                            </div>
                        </div>

                        <div class="inner card span5 message-type-info">
                            <table class="macro-list">
                                <thead>
                                    <tr>
                                        <td colspan="2"><h4>Email Recipients</h4></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in email.Recipients | splitStr">
                                        <td><code>TO</code></td>
                                        <td>{{item}}</td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr ng-repeat="item in email.Cc_recipients | splitStr">
                                        <td><code>CC</code></td>
                                        <td>{{item}}</td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr ng-repeat="item in email.Send_from | splitStr">
                                        <td><code>FROM</code></td>
                                        <td>{{item}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <div ng-if="email.Context_descriptor" >
                                <hr/>
                                <h4>
                                    Technical Context
                                    <i class="icon-help"
                                        popover="This context can be used to diagnose and troubleshoot problems if an email is unable to be sent."></i>
                                    <span class="badge pull-right">{{email.Queue_item_id}}</span>
                                </h4>

                                <pre><code ng-bind="email.Context_descriptor"></code></pre>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <pagination class="nav nav-pills"
            page="Pager.currentPage"
            items-per-page="Pager.numPerPage"
            on-select-page="loadPage(page)"
            total-items="QueuedEmailsPage.TotalCount">
        </pagination>
    </div>

</div>