<div cg-busy="{promise:loading, message:'Loading...', backdrop:true, templateUrl:'../busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:saving, message:'Saving...', backdrop:true, templateUrl:'../busy-templates/full-page-busy.html'}"></div>
<div class="email-hub">
    <div class="card full">
        <h1 style="margin: 10px 0 5px 15px">
            Message Templates
        </h1>

        <div ng-if="!Templates" style="text-align: center; margin: 10px;">
            <i style="color:black;" class="spinner icon-spinnery-dealie large"></i>
        </div>
        <table ng-if="Templates" class="table table-bordered templates">
            <thead>
                <th></th>
                <th>Template Name</th>
                <th>Message Type</th>
                <th>Module</th>
            </thead>
            <tbody ng-repeat="template in Templates" ng-class="{closed: !template.EditCopy}">
                <tr ng-class="{inactive: !template.Is_active, greenBg: template.EditCopy}">
                    <td>
                        <a ng-if="!template.EditCopy" class="btn btn-primary left" ng-click="editTemplate(template)"><i class="icon-pencil"></i></a>
                        <a ng-if="template.EditCopy"  class="btn btn-primary left" ng-click="closeOrCancelEditTemplate(template)"><i class="icon-cancel"></i></a>

                        <a class="btn left" ng-click="toggleActive(template)" ng-class="{'btn-danger': template.Is_active, 'btn-success': !template.Is_active}">
                            <i ng-class="{'icon-remove': template.Is_active, 'icon-checkmark': !template.Is_active}"></i>
                        </a>
                    </td>
                    <td>{{template.Title}}</td>
                    <td>{{template.Message_type}}</td>
                    <td>{{template.Module}}</td>
                </tr>
                <tr ng-if="template.EditCopy">
                    <td colspan="4">
                        <div class="inner card span12">
                            <div>
                                <span class="pull-right badge" ng-class="{'badge-warning': !template.Is_active, 'badge-info': template.Is_active}">
                                    {{template.Is_active ? 'Active' : 'Inactive'}}
                                </span>

                                <h4>Template Name:</h4>
                                <input type="text" style="width:500px" ng-model="template.EditCopy.Title" />
                                <i class="icon-help" popover-placement="right"
                                    popover="Administrative name of this Template. Not used as part of the generated messages."></i>

                                <hr/>

                                <h4>Subject:</h4>
                                <input type="text" style="width:500px" ng-model="template.EditCopy.Subject" />

                                <h4>Body:</h4>
                                <textarea ui-tinymce="$root.tinymceOptions" ng-model="template.EditCopy.Corpus"></textarea>
                            </div>
                            <div class="modal-footer">
                                <span class="pull-left">Last Saved {{template.Date_last_modified | dateToIsoTime}}</span>
                                <a class="btn btn-large btn-success left" ng-click="saveTemplate(template, true)"><i class="icon-checkmark"></i>Save</a>
                                <a class="btn btn-large btn-success left" ng-click="saveTemplate(template, false)"><i class="icon-check-alt"></i>Save/Close</a>
                                <a class="btn btn-large btn-info left" ng-click="previewTemplate(template)"><i class="icon-eye-4"></i>Preview</a>
                                <a class="btn btn-large btn-danger left" ng-click="closeOrCancelEditTemplate(template)"><i class="icon-cancel"></i>Cancel</a>
                            </div>
                        </div>

                        <div class="inner card span5 message-type-info" ng-init="mtype = getTypeForTemplate(template)">
                            <i class="icon-help pull-right" popover-placement="left"
                                popover="Macros placed in the template Subject or Body will be replaced with contextual details when this template is used to create an email."></i>

                            <h4>Module</h4>
                            <div class="desc" ng-bind="mtype.Module"></div>

                            <h4>Type Name</h4>
                            <div class="desc" ng-bind="mtype.TypeName"></div>

                            <h4>Description</h4>
                            <div class="desc" ng-bind="mtype.TypeDescription"></div>

                            <h4>Macros</h4>
                            <ul class="macro-list">
                                <li ng-repeat="macro in mtype.MacroDescriptions">
                                    <code>{{macro.Key}}</code> - {{macro.Value}}
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="card full">
        <h1 style="margin: 10px 0 5px 15px">
            Message Types
        </h1>

        <div ng-if="!MessageTypes" style="text-align: center; margin: 10px;">
            <i style="color:black;" class="spinner icon-spinnery-dealie large"></i>
        </div>
        <table ng-if="MessageTypes" class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th rowspan="2"></th>
                    <th rowspan="2">Message Type</th>
                    <th rowspan="2">Description</th>
                    <th rowspan="2">Module</th>
                    <th colspan="2" style="text-align: center;">Templates</th>
                </tr>
                <tr>
                    <th style="text-align: center;">Active</th>
                    <th style="text-align: center;">Inactive</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="mtype in MessageTypes" ng-click="mtype.EditCopy = !mtype.EditCopy">
                    <td>
                        <a ng-class="{'btn-warning': mtype.numActiveTemplates > 0, 'btn-success': mtype.numActiveTemplates == 0}"
                            class="btn left" style="margin-right:10px" ng-click="createNewTemplate(mtype)">
                            <i class="icon-plus-2"></i>
                            New Template
                        </a>
                    </td>
                    <td>{{mtype.TypeName}}</td>
                    <td>{{mtype.TypeDescription}}</td>
                    <td>{{mtype.Module}}</td>
                    <td>{{ countTemplatesOfType(mtype, true) }}</td>
                    <td>{{ countTemplatesOfType(mtype, false) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>