<div>
    <div class="card full">
        <h1 style="margin: 10px 0 5px 15px">
            Message Templates
            <a class="btn btn-large btn-warning left pull-right" style="margin-right:10px" ng-click="createNewTemplate()"><i class="icon-add"></i>New Template</a>
        </h1>

        <div ng-if="!Templates" style="text-align: center; margin: 10px;">
            <i style="color:black;" class="spinner icon-spinnery-dealie large"></i>
        </div>
        <table ng-if="Templates" class="table table-bordered templates">
            <thead>
                <th></th>
                <th>Template Name</th>
                <th>Message Type</th>
                <th>Module</th>
            </thead>
            <tbody ng-repeat="template in Templates" ng-class="{closed: !template.isOpen}">
                <tr ng-click="template.isOpen = !template.isOpen" ng-class="{greenBg: template.isOpen}">
                    <td>
                        <a class="btn btn-primary left" ng-click="edit(template)"><i class="icon-pencil"></i></a>
                        <a class="btn btn-danger left" ng-click="toggleActive(template)"><i ng-class="{'icon-remove': template.Is_active, 'icon-checkmark': !template.Is_active}"></i></a>
                    </td>
                    <td>{{template.Title}}</td>
                    <td>{{template.Message_type}}</td>
                    <td>{{template.Module}}</td>
                </tr>
                <tr ng-if="template.isOpen">
                    <td colspan="4">
                        <div class="card span12" style="margin:15px; padding:15px;">
                            <div>
                                <div>
                                    <h4>Name:</h4>
                                    <input type="text" style="width:500px" ng-model="template.Title" />

                                    <h4>Subject:</h4>
                                    <input type="text" style="width:500px" ng-model="template.Subject" />
                                </div>
                            </div>

                            <div>
                                <h4>Template:</h4>
                                <textarea ng-model="template.Corpus" ui-tinymce="$root.tinymceOptions"></textarea>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-large btn-success left" ng-click="save(template)"><i class="icon-checkmark"></i>Save</a>
                                <a class="btn btn-large btn-info left" ng-click="preview(template)"><i class="icon-eye-4"></i>Preview</a>
                            </div>
                        </div>

                        <div class="card span5" style="margin:15px; padding:15px;" ng-init="mtype = getTypeForTemplate(template)">
                            <div class="control-group">
                                <label class="control-label">Module</label>
                                {{mtype.Module}}
                            </div>
                            <div>
                                <label>Type Name</label>
                                {{mtype.TypeName}}
                            </div>
                            <div class="control-group">
                                <label class="control-label">Description</label>
                                {{mtype.TypeDescription}}
                            </div>
                            <div>
                                <label>Context</label>
                                Context details
                            </div>
                            <div>
                                <label>Macros</label>
                                Macros
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="card full">
        <h1 style="margin: 10px 0 5px 15px">
            Message Types
        </h1>

        <div ng-if="!MessageTypes" style="text-align: center; margin: 10px;">
            <i style="color:black;" class="spinner icon-spinnery-dealie large"></i>
        </div>
        <table ng-if="MessageTypes" class="table table-bordered table-hover table-striped">
            <thead>
                <th>Module</th>
                <th>Message Type</th>
                <th>Description</th>
            </thead>

            <tbody>
                <tr ng-repeat-start="mtype in MessageTypes" ng-click="mtype.isOpen = !mtype.isOpen">
                    <td>{{mtype.Module}}</td>
                    <td>{{mtype.TypeName}}</td>
                    <td>{{mtype.TypeDescription}}</td>
                </tr>
                <tr ng-repeat-end ng-if="mtype.isOpen" ng-init="loadTemplatesOfType(mtype)">
                    <td colspan="3">
                        <div ng-if="!mtype.Templates" style="text-align: center; margin: 10px;">
                            <i style="color:black;" class="spinner icon-spinnery-dealie large"></i>
                        </div>
                        <div ng-if="mtype.Templates" ng-repeat="template in mtype.Templates" class="card">
                            <h4>{{template.Title}}</h4>
                            <span>{{template.Corpus}}</span>
                        </div>
                        <a class="btn btn-small left" style="margin-left:10px"><i class="icon-plus-5"></i>Add New Template</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>