<table class="userList table table-striped table-hover piTable table-bordered scrollTable" scroll-table watch="filtered.length" ng-show="neededUsers">
    <thead style="position:fixed;">
        <tr class="orangeBg">
            <th colspan="9" class="orangeBg">
                <h1 class="orangeBg">Lab Personnel</h1>
                <div class="btn-group" style="margin: -18px 0 0 20px;">
                     <a class="btn btn-large" ng-click="showInactive = !showInactive; searchText = null;">
                          <input type="hidden" ng-model="showInactive" ng-init="showInactive = false">
                         <span ng-show="showInactive">Show Active Personnel</span>
                         <span ng-hide="showInactive">Show Inactive Personnel</span>
                     </a>
                     <a  ng-if="rbf.getHasPermission([ R[Constants.ROLE.NAME.ADMIN],  R[Constants.ROLE.NAME.RADIATION_ADMIN] ])" class="btn-large btn" ng-click="openModal()" style="padding:10px; margin-left:5px;"><img src='../../img/add-user-icon.png'>Add Personnel</a>
                    <a class="btn-large btn" ng-if="piId" href="PIHub.php#/personnel?pi={{piId}}" style="padding:10px; margin-left:5px;"><img src="../../img/pi-icon.png" class="pull-left" style="height:27px" />Return to PI Hub</a>
                    <a class="btn btn-large" ng-click="showRad = !showRad; searchText = null;" style="margin-left:3px;">
                        <input type="hidden" ng-model="showRad" ng-init="showRad = false">
                        <img src="../../img/radiation-large-icon.png" style="width:22px" />
                        <span ng-hide="showRad">Show Rad Contacts</span>
                        <span ng-show="showRad">Show All Personnel</span>
                    </a>
                </div>
                   <h2 style="margin-top:8px;float:right" class="orangeBg"><span class="bold underline">{{filtered.length}}</span> Lab Personnel Displayed</h2>
            </th>
        </tr>
        <tr>
            <th>Edit User</th>
            <!--<th><a ng-click="order = 'Is_active'; reverse=!reverse">Activate/Deactivate User</a></th>-->
            <th>
                <a ng-click="order = 'Last_name'; reverse=!reverse">Last Name<i ng-class="{ 'icon-arrow-up':Name.reverse, 'icon-arrow-down':!Name.reverse }"></i></a><br>
                <input class="span2" ng-model="searchText.Name" placeholder="Filter by Name"/>
            </th>
            <th>
                First Name
            </th>
            <th>
                <a ng-click="order = 'Supervisor.User.Name'; reverse=!reverse">Lab PI<i ng-class="{ 'icon-arrow-up':Supervisor.reverse, 'icon-arrow-down':!Supervisor.reverse }"></i></a><br>
                <input class="span2" ng-model="searchText.Supervisor.Name" placeholder="Filter by PI"/>
            </th>
            <th>
                <a ng-click="order = 'Position'; reverse=!reverse">Position<i ng-class="{ 'icon-arrow-up':Position.reverse, 'icon-arrow-down':!Position.reverse }"></i></a><br>
                <input class="span2" ng-model="searchText.Position" placeholder="Filter by PI" />
            </th>
            <th>
                <a ng-click="order = 'Primary_department'; reverse=!reverse">Department(s)<i ng-class="{ 'icon-arrow-up':Primary_department.reverse, 'icon-arrow-down':!Primary_department.reverse }"></i></a><br>
                <input class="span2" ng-model="searchText.Primary_department.Name" placeholder="Filter by Department"/>
            </th>
            <!--<th>Lab Phone</th>-->
            <th>Email</th>
            <th>Lab Phone</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="personnel in (filtered = (LabPersonnel | isRadContact:showRad | isLabPersonnel | filter:activeFilter(showInactive) | filter:searchText | orderBy:order:reverse ))"
            ng-class="{inactive: !personnel.Is_active}">
            <td style="width:9%;">
                <button ng-disabled="!rbf.getHasPermission([ R[Constants.ROLE.NAME.ADMIN],  R[Constants.ROLE.NAME.RADIATION_ADMIN], ])" ng-hide="personnel.edit" class="edit btn btn-primary" ng-click="openModal(personnel,$index)" alt="Edit" title="Edit" title="Edit"><i class="icon-pencil"></i></button>
                <button ng-disabled="!rbf.getHasPermission([ R[Constants.ROLE.NAME.ADMIN],  R[Constants.ROLE.NAME.RADIATION_ADMIN], ])" class="btn btn-danger btn DeactivateeRow" ng-click="handleUserActive(personnel)" ng-if="personnel.Is_active && personnel.Is_active > 0"><i class="icon-remove"></i></button>
                <button ng-disabled="!rbf.getHasPermission([ R[Constants.ROLE.NAME.ADMIN],  R[Constants.ROLE.NAME.RADIATION_ADMIN], ])" class="btn btn-success btn DeactivateeRow" class="btn btn-success btn DeactivateeRow" ng-click="handleUserActive(personnel)" ng-if="!personnel.Is_active || personnel.Is_active == 0"><i class="icon-checkmark"></i></button>
                <i class="icon-spinnery-dealie spinner small" style="margin-left:5px; " ng-show="personnel.IsDirty"/>
                <span ng-if="personnel.isContact"><img ng-if="personnel.Emergency_phone" src="../../img/phone.png" style="width:35px" title="Emgergency Phone# {{personnel.Emergency_phone | tel}}"><img ng-if="!personnel.Emergency_phone" src="../../img/phone.png" style="width:35px" title="Emergency Phone# Unkown"></span>
                <span ng-if="personnel.isRadContact"><img ng-if="personnel.Emergency_phone" src="../../img/radiation-large-icon.png" style="width:35px" title="Emgergency Phone# {{personnel.Emergency_phone | tel}}"><img ng-if="!personnel.Emergency_phone" src="../../img/radiation-large-icon.png" style="width:35px" title="Emergency Phone# Unkown"></span>
            </td>


            <td style="width:12%;">
                {{personnel.Last_name}}
            </td>
            <td style="width:12%;">
                {{personnel.First_name}}
            </td>
            <td style="width:14%;" >
                <a once-href="'PIHub.php#/personnel?pi='+personnel.Supervisor.PrincipalInvestigator.Key_id" once-text="personnel.Supervisor.Name"></a>
            </td>

            <td style="width:17%;">
                {{personnel.Position}}
            </td>

            <td style="width:17%;">
                {{personnel.Primary_department.Name}}
            </td>

            <td style="width:10%;">
                {{personnel.Email}}
            </td>

            <td style="width:10%;">
                {{personnel.Lab_phone | tel}}
            </td>

        </tr>
    </tbody>
</table>
