<form name="form" ng-submit="saveUser()" class="form-horizontal form">
    <div class="modal-header" style="padding:0;" class="">
        <h2 style="padding:5px" ng-show="modalData.Key_id" class="purpleBg">Editing {{modalData.Name}}</h2>
        <h2 style="padding:5px" ng-hide="modalData.Key_id" class="purpleBg">Add New EHS Personnel</h2>
    </div>
    <div class="modal-body">
        <h3 class="alert alert-danger" ng-if="modalError">{{modalError}}</h3>
        <form class="form-horizontal form">
            <div class="control-group">
                <label class="control-label" for="inputEmail">Username</label>
                <div class="controls">
                    <div class="input-append" ng-if="isProductionServer && !modalData.Username">
                        <input type="text" id="inputEmail" ng-model="modalData.userNameForQuery" placeholder="Username"><a class="add-on greenBg" ng-click="getAuthUser(modalData)"><i class="icon-search"></i></a>
                        <img ng-show="lookingForUser" class="smallLoading" src="../../img/loading.gif" />
                    </div>
                    <input type="text" ng-if="!isProductionServer || modalData.Username" id="inputEmail" disabled="disabled" ng-model="modalData.Username" placeholder="Username" required>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputEmail">First Name</label>
                <div class="controls">
                    <input type="text" id="inputEmail" ng-model="modalData.First_name" ng-if="isProductionServer && !modalData.Username" disabled="disabled" placeholder="First Name" required>
                    <input type="text" id="inputEmail" ng-model="modalData.First_name" ng-if="!isProductionServer || modalData.Username" placeholder="First Name" required>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputEmail">Last Name</label>
                <div class="controls">
                    <input type="text" id="inputEmail" ng-model="modalData.Last_name" ng-if="isProductionServer && !modalData.Username" disabled="disabled" placeholder="Last Name" required>
                    <input type="text" id="inputEmail" ng-model="modalData.Last_name" ng-if="!isProductionServer || modalData.Username" placeholder="Last Name" required>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="controls">
                    <input type="text" name="email" id="inputEmail" ng-model="modalData.Email" ng-if="isProductionServer && !modalData.Username" disabled="disabled" placeholder="Email" required ng-pattern="emailPattern">
                    <input type="text" name="email" id="inputEmail" ng-model="modalData.Email" ng-if="!isProductionServer || modalData.Username" placeholder="Email" required ng-pattern="emailPattern">
                    <span class="help-block" ng-show="form.email.$error.pattern">{{emailErrorMsg}}</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputEmail">Office Phone</label>
                <div class="controls">
                    <input type="text" name="officePhone" id="inputEmail" ng-model="modalData.Office_phone" ui-mask="(999) 999-9999" ng-if="isProductionServer && !modalData.Username" disabled="disabled" ng-bind="modalData.Office_phone|tel">
                    <input type="text" name="officePhone" id="inputEmail" ng-model="modalData.Office_phone" ui-mask="(999) 999-9999" ng-if="!isProductionServer || modalData.Username" ng-bind="modalData.Office_phone|tel">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputEmail">Emergency Phone</label>
                <div class="controls">
                    <input type="text" name="emergencyPhone" id="inputEmail" ng-model="modalData.Emergency_phone" ui-mask="(999) 999-9999" ng-if="isProductionServer && !modalData.Username" disabled="disabled" ng-bind="modalData.Emergency_phone|tel">
                    <input type="text" name="emergencyPhone" id="inputEmail" ng-model="modalData.Emergency_phone" ui-mask="(999) 999-9999" ng-if="!isProductionServer || modalData.Username" ng-bind="modalData.Emergency_phone|tel">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputEmail">Position</label>
                <div class="controls">
                    <input type="text" id="inputEmail" ng-model="modalData.Position" placeholder="Position" ng-if="isProductionServer && !modalData.Username" disabled="disabled">
                    <input type="text" id="inputEmail" ng-model="modalData.Position" placeholder="Position" ng-if="!isProductionServer || modalData.Username">
                </div>
            </div>

            <div class="" style="padding:3px 0;">
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Roles(s)</label>
                    <div class="controls span4">
                        <ui-select ng-model="selectedRole" theme="selectize" ng-disabled="disabled" style="width:315px;" direction="up" on-select="onSelectRole($item, $model, $label)">
                            <ui-select-match placeholder="Select A Role">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="role in roles | propsFilter: {Name: $select.search}">
                              <div ng-bind-html="role.Name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>

                        <ul style="margin-top:3px;">
                            <li ng-repeat="role in modalData.Roles"><button class="btn btn-danger btn-mini" ng-disabled="modalData.isContact && role.Name == 'Lab Personnel'" ng-click="removeRole(modalData,role)"><i class="icon-cancel"></i></button>{{role.Name}}<img ng-show="role.IsDirty" class="smallLoading" src="../../img/loading.gif" />
                            </li>
                        </ul>
                    </div>
                </div>

        </form>
        </div>
        <div class="modal-footer">
            <i class="spinner small icon-spinnery-dealie" src="../../img/loading.gif" style="margin:5px;" ng-show="modalData.IsDirty" />
            <button type="submit" class="btn btn-success left btn-large" ng-disabled="form.$invalid"><i class="icon-checkmark" />Save</button>
            <a class="btn btn-danger left btn-large" ng-click="cancel()"><i class="icon-cancel"></i>Cancel</a>
        </div>
</form>
