<form name="form" ng-submit="savePi()" class="form-horizontal form">
    <div class="modal-header" style="padding:0;" class="">
        <h2 style="padding:5px" ng-show="modalData.Key_id" class="blueBg">Editing {{modalData.Name}}</h2>
        <h2 style="padding:5px" ng-hide="modalData.Key_id" class="blueBg">Create a New Principal Investigator</h2>
    </div>
    <div class="modal-body">
        <h3 class="alert alert-danger" ng-if="modalError">{{modalError}}</h3>
            <div class="error alert alert-danger" ng-if="frmError && !modalData.Username" style="color:black">{{frmError}}</div>
            <div class="control-group">
                <label class="control-label" for="inputEmail">Username</label>
                <div class="controls">
                    <div class="input-append" ng-if="isProductionServer && !modalData.Username">
                        <input type="text" name="userName" id="inputEmail" ng-model="modalData.userNameForQuery" placeholder="Username" required><a class="add-on greenBg" ng-click="getAuthUser(modalData)"><i class="icon-search"></i></a>
                        <img ng-show="lookingForUser" class="smallLoading" src="../../img/loading.gif" />
                    </div>
                    <input type="text" name="userName" ng-if="!isProductionServer || modalData.Username" id="inputEmail" ng-model="modalData.Username" disabled="disabled" placeholder="Name" required>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputEmail">First Name</label>
                <div class="controls">
                    <input type="text" name="firstName" id="inputEmail" ng-model="modalData.First_name" ng-if="isProductionServer && !modalData.Username" disabled="disabled" placeholder="First Name" required>
                    <input type="text" name="firstName" id="inputEmail" ng-model="modalData.First_name" ng-if="!isProductionServer || modalData.Username" placeholder="First Name" required>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputEmail">Last Name</label>
                <div class="controls">
                    <input type="text" name="lastName" id="inputEmail" ng-model="modalData.Last_name" ng-if="isProductionServer && !modalData.Username" disabled="disabled" placeholder="Last Name" required>
                    <input type="text" name="lastName" id="inputEmail" ng-model="modalData.Last_name" ng-if="!isProductionServer || modalData.Username" placeholder="Last Name" required>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="controls">
                    <input type="email" name="email" id="inputEmail" ng-model="modalData.Email" ng-if="isProductionServer && !modalData.Username" disabled="disabled" placeholder="Email" required ng-pattern="emailPattern">
                    <input type="email" name="email" id="inputEmail" ng-model="modalData.Email" ng-if="!isProductionServer || modalData.Username" placeholder="Email" required ng-pattern="emailPattern">
                    <span class="help-block" ng-show="form.email.$error.pattern">{{emailErrorMsg}}</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputEmail">Lab Phone</label>

                <div class="controls">
                    <input type="text" name="labPhone" id="inputEmail" ng-model="modalData.Lab_phone" type="tel" ng-if="isProductionServer && !modalData.Username" disabled="disabled" ui-mask="(999) 999-9999" ng-bind="modalData.Lab_phone|tel">
                    <input type="text" name="labPhone" id="inputEmail" ng-model="modalData.Lab_phone" type="tel" ng-if="!isProductionServer || modalData.Username" ui-mask="(999) 999-9999" value="1234567890" ng-bind="modalData.Lab_phone|tel">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputEmail">Office Phone</label>
                <div class="controls">
                    <input type="text" name="officePhone" id="inputEmail" ng-model="modalData.Office_phone" type="tel" ng-if="isProductionServer && !modalData.Username" disabled="disabled" ui-mask="(999) 999-9999" ng-bind="modalData.Office_phone|tel">
                    <input type="text" name="officePhone" id="inputEmail" ng-model="modalData.Office_phone" type="tel" ng-if="!isProductionServer || modalData.Username" ui-mask="(999) 999-9999" ng-bind="modalData.Office_phone|tel">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputEmail">Emergency Phone</label>
                <div class="controls">
                    <input type="text" name="emergencyPhone" id="inputEmail" ng-model="modalData.Emergency_phone" type="tel" ng-if="isProductionServer && !modalData.Username" disabled="disabled" ui-mask="(999) 999-9999" ng-bind="modalData.Emergency_phone|tel">
                    <input type="text" name="emergencyPhone" id="inputEmail" ng-model="modalData.Emergency_phone" type="tel" ng-if="!isProductionServer || modalData.Username" ui-mask="(999) 999-9999" ng-bind="modalData.Emergency_phone|tel">
                </div>
            </div>
            <div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Roles(s)</label>
                    <div class="controls span4">
                        <input placeholder="Select A Role" typeahead-on-select='onSelectRole($item, $model, $label)' type="text" ng-model="selectedRole" typeahead="role as role.Name for role in roles | filter:$viewValue" ng-init="" ng-if="isProductionServer && !modalData.Username" disabled="disabled">
                        <ui-select direction="up" ng-if="!isProductionServer || modalData.Username" ng-model="pi.selected" theme="selectize" direction="up" ng-disabled="disabled" on-select="onSelectRole($item, $model, $label)">
                            <ui-select-match placeholder="Select or search for a Role">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="role in roles | orderBy:'Name'  | propsFilter: {Name: $select.search}">
                              <div ng-bind-html="role.Name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                       <i class="icon-cancel danger" ng-if="selectPI" ng-click="selectPI = !selectPI" style="margin: 6px 2px;"></i>
                       <h3 ng-if="PI && !selectPI">{{PI.User.Name}}<i ng-click="selectPI = !selectPI" style="margin: 7px 2px;" class="icon-pencil primary"></i></h3> </span>
                        <ul>
                            <li ng-repeat="role in modalData.Roles | orderBy:'Name'"><button type="button" class="btn btn-danger btn-mini" ng-disabled="modalData.isContact && role.Name == Constants.ROLE.NAME.LAB_PERSONNEL" ng-click="removeRole(modalData,role)"><i class="icon-cancel"></i></button>{{role.Name}}<img ng-show="role.IsDirty" class="smallLoading" src="../../img/loading.gif" />
                            </li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Department</label>
                    <div class="controls span4">
                        <input style=""  placeholder="Select A Department" typeahead-on-select='onAddDepartmentToPi($item, $model, $label)' type="text" ng-model="selectedDepartment" typeahead="department as department.Name for department in departments | filter:$viewValue" ng-init="" ng-if="isProductionServer && !modalData.Username" disabled="disabled">
                         <ui-select direction="up" ng-if="!isProductionServer || modalData.Username" ng-model="pi.selected" theme="selectize" direction="up" ng-disabled="disabled" on-select="onAddDepartmentToPi($item, $model, $label)">
                            <ui-select-match placeholder="Select or search for a Department">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="department in departments | propsFilter: {Name: $select.search}">
                              <div ng-bind-html="department.Name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                       <i class="icon-cancel danger" ng-if="selectPI" ng-click="selectPI = !selectPI" style="margin: 6px 2px;"></i>
                       <h3 ng-if="PI && !selectPI">{{PI.User.Name}}<i ng-click="selectPI = !selectPI" style="margin: 7px 2px;" class="icon-pencil primary"></i></h3> </span>
                        <ul>
                            <li ng-repeat="department in modalData.PrincipalInvestigator.Departments"><button class="btn btn-danger btn-mini" ng-click="removeDepartment(department)"><i class="icon-cancel"></i></button> {{department.Name}}<i class="icon-spinnery-dealie spinner small" style="position:absolute;margin: 3px;" ng-if="department.IsDirty"></i>
                            </li>
                        </ul>
                        <i class="icon-spinnery-dealie spinner small" style="position:absolute;margin: 3px;" ng-if="department.IsDirty"></i>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
            <i class="icon-spinnery-dealie spinner small" style=";margin: 3px;" ng-if="modalData.IsDirty"></i>
            <button type="submit" class="btn btn-success left btn-large"><i class="icon-checkmark" />Save</button>
            <a class="btn btn-danger left btn-large" ng-click="cancel()"><i class="icon-cancel"></i>Cancel</a>
        </div>
</form>
