<table class="userList table table-striped table-hover piTable table-bordered" scroll-table watch="filtered.length" ng-show="neededUsers">
    <thead>
        <tr class="redBg">
            <th colspan="3" class="redBg">
                <h1 class="redBg">UNCATEGORIZED USERS</h1>
                <div class="btn-group" style="margin: -18px 0 0 20px;">
                     <a class="btn btn-large" ng-click="showInactive = !showInactive; searchText = null;">
                         <input type="hidden" ng-model="showInactive" ng-init="showInactive = false;">
                         <span ng-show="showInactive">Show Active Users</span>
                         <span ng-hide="showInactive">Show Inactive Users</span>
                     </a>
               </div>
                <h2 class="redBg" style="float:right; margin-top:8px;"><span class="underline bold">{{filtered.length}}</span> Users Displayed</h2>
            </th>
        </tr>
        <tr>
            <th>Edit User</th>
            <!--<th><a ng-click="order = 'Is_active'; reverse=!reverse">Activate/Deactivate User</a></th>-->
            <th>
                <a ng-click="order = 'Last_name'; reverse=!reverse">Last Name<i ng-class="{ 'icon-arrow-up':reverse, 'icon-arrow-down':!reverse }"></i></a><br>
                <input class="span2" ng-model="searchText.Name" placeholder="Filter by Name"/>
            </th>
            <th>First Name</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="contact in (filtered = (users | isUncat | filter:activeFilter(showInactive) | orderBy:order:reverse | filter:searchText | filter:selectedPi | filter:selectedDepartment))">
            <td style="width:9%;">
                <button ng-disabled="!rbf.getHasPermission([ R['Admin'], R['Radiation Admin'], ])" ng-hide="contact.edit" class="edit btn btn-primary" ng-click="openModal(contact,$index)" alt="Edit" title="Edit" title="Edit"><i class="icon-pencil"></i></button>
                <button ng-disabled="!rbf.getHasPermission([ R['Admin'], R['Radiation Admin'], ])" class="btn btn-danger btn DeactivateeRow" ng-click="handleUserActive(contact)" ng-if="contact.Is_active && contact.Is_active > 0"><i class="icon-remove"></i></button>
                <button ng-disabled="!rbf.getHasPermission([ R['Admin'], R['Radiation Admin'], ])" class="btn btn-success btn DeactivateeRow" class="btn btn-success btn DeactivateeRow" ng-click="handleUserActive(contact)" ng-if="!contact.Is_active || contact.Is_active == 0"><i class="icon-checkmark"></i></button>
                <i class="icon-spinnery-dealie spinner small" style="margin-left:5px; " ng-show="contact.IsDirty"/>
                <i class="spinner small icon-spinnery-dealie" src="../../img/loading.gif" style="margin-left:5px;margin-top: 10px;position: absolute;" ng-show="contact.IsDirty"/></i>
            </td>

            <td style="width:18%;" once-text="contact.Last_name">
                <!--{{contact.Last_name}}-->
            </td>

            <td style="width:73%;" once-text="contact.First_name">
                <!--{{contact.First_name}}-->
            </td>
        </tr>
    </tbody>
</table>
