@CHARSET "ISO-8859-1";

/*****************variables***********/
//$orange:                      #e67e1d;
$orange:                      #c00;
$blue:                        #49afcd;
$slightlyDarkerBlue:          #2f96b4;
$darkBlue:                    #24748c;
$purple:                      #781096;
$green:                       #51a351;
$grey:                        #ccc;

.blueBg{
  background-color: $blue;
  border-color: $blue;
  color:white;
}
.greenBg{
  background-color:  $green !important;
  border-color: $green !important;
  color:white !important;
}
.greyBg{
  background-color:$grey;
  border-color:$grey;
}
.orangeBg{
  background-color:$orange;
  border-color:$orange;
  color: white;
}
.purpleBg{
  background-color:$purple;
  border-color:$purple;
  color: white;
}
 h1, h2, h3, h4, h5{
  &.orangeBg{padding:10px;}
 }

/* line 22, ../sass/style.scss */
html {
  height: 100%;
  background: #fff;
}

/* line 24, ../sass/style.scss */
body {
  min-height: 100%;
}

/* line 26, ../sass/style.scss */
body {
  margin: 0;
  background: #003b3b;
  background: #01102b;
  background: #004754;
  background: #ddd;
  font-family: 'Open Sans', sans-serif;
}

/* line 34, ../sass/style.scss */
.whitebg,.whiteBg {
  background: #fff;
}

/******************************************************************************
*
* Typography Overrides
*
*******************************************************************************/
/* line 43, ../sass/style.scss */
h1, h2, h3, h4, h5, p, a {
  font-family: 'Open Sans', sans-serif;
}

/* line 58, ../sass/style.scss */
.iconGlyph {
  font-family: "icomoon";
}

/* line 62, ../sass/style.scss */
a {
  	    /**
      * Apply transitions to all hover states, etc
      **/
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

/* line 71, ../sass/style.scss */
.siteTitle {
  color: #cb5a47 !important;
  font-size: 2em !important;
  line-height: .9em;
  font-weight: bold;
}

/* line 77, ../sass/style.scss */
.header {
  padding-bottom: 50px;
  border-bottom: dashed 2px #bfccd3;
}

/**************************************************************
*************	Utility CLASSES
**************************************************************/
/* line 87, ../sass/style.scss */
.text-shadow {
  text-shadow: 3px 3px 2px rgba(150, 150, 150, 0.43);
}

/* line 88, ../sass/style.scss */
.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

/* line 89, ../sass/style.scss */
.blue-border {
  border-left: 3px solid #49afcd;
}

/* line 90, ../sass/style.scss */
tr.blue-border {
  border: 4px solid #49afcd;
}

/* line 91, ../sass/style.scss */
.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  margin-left: 5px;
}

/* line 92, ../sass/style.scss */
td.shadow {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3), 6px -2px 4px rgba(0, 0, 0, 0.3);
}

/* line 93, ../sass/style.scss */
.current {
  background: white;
  padding: 75px 10px 10px 10px;
}

/* line 94, ../sass/style.scss */
.shadow .jqtree-toggler {
  left: -1.3em !important;
}

/*************************************************************
RSMS Center specific styles
*************************************************************/
/* line 103, ../sass/style.scss */
div.rsmsCenterIconContainer a {
  padding-top: 5px;
  position: relative;
}
/* line 109, ../sass/style.scss */
div.rsmsCenterIconContainer a:hover {
  -webkit-transform: scale(1.06);
  -moz-transform: scale(1.06);
  -o-transform: scale(1.06);
  -ms-transform: scale(1.06);
  text-decoration: none !Important;
}
@media (max-width: 1200px) {
  /* line 109, ../sass/style.scss */
  div.rsmsCenterIconContainer a:hover {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
  }
}
/* line 123, ../sass/style.scss */
div.rsmsCenterIconContainer a p {
  color: white;
  line-height: normal;
  text-decoration: none !important;
  padding: 5px;
  font-size: 2.3em;
}
@media (max-width: 772px) {
  /* line 131, ../sass/style.scss */
  div.rsmsCenterIconContainer a img {
    float: right;
    height: 45px;
    padding-right: 5px;
    max-width: 277px;
  }
}
@media (min-width: 1201px) {
  div.rsmsCenterIconContainer a{
   
  }
  div.rsmsCenterIconContainer a img{
    width:100% !important;
  }
}

/*******************************************************
* Emergency Info HUB STYLES
*******************************************************/

#emergency-info{
  .dropdown-menu{
    li{
      text-align: left;
    }
  }
  > div{    
    margin:inherit auto !important;

     text-align:center;
      ul.allHazardList{
        li{
                  text-align: left;

        }
      }
     li.lefterizer{
        span{
          font-size: 15px;
          font-weight:bold;
          text-align: left;
          li{
            width: 400px;
            padding-left: 8px;
            font-weight: bold;
          }
      }
    }
  }
  #biologicalMaterials{
    color:blue;
    color:red;
    ul{
      li{
        color:red;
      }
    }
  }
}

/*******************************************************
*	USER HUB STYLES
*******************************************************/
/* line 145, ../sass/style.scss */
.userList{
  background:white;
  th{
    h1{
      display: inline-block;
    }
  }
}
.userList tr {
  border: none;
  th{
    font-size:18px;
  }
}
/* line 147, ../sass/style.scss */
.userList tr td {
  width: 1%;
  transition: all .3s;
  font-size:16px;
}
/* line 150, ../sass/style.scss */
.userList tr td ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 156, ../sass/style.scss */
.userList tr td li i {
  width: auto;
  margin: 4px 0 0 5px;
  cursor: pointer;
}
/* line 161, ../sass/style.scss */
.userList tr td li i.icon-minus {
  color: #bd362f;
}
/* line 165, ../sass/style.scss */
.userList tr td li.add-role {
  color: #5bb75b;
}
/* line 169, ../sass/style.scss */
.userList tr td:last-child {
  width: 4%;
}

/* line 175, ../sass/style.scss */
tr.edit {
  border: #999 solid 3px;
  zoom: 1.1;
  transition: border .2s;
}

/* line 181, ../sass/style.scss */
tr.edit td {
  box-shadow: 6px 5px 8px rgba(0, 0, 0, 0.5);
  background: #fff !important;
}

/* line 187, ../sass/style.scss */
tr.notedit:hover, tr.notedit td:hover {
  background: #f7f7f7 !important;
}

/* line 191, ../sass/style.scss */
tr.updated {
  border: 3px solid #51a351;
}

/* line 195, ../sass/style.scss */
.hide-inactive-rows tr.inactive {
  display: none;
}

/* line 199, ../sass/style.scss */
tr.inactive td {
  background: pink !important;
}

li.inactive{
  background: rgba(255, 105, 180,.1) !important;
}

/* line 202, ../sass/style.scss */
tr.notedit, tr.notedit td {
  background: none !important;
}

.modal-content{
  .form-horizontal{
    .control-label{
      width:124px;
    }
    .controls{
      margin-left:130px;
    }
  }
  
} 
/*******************************************************
*	HAZARD HUB STYLES
*******************************************************/
/* line 209, ../sass/style.scss */
#hazardTree {
  padding-top:60px;
  font-size: 25px;
  /*********** toggle hidden state of subhazards **********************/
}
/* line 212, ../sass/style.scss */
a i{
  text-align: center;
  margin: 3px 12px 0 -2px;
  width: 1em;
}

/* line 217, ../sass/style.scss */
#hazardTree li {
  display: block;
  min-height: 25px;
  padding: 20px;
  margin: 20px;
  border: 3px solid #a7a7a7;
  white-space: wrap;
  margin-left: 18px;
  min-width: 18px;
}
/* line 229, ../sass/style.scss */
#hazardTree li:hover {
  border-color: #49afcd;
}
/* line 233, ../sass/style.scss */
#hazardTree .toggle {
  width: auto;
  font-size: 30px;
  color: #333;
  margin: -10px 3px 0 0;
  min-width: 0;
  height: auto;
  border: 0 none transparent;
  background: transparent;
}
/* line 244, ../sass/style.scss */
#hazardTree textarea:focus, #hazardTree input:focus, #hazardTree button:focus {
  outline: 0;
}
/* line 248, ../sass/style.scss */
#hazardTree li {
  transition: height 0.3s linear, line-height 0.3s linear, padding 0.3s linear, margin 0.3s linear, border 0.1s linear;
}
/* line 256, ../sass/style.scss */
#hazardTree h2 {
  display: inline;
  font-size: .9vw;
}
/* line 261, ../sass/style.scss */
#hazardTree .leftThings {
  height: 46px;
  padding-top: 6px;
  display: inline-block;
  max-width: 60%;
  min-width:450px;
}
 #hazardTree li.small .leftThings {
  max-width: 70%;
}
/* line 267, ../sass/style.scss */
#hazardTree .leftThings a {
  margin: 0 5px;
}
/* line 272, ../sass/style.scss */
#hazardTree .hazarNodeButtons {
  display: inline-block;
  float: right;
}
/* line 276, ../sass/style.scss */
#hazardTree .hazarNodeButtons a {
  margin: 0 5px;
  font-size: 1vw;
}

/* line 430, ../sass/style.scss */
.hazardBtn i, .hazardBtn span {
  margin: 0 10px;
  font-size: 15px;
  color:white !Important;
}
.hazardBtn i{
  margin:5px !important;
  font-size: 25px;
}
a.hazardBtn{
  padding-left:3px;
  padding-right:8px;
  color:white !important;
}
li.small a.hazardBtn span{
  display:none;
}
li.minimized {
  ol{
    margin-top: 0 !important;
    border:none !important; 
  }
  
}
/* line 285, ../sass/style.scss */
#hazardTree [ng-cloak] {
  display: none;
}
/* line 288, ../sass/style.scss */
#hazardTree * {
  box-sizing: border-box;
}
/* line 291, ../sass/style.scss */
#hazardTree .minimized > ol > li {
  overflow: hidden;
  position: relative;
  border: none;
  height: 0;
  line-height: 0;
  background: none !important;
  margin: 0 20px;
  padding: 0 20px;
  width: 0;
}
/* line 301, ../sass/style.scss */
#hazardTree .minimized > ol > li div {
  display: none;
}
/* line 306, ../sass/style.scss */
#hazardTree .minimized > ol > li button a {
  display: none;
}
/* line 310, ../sass/style.scss */
#hazardTree .minimized > ol {
  border: 0 none transparent;
  height: 0;
}
/* line 315, ../sass/style.scss */
#hazardTree button {
  cursor: pointer;
}

/*****************************************************************
*******           BUILDING HUB               ***************************
******************************************************************/
#buildingHub ul{
  list-style: none;
}

div#buildings{
  padding:10px;
  margin:10px;
}

div#buildings div.building{
  margin:10px;
  padding:20px;
  border: 3px solid #999;
  background:#e7e7e7;
}

div.selected h3, div.selected h4{
  margin:10px 0;
  font-weight:bold;
}

div#buildings div.selected{
  border: 3px solid #49afcd;
  background:#fff;
}
div#buildings div.selected h2{
  color:#49afcd;
  font-weight: bold;
}
@media all and (min-width: 1200px){
  #buildingHub .hazards, #buildingHub .contacts{
    width:45%;
  }
}
@media all and (max-width: 1199px){
  #buildingHub .hazards, #buildingHub .contacts{
    width:100%;
  }
}
div#buildings div.building .PI{
  padding: 21px 0 0px;
  border-top: 1px solid #d7d7d7;
  width: 100%;
  margin: 20px 0;
}
div#buildings ul.row{
  margin-left:0 !important;
}
div#buildings li.row{
  margin-left:0;
}
div.building ul.well{
  margin-left:0;
}
div.building .room{
  margin-top:10px;
}
a.btn i{
  text-align: center;
  margin: 2px 0 0 0;
  color: white;
  margin: 4px 15px 5px 0 !important;
  font-size: 25px;
}
a.hazardBtn i{
  margin: 4px 10px 2px 0px !important;
}
.small a.hazardBtn i{
  margin: 7px 13px 2px 5px !important;
  &.icon-checkmark{
    margin:7px 2px 2px 5px !important;
  }
}
a.btn-mini i{
  margin:1px 1px 3px 0 !important;
  font-size: 15px !important;
}
#buildingHub a.btn-mini{
  margin:5px;
}
#buildingHub a.btn{
  color:white;
}
.building .buttons{
  float:right;
  margin-top: -8px;
}
/*******************************************************
*	Checklist Hub Styles
*******************************************************/
/* line 325, ../sass/style.scss */
#parentChecklistsContainer, #addChecklist {
  margin: 30px 0;
}

/* line 328, ../sass/style.scss */
a#addChecklistToHazard {
  margin-top: -9px;
}

/* line 331, ../sass/style.scss */
ul.questionList, ul#parentHazards, ul.listWithChecks {
  margin-left:0;
  list-style: none;
  h3,h4{
    margin-bottom:5px;
  }
}
/* line 334, ../sass/style.scss */
ul.questionList li, ul#parentHazards li, ul.listWithChecks li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* line 340, ../sass/style.scss */
ul.questionList li a {
}

/* line 343, ../sass/style.scss */
ul#parentHazards li a {
  margin-left: 8px;
}

/* line 346, ../sass/style.scss */
ul.listWithChecks li {
  padding-left: 32px;
}
/* line 350, ../sass/style.scss */
ul.listWithChecks li .error {
}

/* line 355, ../sass/style.scss */
label.deficiencyRoomList {
  background: #fff;
}

/* line 358, ../sass/style.scss */
div.deficiencyRoomList {
  margin: 10px;
  padding: 10px;
}

/* line 362, ../sass/style.scss */
.resolvedDeficiencies {
  margin: 0 10px 10px 10px;
  padding: 10px;
}

/* Common css rules for metro-ui-light & metro-ui-dark */
/* Body & Footer & headers
-------------------------------------------------- */
/* line 372, ../sass/style.scss */
body {
  padding-top: 14px;
  position: relative;
  font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
  font-weight: 300;
  font-size: 11px;
}

/* line 382, ../sass/style.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 390, ../sass/style.scss */
.clearfix {
  display: inline-block;
  zoom: 1;
}

/* line 394, ../sass/style.scss */
html[xmlns] .clearfix {
  display: block;
}

/* line 397, ../sass/style.scss */
* html .clearfix {
  height: 1%;
}

/********************ROOM SELECTION & HAZARD ASSESMENT*************/
/* line 402, ../sass/style.scss */
.rooms label, .hazards label {
  margin: 20px 0;
}

.selectedBuildings{
  margin-left:0;
  list-style:none;
  li{
    padding:5px 0;
    border-bottom:1px solid #ccc;
    &:after{
      clear: both;
      content: ".";
      display: block;
      height: 1px;
      visibility: hidden;
    }
    ul{
      margin-left:0;
      list-style:none;
      li{
        font-size: 14px;
        border:none;
        float: left;
        margin-right:5px;
        &:after{
          height: auto;
          float: right;
          content: ", ";
          visibility: visible;
        }
        &:last-child{
          &:after { 
          content: ""; 
          }
        }
      }
    }
  }
}
.subRooms{
  margin-left:0;
  list-style:none;
  li{
    font-size: 12px;
    border:none;
    float: left;
    margin-right:5px;
    &:after{
      margin-top:-19px;
      height: auto;
      float: right;
      content: ", ";
      visibility: visible;
    }
    &:last-child{
      &:after { 
      content: ""; 
      }
    }
  }
}

.singleHazard{
  clear:both;
}

/* line 406, ../sass/style.scss */
.hazards {
  width: 100%;
}
#editPiForm{
  margin:10px 0 40px;
  h3{
    white-space:nowrap;
    height:47px;
    div{
      a{
        white-space:normal;
      }
    }
  }
}
/* line 409, ../sass/style.scss */
.hazard {
  background: #f7f7f7;
  border-bottom: #d7d7d7 solid 3px;
  margin: 10px 0;
  width: 98%;
  padding: 10px 1%;
}
img.smallLoading{
  margin: -3px 0 0 4px;
  width: 17px;
}
.subHazardModal, .roomsModal{
  margin-top:-5px;
  border: 1px solid #ddd;
  position: absolute;
  background: white;
  z-index: 50000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  h3{
    font-weight: normal;
    i{
      position: absolute;
      right:7px;
    }
  }
  ul{
    margin: 3px 0;
    max-height: 300px;
    overflow: auto;
    overflow-x: hidden;
    padding: 10px 1px;
    width: 100%;
    li{
      width:100%;
      label{
        span.metro-checkbox{
          width:100%;
        }
        img{
          margin: -3px 0 0 4px;
          width: 17px;
        }
      }
    }
  }
}
.subHazardModal{
  min-width: 350px;
}
.greyedOut{
  color:#bbb !important;
}
.selectedFooter{
  z-index: 100000;
  background: white;
  box-shadow:0 0px 16px rgba(0, 0, 0, 0.5);
  border: 1px solid#ddd;
  bottom: 100px;
  position: fixed;
  padding: 25px;
  width: auto;
  margin-bottom: 30px;
  h2{
    text-align: center;
  }
  table{
    tr{
      th{
        background:#d16349;
        color:#fff;
      }
      td{
        background:#faf0ee
      }
    }
    tr:nth-child(odd){
      td{
        background:#f5dfda;
      }
    }
  }
}


/********************CHECKLIST STYLES *****************************/
/* line 418, ../sass/style.scss */
.checklist.panel {
  padding:15px;
  margin: 10px 10px 15px;
  background: #f0f0f0;
  border-radius:3px;
}

/* line 423, ../sass/style.scss */
div.question, li.question {
  border-bottom: 1px solid #d7d7d7;
  padding: 10px 2%;
  margin: 10px 0;
  width: 93%;
  background: #f7f7f7;
}

/* individual page menu bars*/
/* line 435, ../sass/style.scss */
.pageMenu {
  min-height: 55px !important;
  color: white !important;
  padding: 2px 0 2px 0;
  width: 100%;
  li:first-child{
    width:100%;
  }
}
/* line 440, ../sass/style.scss */
.pageMenu a {
  color: white;
  margin-left: 13px;
}
/* line 445, ../sass/style.scss */
.pageMenu a img {
  margin: 0 13px 0 5px;
}

/* line 450, ../sass/style.scss */
.questionControls {
  margin: 10px 0 5px;
  display: block;
}

/* line 454, ../sass/style.scss */
.deficiencies, .recommendations {
  padding: 15px 0;
}

/*rotate hide/reveal text for sidenav on checklist*/
/* line 458, ../sass/style.scss */
.rotate {
  -webkit-transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  -o-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
  /* Safari & Chrome */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
/*****************************************************************
*****            POST INSPECTION PROCESS                **********
*****************************************************************/
.postInspectionNav{
  list-style: none;
  width:100%;
  height: 70px;
  margin-top:16px;
}
.postInspectionNav li{
  float:left;
  margin-right:10px;
}
.inspectionInfo{
  margin-bottom:20px;
}
.inspectionInfo {
  .row{
    h3{
      display:inline-block;
      margin-bottom:10px;
      font-weight: bold;
    } 
    p{
      color:$darkBlue;
      margin-left:2px;
    }
  }
}
.correctiveAction{
  position:absolute;
}
.inspectionInfo .row{
  margin-left:0;
}
.inspectionInfo p{
  display:inline;
  font-size:18px;
  width:20px;
}
.inspectionInfo .pull-right{
  width:360px;
}
.inspectionReportTable{
  th{
    text-align: center;
    font-weight: bold;
    font-size:1.8em;
  }
  td{
  }
}

td.reviewHeader{
  font-weight: bold;
  font-size: 25px;
  color: white;
  padding-left: 15px;
  height: 38px;
  background-position: 5px 7px;
  background-repeat: no-repeat;
}
.inspectionHeader div{
  margin-top:20px;
  margin-bottom: 50px;
  text-align: center;
  h1{
    border-style: solid;
    border-color: #49afcd;
    border-width: 8px 0;
    margin-top: 12px;
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
  }
  h3{
    color:$blue;
    font-size:12px;
    font-weight:bold;
  }
  img{
    &:not(.usclogo){
      width: 54px;
      margin: 0 2px 0;
    }
    &.usclogo{
      float:left;
    }
    &.rsc-logo{
      float:none !important;
      width:225px;
    }   
  }
}
#biologicalMaterialsHeader,#chemicalSafetyHeader,#radiationSafetyHeader,#generalSafetyHeader{
  vertical-align: middle;
  text-align: left;
  img{
      width:38px;
      margin: 0 5px 8px 0;
  }
}
#biologicalMaterialsHeader{
 // background-image: url(../img/biohazard-white-con.png);
  background-color: #d00;
}
#chemicalSafetyHeader{
  //background: url(../img/chemical-safety-large-icon.png) 4px 10px no-repeat;
  background-color: #F3F306;
  color: black;
  background-size: 38px;
}
#radiationSafetyHeader{
  //background-image: url(../img/radiation-large-icon.png);
  background-color: #6600cc;
  background-size: 40px 40px;
  img{
    margin: 4px 5px 8px 0 !important;
  }
}
#generalSafetyHeader{
  background-color: #006600;
}
.Pending{
  font-size: 14px;
}
.Pending:after{
  margin-left:15px;
  font-family: 'Open Sans', sans-serif !important;
}
.Incomplete{
  color:#e67e1d !important;
}
.Pending{
  color: #e67e1d !important;
}
.Pending:before{
  content: "\e13a";
}
.Pending:after{
  //content:"Pending";
}
.Complete{
  color:#090 !important;
}
.Complete:after{
 // content:"Complete";
}
.Complete:before{
  content: "\e03c";
}
.Incomplete{
  color:#900 !important;
}
.Incomplete:before{
  content: "\e03a";
}
.Incomplete:after{
 // content:"Incomplete";
}
.detail{
  margin-bottom:55px;
  h2{
    font-weight: bold;
    border-bottom:1px solid #ddd;
    padding:10px 0;
    margin:0 10px;
  }
}
.checklistDetailsQuestion{
  &:hover{
    background:#f7f7f7;
  }
  padding:30px 10px 25px;
  margin:0 10px;
  border-bottom:1px solid #ddd;
  h3{
    font-size:20px;
    font-weight: bold;
  }
  i{
    text-align: center;
    font-size:25px;
    font-weight: bold;
    font-style: normal;
  }
  ul{
    margin: 15px;
    list-style: none;
    li{
      margin-bottom: 10px;
      font-size:19px;
      h5{
        font-weight: bold;
        font-size:19px;
      }
      p.rootCause{
        margin-left:5px;
        font-size:15px; 
      }
    }
  }
  ul.recommendations{
    li{
      color: $slightlyDarkerBlue;
    }
  }
  ul.deficiencies{
    li{
      color: $orange;
    }
  }
  ul.observations{
    li{
      color: $purple;
    }
  }

}
ul.key{
  margin-top: -70px;
  float: right;
  list-style: none; 
  &:after{
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
  }
  li{
      font-size:20px;
      font-weight:bold;
      float:left;
      padding:5px;
      margin-top:10px;
    span{
      height:30px;
      width:30px;
      display:inline-block;
      margin-top:5px;
    }
    h2{
      margin-top:-10px;
    }
  }
  li.observations{
    color:$purple;
    span{background:$purple;}
  }
  li.recommendations{
    color:$slightlyDarkerBlue;
    span{background:$slightlyDarkerBlue;}
  }
  li.deficiencies{
    color:$orange;
    span{background:$orange;}
  }
}
.Yes{
  color:#090;
}
.No{
  color:#c00;
}

/****************************************************************
*****           HAZARD ASSESSMENT   ****************************
*****************************************************************/
/* line 487, ../sass/style.scss */
.hazardRooms {
  margin-top: -20px;
}
/* line 489, ../sass/style.scss */
.hazardRooms p {
  margin-bottom: -25px;
}

/* line 494, ../sass/style.scss */
.jqtree_common .input-append {
  margin-bottom: -35px;
}
.hazardLi{
  clear:both;
  h4{
      label{
        white-space:nowrap;
        span.metro-checkbox{
          margin-right:0 !Important;
          width:100%;
          display: inline !Important;
        }
      }
    }
}
/* line 497, ../sass/style.scss */
.hazardList, .hazardList ul {
  list-style: none !Important;

  i{
    margin:5px 2px 0;
    font-size:17px;
    &.icon-plus-2{
      color:$green;
    }
    &.icon-enter{
      color:$blue;
    }
  }
}

@media (max-width: 1365px) {
  /* line 501, ../sass/style.scss */
  .hazardList {
    width: 100%;
    margin-bottom: 40px;
    &.narrow{
      width:50px;
    }
  }
  .hazardLi{
  clear:both;
  h4{
      label{
        white-space:nowrap;
        span.metro-checkbox{
          margin-right:0 !Important;
          width:100%;
          display: inline !Important;
        }
      }
    }
}
}
@media (min-width: 1206px) {
  /* line 508, ../sass/style.scss */
  .hazardList {
    width: 30%;
    margin: 0 3% 0 0;
    float: left;
    &.narrow{
      width:50px;
    }
  }
  .hazardLi{
  clear:both;
  h4{
      label{
        span.metro-checkbox{
          font-size:.85vw;
        }
      }
    }
}
}
.allHazardList{
  hr{
    border-top:1px solid #999 !important;
  }
}
/* line 515, ../sass/style.scss */
.hazardListHeader {
  background-size: 45px 45px !important;
  background-position: left 50%;
  background-repeat: no-repeat !important;
  padding-left: 60px;
  margin-bottom: 10px;
  font-size: 1.5vw;
}

/* line 523, ../sass/style.scss */
#biologicalMaterials, #biologicalSafety, #biologicalHazards {
  background: url(../img/biohazard-largeicon.png);
}

/* line 527, ../sass/style.scss */
#generalLaboratorySafety, #chemicalSafety, #chemicalHazards {
  background: url(../img/chemical-safety-large-icon.png);
}

/* line 530, ../sass/style.scss */
#radiationSafety, #radiationHazards {
  background: url(../img/radiation-large-icon.png);
}
.pseudoSelect{
  &:hover{
    background:white;
    border-color: #ccc;
    padding-top: 3px;
    padding-bottom: 3px;
    height: 20px;
    background: white;
    text-align: left;
    width: 220px;
    color:black;
  }
  border-color: #ccc;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 20px;
  background: white;
  text-align: left;
  width: 220px;
  i{
    margin-top: -113px !important;
    font-size: 44px !important;
    float: right;
    color: black !important;
  }
}
.roomSelect{
  margin-left:50%;
  margin-top:-3px;
  z-index:10000000000;
}
.selectRooms{
  border:none;
  z-index:100;
  box-shadow: 0 0 10px rgba(0,0,0,.4);
  width: 224px;
  border: 2px solid #ccc;
  margin: 0;
  margin-top: -21px;
  margin-left: 9px;
  padding: 10px;
  background: white;
  position: absolute;
  list-style: none;
  li{
    padding:5px;
    border:none;
    h4{
      font-weight: bold;
    }
  }
  ul{
    list-style: none;
    margin-left:10px !important;
    li{
      list-style: none;
      padding: 0;
      margin:0;
      &:after{
        margin-top:-19px;
        margin-left:0;
        content:"" !important;
        margin-left:-4px;
      }
    }
  }
}

.roomSelectContainer{
  display: inline;
}

/*****************************************************************
*******           PI HUB               ***************************
******************************************************************/
/* line 536, ../sass/style.scss */
#piButtons a {
  margin: 20px 10px;
}

/* line 539, ../sass/style.scss */
.list thead a {
  margin: 10px;
}

/* line 543, ../sass/style.scss */
.list h2 {
  margin-top: 30px;
  margin-bottom: -4px;
}

/* line 548, ../sass/style.scss */
#departmentList, #specialHazardList {
  list-style: none;
}

/* line 552, ../sass/style.scss */
#departmentList li, #specialHazardList li {
  font-size: 20px;
  line-height: 34px;
}

/* line 557, ../sass/style.scss */
textarea, input {
  border-color: #999;
}

/* line 561, ../sass/style.scss */
.hazard-assessment-modal {
  height: 400px;
  overflow: hidden !important;
  left: 0;
  margin: 0;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-left: 70px;
  width: auto;
}

/* line 577, ../sass/style.scss */
.hazard-assessment-modal .modal-body {
  overflow: hidden;
  padding-right: 0;
}

/* line 581, ../sass/style.scss */
.hazard-assessment-modal .tabbable .nav-stacked {
  border-left: 1px solid #ccc;
  float: left;
  overflow-x: hidden;
  height: 315px;
}

/* line 588, ../sass/style.scss */
.hazard-assessment-modal .tabbable .nav-stacked > li {
  padding-right: 15px;
  margin-left: 10px;
  width: 450px;
}

@media (max-width: 1200px) {
  /* line 594, ../sass/style.scss */
  .hazard-assessment-modal .tabbable .nav-stacked > li {
    padding-right: 15px;
    margin-left: 10px;
    width: 250px;
  }
}
/* line 600, ../sass/style.scss */
.hazard-assessment-modal .tab-content {
  height: 330px;
  overflow: hidden !important;
}

/* line 604, ../sass/style.scss */
.hazard-assessment-modal .modal-header, .hazard-assessment-modal li.active a {
  background: #e67e1d !important;
  color: white !important;
}

/* line 608, ../sass/style.scss */
.hazard-assessment-modal li a {
  color: #666;
  cursor: pointer;
}

/* line 612, ../sass/style.scss */
.hazard-assessment-modal li a:hover {
  text-decoration: none !important;
}

/* line 615, ../sass/style.scss */
li.active a {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-color: #e67e1d !important;
}

/* line 619, ../sass/style.scss */
.nav-tabs.nav-stacked > li > a {
  border: none;
}

/***************************************************************
********* I
***************************************************************/
/* Let's get this party started */
/* line 629, ../sass/style.scss */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
/* line 634, ../sass/style.scss */
::-webkit-scrollbar-track {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #ccc;
}

/* Handle */
/* line 642, ../sass/style.scss */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.3);
}

/* line 648, ../sass/style.scss */
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.2);
}

/* line 653, ../sass/style.scss 
.checklist:before {
  display: block;
  content: " ";
  margin-top: -265px;
  height: 285px;
  visibility: hidden;
}
*/
/* line 660, ../sass/style.scss */
.checklist ul {
  list-style: none !important;
}

/* line 663, ../sass/style.scss */
#sp-nav ul li a {
  line-height: normal;
  color: black;
  margin: 0;
  border-bottom: 1px solid #c0c0c0;
  font-size: 17px;
  padding: 24px 10px 37px 30px;
  text-shadow: none;
  box-shadow: none !important;
}

/* line 674, ../sass/style.scss */
#sp-nav ul {
  padding: 0;
}

/* line 678, ../sass/style.scss */
#sp-nav ul li a.active {
  background: white;
  color: black;
}

/* line 683, ../sass/style.scss */
.accordion-toggle h2 {
  color: black;
  text-decoration: none !important;
}

/* line 687, ../sass/style.scss */
.accordion-toggle:hover {
  text-decoration: none !important;
}

/* line 690, ../sass/style.scss */
.questionAnswerInputs {
  float: right;
}

/* line 693, ../sass/style.scss */
.dropInputs {
  clear: both;
  margin-top: 39px;
  float: none;
}

/* line 698, ../sass/style.scss */
.menuIcon {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  color: #333 !important;
  background: #d5d5d5;
  padding: 25px 5px 25px 5px !important;
  top: 91px;
  display: block;
  position: fixed;
  font-size: 45px;
  margin: -15px 0 -9px 98%;
  float: left;
  z-index: 500;
  border-radius: 0 3px 3px 0;
  transition: margin-left .2s;
  -webkit-transition: margin-left .2s;
}

/* line 714, ../sass/style.scss */
.menuIcon:hover {
  padding: 24px 5px 25px 4px !important;
  border: 1px solid #ccc;
  text-decoration: none;
}

/* line 719, ../sass/style.scss */
.menuIcon:hover:active {
  color: green !important t;
}

/* line 722, ../sass/style.scss */
.pushLeft {
  transition: margin-left .2s;
  -webkit-transition: margin-left .2s;
  margin-left: 20% !important;
}

/* line 727, ../sass/style.scss */
span.red {
  color: #f00;
}

/* line 730, ../sass/style.scss */
span.green {
  color: #090;
}

/* line 734, ../sass/style.scss */
.hazardList > ul {
  margin: 0;
  li{
    margin:5px 0;
  }
}

/* line 737, ../sass/style.scss */
.hazardList > ul li > ul {
}

/* line 740, ../sass/style.scss */
.topSub h1, .topSub h2, .topSub h3, .topSub h4, .topSub h5, .topSub h6 {
  color: black;
}

/* line 743, ../sass/style.scss */
.topSub {
  padding: 5px 0;
  padding: 5px;
}

/* line 749, ../sass/style.scss */
.topSub:hover {
  background: #eeeeee;
}

/* line 752, ../sass/style.scss */
.subHazards {
  margin: -9px 0 11px 39px !important;
}

/* line 755, ../sass/style.scss */
.subHazards > li, .subHazards > p, .topSub > p, .topSub > li, .roomRepeat {
  font-size: 15px;
  margin: 15px 0;
}

/****overrides for small room number checkboxes in hazard assessment***************/
/* line 760, ../sass/style.scss */
label.checkbox input[type=checkbox] ~ span.smaller::after {
  padding: 0 0 15px 2px;
  font-family: 'IcoMoon';
  content: "\2003";
  font-size: 10px !important;
  position: absolute;
  top: 7px !important;
  left: 7px !important;
  width: 12px !important;
  height: 0 !important;
  z-index: 1000;
}

/* line 772, ../sass/style.scss */
.roomRepeat {
  margin: 3px;
}

/* line 775, ../sass/style.scss */
.roomRepeat:after {
  content: ", ";
}

/* line 778, ../sass/style.scss */
.last:after {
  content: "" !important;
}

/* line 781, ../sass/style.scss */
.modal-trigger-plus {
  color: #090;
  font-size: 25px;
  margin-top: 6px;
}

/* line 787, ../sass/style.scss */
.subHazards > li h4, .topSub > li h4 {
  white-space: nowrap;
}

/* line 790, ../sass/style.scss */
#footer ul {
  list-style: none;
  margin: 15px 0;
}

/* line 795, ../sass/style.scss */
#footer li {
  float: left;
  width: 25%;
}

/* line 799, ../sass/style.scss */
#footer li a {
  font-size: 1vw;
}

/* line 802, ../sass/style.scss */
#footer li a span {
  margin-left: 10px;
}

/* line 805, ../sass/style.scss */
#footer li a img {
  max-width: 20%;
}

@media (max-width: 800px) {
  /* line 809, ../sass/style.scss */
  #footer li a span {
    margin-left: 10px;
    display: block;
  }
}
/* line 814, ../sass/style.scss */
.clipboard {
  background: url(../img/clipboard.png);
}

/* line 815, ../sass/style.scss */
.phone {
  background: url(../img/phone.png);
  padding-left: 140px !important;
}

/* line 816, ../sass/style.scss */
.speechBubble {
  background: url(../img/speechBubble.png);
  padding-left: 190px !important;
}

/* line 817, ../sass/style.scss */
.checkmarkFooter {
  background: url(../img/checkmarkFooter.png);
  padding-left: 140px !important;
}

/* line 819, ../sass/style.scss */
.accordion:first-child {
  padding: 10px;
}

/* line 822, ../sass/style.scss */
.test {
  width: 100px;
}
.loading img{
  width:50px;
}
.loading{
  font-size:20px;
  font-weight: bold;
}
.listStyleNone{
  list-style: none;
}
.hide{
  display: none !important;
}
.btn{
  -webkit-border-radius: 2px !important;
   -moz-border-radius:2px !important;
   border-radius: 2px !important;
}

//datepickter styles
.quickdate{display:inline-block;position:relative;font-size:12px !Important;}
.quickdate-button div,.quickdate-action-link div{display:inline}
.quickdate-popup{z-index:10;background-color:#fff;border:solid 1px #000;text-align:center;width:250px;display:none;position:absolute;padding:5px;box-shadow:0 0 10px rgba(0,0,0,.7);}
.quickdate-popup.open{display:block;}
.quickdate-close{position:absolute;top:5px;right:5px;color:#333;}
.quickdate-close:hover,.quickdate-close:visited{color:#333}
.quickdate-calendar-header{display:block;padding:2px 0;margin-bottom:5px;text-align:center}
.quickdate-month{display:inline-block}
a.quickdate-prev-month{float:left}
a.quickdate-next-month{float:right}
.quickdate-text-inputs{text-align:left;margin-bottom:5px}
.quickdate-input-wrapper{width:48%;display:inline-block}
input.quickdate-date-input,input.quickdate-time-input{width:200px;margin:0;height:auto;padding:2px 3px}
table.quickdate-calendar{border-collapse:collapse;border-spacing:0;width:100%;margin-top:5px;margin-left:-3px;}
table.quickdate-calendar th,table.quickdate-calendar td{padding:5px}
table.quickdate-calendar td:hover{cursor:pointer}
.quickdate-popup-footer{text-align:right;display:block}
.quickdate-error{border:1px solid #dd3b30 !important}
.quickdate-error:focus{outline-color:#dd3b30 !important}
.is-today{
  background: $blue !important;
  color:white !important;
}
.disabled-date{
  cursor: text !important;
  color: #666 !Important;
  background: #b9b9b9 !important;
}

.invalid{
  border-color: red;
}

.modal-body{
  ul{
    list-style-type: none;
    margin-left:0;
  }
}


.bold{
  font-weight: bold;
}
.underline{
  text-decoration: underline;
}
.notTheOpenedOne{
  max-height: none !Important;
  overflow-y: hidden !important;

}


/* define height and width of scrollable area. Add 16px to width for scrollbar          */
div.tableContainer {
  clear: both;
  max-height: 500px;
  overflow: auto;
  width: auto;
}

/* Reset overflow value to hidden for all non-IE browsers. */
div.tableContainer {
  overflow: hidden;
   width: auto;
}

/* define width of table. IE browsers only                 */
div.tableContainer table {
  float: left;
  width: auto;
}

/* define width of table. Add 16px to width for scrollbar.           */
/* All other non-IE browsers.                                        */
div.tableContainer table {
   width: auto;
}

/* set table header to a fixed position. WinIE 6.x only                                       */
/* In WinIE 6.x, any element with a position property set to relative and is a child of       */
/* an element that has an overflow property set, the relative value translates into fixed.    */
/* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */
thead.fixedHeader tr {
  position: relative
}

/* set THEAD element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
html>body thead.fixedHeader tr {
  display: block
}

/* make the TH elements pretty */




/* make the A elements pretty. makes for nice clickable headers                */


/* define the table content to be scrollable                                              */
/* set TBODY element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* induced side effect is that child TDs no longer accept width: auto                     */
html>body tbody.scrollContent {
  display: block;
  max-height: 450px;
  overflow: auto;
  width: 100%
}

/* define width of TH elements: 1st, 2nd, and 3rd respectively.          */
/* Add 16px to last TH for scrollbar padding. All other non-IE browsers. */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
table{
  font-size:12px;
}