
<input style="" type="text"  typeahead-on-select='onSelectUser($item)' ng-model="selectedUser" placeholder="Add a lab contact" typeahead="user as user.Name for user in users | filter:$viewValue"><img ng-show="selectedUser.IsDirty" class="smallLoading" src="../../../img/loading.gif"/>

<table class="roomList table table-striped table-hover list" id="rooms">
<thead>
	<tr><td colspan="8"><h2 class="alert greenBg" style="">PI’s Laboratory Personnel</h2></td></tr>

		<th>Remove User</th><th>Name</th><th>Username</th><th>Email</th><th>Edit</th>
	</tr>
</thead>
<tbody>
	<tr ng-repeat="user in PI.LabPersonnel">
		<td><a class="btn btn-danger btn-large" ng-click="removeUser(user)"><i class="icon-remove"></i>Remove</a><img ng-show="user.IsDirty" class="smallLoading" src="../../../img/loading.gif"/></td>

		<td ng-show="user.edit"><a class="btn btn-large btn-danger" ng-click="cancelEdits(user)">Cancel</a></td>
		<td ng-hide="user.edit">{{user.Name}}</td><td ng-show="user.edit"><input ng-model="userCopy.Name"/></td>
		<td ng-hide="user.edit">{{user.Username}}</td><td ng-show="user.edit"><input ng-model="userCopy.Username"/></td>
		<td ng-hide="user.edit">{{user.Email}}</td><td ng-show="user.edit"><input ng-model="userCopy.Email"/></td>
		<td><a class="edit btn btn-large btn-warning" target="_blank" href="userHub.php?{{user.KeyId}}"><i class="icon-lab"></i>Edit User</a></td>
	</tr>
</tbody>
