<div cg-busy="{promise:piAuthsPromise,message:'Loading', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div class="auths well card" style="margin:0; padding:0; border:none; box-shadow:none; width:100%">
    <h1 class="hide-print">
        <i class="icon-copy" style="page-break-after:avoid; page-break-before:avoid"></i>Print Authorization Report
        <a class="btn btn-primary left" style="margin-left:5px;" ng-click="filterObj.showNew =! filterObj.showNew; filterObj.toDate = null; filterObj.fromDate = null; filtered = piAuths">
            <span ng-if="!filterObj.showNew">Show New Authorizations</span>
            <span ng-if="filterObj.showNew">Show All Authorizations</span>
        </a>
        <a class="btn btn-info left" ng-click="print();"><i class="icon-printer"></i>Print</a>
        <span ng-if="filterObj.showNew" style="display:block">
            from <input placeholder="mm/dd/yy" ng-model="filterObj.fromDate" /> to <input placeholder="mm/dd/yy" ng-model="filterObj.toDate" /><a class="btn btn-success" ng-click="filtered = search(filterObj, piAuths)"><i class="icon-search"></i></a>
        </span>
    </h1>
    <h3 ng-if="!piAuths.length">No Authorizations</h3>
    <span ng-init="filterObj"></span>
    <div class="card full authReports" ng-if="piAuths.length">
        <div class="fake-table striped print-it">
            <div class="table-header">
                <h3 ng-if="filterObj.showNew">Date</h3>
                <h3>Investigator<br /><input ng-model="filterObj.piName" /></h3>
                <h3 ng-if="!filterObj.showNew">Department<br /><input ng-model="filterObj.department" /></h3>
                <h3 ng-if="!filterObj.showNew">
                    Building<br /><input ng-model="filterObj.building" />
                </h3>
                <h3>Room<br /><input ng-model="filterObj.room" /></h3>
                <h3 ng-if="!filterObj.showNew">Auth #</h3>

                <h3 ng-if="filterObj.showNew">Amendments</h3>
                <h3 ng-if="filterObj.showNew">License Authorization</h3>
            </div>
            <div class="table-row" ng-repeat="piAuth in filtered | authsFilter:filterObj | orderBy: 'PiName'">
                <div ng-if="filterObj.showNew" style="padding:10px !important;">{{piAuth.Approval_date | dateToIso}}</div>
                <div>
                    {{piAuth.PiName}}
                </div>

                <div ng-if="filterObj.showNew">{{piAuth.Update_notes}}</div>
                <div ng-if="filterObj.showNew">{{piAuth.New_notes}}</div>

                <div ng-if="!filterObj.showNew">
                    <ul>
                        <li ng-repeat="dept in piAuth.Departments">
                            {{dept.Name}}
                        </li>
                    </ul>

                </div>
                <div ng-if="!filterObj.showNew">
                    <ul class="selectedBuildings">
                        <li ng-repeat="(key, r) in piAuth.Rooms | groupBy: 'Building.Name'">
                                <h4>{{r[0].Building.Alias || r[0].Building.Name}}</h4>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul class="selectedBuildings">
                        <li ng-repeat="(key, r) in piAuth.Rooms | groupBy: 'Building.Name'">
                                <ul>
                                    <li ng-repeat="(key, room) in rooms = (r | activeOnly | orderBy: 'Name')">{{room.Name}}</li>
                                </ul>
                        </li>
                    </ul>
                </div>
                <div ng-if="!filterObj.showNew">
                    {{piAuth.Authorization_number}}
                </div>
            </div>
        </div>

    </div>
</div>