<div cg-busy="{promise:piAuthsPromise,message:'Loading', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>

<div class="right-column">
    <div class="well full auths">
        <h1 class="auth-report"><i class="icon-copy"></i>Authorization Report
            <a class="btn btn-primary left" ng-click="filterObj.showNew =! filterObj.showNew; filterObj.toDate = null; filterObj.fromDate = null; filtered = filterObj.showNew ? [] : piAuths;filtered = search(filterObj)">
                <span ng-if="!filterObj.showNew">Show New Authorizations</span>
                <span ng-if="filterObj.showNew">Show All Authorizations</span>
            </a>
            <a class="btn btn-primary left" style="margin-left:5px;" ng-click="filterObj.showTerminated =! filterObj.showTerminated; filterObj.toDate = null; filterObj.fromDate = null; filtered = piAuths">
                <span ng-if="!filterObj.showTerminated">Show Terminated Authorizations</span>
                <span ng-if="filterObj.showTerminated">Show Open Authorizations</span>
            </a>
            <a class="btn btn-info left" ui-sref="auth-report-print"><i class="icon-printer"></i>Print</a>

            <span ng-if="filterObj.showNew" style="display:block">
                from <input placeholder="mm/dd/yy" ng-model="filterObj.fromDate" /> to <input placeholder="mm/dd/yy" ng-model="filterObj.toDate"/><a class="btn btn-success" ng-click="filtered = search(filterObj)"><i class="icon-search"></i></a>
            </span>
        </h1>
        <h3 ng-if="!piAuths.length">No Authorizations</h3>
        <span ng-init="filterObj"></span>
        <div class="card full authReports" ng-if="piAuths.length">
            <table class="table striped">
                <tr class="table-header">
                    <th>Investigator<br /><input ng-model="filterObj.piName" /></th>
                    <th ng-if="filterObj.showNew || filterObj.showTerminated">Date Terminated</th>
                    <th ng-if="filterObj.showTerminated">Notes</th>
                    <th ng-if="!filterObj.showNew && !filterObj.showTerminated">Department<br /><input ng-model="filterObj.department" /></th>
                    <th ng-if="!filterObj.showNew && !filterObj.showTerminated">
                        <span class="span6" style="margin-left:0">Building<br /><input ng-model="filterObj.building" /></span>
                    </th>
                    <th ng-if="!filterObj.showNew && !filterObj.showTerminated">
                        <span class="span6" style="margin-left:0">Room<br /><input ng-model="filterObj.room" /></span>
                    </th>
                    <th ng-if="filterObj.showNew && !filterObj.showTerminated">Amendments</th>
                    <th ng-if="filterObj.showNew && !filterObj.showTerminated">License Authorization</th>
                    <th ng-if="!filterObj.showNew">Auth #</th>

                </tr>
                <tr class="table-row" ng-if="!filterObj.showNew" ng-repeat="piAuth in filtered | authsFilter:filterObj | orderBy: 'PiName'" >
                    <td>
                        {{piAuth.PiName}}
                    </td>
                    <td ng-if="filterObj.showTerminated">
                        {{piAuth.Termination_date | dateToISO}}
                    </td>
                    <td ng-if="filterObj.showTerminated">
                        {{piAuth.Termination_notes}}
                    </td>
                    <td ng-if="!filterObj.showNew && !filterObj.showTerminated">
                        <ul>
                            <li ng-repeat="dept in piAuth.Departments">
                                {{dept.Name}}
                            </li>
                        </ul>

                    </td>
                    <td ng-if="!filterObj.showNew && !filterObj.showTerminated">
                        <ul class="selectedBuildings">
                            <li ng-repeat="(key, r) in piAuth.Rooms | groupBy: 'Building.Name'">
                                <div>
                                    <ul><li><h4>{{r[0].Building.Alias || r[0].Building.Name}}</h4></li></ul>
                                </div>
                            </li>
                        </ul>
                    </td>
                    <td ng-if="!filterObj.showNew && !filterObj.showTerminated">
                        <ul class="selectedBuildings">
                            <li ng-repeat="(key, r) in piAuth.Rooms | groupBy: 'Building.Name'">
                                <div>
                                    <ul>
                                        <li ng-repeat="(key, room) in rooms = (r | activeOnly | orderBy: 'Name')">{{room.Name}}</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </td>
                    <td ng-if="!filterObj.showNew">
                        {{piAuth.Authorization_number}}
                    </td>                   
                </tr>
                <tr class="table-row" ng-if="filterObj.showNew" ng-repeat="piAuth in filtered | authsFilter:filterObj | orderBy: ['Approval_date','PiName']">
                    <td>
                        {{piAuth.PiName}}
                    </td>

                    <td ng-if="filterObj.showNew" style="padding:10px !important;">{{piAuth.Approval_date | dateToIso}}</td>
                    <td ng-if="filterObj.showNew "style="padding:10px !important;width:30%">
                        <span ng-if="piAuth.Amendment_number && piAuth.Amendment_number != 0">{{piAuth.Update_notes || piAuth.New_notes}}</span>
                    </td> 
                    <td ng-if="filterObj.showNew " style="padding:10px !important;width:30%">
                        <span ng-if="!piAuth.Amendment_number || piAuth.Amendment_number == 0">{{piAuth.Update_notes || piAuth.New_notes}}</span>
                    </td> 
                </tr>
    
            </table>

        </div>
    </div>

</div>
