<!--div cg-busy="{promise:CarboyReadingAmountSaving, message:'Saving', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div-->
<div cg-busy="{promise:carboysPromise, message:'Loading carboys...', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>

<div class="right-column">

    <div class="well three-fourths">
        <h1 class="carboys"><i class="icon-carboy"></i>
            Carboys
            <a ng-click="openModal()" class="btn btn-success left" style="margin-left:10px">
                <i class="icon-plus-2"></i>
                <i class="icon-carboy"></i>
                New Carboy
            </a>
        </h1>
        <h3 ng-if="!carboys.length">No carboys</h3>

        <div class="card full carboys" ng-if="carboys.length">
            <div class="fake-table bordered">
                <div class="table-header" ng-init="orderCarboysBy = 'Carboy_number'">
                    <h3>Edit</h3>
                    <h3 ng-click="orderCarboysBy = 'Carboy_number'">Carboy Number</h3>
                    <h3 ng-click="orderCarboysBy = 'Current_carboy_use_cycle.Status'">Status</h3>
                    <h3 ng-click="orderCarboysBy = 'PI.Name'">PI</h3>
                    <h3>Contents</h3>
                </div>
                <div class="table-row" ng-repeat="carboy in carboys | filter: {Retirement_date: null} | orderBy:orderCarboysBy track by carboy.Key_id">
                    <div>
                        <a ng-disabled="carboy.edit" ng-class="{'disabled':carboy.edit}" ng-click="openModal(carboy)" class="btn btn-primary left">
                            <i class="icon-pencil"></i>Edit
                        </a>
                        <!-- TODO: Possible Status values should be enums -->
                        <a ng-disabled="carboy.edit" ng-if="allowRetireCarboy(carboy)"
                           ng-class="{'disabled':carboy.edit}" ng-click="deactivate(carboy)" class="btn btn-danger left">
                            <i class="icon-remove"></i>Deactivate
                        </a>
                        <a ng-disabled="carboy.edit" ng-if="allowRecirculateCarboy(carboy)"
                           ng-class="{'disabled':carboy.edit}" ng-click="recirculateCarboy(carboy)" class="btn btn-warning left">
                            <i class="icon-back-2"></i><i class="icon-forward"></i>Recirculate
                        </a>
                    </div>
                    <div>
                        {{carboy.Carboy_number}}
                    </div>
                    <div>
                        {{carboy.Current_carboy_use_cycle.Status}}
                    </div>
                    <div>
                        {{carboy.PI.Name || "N/A"}}
                    </div>
                    <div>
                        <div class="fake-table" ng-if="carboy.Current_carboy_use_cycle.Contents.length">
                            <div class="table-header">
                                <h3>Isotope</h3>
                                <h3>Quantity</h3>
                            </div>
                            <div class="table-row" ng-repeat="amt in carboy.Current_carboy_use_cycle.Contents track by $index">
                                <div>{{amt.Isotope_name}}</div>
                                <div>{{amt.Curie_level | unit:amt}}</div>
                            </div>
                        </div>
                        <p ng-if="!carboy.Current_carboy_use_cycle.Contents.length">
                            N/A
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
