<div cg-busy="{promise:CarboyReadingAmountSaving,message:'Saving', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:MiscellaneousWasteSaving,message:'Saving', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:removeFromDrumPromise,message:'Saving', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>

<div class="right-column">
    <div class="well four-fifths">
        [Disposal History]
    </div>
</div>

<div cg-busy="{promise:saving,message:'Saving', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:saving,message:'Saving', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>