<div cg-busy="{promise:loadArchivePromise,message:'Loading...', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>

<div class="right-column">
    <div class="well full">
        <h1>All Waste Containers</h1>

        <div class="control-group disposal-info">
            <ul class="nav nav-pills">
                <li>
                    <a class="btn-small" ng-click="limitToDisposed = !limitToDisposed">
                        <i style="padding-right:5px;" ng-class="{'icon-checkbox': limitToDisposed, 'icon-checkbox-unchecked': !limitToDisposed}"></i>
                        <span>Show only disposed containers</span>
                    </a>
                </li>
                <li style="display:block;">
                    <input ng-model="searchText" placeholder="Search" />
                </li>
            </ul>
            <ul class="nav nav-pills">
                <li ng-repeat="type in wasteTypes">
                    <a class="btn-small" ng-click="type.active = !type.active">
                        <i style="padding-right:5px;" ng-class="{'icon-checkbox': type.active, 'icon-checkbox-unchecked': !type.active}"></i>
                        <span>{{type.ClassLabel}}</span><span ng-if="type.disabled">(Inactive)</span>
                    </a>
                </li>
            </ul>
        </div>

        <span>Displaying {{filteredContainers.length || 0}} of {{containers.length || 0}} Containers</span>

        <div class="card full fake-table bordered">
            <div class="table-header">
                <h3></h3>
                <h3>Label</h3>
                <h3>PI</h3>
                <h3>Opened</h3>
                <h3>Closed</h3>
                <h3>Picked up</h3>
                <h3>At RSO</h3>
                <h3>Hot Room</h3>
                <h3>Drum</h3>
                <h3>Disposed</h3>
                <h3 style="width:250px;">Contents</h3>
                <h3>Comments</h3>
            </div>
            <div class="table-row" ng-repeat="container in filteredContainers = (containers | filterInactiveTypes:wasteTypes | filterOnlyDisposedContainers:limitToDisposed | containerContainsText:searchText) track by container.Key_id">
                <div><i class="{{getIconClass(container)}}"></i></div>
                <div>
                    <span>{{container.ViewLabel}}</span>
                    <div ng-if="container.Description" style="font-weight:initial; font-style:italic;">{{container.Description}}</div>
                </div>
                <div>{{getPiName(container.Principal_investigator_id)}}</div>
                <div>{{container.Lab_date || container.Date_created | dateToISO}}</div>
                <div>{{container.Close_date || container.Date_closed | dateToISO | emptyNA}}</div>
                <div>{{container.Pickup.Pickup_date | dateToISO | emptyNA}}</div>
                <div>{{container.Rso_date || container.Pickup.Pickup_date | dateToISO}}</div>
                <div>{{container.Hotroom_date | dateToISO}}</div>
                <div>{{getDrumLabel(container)}}</div>
                <div>
                    <span ng-if="container.Pour_date">Poured {{container.Pour_date | dateToISO}}</span>
                    <span ng-if="container.Drum.Pickup_date">Shipped {{container.Drum.Pickup_date | dateToISO}}</span>
                    <span ng-if="container.Drum && !container.Drum.Pickup_date"></span>
                    <span ng-if="container.Other_waste_type_id && container.Close_date">Cleared {{container.Close_date | dateToISO | emptyNA}}</span>
                </div>
                <div class="containers-list" style="width: inherit">
                    <ul>
                        <li ng-if="container.AddedAmounts.length" class="group-header added-amounts">
                            <h4 style="font-style: italic;">Added at RSO</h4>
                        </li>
                        <li ng-repeat="amt in container.AddedAmounts track by $index" ng-if="container.AddedAmounts.length" class="added-amounts">
                            <div>{{amt.Isotope_name}}</div>
                            <div>{{amt.Curie_level | unit:amt}}</div>
                        </li>
                        <li ng-if="container.AddedAmounts.length || container.Carboy_reading_amounts.length" class="group-header added-amounts">
                            <h4 style="font-style: italic;">Totals:</h4>
                        </li>
                        <li ng-repeat="amt in container.Contents track by $index" ng-if="container.Contents.length">
                            <div>{{amt.Isotope_name}}</div>
                            <div>{{amt.Curie_level | unit:amt}}</div>
                        </li>
                        <li ng-if="container.Carboy_reading_amounts.length" class="group-header added-amounts">
                            <h4 style="font-style: italic;">Disposed Activity:</h4>
                        </li>
                        <li ng-repeat="amt in container.Carboy_reading_amounts track by $index" ng-if="container.Carboy_reading_amounts.length">
                            <div>{{amt.Isotope_name}}</div>
                            <div>{{amt.Curie_level | unit:amt}}</div>
                        </li>
                    </ul>
                </div>
                <div>{{container.Comments}}</div>
            </div>
        </div>
    </div>
</div>
