<div cg-busy="{promise:inventoryPromise,message:'Loading Quarterly Inventories',backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:piInventoriesPromise,message:'Loading Quarterly Inventories',backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:QuarterlyInventorySaving,message:'Creating Quarterly Inventory',backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>

<div class="right-column">
	<div class="well half">
		<h2><i class="fa fa-calendar"></i>Create Quarterly Inventory</h2>
			<form class="form form-inline full" style="padding:20px; 0">
				<div class="control-group" style="width:33%">
				     <label class="control-label" for="inputEmail">End of quarter:</label>
				     <div class="controls" style="width:33%">
						<input ng-model="endDate">
				        <span class="help-block" style="">mm/dd/yy</span>
					</div>
				</div>
				<div class="control-group">
				     <label class="control-label" for="inputEmail">Due Date:</label>
				     <div class="controls">
						<input ng-model="dueDate">
				        <span class="help-block" style="">mm/dd/yy</span>
					</div>
				</div>
				
				<a style="margin: 23px 16px;" ng-click="createInventory(endDate, dueDate)" class="btn btn-success left"><i class="icon-checkmark"></i>Create</a>
			</form>		
		<h2 ng-if="inventory"><i class="fa fa-calendar"></i>Most Recent Quarterly Inventory</h2>
		<div ng-if="inventory" class="card full">
			<div class="fake-table striped bordered">
				<div class="table-header">
					<h3>Start Date</h3>
					<h3>End Date</h3>
					<h3>Due Date</h3>
				</div>

				<div class="table-row">
					<div>{{inventory.Start_date | dateToISO}}</div>
					<div>{{inventory.End_date | dateToISO}}</div>
					<div>{{inventory.Due_date | dateToISO}}</div>
				</div>
			</div>
		</div>
		<div class="card full" ng-if="inventory">
			<div class="fake-table striped bordered">
				<div class="table-header">
					<h3>Principal Investigator</h3>
					<h3>Status</h3>
					<h3>Sign Off Date</h3>
					<h3>View Inventory</h3>
				</div>
				<div class="table-row" ng-repeat="piInventory in inventory.Pi_quarterly_inventories | inventoryStatus:inventory">
					<div>{{piInventory.Principal_investigator.User.Name}}</div>
					<div>
						{{piInventory.Status}}
					</div>
					<div>
						{{piInventory.Sign_off_date | dateToISO}}
					</div>
					<div><a ui-sref="quarterly-inventory({ pi: piInventory.Principal_investigator.Key_id})" class="btn btn-info left"><i class="icon-out"></i>View Inventory</a></div>
				</div>
			</div>
		</div>
	</div>

	<div class="well half search-tools">
		<h2><i class="fa fa-calendar"></i>Find Inventories by P.I.</h2>
		<input class="left-nav-typeahead" typeahead-on-select='getInventoriesByPiId($item.Key_id)' type="text" ng-model="customSelected" placeholder="Select a PI" typeahead="pi as (pi.Name) for pi in typeAheadPis | filter:$viewValue">

		<div ng-if="piInventories" class="card full">
			<div class="fake-table striped bordered">
				<div class="table-header">
					<h3>Start Date</h3>
					<h3>End Date</h3>
					<h3>Sign Off Date</h3>
					<h3>Status</h3>
					<h3>Details</h3>
				</div>
				<div class="table-row" ng-repeat="inventory in piInventories">
					<div>{{inventory.Quarterly_inventory.Start_date | dateToISO   }}</div>
					<div>{{inventory.Quarterly_inventory.End_date | dateToISO   }}</div>
					<div>{{inventory.Sign_off_date | dateToISO   }}</div>
					<div>{{inventory.Status}}</div>
					<div><a class="btn btn-info left" ui-sref="radmin-quarterly-inventory({pi_inventory: inventory.Key_id})"><i class="icon-out"></i>View</a></div>
				</div>
			</div>
		</div>
	</div>
</div>

