<div cg-busy="{promise:piAuthsPromise,message:'Loading', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>

<div class="right-column">
    <div class="well two-thirds auths">
        <h1 class="auth-report">
            <i class="icon-copy"></i>Total Inventory Report            
        </h1>
        <div class="card full authReports">
            <table class="table striped">
                <tr class="table-header">
                    <th>Isotope</th>
                    <th>Stock</th>
                    <th>In Waste</th>
                    <th>Limit</th>
                </tr>
                <tr class="table-row" ng-repeat="report in reports">
                    <td>
                        {{report.Isotope_name}}
                    </td>
                    <td>{{report.Ordered}}</td>
                    <td>{{report.Waste}}</td>
                    <td>{{report.Auth_limit}}<span ng-if="!report.Is_mass">mCi</span><span ng-if="report.Is_mass">g</span></td>
                </tr>

            </table>

        </div>
    </div>

</div>
