<div cg-busy="{promise:saving,message:'Saving', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>

<div ng-if="pi" class="right-column">
    <h1>
        {{pi.User.Name}} <a class="btn btn-info left" href="{{'#/my-lab' + pi.Key_id}}" target="_blank"><i class="icon-info"></i>Lab View</a>
    </h1>
    <div class="card full auths" ng-click="af.setSelectedView('authorizations')">
        <span ng-init="selectedAmendment" />
        <div ng-class="{'inactive': selectedPiAuth.Termination_date != null}">
            <h3 class="card-header padding">
                <span class="bold">
                    {{selectedPiAuth.Authorizations.length}} Rad Material<span ng-if="selectedPiAuth.Authorizations.length != 1">s</span>
                    under Authorization #{{selectedPiAuth.Authorization_number}}
                    <span style="margin-left:20px" ng-if="selectedPiAuth.Termination_date">(Terminated {{selectedPiAuth.Termination_date | dateToISO}})</span>
                </span>

                <select style="margin-bottom:0" ng-init="selectedAmendment = getHighestAmendmentNumber(pi.Pi_authorization)" ng-options="mappedAmendments.indexOf(piAuth) as piAuth.Amendment_label for piAuth in mappedAmendments" ng-model="selectedAmendment" ng-change="selectAmendement(selectedAmendment)">
                    <option style="display:none" value="">Select Amendment</option>
                </select>

                <a class="btn btn-primary left" ng-if="!selectedPiAuth.Termination_date" ng-click="openModal('views/admin/admin-modals/pi-auth-modal', selectedPiAuth)"><i class="icon-pencil"></i><span ng-if="!pi.Pi_authorization">Add</span><span ng-if="pi.Pi_authorization">Edit</span> Authorization</a>
                <a class="btn btn-success left" ng-if="!selectedAmendment.Termination_date" ng-click="openModal('views/admin/admin-modals/pi-auth-modal', selectedPiAuth, true)"><i class="icon-plus-2"></i>Add Amendment</a>
                <a class="btn btn-primary left" ng-if="selectedPiAuth.Termination_date" ng-click="openModal('views/admin/admin-modals/pi-auth-deactivate', selectedPiAuth)"><i class="icon-pencil"></i>Edit Termination</a>
                <a class="btn btn-danger left" ng-if="!selectedPiAuth.Termination_date" ng-click="openModal('views/admin/admin-modals/pi-auth-deactivate', selectedPiAuth)"><i class="icon-cancel-2"></i>Terminate Authorization</a>
                <a class="btn btn-info left" ng-if="selectedPiAuth.Termination_date" ng-click="reopenAuth(selectedPiAuth)"><i class="icon-checkmark"></i>Reopen Authorization</a>

            </h3>
            <div class="card-content" ng-repeat="piAuth in mappedAmendments" ng-if="selectedView == 'authorizations' && selectedAmendment == piAuth.weight">
                <div class="fake-table striped bordered half" style="margin:0 0 19px 0; width:60%; border-right:3px solid #DDD" ng-if="mappedAmendments.length">
                    <div class="table-header">
                        <h3>Authorization Number</h3>
                        <h3>Rooms</h3>
                        <h3>Departments</h3>
                        <h3>Comment</h3>

                    </div>
                    <div class="table-row">
                        <div>{{piAuth.Authorization_number}} {{piAuth.Amendment_number ? ' Amendment #' + piAuth.Amendment_number : ''}}</div>
                        <div>
                            <ul><li ng-repeat="room in piAuth.Rooms | orderBy:'Building_name'">{{room.Building_name}}: {{room.Name}}</li></ul>
                        </div>
                        <div>
                            <ul><li ng-repeat="dept in piAuth.Departments | orderBy:'Name'">{{dept.Name}}</li></ul>
                        </div>
                        <div>
                            {{piAuth.New_notes || piAuth.Update_notes}}
                        </div>
                    </div>
                </div>
                <h3 style="margin-bottom:5px;">
                    Authorized Isotopes
                </h3>
                <div class="fake-table striped bordered" ng-if="piAuth.Authorizations.length">
                    <div class="table-header">
                        <h3>Edit</h3>
                        <h3>Isotope</h3>
                        <h3>Half Life</h3>
                        <h3>Emitter Type</h3>
                        <h3>Maximum Quantity</h3>
                        <h3>Form</h3>
                    </div>
                    <div class="table-row" ng-repeat="auth in piAuth.Authorizations | orderBy: 'Isotope.Name'">
                        <div>
                            <a class="btn btn-primary" ng-click="openAuthModal('views/admin/admin-modals/authorization-modal', piAuth, auth)"><i class="icon-pencil"></i></a>
                        </div>

                        <div>
                            {{auth.Isotope.Name}}
                        </div>

                        <div>
                            {{auth.Isotope.Display_half_life}} {{auth.Isotope.Unit}}
                        </div>

                        <div>
                            {{auth.Isotope.Emitter_type}}
                        </div>

                        <div>
                            {{auth.Max_quantity}} mCi
                        </div>

                        <div>
                            {{auth.Form}}
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    <div class="card full pos" ng-click="af.setSelectedView('orders')">
        <h3 class="card-header padding" ng-if="pi.PurchaseOrders.length">
            <i class="fa fa-usd"></i><span class="bold">{{pi.PurchaseOrders.length}} Purchase Order<span ng-if="pi.PurchaseOrders.length != 1">s</span></span>  
            <a class="btn btn-success left" ng-click="openModal('views/admin/admin-modals/po-modal')"><i class="fa fa-usd"></i>Add Purchase Order</a>

            <button class="btn btn-danger" ng-click="switchShowActive('showActivePos')" ng-if="!activesShown.showActivePos">Show Inactive</button>
            <button class="btn btn-success" ng-click="switchShowActive('showActivePos')" ng-if="activesShown.showActivePos">Show Active</button>

        </h3>
        <h3 class="card-header padding pos" ng-if="!pi.PurchaseOrders.length"><i class="fa fa-usd"></i>No Purchase Orders <a class="btn btn-success left" ng-click="openModal('views/admin/admin-modals/po-modal')"><i class="fa fa-usd"></i><i class="icon-unlocked-2"></i>Add Purchase Order</a></h3>
        <div class="card-content" ng-if="selectedView == 'orders'">
            <div class="fake-table striped bordered" ng-if="pi.PurchaseOrders.length">
                <div class="table-header">
                    <h3>Edit</h3>
                    <h3>P.O. Number</h3>
                    <h3>Vendor</h3>
                    <h3>Start Date</h3>
                    <h3>End Date</h3>
                </div>
                <div class="table-row" ng-repeat="order in pi.PurchaseOrders | activeOnly:activesShown.showActivePos" ng-class="{'inactive':!order.Is_active, 'inactive':af.getIsExpired(order.view_End_date)}">
                    <div>
                        <a class="btn btn-primary" ng-click="openModal('views/admin/admin-modals/po-modal', order)"><i class="icon-pencil"></i></a>
                        <a ng-if="order.Is_active" ng-click="af.setObjectActiveState(order)" class="btn btn-danger"><i class="icon-remove"></i></a>
                        <a ng-if="!order.Is_active" ng-click="af.setObjectActiveState(order)" class="btn btn-success"><i class="icon-checkmark"></i></a>
                    </div>

                    <div>
                        {{order.Purchase_order_number}}
                    </div>

                    <div>
                        {{order.Vendor}}
                    </div>

                    <div>
                        {{order.Start_date | dateToISO:order:'Start_date'}}
                    </div>

                    <div>
                        {{order.End_date | dateToISO:order:'End_date'}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card full parcels" ng-click="af.setSelectedView('parcels')">
        <h3 class="card-header padding " ng-if="pi.ActiveParcels"><i class="icon-box"></i><span class="bold">{{pi.ActiveParcels.length}} Package<span ng-if="pi.ActiveParcels.length != 1">s</span></span> 
            <a ng-click="openModal('views/admin/admin-modals/parcel-modal')" class="btn btn-success left"><i class="icon-box"></i>Add Package</a>

            <a class="btn btn-danger" ng-click="switchShowActive('showActiveParcels')" ng-if="!activesShown.showActiveParcels">Show Inactive</a>
            <a class="btn btn-success" ng-click="switchShowActive('showActiveParcels')" ng-if="activesShown.showActiveParcels">Show Active</a>
        </h3>
        <h3 class="card-header padding parcels" ng-if="!pi.ActiveParcels.length"><i class="fa fa-usd"></i>No Packages <a ng-click="openModal('views/admin/admin-modals/parcel-modal')" class="btn btn-success left"><i class="icon-box"></i>Add Package</a></h3>
        <div class="card-content" ng-if="selectedView == 'parcels'">
            <div class="fake-table striped bordered" ng-if="pi.ActiveParcels.length">
                <div class="table-header" ng-init="parcelFilter">
                    <h3>Edit</h3>
                    <h3>P.O. #</h3>
                    <h3>
                        R.S. #<br />
                        <input ng-model="parcelFilter.rs" style="max-width:70px"/>
                    </h3>
                    <h3>Status</h3>
                    <h3>
                        Isotope<br />
                        <input ng-model="parcelFilter.isotope" style="max-width:80px" />
                    </h3>
                    <h3>Arrival Date</h3>
                    <h3>Original mCi</h3>
                    <h3>Remaining mCi</h3>
                    <h3>Chemical Compound</h3>
                    <h3>Catalog #</h3>
                </div>
                <div class="table-row" ng-repeat="parcel in pi.ActiveParcels | parcelFilter:parcelFilter | activeOnly:activesShown.showActiveParcels" ng-class="{'inactive':!parcel.Is_active}">
                    <div>
                        <a class="btn btn-primary" ng-click="openModal('views/admin/admin-modals/parcel-modal', parcel)"><i class="icon-pencil"></i></a>
                        <a ng-if="parcel.Is_active" ng-click="af.setObjectActiveState(parcel)" class="btn btn-danger"><i class="icon-remove"></i></a>
                        <a ng-if="!parcel.Is_active" ng-click="af.setObjectActiveState(parcel)" class="btn btn-success"><i class="icon-checkmark"></i></a>
                        <a ng-click="openWipeTestModal(parcel)" class="btn btn-primary left"><i class="icon-paper"></i>{{parcel.Wipe_test[0].Parcel_wipes.length ? parcel.Wipe_test[0].Parcel_wipes.length : '0'}} Wipe<span ng-if="parcel.Wipe_test[0].Parcel_wipes.length != 1">s</span></a>
                        <a ng-if="parcel.Status == Constants.PARCEL.STATUS.WIPE_TESTED" ng-click="markAsArrived(pi, parcel)" class="btn btn-success left"><i class="icon-checkmark"></i>{{Constants.PARCEL.STATUS.DELIVERED}}</a>
                    </div>

                    <div>
                        {{parcel.PurchaseOrder.Purchase_order_number}}
                    </div>

                    <div>
                        {{parcel.Rs_number}}
                    </div>


                    <div>
                        {{parcel.Status}}
                    </div>

                    <div ng-init="parcel.loadAuthorization()">
                        {{parcel.Authorization.IsotopeName}}
                    </div>

                    <div ng-init="date = parcel.Arrival_date && parcel.Arrival_date != '0000-00-00 00:00:00' ? parcel.Arrival_date : parcel.Transfer_in_date">
                        {{date | dateToIso}}
                    </div>

                    <div>
                        {{parcel.Quantity}} mCi
                    </div>

                    <div>
                        {{parcel.Remainder}} mCi
                    </div>

                    <div>
                        {{parcel.Chemical_compound}}
                    </div>

                    <div>
                        {{parcel.Catalog_number}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card full carboys" ng-click="af.setSelectedView('carboys')" ng-init="cycles = (pi.CarboyUseCycles | filter: {'Status':Constants.CARBOY_USE_CYCLE.STATUS.IN_USE})">
        <h3 class="card-header padding" ng-show="cycles.length">
            <i class="icon-carboy"></i><span class="bold">{{cycles.length}} Carboy<span ng-if="cycles.length != 1">s</span></span>
            <a ng-click="openModal('views/admin/admin-modals/carboy-assignment')" class="btn btn-success left"><i class="icon-carboy"></i>Assign Carboy</a>
        </h3>
        <h3 class="card-header padding carboys" ng-show="!cycles.length">
            <i class="icon-carboy"></i>{{pi.User.Name}} has no Carboys
            <a ng-click="openModal('views/admin/admin-modals/carboy-assignment')" class="btn btn-success left"><i class="icon-carboy"></i>Assign Carboy</a>
        </h3>
        <div class="card-content" ng-if="selectedView == 'carboys'" ng-show="cycles.length">
            <div class="fake-table striped bordered">
                <div class="table-header">
                    <!--<h3>Edit</h3>-->
                    <h3>Carboy Number</h3>
                    <h3>Room</h3>
                    <h3>Lab Date</h3>
                    <h3>mCi</h3>
                </div>
                <div class="table-row" ng-repeat="cycle in cycles">
                    <div>{{cycle.Carboy.Carboy_number}}</div>
                    <div>{{cycle.Room.Name}}</div>
                    <div>{{cycle.Lab_date | dateToISO}}</div>
                    <div>{{cycle.Curie_level}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="card half solids-containers" ng-click="af.setSelectedView('containers')" style="display:none">
        <h3 class="card-header padding " ng-if="pi.SolidsContainers">
            <i class="icon-remove-2"></i><span class="bold">{{pi.SolidsContainers.length}} Waste Receptical<span ng-if="pi.SolidsContainers.length != 1">s</span></span>
            <a ng-click="openModal('views/admin/admin-modals/containers-modal')" class="btn btn-success left"><i class="icon-remove-2"></i>Assign Container</a>
        </h3>
        <h3 class="card-header padding solids-containers" ng-if="!pi.SolidsContainers.length">
            <i class="icon-remove-2"></i>{{pi.User.Name}} has no Waste Recepticals
            <a class="btn btn-success left" ng-click="openModal('views/admin/admin-modals/containers-modal')"><i class="icon-box"></i>Assign Container</a>
        </h3>
        <div class="card-content" ng-if="selectedView == 'containers'">
            <div class="fake-table striped bordered" ng-if="pi.SolidsContainers.length">
                <div class="table-header">
                    <h3>Edit</h3>
                    <h3>Label</h3>
                </div>
                <div class="table-row" ng-repeat="container in pi.SolidsContainers" ng-class="{'inactive':!container.Is_active}">
                    <div>
                        <a class="btn btn-primary" ng-click="openModal('views/admin/admin-modals/containers-modal', container)"><i class="icon-pencil"></i></a>
                        <a ng-if="container.Is_active" ng-click="af.setObjectActiveState(container)" class="btn btn-danger"><i class="icon-remove"></i></a>
                        <a ng-if="!container.Is_active" ng-click="af.setObjectActiveState(container)" class="btn btn-success"><i class="icon-checkmark"></i></a>
                    </div>
                    <div>
                        {{container.Name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

