<div cg-busy="{promise:pickupReadyContainersPromise,message:'Loading Waste Containers', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:pickupsPromise,message:'Loading Pickups', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>

<div cg-busy="{promise:PickupSaving,message:'Saving Pickup', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>

<div cg-busy="{promise:ScintVialCollectionSaving,message:'Saving Pickup', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:WasteBagSaving,message:'Saving Pickup', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:CarboyUseCycleSaving,message:'Saving Pickup', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div class="spacer" style="height:70px;"></div>

<div class="right-column">
    <ul class="nav nav-pills" style="margin:20px 0 0">
        <li ng-repeat="pickup_group in pickup_groups" ng-class="{'active':pickup_group.active}">
            <a ng-click="pickup_group.active = !pickup_group.active">{{pickup_group.label}} Pickups</a>
        </li>
        <li style="display:block;"><input ng-model="piSearch" placeholder="Search By Pi" /></li>
    </ul>

    <div class="well super" ng-if="pickups.length == 0">
        <h3>No pickups</h3>
    </div>
    <div class="well super" ng-repeat="pickup_group in pickup_groups | filter: {active:true}" ng-if="pickups.length">
        <h1 class="card-header accordion-header">
            <span ng-if="pickup_group.pickups.length > 0">{{pickup_group.label}} <span class="badge">{{pickup_group.pickups.length}}</span></span>
            <span ng-if="pickup_group.pickups.length == 0">No {{pickup_group.label}} Pickups</span>
        </h1>

        <div class="card super pickups pickup-collection admin {{pickup_group.statusName | lowercase}}" ng-repeat="pickup in pickup_group.pickups | filter:{PiName:piSearch} track by $index">
            <h1 ng-class="{'no-underline':!pickup.show}" class="card-header accordion-header" ng-click="pickup.show = !pickup.show">
                <i class="icon-box-remove {{pickup_group.statusName | lowercase}}"></i>
                <span ng-if="pickup.Pickup_date">{{pickup.PiName}}'s lab had waste picked up {{pickup.Pickup_date | dateToISO}}</span>
                <span ng-if="!pickup.Pickup_date">{{pickup.PiName}}'s lab has waste ready to pick up.</span>
            </h1>

            <div ng-if="pickup.show" class="print-always pickup-form card-body">
                <div >
                    <button ng-if="pickup_group.allowStart"    ng-click="editPickup(pickup, 'PICKED_UP')" class="btn btn-primary">Start Pickup</button>
                    <button ng-if="pickup_group.allowEdit"     ng-click="editPickup(pickup)" class="btn btn-warning">Edit Pickup</button>
                    <button ng-if="pickup_group.allowComplete" ng-click="editPickup(pickup, 'AT_RSO')" class="btn btn-danger">Finish Pickup</button>
                </div>

                <div ng-if="pickup_group.listIncludedContainers && pickup.includedContainers.length" class="card super picked-up">
                    <h3 class="card-header">Picked-up Containers</h3>
                    <containers containers="pickup.includedContainers" has-comments="true"></containers>
                </div>

                <div ng-if="pickup_group.listAvailableContainers && pickupReadyContainersByPI[pickup.Principal_investigator_id].length" class="card super available">
                    <h3 class="card-header">{{pickupReadyContainersByPI[pickup.Principal_investigator_id].length}} Containers Ready for Pickup</h3>
                    <containers containers="pickupReadyContainersByPI[pickup.Principal_investigator_id]" has-comments="true"></containers>
                </div>
            </div>
        </div>
    </div>
</div>
<!---->
