<div cg-busy="{promise:radPromise,message:'Loading',backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:AuthorizationSaving,message:'Saving Authorization',backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:PurchaseOrderSaving,message:'Saving Purchase Order',backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:ParcelSaving,message:'Saving',backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:SolidsContainerSaving,message:'Saving Purchase Order',backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:CarboySaving,message:'Saving Purchase Order',backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:CarboyUseCycleSaving,message:'Saving Carboy',backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:SavingParcelWipe,message:'Saving Smears',backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:PIAuthorizationSaving,message:'Saving Authorization',backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:IsotopeSaving,message:'Saving Isotope',backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>

<div class="dashboard">
    <div class="row-fluid" style="margin-top: -15px;">
        <div class="left-nav">
            <ul class="sideNav">
                <li><a class="inventories" ng-class="{'active': state.current.name == 'radmin.inventories'}" ui-sref="radmin.inventories"><i class=" fa fa-calendar-o"></i>Inventories</a></li>
                <li><a class="wipe-tests" ng-class="{'active': state.current.name == 'radmin.wipe-tests'}" ui-sref="radmin.wipe-tests"><i class="icon-paper"></i>Wipe Tests</a></li>
                <li><a class="pickups"  ng-class="{'active': state.current.name == 'radmin.admin-pickups'}" ui-sref="admin-pickups"><i class="icon-box-remove"></i>Pickups</a></li>
                <li><a class="solids-containers"ng-class="{'active': state.current.name == 'radmin.disposals'}" ui-sref="radmin.disposals"><i class="icon-trashcan"></i>Disposals</a></li>
                <li><a class="carboys" ng-class="{'active': state.current.name == 'radmin.carboys'}" ui-sref="radmin.carboys"><i class="icon-carboy"></i>Carboys</a></li>
                <li><a class="isotopes" ng-class="{'active': state.current.name == 'radmin.isotopes'}" ui-sref="radmin.isotopes"><img src="../img/radiation-large-icon.png" style="width:20px;"/>Isotopes</a></li>
                <li><a class="parcels" ng-class="{'active': state.current.name == 'radmin.orders'}" ui-sref="radmin.orders"><i class="icon-box-add"></i>Orders</a></li>
                <li><a class="transfers" ng-class="{'active': state.current.name == 'radmin.transfers'}" ui-sref="radmin.transfers"><i class="icon-tab"></i>Transfers</a></li>
                <li><a class="auth-report" ng-class="{'active': state.current.name == 'radmin.auth-report'}" ui-sref="radmin.auth-report"><i class="icon-copy"></i>Auth Report</a></li>
                <li><a class="inventories" ng-class="{'active': state.current.name == 'radmin.other-waste'}" ui-sref="radmin.other-waste"><i class="icon-beaker-alt"></i>Other Waste</a></li>
                <li><a class="auth-report" ng-class="{'active': state.current.name == 'radmin.isotope-report'}" ui-sref="radmin.isotope-report"><i class="icon-copy"></i>Total Inventories</a></li>
                <li><a class="auth-report" ng-class="{'active': state.current.name == 'radmin.conditions'}" ui-sref="radmin.conditions"><i class="icon-paragraph-left"></i>Conditions</a></li>
                <li><a ng-class="{'active': state.current.name == 'radmin.zap'}" ui-sref="radmin.zap"><i class="icon-lightning"></i>Zap Test Data</a></li>
            </ul>
            <!--
            <ul class="sideNav" ng-if="pi && $state.current.url.indexOf('pi-detail')>-1">
                <li><a class="auths" ng-click="af.setSelectedView('authorizations')"><i class="icon-unlocked-2"></i>Authorizations</a></li>
                <li><a class="pos" ng-click="af.setSelectedView('orders')"><i class="fa fa-usd"></i>Purchase Orders</a></li>
                <li><a class="parcels" ng-click="af.setSelectedView('parcels')"><i class="icon-box"></i>Packages</a></li>
                <li><a class="carboys" ng-click="af.setSelectedView('carboys')"><i class="icon-carboy"></i>Carboys</a></li>
                <li><a class="solids-containers" ng-click="af.setSelectedView('containers')"><i class=" icon-remove-2"></i>Waste Recepticals</a></li>
            </ul>
                -->
        </div>
        <h4 class="section-header" style="margin-left:210px; margin-top:20px;width:100%">
            <span class="span2" style="width:120px; padding-top:6px">Search by PI</span>
            <span ng-if="!typeAheadPis" style="position:relative;max-width:300px;">
                <input class="span4" style="background:white;border-color:#999; max-width:300px" type="text" placeholder="Getting PIs..." disabled="disabled">
                <i class="icon-spinnery-dealie spinner small" style="position:absolute;right:5px;top:0px"></i>
            </span>
            <span ng-if="typeAheadPis" style="max-width:300px;">
                <ui-select ng-model="pi.selected" theme="selectize" ng-disabled="disabled" on-select="onSelectPi($item)" class="span4" style="max-width:300px">
                    <ui-select-match placeholder="Select or search for a PI">{{$select.selected.Name}}</ui-select-match>
                    <ui-select-choices repeat="pi in typeAheadPis | orderBy: 'Name' | propsFilter: {Name: $select.search} track by $index">
                        <div ng-bind-html="pi.Name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </span>
        </h4>
        <div ui-view></div>
    </div>
</div>
