<div cg-busy="{promise:pisPromise,message:'Loading', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:piPromise,message:'Loading Principal Investigator',backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:AuthorizationSaving,message:'Saving Authorization',backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:PurchaseOrderSaving,message:'Saving Purchase Order',backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:ParcelSaving,message:'Saving Purchase Order',backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:SolidsContainerSaving,message:'Saving Purchase Order',backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:CarboySaving,message:'Saving Purchase Order',backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:CarboyUseCycleSaving,message:'Saving Carboy',backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>

<div class="dashboard">
    <div class="row-fluid" style="margin-top: -15px;">
        <div class="left-nav">
            <ul class="sideNav">
                <li><a class="inventories" ui-sref="radmin.inventories"><i class=" fa fa-calendar-o"></i>Inventories</a></li>
                <li><a class="wipe-tests" ui-sref="radmin.wipe-tests"><i class="icon-paper"></i>Wipe Tests</a></li>
                <li><a class="pickups" ui-sref="admin-pickups"><i class="icon-box-remove"></i>Pickups</a></li>
                <li><a class="solids-containers" ui-sref="radmin.disposals"><i class="icon-trashcan"></i>Disposals</a></li>
                <li><a class="carboys" ui-sref="radmin.carboys"><i class="icon-carboy"></i>Carboys</a></li>
            </ul>
            <h4 class="section-header"><img src="../img/pi-icon.png"/>Search by PI
                <input class="left-nav-typeahead" typeahead-on-select='onSelectPi($item, $model, $label)' type="text" ng-model="customSelected" placeholder="Select a PI" typeahead="pi as (pi.Name) for pi in typeAheadPis | filter:$viewValue">
            </h4>
            <ul class="sideNav" ng-if="pi && $state.current.url.indexOf('pi-detail')>-1">
                <li><a class="auths" ng-click="af.setSelectedView('authorizations')"><i class="icon-unlocked-2"></i>Authorizations</a></li>
                <li><a class="pos" ng-click="af.setSelectedView('orders')"><i class="fa fa-usd"></i>Purchase Orders</a></li>
                <li><a class="parcels" ng-click="af.setSelectedView('parcels')"><i class="icon-box"></i>Packages</a></li>
                <li><a class="carboys" ng-click="af.setSelectedView('carboys')"><i class="icon-carboy"></i>Carboys</a></li>
                <li><a class="solids-containers" ng-click="af.setSelectedView('containers')"><i class=" icon-remove-2"></i>Waste Recepticals</a></li>
            </ul>
        </div>

        <div ui-view></div>

    </div>
</div>
