<!--div cg-busy="{promise:CarboyReadingAmountSaving, message:'Saving', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div-->
<div cg-busy="{promise:loading, message:'loading', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>

<div class="right-column transfers">

    <h1 class="transfers"><i class="icon-tab"></i>Transfers</h1>

    <div class="well full card">
        <h3><i class="icon-tab"></i>{{transfersIn.length}} Transfer<span ng-show="transfersIn.length != 1">s</span> from other institutions<a ng-click="openTransferInModal()" class="btn btn-success left" style="margin-left:10px"><i class="icon-plus-2"></i><i class="icon-tab"></i>New Transfer</a></h3>
        <div class="fake-table bordered" ng-show="transfersIn.length > 0">
            <div class="table-header">
                <h3>Edit</h3>
                <h3>PI</h3>
                <h3>Date Transfered</h3>
                <h3>Isotope</h3>
                <h3>Quantity</h3>
                <h3>Chemical Compound</h3>
                <h3>Form</h3>
                <h3>Notes</h3>
            </div>
            <div class="table-row" ng-repeat="transfer in transfersIn = (parcels | transferInParcels)">
                <div>
                    <a ng-click="openTransferInModal(transfer)" class="btn btn-primary left"><i class="icon-pencil"></i></a>
                </div>
                <div>
                    {{transfer.ReceivingPiName}}
                </div>
                <div>
                    {{transfer.Transfer_in_date | dateToIso}}
                </div>
                <div>
                    {{transfer.Authorization.IsotopeName}}
                </div>
                <div>
                    {{transfer.Quantity}}
                </div>
                <div>
                    {{transfer.Chemical_compound}}
                </div>
                <div>
                    {{transfer.Authorization.Form}}
                </div>
                <div>
                    {{transfer.Comments}}
                </div>

            </div>
        </div>
    </div>

    <div class="well two-thirds card">
        <h3><i class="icon-tab"></i>{{transfersBetween.length}} Transfer<span ng-show="transfersBetween.length != 1">s</span> Between Labs<a ng-click="openModal()" class="btn btn-success left" style="margin-left:10px"><i class="icon-plus-2"></i><i class="icon-tab"></i>New Transfer</a></h3>
        <div class="fake-table bordered" ng-show="transfersBetween.length > 0">
            <div class="table-header">
                <h3>Edit</h3>
                <h3>Carboy Number</h3>
                <h3>Status</h3>
                <h3>PI</h3>
            </div>
            <div class="table-row" ng-repeat="transfer in transfersBetween = (parcels | transferBetweenParcels)">
                <div>
                    <a ng-disabled="carboy.edit" ng-class="{'disabled':carboy.edit}" ng-click="openModal(carboy)" class="btn btn-primary left"><i class="icon-pencil"></i>Edit</a>
                    <!-- TODO: Possible Status values should be enums -->
                    <a ng-disabled="carboy.edit" ng-if="carboy.Current_carboy_use_cycle.Status != 'In Use' && carboy.Current_carboy_use_cycle.Status != 'Decaying'" ng-class="{'disabled':carboy.edit}" ng-click="deactivate(carboy)" class="btn btn-danger left"><i class="icon-remove"></i>Deactivate</a>
                </div>
                <div>
                    {{carboy.Carboy_number}}
                </div>
                <div>
                    {{carboy.Current_carboy_use_cycle.Status}}
                </div>
                <div ng-init="carboy.Current_carboy_use_cycle.loadPrincipalInvestigator()">
                    {{carboy.Current_carboy_use_cycle.Principal_investigator.User.Name}}
                </div>
            </div>
        </div>
    </div>

    <div class="well two-thirds card">
        <h3><i class="icon-tab"></i>{{transfersOut.length}} Transfer<span ng-show="transfersOut.length != 1">s</span> to Other Institutions<a ng-click="openModal()" class="btn btn-success left" style="margin-left:10px"><i class="icon-plus-2"></i><i class="icon-tab"></i>New Transfer</a></h3>
        <div class="fake-table bordered" ng-show="transfersOut.length">
            <div class="table-header">
                <h3>Edit</h3>
                <h3>Carboy Number</h3>
                <h3>Status</h3>
                <h3>PI</h3>
            </div>
            <div class="table-row" ng-repeat="transfer in transfersOut = (uses | transferOutUses)">
                <div>
                    <a ng-disabled="carboy.edit" ng-class="{'disabled':carboy.edit}" ng-click="openModal(carboy)" class="btn btn-primary left"><i class="icon-pencil"></i>Edit</a>
                    <!-- TODO: Possible Status values should be enums -->
                    <a ng-disabled="carboy.edit" ng-if="carboy.Current_carboy_use_cycle.Status != 'In Use' && carboy.Current_carboy_use_cycle.Status != 'Decaying'" ng-class="{'disabled':carboy.edit}" ng-click="deactivate(carboy)" class="btn btn-danger left"><i class="icon-remove"></i>Deactivate</a>
                </div>
                <div>
                    {{carboy.Carboy_number}}
                </div>
                <div>
                    {{carboy.Current_carboy_use_cycle.Status}}
                </div>
                <div ng-init="carboy.Current_carboy_use_cycle.loadPrincipalInvestigator()">
                    {{carboy.Current_carboy_use_cycle.Principal_investigator.User.Name}}
                </div>
            </div>
        </div>
    </div>
</div>

