<div cg-busy="{promise:UsersBusy,message:'This one will take around 1.4 seconds', backdrop:true}"></div>
<table class="table table-striped table-bordered">
	<tr>
		<th>Protocol #</th>
		<th>Prinicipal Investigator</th>
		<th>Department</th>
        <th>Project Title</th>
        <th>Approval Date</th>
        <th>Expiration Date</th>
        <th>Biological Hazard</th>
        <th>Biosafety Protocol</th>
	</tr>
	<tr ng-repeat="protocol in protocols">
		<td>{{protocol.Protocol_number}}</td>
		<td><p ng-repeat="pi in protocol.PrincipalInvestigators">{{pi.User.Name}}</p> </td>
        <td>{{protocol.Department.Name}} </td>
        <td>{{protocol.Project_title}} </td>
        <td>{{protocol.Approval_date | dateToISO}} </td>
        <td>{{protocol.Expiration_date | dateToISO}} </td>
        <td>{{protocol.Hazard.Name}} </td>
        <td><a href>do thing</a> </td>
	</tr>
</table>
