<div class="modal-header pickups wide-modal" style="padding:0;">
    <h2 ng-show="!addRoom" style="padding:5px;"><span ng-if="!modalData.Authorization">Request</span><span ng-if="modalData.Authorization">Edit</span> a Waste Pickup</h2>
</div>
<div class="modal-body">
  <div class="span6">  
  	<pre>{{modalData.pickup | json}}</pre>

    <div class="control-group">
       <label class="control-label" for="inputEmail">Maximum Quantity</label>
       <div class="controls input-append">
          <input data-ng-model="modalData.AuthorizationCopy.Max_quantity" placeholder="Maximum Quantity"/><span class="add-on">mCi</span>
       </div>
    </div>

    <div class="control-group">
       <label class="control-label" for="inputEmail">Form</label>
       <div class="controls input-append">
          <input data-ng-model="modalData.AuthorizationCopy.Form" maxlength="35" placeholder="Form"/>
       </div>
    </div>
  </div>
  <div class="span6">
    <h4>Your Used Materials</h4>
    <ul>
      <li ng-repeat="container in modalData.pi.SolidsContainers">
        {{container.Name}}
        <ul>
          <li ng-repeat="bag in container.WasteBags" ng-if="bag.Date_removed && bag.Date_removed != ''">Removed from contaier {{bag.Date_removed | dateToISO}}</li>
        </ul>
      </li>
    </ul>
    <!--<pre>{{modalData | json}}</pre>-->
  </div>
</div>
<div class="modal-footer">
  <a class="btn btn-large btn-success left" ng-click="requestPickup(modalData.pickup)"><i class="icon-checkmark"></i>Save</a>
  <a class="btn btn-large btn-danger left" ng-click="close()"><i class="icon-cancel-2"></i>Close</a>
</div>
