<div class="modal-header footer-present" style="padding:0;">
    <h2 style="padding:5px;" class="redBg">{{pi.User.Name}}'s Inspection Comments</h2>
</div>
<div class="modal-body inspection-notes">
    <h2 class="alert alert-danger" ng-if="error">{{error}}</h2>
    <h3 ng-if="!pi.editNote && pi.Inspection_notes"><span ng-bind-html="pi.Inspection_notes | sanitize"></span></h3>
    <textarea ng-if="pi.editNote || !pi.Inspection_notes" ui-tinymce="tinymceOptions" ng-show="pi.editNote || !pi.Inspection_notes" ng-model="piCopy.Inspection_notes" style="width:100%;" rows="5" placeholder="Enter inspection comments"></textarea>
    <br><br>
</div>
<div class="modal-footer">
    <i ng-if="savingNote" class="icon-spinnery-dealie spinner small"></i>
    <a ng-if="!pi.editNote && pi.Inspection_notes" ng-click="edit(true)" class="btn btn-primary btn-large left"><i class="icon-pencil"></i>Edit</a>
    <a ng-if="(piCopy.Inspection_notes || pi.editNote) && piCopy.Inspection_notes != pi.Inspection_notes" class="btn btn-large btn-success left" ng-click="saveNote()"><i class="icon-checkmark"></i>Save</a>

    <a ng-if="(piCopy.Inspection_notes || pi.editNote) && piCopy.Inspection_notes != pi.Inspection_notes" class="btn btn-large btn-danger left" ng-click="edit(false);close()"><i class="icon-cancel-2"></i>Cancel</a>
    <a ng-if="!piCopy.Inspection_notes && !pi.editNote || (piCopy.Inspection_notes == pi.Inspection_notes)" class="btn btn-large left" ng-click="edit(false);close()"><i class="icon-cancel-2"></i>Close</a>
</div>