<h3 class="redBg">{{modalData.HazardDto.Hazard_name}}</h3>
<div class="modal-body" style="border-bottom:none">
    <ul>
        <li ng-repeat="room in modalData.PI.Rooms" ng-show="matches.length">
            <h3 style="margin-bottom:5px;">{{room.Building.Name}}, Room {{room.Name}}</h3>
            <table class="table table-bordered">
                <tr ng-repeat="phr in matches = (modalData.pHRS | roomIdMatches:room.Key_id:modalData.PI.Key_id | orderBy:'current')" ng-class="{'new': phr.current}">
                    <td>{{phr.PiName}} <span ng-if="phr.current">(Current PI)</span></td>
                    <td>
                        <span ng-class="{'green': phr.Status == constants.HAZARD_PI_ROOM.STATUS.IN_USE, 'yellow': phr.Status == constants.HAZARD_PI_ROOM.STATUS.STORED_ONLY, 'red': phr.Status == constants.HAZARD_PI_ROOM.STATUS.OTHER_PI}">{{constants.HAZARD_PI_ROOM.STATUS[phr.Status]}}</span>
                        <span ng-if="!phr.Status && phr.Key_id" class="green">In Use</span>
                    </td>
                </tr>
            </table>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <a class="btn btn-large btn-danger left" ng-click="close()"><i class="icon-cancel-2"></i>Close</a>
</div>
