<div class="modal-header wide-modal" style="padding:0;">
    <h2 style="padding:15px;" class="redBg">{{modalData.PI.User.Name}}'s scheduled inspections
        <a class="btn btn-success left" ng-click="af.initialiseInspection(modalData.PI)"><i class="icon-plus-2"></i>New Inspection</a>
           <a ng-if="af.hasHazardType(Constants.MASTER_HAZARD_IDS.RADIATION)" class="btn btn-primary left" ng-click="af.initialiseInspection(modalData.PI, false, false, true)"><img src="../img/radiation-large-icon.png">New Radiation Inspection</a>
           <i ng-if="creatingInspection" class="icon icon-spinnery-dealie spinner large"></i>
    </h2>
</div>
<div class="modal-body">
    <h3 class="alert alert-danger" ng-if="error">{{error}}</h3>
    <div ng-if="!openInspections.length">
        <h3>{{modalData.PI.User.Name}} has no pending inspections.</h3>
        <i ng-if="creatingInspection" class="icon icon-spinnery-dealie spinner large"></i>
    </div>
    <!-- process the pis rooms and the inspections rooms so we can make a view model that incorporates all possible room for each inspeciton-->
    <table ng-show="openInspections.length && modalData.PI.Rooms" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Rooms</th>
                <th>Year</th>
                <th>Month</th>
                <th>Inspector(s)</th>
                <th>Hazards</th>
                <th>Status / Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(key, inspection) in openInspections = (modalData.PI.Inspections | orderBy:'Date_started':reverse | inspectionClosed:false)" ng-class="{new:inspection.Is_new, inactive:inspection.Status == Constants.INSPECTION.STATUS.OVERDUE_FOR_INSPECTION || inspection.Status == Constants.INSPECTION.STATUS.OVERDUE_CAP}">
                <td>
                    <ul ng-init="processRooms(inspection, modalData.PI.Rooms)">
                        <li ng-repeat="(key, building) in inspection.Rooms | groupBy: 'Building.Name'">
                        <span class="bold underline">{{key}}</span>
                            <ul style="margin:5px;">
                                <li ng-repeat="(key,room) in building|orderBy:'Name'">
                                    <label class="checkbox inline">
                                        <input type="checkbox" ng-change="af.saveInspectionRoomRelationship( inspection, room )" ng-model="room.checked"/>
                                        <span class="metro-checkbox"><span once-text="room.Name"></span><i ng-if="room.IsDirty" class="icon-spinnery-dealie spinner small"></i></span>
                                    </label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </td>
                <td once-text="inspection.Schedule_year"></td>
                <td once-text="inspection.Text_schedule_month"></td>
                <td>
                    <ul>
                        <li ng-repeat='inspector in inspection.Inspectors' once-text='inspector.User.Name'></li>
                    </ul>
                </td>
                <td>
                    <span ng-if="af.hasHazardType(Constants.MASTER_HAZARD_IDS.BIOLOGICAL)" ng-class="{'grayed-out': inspection.Is_rad}">
                        <img src="../img/biohazard-largeicon.png" style="width: 41px; max-width:30%"/>
                    </span>
                    <span ng-if="af.hasHazardType(Constants.MASTER_HAZARD_IDS.CHEMICAL)" ng-class="{'grayed-out': inspection.Is_rad}">
                        <img src="../img/chemical-blue-icon.png" style="width: 41px; max-width:30%"/>
                    </span>
                    <span ng-if="af.hasHazardType(Constants.MASTER_HAZARD_IDS.RADIATION)"  ng-class="{'grayed-out': !inspection.Is_rad}">
                        <img src="../img/radiation-large-icon.png" style="width: 41px; max-width:30%"/>
                    </span>
                </td>
                <td>
                    {{inspection.Status}}
                    <span ng-if="inspection.Status == Constants.INSPECTION.STATUS.SCHEDULED">
                         ({{inspection.Schedule_month | getMonthName}})
                        <br>
                        <a target="_blank" style="margin:  5px 0;" class="btn btn-danger left" href="../views/inspection/InspectionChecklist.php#?inspection={{inspection.Key_id}}"><i style="font-size:21px;margin:3px 2px 0" class="icon-zoom-in"></i>Begin Inspection</a>
                    </span>
                    <span ng-if="inspection.Status == Constants.INSPECTION.STATUS.CLOSED_OUT">
                        <p ng-if="inspection.Deficiency_selections[0].length">
                            (CAP Submitted: {{dto.Inspections.Cap_submitted_date | dateToISO | date:"MM/dd/yy"}})
                            <br>
                            <a target="_blank" style="margin:  5px 0; " class="btn btn-info left" href="InspectionConfirmation.php#/report?inspection={{dto.Inspections.Key_id}}"><i style="font-size: 21px;" class="icon-clipboard-2"></i>Archived Report</a>
                        </p>
                        <p ng-if="!inspection.Deficiency_selections[0].length">
                            (No deficiencies.  Closed: {{dto.Inspections.Date_closed | dateToISO | date:"MM/dd/yy"}})
                        </p>
                    </span>
                    <span ng-if="inspection.Status == Constants.INSPECTION.STATUS.PENDING_CLOSEOUT || inspection.Status == Constants.INSPECTION.STATUS.OVERDUE_CAP">
                        <p>
                            (Due: {{inspection.Cap_due_date | dateToISO}})
                            <br>
                            <a target="_blank" style="margin:5px 0;" class="btn btn-info left" href="../views/inspection/InspectionConfirmation.php#/report?inspection={{inspection.Key_id}}"><i style="font-size: 21px;" class="icon-clipboard-2"></i>Submitted Report</a>
                        </p>
                    </span>
                    <span ng-if="inspection.Status == Constants.INSPECTION.STATUS.INCOMPLETE_INSPECTION">
                        <p>
                            (Started: {{inspection.Date_started | dateToISO}})
                            <br>
                            <a target="_blank" style="margin:5px 0;" class="btn btn-danger left" href="../views/inspection/InspectionChecklist.php#?inspection={{inspection.Key_id}}"><i style="font-size: 21px;" class="icon-zoom-in"></i>Continue Inspection</a>
                        </p>
                    </span>
                    <span ng-if="!inspection.Status">
                        <p>
                            N/A
                        </p>
                    </span>
                    <span ng-if="inspection.Status == Constants.INSPECTION.STATUS.OVERDUE_FOR_INSPECTION">
                        <p>
                            (Scheduled for {{inspection.Text_schedule_month}})
                            <br>
                            <a target="_blank" style="margin:  5px 0;" class="btn btn-danger left" href="../views/inspection/InspectionChecklist.php#?inspection={{inspection.Key_id}}"><i style="font-size:21px;margin:3px 2px 0" class="icon-zoom-in"></i>Begin Inspection</a>
                        </p>
                    </span>
                </td>
            </tr>
        </tbody>
   </table>
   <h3 ng-show="noHazards">{{noHazards}}</h3>
</div>
<div class="modal-footer">
    <a class="btn btn-large btn-danger" ng-click="close()">Close</a>
</div>
