<div class="modal-header wide-modal" style="padding:0;">
    <h2 style="padding:15px;" class="redBg even-content">
        {{modalData.PI.User.Name}}'s scheduled inspections
        <span>
            <button ng-repeat="rtype in inspectable_room_types | orderBy:['-sort', '-name']"
                    ng-class="{'selected': rtype === newInspection.roomType}"
                    style="margin-left: 10px;"
                    class="btn btn-success left"
                    ng-disabled="newInspection"
                    ng-click="verifyOrCreateNewInspection(modalData.PI, [USER.Inspector_id], rtype);">
                <i class="icon-plus-2"></i>
                <room-type-icon room-type="rtype"></room-type-icon>
                New {{rtype.label}} Inspection
            </button>

            <i ng-if="creatingInspection" class="icon icon-spinnery-dealie spinner large"></i>
        </span>
    </h2>
</div>
<div class="modal-body">
    <span ng-init="openInspections = {}"></span>
    <h3 class="alert alert-danger" ng-if="error">{{error}}</h3>

    <h3 ng-if="newInspection"
        class="alert alert-info" style="box-shadow:0 0 10px rgba(0,0,0,.5)">
        <span>{{newInspection.message}}</span>
        <button class="btn btn-primary left" ng-click="newInspection.confirmation.resolve()">
            <room-type-icon room-type="newInspection.roomType"></room-type-icon>
            Continue
        </button>
        <button class="btn btn-danger left" ng-click="newInspection.confirmation.reject()"><i class="icon-cancel-2"></i>Cancel</button>
    </h3>

    <!-- process the pis rooms and the inspections rooms so we can make a view model that incorporates all possible room for each inspeciton-->
    <table ng-if="!modalData.inspectionsPendings" ng-show="openInspections.length && modalData.PI.Rooms" class="table stripe-bodies table-bordered">
        <thead>
            <tr>
                <th style="width: 30%">Rooms</th>
                <th>Year</th>
                <th>Month</th>
                <th>Inspector(s)</th>
                <th>Lab Contact(s)</th>
                <th style="width: 10%">Hazards</th>
                <th>Status / Action</th>
            </tr>
        </thead>
        <tbody ng-repeat="(key, inspection) in openInspections = (modalData.PI.Inspections
                                                                | orderBy:['Schedule_year', 'Schedule_month']:true
                                                                | inspectionClosed:false
                                                                | inspectionScheduledYearThreshold:-1
                )"
                ng-init="is_beginnable = (inspection | isScheduledForCurrentYear);
                         processRooms(inspection, modalData.PI.Rooms);">

            <tr ng-repeat="(buildingName, buildingRooms) in (group = inspection.Rooms | groupBy: 'Building.Name')"
                ng-class="{
                    new:inspection.Is_new,
                    inactive: inspection.Status == Constants.INSPECTION.STATUS.OVERDUE_FOR_INSPECTION
                              || inspection.Status == Constants.INSPECTION.STATUS.OVERDUE_CAP
                }">
                <td ng-init="_expand_list = (buildingRooms | selectedForInspection:inspection).length > 0"
                    class="room-cell"
                    ng-class="{'no-border': !$last}">

                    <a class="scroll-list-toggle" ng-click="_expand_list = !_expand_list">
                        <i ng-class="{ 'icon-arrow-down': _expand_list, 'icon-arrow-right': !_expand_list}"></i>
                        <span class="bold" style="flex-grow: 1;">
                            {{buildingName}}
                        </span>
                        <small>({{(buildingRooms | selectedForInspection:inspection).length}} / {{buildingRooms.length}})</small>
                    </a>

                    <ul class="scroll-list" ng-show="_expand_list">
                        <li ng-repeat="(key,room) in buildingRooms|orderBy:'Name'" ng-init="roomType = Constants.ROOM_TYPE[room.Room_type]">
                            <label class="checkbox">
                                <input type="checkbox"
                                    ng-change="saveInspectionRoomRelationship( inspection, room )"
                                    ng-model="room[inspection.Key_id+'checked']"/>
                                <span class="metro-checkbox">
                                    <room-type-icon room-type="roomType"></room-type-icon>
                                    <span once-text="room.Name"></span>
                                    <i ng-if="room.IsDirty" class="icon-spinnery-dealie spinner small"></i>
                                </span>
                            </label>
                        </li>
                    </ul>
                </td>
                <td ng-if="$index == 0" rowspan="{{group.length}}" once-text="inspection.Schedule_year"></td>
                <td ng-if="$index == 0" rowspan="{{group.length}}" once-text="inspection.Text_schedule_month"></td>
                <td ng-if="$index == 0" rowspan="{{group.length}}">
                    <ul>
                        <li ng-repeat='inspector in inspection.Inspectors' once-text='inspector.Name'></li>
                    </ul>
                </td>
                <td ng-if="$index == 0" rowspan="{{group.length}}">
                    <ul>
                        <li ng-repeat='contact in inspection.LabPersonnel' once-text='contact.Name'>
                            <span once-text="contact.Name" ng-class="{'inactive-contact':!contact.Is_active}"></span>
                        </li>
                    </ul>
                </td>
                <td ng-if="$index == 0" rowspan="{{group.length}}">
                    <span ng-if="af.hasHazardType(Constants.MASTER_HAZARD_IDS.BIOLOGICAL)" ng-class="{'grayed-out': inspection.Is_rad}">
                        <img src="../img/biohazard-largeicon.png" style="width: 41px; max-width:30%"/>
                    </span>
                    <span ng-if="af.hasHazardType(Constants.MASTER_HAZARD_IDS.CHEMICAL)" ng-class="{'grayed-out': inspection.Is_rad}">
                        <img src="../img/chemical-blue-icon.png" style="width: 41px; max-width:30%"/>
                    </span>
                    <span ng-if="af.hasHazardType(Constants.MASTER_HAZARD_IDS.RADIATION)"  ng-class="{'grayed-out': !inspection.Is_rad}">
                        <img src="../img/radiation-large-icon.png" style="width: 41px; max-width:30%"/>
                    </span>
                </td>
                <td ng-if="$index == 0" rowspan="{{group.length}}">
                    <span ng-if="inspection.Status">
                        <span once-text="inspection.Status"></span>
                        <span ng-if="inspection.Status == constants.INSPECTION.STATUS.SCHEDULED">
                            <br>Scheduled ({{inspection.Schedule_month | getMonthName}})
                            <br>
                            <a style="margin:5px 0;" class="btn btn-danger left"
                                ng-if="is_beginnable"
                                ng-click="is_beginnable && validateInspection(inspection)"><i style="font-size:21px;margin:3px 2px 0" class="icon-zoom-in"></i>Begin Inspection</a>
                        </span>

                        <span ng-if="inspection.Status == constants.INSPECTION.STATUS.PENDING_CLOSEOUT">
                            <p>
                                (Report Sent: {{inspection.Notification_date | dateToISO | date:"MM/dd/yy"}})
                                <br>
                                <a target="_blank" style="margin:  5px 0; " class="btn btn-info left" href="../views/inspection/InspectionConfirmation.php#/report?inspection={{inspection.Key_id}}"><i style="font-size: 21px;" class="icon-clipboard-2"></i>View Report</a>
                            </p>
                        </span>
                        <span ng-if="inspection.Status == constants.INSPECTION.STATUS.INCOMPLETE_CAP">
                            <p>
                                (Report Sent: {{inspection.Notification_date | dateToISO | date:"MM/dd/yy"}})
                                <br>
                                <a target="_blank" style="margin:  5px 0; " class="btn btn-info left" href="../views/inspection/InspectionConfirmation.php#/report?inspection={{inspection.Key_id}}"><i style="font-size: 21px;" class="icon-clipboard-2"></i>View Report</a>
                            </p>
                        </span>
                        <span ng-if="inspection.Status == constants.INSPECTION.STATUS.CLOSED_OUT">
                            <p ng-if="inspection.HasDeficiencies">
                                (CAP Approved: {{inspection.Date_closed | dateToISO | date:"MM/dd/yy"}})
                                <br>
                                <a target="_blank" style="margin:  5px 0; " class="btn btn-info left" href="../views/inspection/InspectionConfirmation.php#/report?inspection={{inspection.Key_id}}"><i style="font-size: 21px;" class="icon-clipboard-2"></i>Archived Report</a>
                            </p>
                            <p ng-if="!inspection.HasDeficiencies">
                                (No deficiencies.)<br /> <a target="_blank" style="margin:  5px 0; " class="btn btn-info left" href="../views/inspection/InspectionConfirmation.php#/report?inspection={{inspection.Key_id}}"><i style="font-size: 21px;" class="icon-clipboard-2"></i>Archived Report</a>
                            </p>
                        </span>
                        <span ng-if="inspection.Status == constants.INSPECTION.STATUS.INCOMPLETE_INSPECTION">
                            <p>
                                (Started: {{inspection.Date_started | dateToISO | date:"MM/dd/yy"}})
                                <br>
                                <a style="margin:5px 0;" class="btn btn-danger left" ng-click="validateInspection(inspection)"><i style="font-size:21px;margin:3px 2px 0" class="icon-zoom-in"></i>Continue Inspection</a>
                            </p>
                        </span>
                        <span ng-if="inspection.Status == constants.INSPECTION.STATUS.NOT_ASSIGNED">
                            <p>
                                <a style="margin:5px 0;" class="btn btn-danger left"
                                    ng-if="is_beginnable"
                                    ng-click="is_beginnable && validateInspection(inspection)"><i style="font-size:21px;margin:3px 2px 0" class="icon-zoom-in"></i>Begin Inspection</a>
                            </p>
                        </span>
                        <span ng-if="inspection.Status == constants.INSPECTION.STATUS.PENDING_EHS_APPROVAL">
                            <span><br>(CAP Submitted: {{inspection.Cap_submitted_date}})</span>
                            <br>
                            <a target="_blank" style="margin:  5px 0;" class="btn btn-info left" href="../views/inspection/InspectionConfirmation.php#/report?inspection={{inspection.Key_id}}"><i style="font-size: 21px;" class="icon-clipboard-2"></i>Submitted Report</a>
                        </span>
                        <span ng-if="inspection.Status == constants.INSPECTION.STATUS.OVERDUE_CAP">
                            <span><br>(Due Date: {{inspection.Notification_date | getDueDate | date:"MM/dd/yy"}})</span>
                            <br>
                            <a target="_blank" style="margin:  5px 0;" class="btn btn-info left" href="../views/inspection/InspectionConfirmation.php#/report?inspection={{inspection.Key_id}}"><i style="font-size: 21px;" class="icon-clipboard-2"></i>Submitted Report</a>
                        </span>
                        <span ng-if="inspection.Status == constants.INSPECTION.STATUS.OVERDUE_FOR_INSPECTION">
                            <span><br>(Scheduled for {{inspection.Schedule_month | getMonthName}})</span>
                            <br>
                            <a style="margin:5px 0;" class="btn btn-danger left"
                                ng-if="is_beginnable"
                                ng-click="is_beginnable && validateInspection(inspection)"><i style="font-size:21px;margin:3px 2px 0" class="icon-zoom-in"></i>Begin Inspection</a>
                        </span>
                        <span ng-if="inspection.Status ==  constants.INSPECTION.STATUS.SUBMITTED_CAP">
                            <span><br>(CAP Sent: {{inspection.Cap_submitted_date | dateToISO}})</span>
                            <br>
                            <a target="_blank" style="margin:  5px 0;" class="btn btn-info left" href="../views/inspection/InspectionConfirmation.php#/report?inspection={{inspection.Key_id}}""><i style="font-size: 21px;" class="icon-clipboard-2"></i>Submitted Report</a>
                        </span>

                        <div ng-if="inspection.warning" class="inspection-warnings">
                            <h4>
                                <i class="icon-warning"></i>
                                <span>Please verify that the selected rooms are correct.</span>
                            </h4>
                            <ul>
                                <li ng-if="inspection.warning.old.length">
                                    Room<span ng-if="inspection.warning.old.length != 1">s</span>
                                    <span class="comma-separated">
                                        <span ng-repeat="room in inspection.warning.old" class="subject">
                                            <room-type-icon room-type-name="room.Room_type"></room-type-icon>
                                            <span once-text="room.Building_name"></span>
                                            <span once-text="room.Name"></span>
                                        </span>
                                    </span>
                                    <span>{{inspection.warning.old | isAre}}</span> no longer assigned to this PI.
                                </li>
                                <li ng-if="inspection.warning.unselected.length">
                                    Room<span ng-if="inspection.warning.unselected.length != 1">s</span>
                                    <span class="comma-separated">
                                        <span ng-repeat="room in inspection.warning.unselected" class="subject">
                                            <room-type-icon room-type-name="room.Room_type"></room-type-icon>
                                            <span once-text="room.Building_name"></span>
                                            <span once-text="room.Name"></span>
                                        </span>
                                    </span>
                                    <span>{{inspection.warning.unselected | isAre}}</span> not selected for inspection.
                                </li>
                            </ul>
                        </div>
                    </span>
                </td>
            </tr>
        </tbody>
   </table>
    <div ng-if="hasNoOpenInspections && !modalData.inspectionsPendings">
        <h3>{{modalData.PI.User.Name}} has no pending inspections.</h3>
        <i ng-if="creatingInspection" class="icon icon-spinnery-dealie spinner large"></i>
    </div>
    <div ng-if="modalData.inspectionsPendings">
        <h3 style="font-size:30px">Loading Inspections<i style="margin: -7px 0 9px 4px;" class="icon icon-spinnery-dealie spinner large"></i></h3>
    </div>
   <h3 ng-show="noHazards">{{noHazards}}</h3>
</div>
<div class="modal-footer">
    <a class="btn btn-large btn-danger" ng-click="close()">Close</a>
</div>
