<div class="modal-header wide-modal" style="padding:0;">
    <h2 style="padding:15px;" class="redBg">{{modalData.PI.User.Name}}'s scheduled inspections
        <button ng-disabled="confirmer.needsConfirmation" class="btn btn-success left" ng-click="checkSafetyInspector(modalData.PI, [USER.Inspector_id], modalData.inspection);"><i class="icon-plus-2"></i>New Inspection</button>
        <button ng-disabled="confirmer.needsRadConfirmation" ng-if="af.hasHazardType(Constants.MASTER_HAZARD_IDS.RADIATION)" class="btn btn-primary left" ng-click="checkRad(modalData.PI, [USER.Inspector_id]);"><img src="../img/radiation-large-icon.png">New Radiation Inspection</button>
        <i ng-if="creatingInspection" class="icon icon-spinnery-dealie spinner large"></i>
    </h2>
</div>
<div class="modal-body">
    <span ng-init="openInspections = {}"></span>
    <h3 class="alert alert-danger" ng-if="error">{{error}}</h3>
    <h3 class="alert alert-info" style="box-shadow:0 0 10px rgba(0,0,0,.5)" ng-if="confirmer.needsRadConfirmation">You do not have a Radiation Inspector role. Please verify you want to continue this radiation inspection.
        <button class="btn btn-primary left" ng-click="af.initialiseInspection(modalData.PI ,[USER.Inspector_id], false, true);"><img src="../img/radiation-large-icon.png">Continue</button>
        <button class="btn btn-danger left" ng-click="confirmer.needsRadConfirmation = false"><i class="icon-cancel-2"></i>Cancel</button>
    </h3>

    <h3 class="alert alert-info" style="box-shadow:0 0 10px rgba(0,0,0,.5)" ng-if="confirmer.needsConfirmation">
        You do not have a Safety Inspector role. Please verify you want to continue this biochem inspection.
        <button class="btn btn-primary left" ng-click="af.initialiseInspection(modalData.PI ,[USER.Inspector_id]);">Continue</button>
        <button class="btn btn-danger left" ng-click="confirmer.needsConfirmation = false"><i class="icon-cancel-2"></i>Cancel</button>
    </h3>
    <!-- process the pis rooms and the inspections rooms so we can make a view model that incorporates all possible room for each inspeciton-->
    <table ng-if="!modalData.inspectionsPendings" ng-show="openInspections.length && modalData.PI.Rooms" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Rooms</th>
                <th>Year</th>
                <th>Month</th>
                <th>Inspector(s)</th>
                <th>Hazards</th>
                <th>Status / Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(key, inspection) in openInspections = (modalData.PI.Inspections | orderBy:'Date_started':reverse | inspectionClosed:false)" ng-class="{new:inspection.Is_new, inactive:inspection.Status == Constants.INSPECTION.STATUS.OVERDUE_FOR_INSPECTION || inspection.Status == Constants.INSPECTION.STATUS.OVERDUE_CAP}">
                <td>
                    <ul ng-init="processRooms(inspection, modalData.PI.Rooms)">
                        <li ng-repeat="(key, building) in inspection.Rooms | groupBy: 'Building.Name'">
                        <span class="bold underline">{{key}}</span>
                            <ul style="margin:5px;">
                                <li ng-repeat="(key,room) in building|orderBy:'Name'">
                                    <label class="checkbox inline">
                                        <input type="checkbox" ng-change="af.saveInspectionRoomRelationship( inspection, room )" ng-model="room[inspection.Key_id+'checked']"/>
                                        <span class="metro-checkbox"><span once-text="room.Name"></span><i ng-if="room.IsDirty" class="icon-spinnery-dealie spinner small"></i></span>
                                    </label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </td>
                <td once-text="inspection.Schedule_year"></td>
                <td once-text="inspection.Text_schedule_month"></td>
                <td>
                    <ul>
                        <li ng-repeat='inspector in inspection.Inspectors' once-text='inspector.Name'></li>
                    </ul>
                </td>
                <td>
                    <span ng-if="af.hasHazardType(Constants.MASTER_HAZARD_IDS.BIOLOGICAL)" ng-class="{'grayed-out': inspection.Is_rad}">
                        <img src="../img/biohazard-largeicon.png" style="width: 41px; max-width:30%"/>
                    </span>
                    <span ng-if="af.hasHazardType(Constants.MASTER_HAZARD_IDS.CHEMICAL)" ng-class="{'grayed-out': inspection.Is_rad}">
                        <img src="../img/chemical-blue-icon.png" style="width: 41px; max-width:30%"/>
                    </span>
                    <span ng-if="af.hasHazardType(Constants.MASTER_HAZARD_IDS.RADIATION)"  ng-class="{'grayed-out': !inspection.Is_rad}">
                        <img src="../img/radiation-large-icon.png" style="width: 41px; max-width:30%"/>
                    </span>
                </td>
                <td>
                    <span ng-if="inspection.Status">

                        <span once-text="inspection.Status"></span>
                        <span ng-if="inspection.Status == constants.INSPECTION.STATUS.SCHEDULED">
                            <br>Scheduled ({{inspection.Schedule_month | getMonthName}})
                            <br>
                            <a style="margin:5px 0;" class="btn btn-danger left" ng-click="validateInspection(inspection)"><i style="font-size:21px;margin:3px 2px 0" class="icon-zoom-in"></i>Begin Inspection</a>
                        </span>

                        <span ng-if="inspection.Status == constants.INSPECTION.STATUS.PENDING_CLOSEOUT">
                            <p>
                                (Report Sent: {{inspection.Notification_date | dateToISO | date:"MM/dd/yy"}})
                                <br>
                                <a target="_blank" style="margin:  5px 0; " class="btn btn-info left" href="../views/inspection/InspectionConfirmation.php#/report?inspection={{inspection.Key_id}}"><i style="font-size: 21px;" class="icon-clipboard-2"></i>View Report</a>
                            </p>
                        </span>
                        <span ng-if="inspection.Status == constants.INSPECTION.STATUS.INCOMPLETE_CAP">
                            <p>
                                (Report Sent: {{inspection.Notification_date | dateToISO | date:"MM/dd/yy"}})
                                <br>
                                <a target="_blank" style="margin:  5px 0; " class="btn btn-info left" href="../views/inspection/InspectionConfirmation.php#/report?inspection={{inspection.Key_id}}"><i style="font-size: 21px;" class="icon-clipboard-2"></i>View Report</a>
                            </p>
                        </span>
                        <span ng-if="inspection.Status == constants.INSPECTION.STATUS.CLOSED_OUT">
                            <p ng-if="inspection.HasDeficiencies">
                                (CAP Approved: {{inspection.Date_closed | dateToISO | date:"MM/dd/yy"}})
                                <br>
                                <a target="_blank" style="margin:  5px 0; " class="btn btn-info left" href="../views/inspection/InspectionConfirmation.php#/report?inspection={{inspection.Key_id}}"><i style="font-size: 21px;" class="icon-clipboard-2"></i>Archived Report</a>
                            </p>
                            <p ng-if="!inspection.HasDeficiencies">
                                (No deficiencies.)<br /> <a target="_blank" style="margin:  5px 0; " class="btn btn-info left" href="../views/inspection/InspectionConfirmation.php#/report?inspection={{inspection.Key_id}}"><i style="font-size: 21px;" class="icon-clipboard-2"></i>Archived Report</a>
                            </p>
                        </span>
                        <span ng-if="inspection.Status == constants.INSPECTION.STATUS.INCOMPLETE_INSPECTION">
                            <p>
                                (Started: {{inspection.Date_started | dateToISO | date:"MM/dd/yy"}})
                                <br>
                                <a style="margin:5px 0;" class="btn btn-danger left" ng-click="validateInspection(inspection)"><i style="font-size:21px;margin:3px 2px 0" class="icon-zoom-in"></i>Continue Inspection</a>
                            </p>
                        </span>
                        <span ng-if="inspection.Status == constants.INSPECTION.STATUS.NOT_ASSIGNED">
                            <p>
                                <a style="margin:5px 0;" class="btn btn-danger left" ng-click="validateInspection(inspection)"><i style="font-size:21px;margin:3px 2px 0" class="icon-zoom-in"></i>Begin Inspection</a>
                            </p>
                        </span>
                        <span ng-if="inspection.Status == constants.INSPECTION.STATUS.PENDING_EHS_APPROVAL">
                            <span><br>(CAP Submitted: {{inspection.Cap_submitted_date}})</span>
                            <br>
                            <a target="_blank" style="margin:  5px 0;" class="btn btn-info left" href="../views/inspection/InspectionConfirmation.php#/report?inspection={{inspection.Key_id}}"><i style="font-size: 21px;" class="icon-clipboard-2"></i>Submitted Report</a>
                        </span>
                        <span ng-if="inspection.Status == constants.INSPECTION.STATUS.OVERDUE_CAP">
                            <span><br>(Due Date: {{inspection.Notification_date | getDueDate | date:"MM/dd/yy"}})</span>
                            <br>
                            <a target="_blank" style="margin:  5px 0;" class="btn btn-info left" href="../views/inspection/InspectionConfirmation.php#/report?inspection={{inspection.Key_id}}"><i style="font-size: 21px;" class="icon-clipboard-2"></i>Submitted Report</a>
                        </span>
                        <span ng-if="inspection.Status == constants.INSPECTION.STATUS.OVERDUE_FOR_INSPECTION">
                            <span><br>(Scheduled for {{inspection.Schedule_month | getMonthName}})</span>
                            <br>
                            <a style="margin:5px 0;" class="btn btn-danger left" ng-click="validateInspection(inspection)"><i style="font-size:21px;margin:3px 2px 0" class="icon-zoom-in"></i>Begin Inspection</a>
                        </span>
                        <span ng-if="inspection.Status ==  constants.INSPECTION.STATUS.SUBMITTED_CAP">
                            <span><br>(CAP Sent: {{inspection.Cap_submitted_date | dateToISO}})</span>
                            <br>
                            <a target="_blank" style="margin:  5px 0;" class="btn btn-info left" href="../views/inspection/InspectionConfirmation.php#/report?inspection={{inspection.Key_id}}""><i style="font-size: 21px;" class="icon-clipboard-2"></i>Submitted Report</a>
                        </span>
                    </span>
                </td>
            </tr>
        </tbody>
   </table>
    <div ng-if="hasNoOpenInspections && !modalData.inspectionsPendings">
        <h3>{{modalData.PI.User.Name}} has no pending inspections.</h3>
        <i ng-if="creatingInspection" class="icon icon-spinnery-dealie spinner large"></i>
    </div>
    <div ng-if="modalData.inspectionsPendings">
        <h3 style="font-size:30px">Loading Inspections<i style="margin: -7px 0 9px 4px;" class="icon icon-spinnery-dealie spinner large"></i></h3>
    </div>
   <h3 ng-show="noHazards">{{noHazards}}</h3>
</div>
<div class="modal-footer">
    <a class="btn btn-large btn-danger" ng-click="close()">Close</a>
</div>
