<div class="modal-header footer-present" style="padding:0;">
    <h2 style="padding:5px;" class="redBg">SubHazards of {{modalData.Hazard.Hazard_name}}</h2>
</div>
<div class="modal-body">
    <ul>
        <li ng-repeat="(key, child) in modalData.Hazard.ActiveSubHazards | orderBy: 'Order_index'">
            <label class="checkbox inline">
                <input type="checkbox" ng-model="child.IsPresent" ng-change="af.handleHazardChecked(child, modalData.Parent)" />
                <span class="metro-checkbox" once-text="child.Hazard_name"></span>
            </label>
            <div class="clearfix"></div>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <a class="btn btn-large btn-danger left" ng-click="edit(false);close()"><i class="icon-cancel-2"></i>Close</a>
</div>
