<td><span once-text="question.Text"></span></td>
<td colspan="2" style="padding:0;">
<!--<pre>{{question | json}}</pre>-->
	<div class="row-fluid" ng-if="!question.Responses.DeficiencySelections.length">Unknown Deficiency</div>
	<div class="row-fluid" ng-repeat="def in question.Responses.DeficiencySelections" >

		<span class="span6" ng-if="def.Deficiency.Text">
			<span once-text="def.Deficiency.Text"></span>
			<ul ng-if="def.Rooms.length && def.Show_rooms" class="subRooms" style="margin-left:0">
				<li>Room<span ng-if="def.Rooms.length>1">s</span>:</li>
				<li ng-repeat="room in def.Rooms">{{room.Name}}</li>
			</ul>
		</span>
		<span class="span6" ng-if="!def.Deficiency.Text">
			Unknown Deficiency
			<ul ng-if="def.Rooms.length < getNumberOfRoomsForQuestionByChecklist(question)" class="subRooms" style="margin-left:0">
				<li>Room<span ng-if="def.Rooms.length>1">s</span>:</li>
				<li ng-repeat="room in def.Rooms">{{room.Name}}</li>
			</ul>
		</span>			

		<span class="span6">
			<span ng-if="!def.Deficiency.Text">
				Unknown Deficiency
			</span>
			<span ng-if="def.Deficiency.Text">
				<span ng-if="def.Corrected_in_inspection < 1">
					
					<!-- set a corrective action copy for this deficiency, if we already have a corrective action-->
					<input type="hidden" ng-if="def.CorrectiveActions[0]" ng-model="def.CorrectiveActionCopy" ng-init="def.CorrectiveActionCopy = def.CorrectiveActions[0]"/>

					<label><i class="icon-checkmark-2" ng-show="def.CorrectiveActionCopy.Status == 'Accepted'" style="color:#090"></i>Corrective Action Status:</label>
					<select ng-hide="def.CorrectiveActionCopy.Status == 'Accepted'" class="{{def.CorrectiveActionCopy.Status}} status"
					  ng-model="def.CorrectiveActionCopy.Status"
					  ng-options="option for option in options"
					  ng-init="def.CorrectiveActionCopy.Status = def.CorrectiveActionCopy.Status || options[0]"
					>
					</select>
				
					<span ng-switch on="def.CorrectiveActionCopy.Status">
						<span ng-switch-when="Incomplete"></span>
						<span ng-switch-default>

							<label ng-show="def.CorrectiveActionCopy.Status == 'Pending'">Describe Planned Corrective Action:</label>
							<label ng-show="def.CorrectiveActionCopy.Status == 'Complete'"><a class="btn-mini btn btn-danger" ng-show="def.CorrectiveActionCopy.Editing" ng-click="resetEdits(def.CorrectiveActionCopy,def.CorrectiveActions[0])"><i class="icon-cancel"></i></a>Describe Completed Corrective Action:</label>
							
							<span ng-if="!def.CorrectiveActions.length || def.CorrectiveActions[0].Status == 'Pending' || def.CorrectiveActionCopy.Editing == true">
								<textarea style="width:100%" rows=5 ng-model="def.CorrectiveActionCopy.Text"></textarea>
							</span>

							<span ng-if="def.CorrectiveActions[0].Status != 'Pending' && !def.CorrectiveActionCopy.Editing && def.CorrectiveActions.length">
								<p><a class="btn-mini btn btn-primary" ng-click="def.CorrectiveActionCopy.Editing = !def.CorrectiveActionCopy.Editing"><i class="icon-pencil"></i></a>{{def.CorrectiveActionCopy.Text}}</p>
							</span>
							
							<label ng-if="def.CorrectiveActionCopy.Status == 'Pending'">Anticipated Completion Date:</label>
							<label ng-if="def.CorrectiveActionCopy.Status == 'Complete'">Corrective Action Completion Date:</label>
							 <p class="input-group">
								 <datepicker2 ng-if="def.CorrectiveActionCopy.Status == 'Pending'" ng-model='def.CorrectiveActionCopy.viewPromised_date' disable-timepicker='true' date-filter='todayOrAfter'></datepicker2>
					             <datepicker2 ng-if="def.CorrectiveActionCopy.Status == 'Complete'" ng-model='def.CorrectiveActionCopy.viewCompletion_date' disable-timepicker='true' date-filter='afterInspection'></datepicker2>
				            </p>
				            <p class="input-group">					
								<a class="btn btn-primary"  ng-click="saveCorrectiveAction(def)"><i class="icon-checkmark"></i>Save Corrective Action</a><img ng-show="def.CorrectiveActionCopy.isDirty" class="smallLoading" src="../../img/loading.gif"/>
							</p>
							<p class="input-group" ng-if="def.CorrectiveActionCopy.Status == 'Complete'">
				            	<!--<a ng-show="def.CorrectiveActionCopy.Status == 'Complete' && User.Roles[0] == 'Administrator'" class="btn btn-success">--><a ng-click="saveCorrectiveAction(def.CorrectiveActionCopy,def.CorrectiveActions[0],true)" class="btn btn-success"><i class="icon-thumbs-up"></i>Accept Corrective Action</a><img ng-show="def.CorrectiveActionCopy.isDirty" class="smallLoading" src="../../img/loading.gif"/>
				            </p>
						</span>
					</span>
				</span>
			</span>
	
			</span>

		</div>

			<h3 ng-if="def.Corrected_in_inspection > 0">
				Corrected during inspection
			</h3>
		

		</span>
</td>
<td once-text="question.Description"></td>
<td once-text="question.Reference"></td>
