<td valign="top">
	{{def.questionText}}
</td>
<td valign="top">
	{{def.Deficiency.Text}}
</td>
<td valign="top">
	{{def.Deficiency.Description}}
</td>
<td valign="top">
	{{def.Deficiency.Reference}}
</td>
<td valign="top">
	<span ng-if="def.Corrected_in_inspection < 1">
		<label><i class="icon-checkmark-2" ng-show="def.CorrectiveActionCopy.Status == 'Accepted'" style="color:#090"></i><img ng-show="def.CorrectiveActionCopy.IsDirty" class="smallLoading" src="../../img/loading.gif"/>Corrective Action Status:</label>
		<select ng-hide="def.CorrectiveActionCopy.Status == 'Accepted'" class="{{def.CorrectiveActionCopy.Status}} status"
		  ng-model="def.CorrectiveActionCopy.Status"
		  ng-options="option for option in options">
		</select>

	
		<span ng-switch on="def.CorrectiveActionCopy.Status">
			<span ng-switch-when="Incomplete"></span>
			<span ng-switch-default>
				<label ng-show="def.CorrectiveActionCopy.Status == 'Pending'">Describe Planned Corrective Action:</label>
				<label ng-show="def.CorrectiveActionCopy.Status == 'Complete'"><a class="btn-mini btn btn-danger" ng-show="def.CorrectiveActionCopy.Editing" ng-click="resetEdits(def.CorrectiveActionCopy,def.CorrectiveActions[0])"><i class="icon-cancel"></i></a>Describe Completed Corrective Action:</label>
				
				<span ng-if="def.CorrectiveActions[0].Status == 'Pending' || def.CorrectiveActionCopy.Editing == true">
					<textarea style="width:100%" rows=5 ng-model="def.CorrectiveActionCopy.Text"></textarea>
				</span>
				<span ng-if="def.CorrectiveActions[0].Status != 'Pending' && !def.CorrectiveActionCopy.Editing">
					<p><a class="btn-mini btn btn-primary" ng-click="def.CorrectiveActionCopy.Editing = !def.CorrectiveActionCopy.Editing"><i class="icon-pencil"></i></a>{{def.CorrectiveActionCopy.Text}}</p>
				</span>
				
				<label ng-if="def.CorrectiveActionCopy.Status == 'Pending'">Anticipated Completion Date:</label>
				<label ng-if="def.CorrectiveActionCopy.Status == 'Complete'">Corrective Action Completion Date:</label>
				 <p class="input-group">

					 <datepicker2 ng-if="def.CorrectiveActionCopy.Status == 'Pending'" ng-model='def.CorrectiveActionCopy.Promised_date' disable-timepicker='true' date-filter='afterInspection'></datepicker2>
		             <datepicker2 ng-if="def.CorrectiveActionCopy.Status == 'Complete'" ng-model='def.CorrectiveActionCopy.Completion_date' disable-timepicker='true' date-filter='afterInspection'></datepicker2>

	            </p>
	            <p class="input-group">					
					<a class="btn btn-primary"  ng-click="saveCorrectiveAction(def.CorrectiveActionCopy,def.CorrectiveActions[0])"><i class="icon-checkmark"></i>Save Corrective Action</a>
				</p>
				<p class="input-group">
	            	<!--<a ng-show="def.CorrectiveActionCopy.Status == 'Complete' && User.Roles[0] == 'Administrator'" class="btn btn-success">--><a ng-show="def.CorrectiveActionCopy.Status == 'Complete'" ng-click="saveCorrectiveAction(def.CorrectiveActionCopy,def.CorrectiveActions[0],true)" class="btn btn-success"><i class="icon-thumbs-up"></i>Accept Corrective Action</a>
	            </p>
			</span>
		</span>
	</span>

	<h3 ng-if="def.Corrected_in_inspection > 0">
		Corrected durring inspection
	</h3>


</td>