<div class="loading" ng-show='!doneLoading' >
	  <img class="" src="../../../img/loading.gif"/>
	 Getting Inspection Information...
	</div>
	<!--<pre>{{Inspection | json}}</pre>-->
	<span  ng-show='doneLoading'>
<div class="checklistDetails">
	<div ng-repeat="checklist in checklists" class="row detail">
		<h2>{{checklist.label}}</h2>
		<div class="span12 {{question.response}}" ng-repeat="question in checklist.questions" ng-class="">
			<h3 class="{{question.response}}">{{question.text}}</h3>
			<h4>Reponse: {{question.response}}</h4>
			<span ng-switch on="question.response">
				<span ng-switch-when="No">
					<h5>{{question.deficiency}}</h5><br>
					{{question.rootCause.text}}
				</span>
			</span>
		</div>
	</div>
</div>
</span>
<div class="row-fluid">
<!--<a ng-click="$spMenu.toggle()" .icon-menu-2 style="background:blue;font-size: 27px !important; color: black; text-decoration:none!important" class="toggles toggledIn"><p class="rotate">Show/Hide Menu<i style="margin-top: 16px; font-size: 50px !important;" class="icon-arrow-down"></i></p></a>  
-->	
    <!-- begin checklist for this inspection 
		<accordion >
			<accordion-group ng-class="{active:checklist.currentlyOpen}" class="checklist" ng-repeat="checklist in checklists" is-open="checklist.open">
				<accordion-heading>
					<span style="margin-top:20px;" id="{{checklist.key_id}}"></span>
					<input type="hidden" ng-model="checklist.answeredQuestions" ng-init="checklist.answeredQuestions = '0'"/>
					<h2>{{checklist.label}}<span style="float:right" ng-class="checklist.countClass"></span></h2>
				</accordion-heading>
		     	<ul style="margin-left:0;">	
		     		<li class="question" ng-repeat="question in checklist.questions">
		     			<h3 style="width:65%; float:left;">{{question.text}}</h3>
		     			<div class="questionAnswerInputs">
	     					<label class="radio inline">
								<input type="radio" value="true" ng-model="question.userResponse.answer" ng-change="questionAnswered(checklist, question.userResponse, question)" />
								<span class="metro-radio">Yes</span>
							</label>
							<label class="checkbox inline">
								<input type="radio" value="false" ng-model="question.userResponse.answer" ng-change="questionAnswered(checklist, question.userResponse, question)" />
								<span class="metro-radio">No</span>
							</label>
							<label class="radio inline">
								<input type="radio" value="n/a" ng-model="question.userResponse.answer" ng-change="questionAnswered(checklist, question.userResponse, question)" />
								<span class="metro-radio">N/A</span>
							</label>
							<label class="checkbox inline">
								<input type="checkbox" value="true" ng-model="question.showRecommendations"  />
								<span class="metro-checkbox">Recommendations</span>
							</label>
							<label class="checkbox inline">
								<input type="checkbox" value="true" ng-model="question.showNotes" />
								<span class="metro-checkbox">Notes</span>
							</label>
						</div>
					<span style="clear:both; display:block; height:0;">&nbsp;</span>

						<span ng-switch on="question.userResponse.answer">
							<ul ng-switch-when="false" style="padding: 20px 0px;margin: 20px 0;border-top: 1px solid #ccc;">
								<h3>Deficiencies:</h3>
								<li ng-repeat="deficiency in question.deficiencies">
									<label class="checkbox inline">
										<input type="checkbox" value="true" ng-model="deficiency.checked" ng-change="questionAnswered(checklist, question.userResponse, question)" />
										<span class="metro-checkbox">{{deficiency.text}}</span>
									</label>
									<ul style="margin:10px" ng-switch on="deficiency.checked">
										<li ng-switch-when="true">
											<label class="checkbox inline">
												<input type="checkbox" value="true" ng-model="deficiency.correctedDuringInspection" ng-change="questionAnswered(checklist, question.userResponse, question)" />
												<span class="metro-checkbox">corrected during inpsection</span>
											</label>
										</li>
									</ul>
								</li>
							</ul>
						</span>

						<span ng-switch on="question.showRecommendations">
							<ul ng-switch-when="true" style="padding: 20px 0px;margin: 20px 0;border-top: 1px solid #ccc;">
								<h3>Recommendations:</h3>
								<li ng-repeat="recommendation in question.recommendations">
									<label class="checkbox inline">
										<input type="checkbox" value="true" ng-model="recommendation.checked" ng-change="questionAnswered(checklist, question.userResponse, question)" />
										<span class="metro-checkbox">{{recommendation.text}}</span>
									</label>
								</li>
								<li>
									 <form ng-submit="handleNotesAndRecommendations(question)">
									 	<input type="hidden" value="recommendation" name="question.textType" ng-model="question.textType" ng-update-hidden />
							        	<textarea ng-model="question.recommendationText" rows="6" style="width:100%;"></textarea>
								        <input class="btn btn-large btn-primary" type="submit" style="height:50px" value="Save Recommendation"/>
								    </form>
								</li>
							</ul>
						</span>

						<span ng-switch on="question.showNotes">
							<ul ng-switch-when="true" style="padding: 20px 0px;margin: 20px 0;border-top: 1px solid #ccc;">
								<h3>Notes:</h3>
								<li ng-repeat="note in question.notes">
									<label class="checkbox inline">
										<input type="checkbox" value="true" ng-model="note.checked"/>
										<span class="metro-checkbox">{{note.text}}</span>
									</label>
								</li>
								<li>		
									<form ng-submit="handleNotesAndRecommendations(question)">
										<input type="hidden" value="note" name="question.textType" ng-model="question.textType" ng-update-hidden />
							        	<textarea ng-model="question.noteText" rows="6" style="width:100%;"></textarea>
								        <input class="btn btn-large btn-primary" type="submit" style="height:50px" value="Save Note"/>
								    </form>							
								</li>
							</ul>
						</span>
		     		</li>
		     	</ul>
		    </accordion-group>
		</accordion>
	</div>
	</div>
</div>
<div style="clear:both"></div>
</div>-->