<div class="loading" ng-show='!doneLoading' >
	  <img class="" src="../../../img/loading.gif"/>
	 Getting Inspection Information...
	</div>
	<!--<pre>{{Inspection | json}}</pre>-->
<span  ng-show='doneLoading'>
<div class="checklistDetails">
	<h1 class="row" style="font-weight:bold; margin-bottom:25px;">Inspection Details:</h1>
	<ul class="key">
		<li><h2>Key:</h2></li>
		<li class="deficiencies">Deficiencies <!--<span></span>--></li>
		<li class="recommendations">Recommendations <!--<span></span>--></li>
		<li class="observations">Observations <!--<span></span>--></li>
	</ul>
	<div ng-repeat="checklist in checklists" class="row detail">
		<h2>{{checklist.label}}</h2>
		<div class="row-fluid {{question.Response}} checklistDetailsQuestion" ng-repeat="question in checklist.Questions" ng-class="">
		<div class="span12">
			<h3 class="span9">{{question.Text}}</h3>
			<i ng-show="question.Response == 'Yes'"  class="span3 icon-checkmark"></i>
			<i ng-show="question.Response == 'No'"  class="span3 icon-cancel-2"></i>
			<i ng-show="question.Response == 'N/A'" class="span3">N/A</i>
		</div>
		<div style="clear:both; height:0">&nbsp;</div>
			<span ng-hide="question.Response != 'No'">
				<ul class="deficiencies">
					<li><h5>Deficiencies:</h5></li>
					<li ng-repeat="deficiency in question.Deficiencies">
						{{deficiency.Text}}
						<p class="rootCause">Root Cause:  {{deficiency.RootCause.Text}}</p>
						<!--
						IF THERE CAN BE MULTIPLE ROOT CAUSES, DISPLAY THEM THIS WAY
						<ul ng-hide="!deficiency.DeficiencyRootCauses.length">
							<li>Root Causes:</li>
							<li ng-repeat="cause in deficiency.DeficiencyRootCauses">{{cause.Text}}</li>
						</ul>
						-->
					</li>
				</ul>
				<ul ng-hide="!question.Recommendations.length" class="recommendations">
					<li><h5>Recommendations:</h5></li>
					<li ng-repeat="recommendation in question.Recommendations">{{recommendation.Text}}</li>
				</ul>
				<ul ng-hide="!question.Observations.length" class="observations">
					<li><h5>Observations:</h5></li>
					<li ng-repeat="observation in question.Observations">{{observation.Text}}</li>
				</ul>
			</span>
		</div>
	</div>
</div>
</span>
<div style="clear:both"></div>
</div>