<div cg-busy="{promise:VerificationSaving,message:'Saving',backdrop:true,templateUrl:'../client-side-framework/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:PendingRoomChangeSaving,message:'Saving',backdrop:true,templateUrl:'../client-side-framework/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:PendingUserChangeSaving,message:'Saving',backdrop:true,templateUrl:'../client-side-framework/busy-templates/full-page-busy.html'}"></div>

<div class="navbar">
    <ul class="nav pageMenu bg-color-blue" style="min-height: 50px; background: #86b32d; color:white !important; padding: 4px 0 0 0; width:100%">
        <li class="span3" style="margin-left:0">
            <h2 style="padding: 11px 0 5px 15px;"><i style="font-size: 40px;margin-top: 10px;width: 50px;" class="icon-checkbox"></i>Annual Verification
                    <a style="float:right;margin: 11px 28px 0 0;" href="../RSMSCenter.php"><i class="icon-home" style="font-size:40px;"></i></a>
                </h2>
        </li>
        <div style="clear:both; height:0; font-size:0;">&nbsp;</div>
    </ul>
</div>
<div class="whitebg admin" ng-app="verification" style="padding:70px 70px;">
    <!--<pre>{{verification | json}}</pre>-->
    <div class="card two-thirds">
        <h3 class="card-header alert-info alert">Verify Changes to Lab Members for {{PI.User.Name}}'s labs</h3>
        <ul>
            <li ng-repeat="change in userChanges = (verification.PendingUserChanges | hasNewStatus | activeOnly)" ng-class="{new: change.New_status == Constants.PENDING_CHANGE.USER_STATUS.ADDED, inactive: change.New_status != Constants.PENDING_CHANGE.USER_STATUS.ADDED}">
                <span ng-if="change.New_status != Constants.PENDING_CHANGE.USER_STATUS.ADDED && change.New_status != Constants.PENDING_CHANGE.USER_STATUS.REMOVED">{{change.Name}} is {{change.New_status | lowercase}}</span>
                <span ng-if="change.New_status == Constants.PENDING_CHANGE.USER_STATUS.REMOVED">{{change.Name}} is no longer assigned to {{PI.User.Name}}'s lab</span>
                <span ng-if="change.New_status == Constants.PENDING_CHANGE.USER_STATUS.ADDED && change.Parent_id">{{change.Name}} is now assigned to {{PI.User.Name}}'s lab</span>
                <span ng-if="change.New_status == Constants.PENDING_CHANGE.USER_STATUS.ADDED && !change.Parent_id">{{change.Name}} was added to {{PI.User.Name}}'s lab as a Lab Contact/Member</span>

                <i class="icon-checkbox approved pull-right" ng-if="change.Approval_date"></i>
                <button class="btn btn-success left pull-right" ng-if="change.Parent_id && !change.Approval_date" ng-click="ac.confirmChange(change)"><i class="icon-checkmark"></i>Confirm</button>
                <!--a class="btn btn-info left pull-right" href="../../views/hubs/UserHub.php" ng-if="!change.Parent_id"><i class="icon-plus-2"></i>Create New User</a-->
                <a class="btn btn-info left pull-right" ng-click="openCreateUserModal(change.Role)" ng-if="!change.Parent_id"><i class="icon-plus-2"></i>Create New User</a>
            </li>
            <li ng-if="!userChanges.length">No changes requested</li>
        </ul>
    </div>

    <div class="card two-thirds">
        <h3 class="card-header alert-info alert">Verify Changes to Emergency Contact Information for {{PI.User.Name}}'s labs</h3>
        <ul>
            <li class="new" ng-repeat="change in phoneChanges = (verification.PendingUserChanges | phoneChanges)">
                {{change.Name}}'s emergency phone number was changed to {{change.Emergency_phone | tel}}
                <i class="icon-checkbox approved pull-right" ng-if="change.Phone_approved"></i>
                <button class="btn btn-success left pull-right" ng-if="change.Parent_id && !change.Phone_approved" ng-click="ac.confirmChange(change, true)"><i class="icon-checkmark"></i>Confirm</button>
            </li>
            <li ng-if="!phoneChanges.length">No changes requested</li>
        </ul>
    </div>

    <div class="card two-thirds">
        <h3 class="card-header alert-info alert">Verify Changes to Lab Locations for {{PI.User.Name}}'s labs</h3>
        <ul>
            <li class="inactive" ng-repeat="change in roomChanges = (verification.PendingRoomChanges | hasNewStatus:Constants.PENDING_CHANGE.ROOM_STATUS.REMOVED)">
                {{change.Buidling_name}} Room: {{change.Name}} is no longer your lab room.
                <i class="icon-checkbox approved pull-right" ng-if="change.Approval_date"></i>
                <button class="btn btn-success left pull-right" ng-if="change.Parent_id && !change.Approval_date" ng-click="ac.confirmChange(change)"><i class="icon-checkmark"></i>Confirm</button>
            </li>
            <li class="new" ng-repeat="change in roomChanges = (verification.PendingRoomChanges | hasNewStatus:Constants.PENDING_CHANGE.ROOM_STATUS.ADDED)">
                {{change.Buidling_name}} Room: {{change.Name}} is now your lab room.
                <i class="icon-checkbox approved pull-right" ng-if="change.Approval_date"></i>
                <a class="btn btn-info left pull-right" href="../../views/hubs/locationHub.php" ng-if="!change.Parent_id"><i class="icon-plus-2"></i>Create New Room</a>
            </li>
            <li ng-if="!roomChanges.length">No changes requested</li>
        </ul>
    </div>

    <div class="card two-thirds">
        <h3 class="card-header alert-info alert">Verify Changes to Lab Hazards Inventory for {{PI.User.Name}}'s labs</h3>
        <ul>
            <li ng-repeat="change in changes = (verification.PendingHazardDtoChanges)">
                <!--<pre>{{change | json}}</pre>
                 ng-class="{new: change.New_status == Constants.PENDING_CHANGE.USER_STATUS.ADDED, inactive: change.New_status != Constants.PENDING_CHANGE.USER_STATUS.ADDED}"-->
                <span ng-if="change.edit">
                    <ui-select tagging="addNewHazard" ng-model="selectedHazard" theme="selectize" on-select="onSelectHazard($item, change)" class="span4" style="margin-left:0">
                        <ui-select-match placeholder="Select or search for a Hazard">{{selectedHazard.Hazard_name}} </ui-select-match>
                        <ui-select-choices repeat="hazard in leafHazards | orderBy:'Hazard_name' | propsFilter: {Hazard_name: $select.search}">
                            <div ng-bind-html="hazard.Hazard_name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </span>
                <span ng-if="!change.edit">{{change.Hazard_name}}</span><i ng-class="{'red icon-cancel':change.edit,'primary icon-pencil':!change.edit}" ng-click="editHazardChange(change)"></i> is now {{Constants.ROOM_HAZARD_STATUS[change.New_status].ADMIN_LABEL || change.New_status | lowercase }} {{change.Building_name}}, {{change.Room_name}}
                <i class="icon-checkbox approved pull-right" ng-if="change.Approval_date"></i>
                <button class="btn btn-success left pull-right" ng-if="change.Hazard_id && !change.Approval_date" ng-click="ac.confirmHazardChange(change, verification.Principal_investigator_id)"><i class="icon-checkmark"></i>Confirm</button>
                <!--a class="btn btn-info left pull-right" href="../../views/hubs/UserHub.php" ng-if="!change.Parent_id"><i class="icon-plus-2"></i>Create New User</a-->
                <a class="btn btn-warning left pull-right" target="_blank" href="../views/hubs/hazardhub.php" ng-click="openCreateUserModal(change.Role)" ng-if="!change.Hazard_id && !change.Approval_date"><img class="" src="../img/hazard-icon.png">Hazard Hub</a> 
            </li>
            <li ng-if="!changes.length">No changes requested</li>
        </ul>
    </div>

</div>