<h1>{{PI.Buildings[buildingIdx].Name}}, Room: {{PI.Buildings[buildingIdx].Rooms[roomIdx].Name}}</h1>
<a ng-click="incrementRoom(-1)" ng-if="roomIdx > 0 || buildingIdx != 0">Prev</a> <a ng-if="buildingIdx < PI.Buildings.length - 1 ||  (buildingIdx == PI.Buildings.length - 1 && roomIdx < PI.Buildings[buildingIdx].Rooms.length - 1)" ng-click="incrementRoom(1)">Next</a>
<br />
bldg:{{buildingIdx}} | room: {{roomIdx}}
<h1>{{dsm.getById("HazardDto", selectedCategory).Hazard_name}}</h1>
<ul>
    <li ng-repeat="hazard in allHazards[selectedCategory] | orderBy: 'Hazard_name' track by $index" ng-if="hazard.ActiveSubHazards.length">
        {{hazard.Hazard_name}}
        <ul>
            <li ng-repeat="child in hazard.ActiveSubHazards" ng-if="!child.ActiveSubHazards.length">
                <label class="checkbox inline">
                    <input type="checkbox" ng-model="child.IsPresent" ng-change="af.handleHazardChecked(child, hazard)" />
                    <span class="metro-checkbox"></span>
                </label>
                {{child.Hazard_name}}
            </li>
        </ul>
    </li>
</ul>