
<h1>{{PI.Buildings[buildingIdx].Name}}, Room: {{PI.Buildings[buildingIdx].Rooms[roomIdx].Name}}</h1>
<button class="btn left" ng-click="incrementRoom(-1)" ng-disabled="categoryIdx == 0 && roomIdx == 0 && buildingIdx == 0"><i class="icon-arrow-left"></i>Prev</button> 
<button class="btn right" ng-disabled="buildingIdx == PI.Buildings.length - 1 && roomIdx == PI.Buildings[buildingIdx].Rooms.length - 1 && categoryIdx == hazardCategories.length -1" ng-click="incrementRoom(1)">Next<i class="icon-arrow-right"></i></button>
<br />
cat:{{categoryIdx}} | bldg:{{buildingIdx}} | room: {{roomIdx}}
<h1>{{dsm.getById("HazardDto", hazardCategories[categoryIdx]).Hazard_name}}</h1>
<ul>
    <li ng-show="presentHazards.length" ng-repeat="hazard in allHazards[ hazardCategories[categoryIdx] ] | orderBy: 'Hazard_name' track by $index" ng-if="hazard.ActiveSubHazards.length">
        {{hazard.Hazard_name}}
        <ul>
            <li ng-repeat="child in presentHazards = (hazard.ActiveSubHazards | hazardRoomFilter:PI.Buildings[buildingIdx].Rooms[roomIdx].Key_id)" ng-if="!child.ActiveSubHazards.length">
                <label class="checkbox inline">
                    <input type="checkbox" ng-model="child.IsPresent" ng-change="af.handleHazardChecked(child, hazard)" />
                    <span class="metro-checkbox"></span>
                </label>
                {{child.Hazard_name}}  {{child.matchedForOtherPi}}
            </li>
        </ul>
    </li>
</ul>
