<a ng-if="!PI.LabPersonnel.edit" ng-click="PI.LabPersonnel.edit = true;" class="btn-large btn" style="padding:10px; margin-left:5px; margin-bottom:8px;"><img src='../img/add-user-icon.png'>Add User</a>
<div class="span4" style="margin:10px 0; float:none" ng-if="PI.LabPersonnel.edit">
    <ui-select tagging="defaultAddOtherTag" ng-show="allUsers" ng-model="user.selected" theme="selectize" ng-disabled="disabled" on-select="handleUser($item, true)">
            <ui-select-match placeholder="Select or search for a User">{{$select.selected.Name}}</ui-select-match>
            <ui-select-choices repeat="user in allUsers | propsFilter: {Name: $select.search} | orderBy:'Name'">
                <div once-text="user.Name"></div>
            </ui-select-choices>
        </ui-select>
    </ui-select>
    <a ng-if="PI.LabPersonnel.edit" ng-click="PI.LabPersonnel.edit = false;" class="btn btn-success left"><i class="icon-checkmark"></i>Save</a>
    <a ng-if="PI.LabPersonnel.edit" ng-click="PI.LabPersonnel.edit = false;" class="btn btn-danger left"><i class="icon-cancel-2"></i>Cancel</a>
</div>

<table class="table table-striped table-hover table-bordered userList">
    <tr class="greenBg"><th colspan="2" class="greenBg" ><h3 class="card-header padding greenBg">Lab Contacts</h3></th></tr>
    <tr>
        <th>Name</th>
        <th>Still a contact for this lab?</th>
    </tr>
    <tr class="table-row" ng-repeat="contact in PI.LabPersonnel | contactOrPersonnel:true" ng-class="{'new' : contact.PendingUserChangeCopy.Answer == 'Yes', 'inactive' : contact.PendingUserChangeCopy.Answer == 'No' }">
        <td>{{contact.Name}}</td>
        <td>
            <!-- TODO: REFACTOR THIS, TODD -->
            <label class="checkbox inline">
                <input type="radio" ng-model="contact.PendingUserChangeCopy.Answer" ng-value="'Yes'" ng-required="contact.PendingUserChangeCopy.Answer == 'Yes'" ng-change="ac.savePendingUserChange(contact, verification.Key_id)" />
                <span class="metro-radio">Yes</span>
            </label>
            <label class="checkbox inline">
                <input type="radio" ng-model="contact.PendingUserChangeCopy.Answer" ng-value="'No'" ng-required="contact.PendingUserChangeCopy.Answer == 'No'"/>
                <span class="metro-radio">No</span>
            </label>
            <select ng-if="contact.PendingUserChangeCopy.Answer == 'No'" style="width:260px; margin-bottom:0;" ng-model="contact.PendingUserChangeCopy.New_status" ng-required="contact.PendingUserChangeCopy.Answer == 'No'" ng-change="ac.savePendingUserChange(contact, verification.Key_id)" ng-options="option as option for option in contactOptions">
                <option ng-if="!contact.PendingUserChangeCopy.New_status" value="">What changed about {{contact.Name}}?</option>
            </select>
        </td>
    </tr>
</table>

<table class="table table-striped table-bordered table-hover userList" style="width:999px;">
    <tr class="orangeBg"><th colspan="2" class="orangeBg" ><h3 class="card-header padding orangeBg">Lab Personnel</h3></th></tr>
    <tr>
        <th>Name</th>
        <th>Still a lab member in this lab.</th>
    </tr>
    <tr class="table-row" ng-repeat="contact in  PI.LabPersonnel | contactOrPersonnel:false"  ng-class="{'new' : contact.stillHere == true, 'inactive' : contact.stillHere == false }">
        <td>{{contact.Name}}</td>
        <td>
            <label class="checkbox inline">
                <input type="radio" ng-model="contact.PendingUserChangeCopy.Answer" ng-value="'Yes'" ng-required="contact.PendingUserChangeCopy.Answer == 'Yes'" ng-change="ac.savePendingUserChange(contact, verification.Key_id)" />
                <span class="metro-radio">Yes</span>
            </label>
            <label class="checkbox inline">
                <input type="radio" ng-model="contact.PendingUserChangeCopy.Answer" ng-value="'No'" ng-required="contact.PendingUserChangeCopy.Answer == 'No'"/>
                <span class="metro-radio">No</span>
            </label>
            <select ng-if="contact.PendingUserChangeCopy.Answer == 'No'" style="width:260px; margin-bottom:0;" ng-model="contact.PendingUserChangeCopy.New_status" ng-required="contact.PendingUserChangeCopy.Answer == 'No'" ng-change="ac.savePendingUserChange(contact, verification.Key_id)" ng-options="option as option for option in contactOptions">
                <option ng-if="!contact.PendingUserChangeCopy.New_status" value="">What changed about {{contact.Name}}?</option>
            </select>
        </td>
    </tr>
</table>
