   <div cg-busy="{promise:VerificationSaving,message:'Saving',backdrop:true,templateUrl:'../client-side-framework/busy-templates/full-page-busy.html'}"></div>   
    <div cg-busy="{promise:PendingRoomChangeSaving,message:'Saving',backdrop:true,templateUrl:'../client-side-framework/busy-templates/full-page-busy.html'}"></div>
   <div cg-busy="{promise:PendingUserChangeSaving,message:'Saving',backdrop:true,templateUrl:'../client-side-framework/busy-templates/full-page-busy.html'}"></div>

    <div class="navbar">
            <ul class="nav pageMenu bg-color-blue" style="min-height: 50px; background: #86b32d; color:white !important; padding: 4px 0 0 0; width:100%">
                <li class="span3" style="margin-left:0">
                        <h2 style="padding: 11px 0 5px 15px;"><i style="font-size: 40px;margin-top: 10px;width: 50px;" class="icon-checkbox"></i>Annual Verification
                        <a style="float:right;margin: 11px 28px 0 0;" href="../RSMSCenter.php"><i class="icon-home" style="font-size:40px;"></i></a>
                    </h2>
                </li>
                <div style="clear:both; height:0; font-size:0; ">&nbsp;</div>
            </ul>
        </div>
        <div class="whitebg" ng-app="verification" style="padding:70px 70px;">
            <div class="progress progress-striped" style="width:1060px; margin-bottom: -100px;margin-top: 33px;">
              <div class="bar bar-success" style="width: 22%;" ng-if="greatestAllowedStep > 1"></div>
              <div class="bar bar-success" style="width: 37%;" ng-if="greatestAllowedStep > 2"></div>
              <div class="bar bar-success" style="width: 23%;" ng-if="greatestAllowedStep > 3"></div>
              <div class="bar bar-success" style="width: 8%;" ng-if="greatestAllowedStep > 4"></div>
              <div class="bar bar-success" style="width: 10%;" ng-if="greatestAllowedStep == 5"></div>
            </div>
            <div class="btn-group verification-nav">
                <button ng-repeat="state in states" ng-disabled="greatestAllowedStep < state.Step" class="btn wizard-step" ng-class="{'selected':selectedView.Name == state.Name, 'done':state.Done}" ng-click="navigate($index)"><span class="number-circle"><span ng-if="!state.Done">{{state.Step}}</span><span ng-if="state.Done">&#xe132;</span></span><span class="wizard-step-child">{{state.NavLabel}}</span></button>
            </div>
            <div class="top-junk">
                <h1>{{selectedView.Label}}</h1>
                <h3>{{selectedView.Message}}</h3>
            </div>
            
            <form style="width:1000px;" name="fancyForm">
                <div ui-view></div>
            </form>
            <div class="bottoms" style="width:1060px;">
                <label class="checkbox inline full">
                    <input type="checkbox" ng-model="selectedView.Done" ng-disabled="fancyForm.$invalid" ng-change="stepDone(selectedView.Step)" />
                    <span class="metro-checkbox">{{selectedView.ConfirmationMessage}}</span>
                </label>
                <div class="step-nav">
                    <button ng-if="selectedView.Step != 1" class="btn btn-success pull-left left" ng-click="navigate(selectedView.Step-2)"><i class=" icon-arrow-left"></i>Previous</button>
                    <button ng-if="selectedView.Step != 5" class="btn btn-success pull-right right" ng-click="navigate(selectedView.Step)" ng-disabled="!selectedView.Done">Next<i class=" icon-arrow-right"></i></button>
                </div>
            </div>
        </div>
