        <div class="navbar">
            <ul class="nav pageMenu bg-color-blue" style="min-height: 50px; background: #86b32d; color:white !important; padding: 4px 0 0 0; width:100%">
                <li class="span3" style="margin-left:0">
                        <h2 style="padding: 11px 0 5px 15px;"><i style="font-size: 40px;margin-top: 10px;width: 50px;" class="icon-checkbox"></i>Annual Verification
                        <a style="float:right;margin: 11px 28px 0 0;" href="../RSMSCenter.php"><i class="icon-home" style="font-size:40px;"></i></a>
                    </h2>
                </li>
                <div style="clear:both; height:0; font-size:0; ">&nbsp;</div>
            </ul>
        </div>
        <div class="whitebg" ng-app="verification" style="padding:70px 70px;">
                <div class="progress progress-striped" style="width:999px; margin-bottom: -100px;margin-top: 33px;">
                  <div class="bar bar-success" style="width: 35%;" ng-if="step > 1"></div>
                  <div class="bar bar-success" style="width: 27%;" ng-if="step > 2"></div>
                  <div class="bar bar-success" style="width: 23%;" ng-if="step > 3"></div>
                  <div class="bar bar-success" style="width: 10%;" ng-if="step > 4"></div>
                </div>
                <div class="btn-group verification-nav">
                    <button ng-repeat="state in states" ng-disabled="greatestAllowedStep > state.Step" class="btn wizard-step" ng-class="{'selected':selectedView.Name == state.Name, 'done':state.Done}" ng-click="navigate($index)"><span class="number-circle"><span ng-if="!state.Done">{{$index+1}}</span><span ng-if="state.Done">&#xe132;</span></span><span class="wizard-step-child">{{state.NavLabel}}</span></button>
                <h1>{{selectedView.Label}}</h1>
                <div ui-view></div>
        </div>
    </div>
