<div class="modal-header wide-modal" style="padding:0;">
    <h2 style="padding:5px;" class="orangeBg">{{pi.User.Name}}'s scheduled inspections
        <a class="btn left" ng-click="setInspection()"><i class="icon-plus-2" style="color: rgba(255,255,255,.7);"></i>New Inspection</a>
	   	<i ng-if="creatingInspection" class="icon icon-spinnery-dealie spinner large"></i>
    </h2>
</div>
<div class="modal-body">
	<h3 class="alert alert-danger" ng-if="error">{{error}}</h3>
   <span ng-if="gettingInspections" class="loading">
   	   <i class="icon icon-spinnery-dealie spinner large"></i>
   	   <span>Loading Inspections...</span>
   </span>
   <span ng-if="!gettingInspections && !openInspections.length">
	   <h3>{{pi.User.Name}} has no pending inspections.</h3>
	   <a class="btn left" ng-click="setInspection()"><i class="icon-plus-2"></i>New Inspection</a>
   	   <i ng-if="creatingInspection" class="icon icon-spinnery-dealie spinner large"></i>
   </span>
	<table class="table table-bordered table-striped">
	<table ng-show="openInspections" class="table table-striped table-bordered">
	<thead>
			<th>Begin Inspection</th>
			<th>Rooms</th>
			<th>Year</th>
			<th>Month</th>
			<th>Inspector(s)</th>
			<th>Hazards</th>
			<th>Report</th>
		</thead>
		<tbody>
			<tr ng-repeat="(key, inspection) in openInspections" ng-class="{new:inspection.Is_new}"ng-if="inspection.Status.indexOf('CLOSE') < 0">
				<td style="width:14%; vertical-align:middle;text-align:center;">
					<a class="btn btn-danger btn-large left" href="InspectionChecklist.php#?inspection={{inspection.Key_id}}"><i class="icon-zoom-in"></i></a>
				</td>
				<td>
					<ul>
						<li ng-repeat="(key,room) in inspection.piRooms|orderBy:'Name'">
							<label class="checkbox inline">
								<input type="checkbox" ng-checked="hif.evalInspectionRoomChecked( inspection, room )" ng-change="hif.saveInspectionRoomRelationship( inspection, room )" ng-model="room.checked"/>
								<span class="metro-checkbox"><span once-text="room.Name"></span><i ng-if="room.IsDirty" class="icon-spinnery-dealie spinner small"></i></span>
							</label>
						</li>
					</ul>
				</td>
				<td once-text="inspection.Schedule_year"></td>
				<td once-text="inspection.Text_schedule_month"></td>
				<td>
					<ul>
						<li ng-repeat='inspector in inspection.Inspectors' once-text='inspector.User.Name'></li>
					</ul>
				</td>
				<td>hazards</td>

				<td>
					<span>{{inspection.Status}}</span>

					<span ng-if="inspection.Status == 'PENDING CLOSEOUT'">
						<p>
							(Due: {{inspection.Cap_due_date | dateToISO}})
							<a target="_blank" style="margin-top: -4px; margin-left: 6px;padding: 4px 7px 6px 0px;" class="btn btn-info" href="InspectionConfirmation.php#/report?inspection={{inspection.Key_id}}"><i style="font-size: 21px;" class="icon-clipboard-2"></i></a>
						</p>
					</span>

					<span ng-if="inspection.Status == 'INCOMPLETE REPORT'">
						<p>
							(Started: {{inspection.Date_started | dateToISO}})
							<a target="_blank" style="margin-top: -4px; margin-left: 6px;padding: 4px 7px 6px 0px;" class="btn btn-info" href="InspectionConfirmation.php#/report?inspection={{inspection.Key_id}}"><i style="font-size: 21px;" class="icon-clipboard-2"></i></a>
						</p>
					</span>

					<span ng-if="inspection.Status == 'SCHEDULED'">
						<p>
							({{inspection.Text_schedule_month}})
						</p>
					</span>

					<span ng-if="inspection.Status == 'OVERDUE FOR INSPECTION'">
						<p>
							(Scheduled for {{inspection.Text_schedule_month}})
							<a target="_blank" style="margin-top: -4px; margin-left: 6px;padding: 4px 7px 6px 0px;" class="btn btn-info" href="InspectionConfirmation.php#/report?inspection={{inspection.Key_id}}"><i style="font-size: 21px;" class="icon-clipboard-2"></i></a>
						</p>
					</span>

				</td>
				
				
			</tr>
		</tbody>	
	</table>	
   <h3 ng-show="noHazards">{{noHazards}}</h3>

</div>
<div class="modal-footer">
	<a class="btn btn-large" ng-click="close()">Close</a>
</div>
