<div cg-busy="{promise:loading, message:'Loading...', backdrop:true,templateUrl:'../client-side-framework/busy-templates/full-page-busy.html'}"></div>
<form class="form" ng-submit="save(modalData.BioSafetyCabinet)">
    <div class="modal-header" style="padding:0;">
        <h2 style="padding:5px; background:#428642; color:white">Manage Reports and Quotes</h2>
    </div>

    <div class="modal-body">

        <div class="control-group">
            <label class="control-label">Manage Report</label>
            <div class="controls" style="display:block">
                
                    <a ng-if="modalData.BioSafetyCabinet.SelectedInspection.Report_path" class="btn btn-success left" href="../biosafety-committees/protocol-documents/{{modalData.BioSafetyCabinet.SelectedInspection.Report_path}}" target="_blank"><i class="icon-eye"></i>Report</a>
                    <span ng-if="!modalData.BioSafetyCabinet.SelectedInspection.Report_path" class="bold">No Report Uploaded</span>
                    <a class="btn dropdown-toggle upload-container" click-target="modalData.BioSafetyCabinet.SelectedInspection" url-fragment="uploadReportCertDocument">
                        <span class="icon-upload-4"></span>
                        <input type="file" name="file" id="file" class="inputfile inputfile-1" />
                    </a>
                    <a class="btn btn-danger" ng-click="remove(modalData.BioSafetyCabinet.SelectedInspection,'Report_path')" ng-if="modalData.BioSafetyCabinet.SelectedInspection.Report_path">
                        <span class="icon-cancel-2"></span>
                    </a>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Manage Quote</label>
            <div class="controls" style="display:block">
                <a ng-if="modalData.BioSafetyCabinet.SelectedInspection.Quote_path" class="btn btn-info left" href="../biosafety-committees/protocol-documents/{{modalData.BioSafetyCabinet.SelectedInspection.Quote_path}}" target="_blank"><i class="icon-eye"></i>Quote</a>
                <span ng-if="!modalData.BioSafetyCabinet.SelectedInspection.Quote_path" class="bold">No Quote Uploaded</span>
                <a class="btn dropdown-toggle upload-container" click-target="modalData.BioSafetyCabinet.SelectedInspection" url-fragment="uploadReportQuoteDocument">
                    <span class="icon-upload-4"></span>
                    <input type="file" name="file" id="file" class="inputfile inputfile-1" />
                </a>
                <a class="btn btn-danger" ng-click="remove(modalData.BioSafetyCabinet.SelectedInspection,'Quote_path')" ng-if="modalData.BioSafetyCabinet.SelectedInspection.Quote_path">
                    <span class="icon-cancel-2"></span>
                </a>
            </div>
        </div>


    </div>

    <div class="modal-footer">
        <a class="btn btn-large left" ng-click="close()"><i class="icon-cancel-2"></i>Close</a>
    </div>
</form>