<div cg-busy="{promise:loading, message:'Loading...', backdrop:true,templateUrl:'../client-side-framework/busy-templates/full-page-busy.html'}"></div>

<div class="modal-header" style="padding:0;">
    <h2 style="padding:5px; background:#428642; color:white">Certify Cabinet in Room {{modalData.BioSafetyCabinet.SelectedInspection.Room.Name}}</h2>
</div>

<div class="modal-body inspections" style="overflow-y:visible !important;">
    <div class="control-group">
        <label class="control-label">Pass/Fail</label>
        <label class="checkbox inline">
            <input type="checkbox" ng-model="modalData.BioSafetyCabinet.SelectedInspection.Status" ng-true-value="{{constants.EQUIPMENT.STATUS.PASS}}"/>
            <span class="metro-checkbox">{{constants.EQUIPMENT.STATUS.PASS}}</span>
        </label>
        <label class="checkbox inline">
            <input type="checkbox" ng-model="modalData.BioSafetyCabinet.SelectedInspection.Status"  ng-true-value="{{constants.EQUIPMENT.STATUS.FAIL}}"/>
            <span class="metro-checkbox">{{constants.EQUIPMENT.STATUS.FAIL}}</span>
        </label>
    </div>
    <div class="control-group" ng-init="modalData.BioSafetyCabinet.SelectedInspection.viewDate = modalData.BioSafetyCabinet.SelectedInspection.Certification_date ? modalData.BioSafetyCabinet.SelectedInspection.Certification_date : today()" ng-if="modalData.BioSafetyCabinet.SelectedInspection.Status == constants.EQUIPMENT.STATUS.PASS">
        <label class="control-label">Certification Date</label>
        <datepicker2 ng-model='modalData.BioSafetyCabinet.SelectedInspection.viewDate' disable-timepicker='true'></datepicker2>
    </div>
    <div class="control-group" ng-init="modalData.BioSafetyCabinet.SelectedInspection.viewFailDate = modalData.BioSafetyCabinet.SelectedInspection.Fail_date ?modalData.BioSafetyCabinet.SelectedInspection.Fail_date : today()" ng-if="modalData.BioSafetyCabinet.SelectedInspection.Status == constants.EQUIPMENT.STATUS.FAIL">
        <label class="control-label">Certification Failed Date</label>
        <datepicker2 iconStyle="true" ng-model='modalData.BioSafetyCabinet.SelectedInspection.viewFailDate' disable-timepicker='true'></datepicker2>
    </div>

    <div class="control-group" ng-if="getMostRecentComment(modalData.BioSafetyCabinet)">
        <label class="control-label" ng-bind-html="getMostRecentComment(modalData.BioSafetyCabinet)" style="font-weight:normal"></label>
    </div>

    <div class="control-group">
        <label class="control-label">{{$rootScope.selectedCertificationDate}} Comments</label>
        <div class="controls">
            <textarea ng-model="modalData.BioSafetyCabinet.SelectedInspection.Comment" ng-init="modalData.BioSafetyCabinet.SelectedInspection.Comment = modalData.BioSafetyCabinet.SelectedInspection.Fail_date || modalData.BioSafetyCabinet.SelectedInspection.Certification_date ? modalData.BioSafetyCabinet.SelectedInspection.Comment : ''" rows="5" placehold="Label" style="width:90%;"></textarea>
        </div>
    </div>
    
</div>

<div class="modal-footer">
    <button class="btn btn-large left" ng-class="{'btn-danger':modalData.BioSafetyCabinet.SelectedInspection.Status == constants.EQUIPMENT.STATUS.FAIL,'btn-success':modalData.BioSafetyCabinet.SelectedInspection.Status != constants.EQUIPMENT.STATUS.FAIL}" ng-click="certify(modalData.BioSafetyCabinet.SelectedInspection)"><i class="icon-checkmark"></i>Save</button>
    <a class="btn btn-large left" ng-click="close()"><i class="icon-cancel-2"></i>Close</a>
    <br /><span class="red bold" style="margin: 5px 91px;font-size: 15px;display: inline-block;">{{message}}</span>
</div>
