<div cg-busy="{promise:loading, message:'Loading...', backdrop:true,templateUrl:'../client-side-framework/busy-templates/full-page-busy.html'}"></div>
<form class="form" ng-submit="save(modalData.BioSafetyCabinet)">
    <div class="modal-header" style="padding:0;">
        <h2 style="padding:5px; background:#428642; color:white"><span ng-if="!modalData.BioSafetyCabinet.Key_id">Create</span><span ng-if="modalData.BioSafetyCabinet.Key_id">Edit</span> Biosafety Cabinet</h2>
    </div>

    <div class="modal-body">
        <div class="control-group">
            <label class="control-label">Select Building</label>
            <div class="controls" style="display:block">
                <select  class="span3" ng-model="modalData.selectedBuilding"  ng-change="getBuilding(modalData.BioSafetyCabinet.SelectedInspection.Room_id)" ng-options="b as b.Name for b in Buildings | orderBy:'Name'">
                    <option value="">--Select Room--</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Select Room</label>
            <div class="controls">
                <input ng-if="!modalData.selectedBuilding" placeholder="Select a bulding first" disabled="disabled"/>
                 <ui-select ng-if="modalData.selectedBuilding" ng-model="modalData.selectedRoom" theme="selectize" ng-disabled="disabled" class="span2" on-select="getRoom( $item.UID )" style="margin-left:0; width:269px;">
                    <ui-select-match placeholder="Select or search for a PI">{{$select.selected.Name}}</ui-select-match>
                    <ui-select-choices repeat="r in  modalData.selectedBuilding.Rooms | activeOnly | nameFilter: $select.search |  orderBy:'Name' ">
                        <div ng-bind-html="r.Name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Principal Investigator(s)</label>
            <div class="controls" style="display:block">
                <ui-select ng-model="  d" theme="selectize" ng-disabled="disabled" on-select="modalData.BioSafetyCabinet.SelectedInspection.PrincipalInvestigators.push($item)" class="span2" style="margin-left:0; width:269px;">
                    <ui-select-match placeholder="Select or search for a PI">{{$select.selected.Name}}</ui-select-match>
                    <ui-select-choices repeat="pi in modalData.selectedRoom.PrincipalInvestigators | orderBy:'Name' | nameFilter: $select.search">
                        <div ng-bind-html="pi.Name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <ul>
                <li ng-repeat="pi in modalData.BioSafetyCabinet.SelectedInspection.PrincipalInvestigators" style="padding: 3px 0; font-size: 15px;"><i style="margin-right:5px" class="red icon-cancel-2" ng-click="modalData.BioSafetyCabinet.SelectedInspection.PrincipalInvestigators.splice($index,1)"></i>{{pi.User.Name}}</li>
            </ul>
        </div>


        <div class="control-group">
            <label class="control-label">Type</label>
            <div class="controls">
                <select ng-model="modalData.BioSafetyCabinet.Type" ng-options="type as type for (key,type) in Constants.BIOSAFETY_CABINET.TYPE">
                    <option value="">--Select Cabinet Type--</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Serial #</label>
            <div class="controls">
                <input ng-model="modalData.BioSafetyCabinet.Serial_number" placehold="Label" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Make</label>
            <div class="controls">
                <input ng-model="modalData.BioSafetyCabinet.Make" placehold="Label" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Model</label>
            <div class="controls">
                <input ng-model="modalData.BioSafetyCabinet.Model" placehold="Label" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Certification Frequency</label>
            <select ng-model="modalData.BioSafetyCabinet.SelectedInspection.Frequency" ng-options="frequency as frequency for (key,frequency) in Constants.BIOSAFETY_CABINET.FREQUENCY">
                <option value="">--Select--</option>
            </select>
        </div>
    </div>

    <div class="modal-footer">
        <button ng-disabled="!modalData.BioSafetyCabinet.SelectedInspection.Room_id" class="btn btn-large btn-success left"><i class="icon-checkmark"></i>Save</button>
        <a class="btn btn-large btn-danger left" ng-click="close()"><i class="icon-cancel-2"></i>Close</a>
    </div>
</form>