<div class="modal-header" style="padding:0;">
    <h2 style="padding:5px; background:rgb(151, 49, 58); color:white">Create or edit Cabinet</h2>
</div>

<div class="modal-body">
    <div class="control-group">
        <label class="control-label">Principal Investigator</label>
        <div class="controls">
            <ui-select ng-model="pi.selected" theme="selectize" ng-disabled="disabled" on-select="onSelectPi($item)" >
                <ui-select-match placeholder="Select or search for a PI">{{$select.selected.User.Name}}</ui-select-match>
                <ui-select-choices repeat="pi in PIs | orderBy:'User.Name' |propsFilter: {User.Name: $select.search}">
                  <div ng-bind-html="pi.User.Name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>        
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Building</label>
        <div class="controls">
            <select ng-init="getBuilding()" ng-model="modalData.selectedBuilding" ng-change="onSelectBuilding()" ng-options="building as building for building in modalData.BioSafetyCabinetCopy.PrincipalInvestigator.Buildings">
                <option value="">--Select--</option>
            </select>        
        </div>
    </div>    
        
    <span ng-if="modalData.BioSafetyCabinetCopy.PrincipalInvestigator.Rooms" ng-init="modalData.BioSafetyCabinetCopy.PrincipalInvestigator.loadBuildings()"/>
    <div class="control-group">
        <label class="control-label">Room</label>
        <div class="controls">
            <select ng-model="modalData.BioSafetyCabinetCopy.Room" ng-change="onSelectRoom()" ng-options="room as room.Name for room in modalData.BioSafetyCabinetCopy.PrincipalInvestigator.Rooms | matchBuilding:modalData.selectedBuilding">
                <option value="">--Select--</option>
            </select>   
        </div>
    </div>
    
    
    <div class="control-group">
        <label class="control-label">Type</label>
        <div class="controls">
            <input ng-model="modalData.BioSafetyCabinetCopy.Type" placehold="Label"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">SERIAL #</label>
        <div class="controls">
            <input ng-model="modalData.BioSafetyCabinetCopy.Serial_number" placehold="Label"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Make</label>
        <div class="controls">
            <input ng-model="modalData.BioSafetyCabinetCopy.Make" placehold="Label"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Model</label>
        <div class="controls">
            <input ng-model="modalData.BioSafetyCabinetCopy.Model" placehold="Label"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Certification Date</label>
        <div class="controls">
            <input ng-model="modalData.BioSafetyCabinetCopy.Certification_date" placehold="Label"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Certification Frequency</label>
        <select ng-model="modalData.BioSafetyCabinetCopy.Frequency" ng-options="frequency as frequency for (key,frequency) in Constants.BIOSAFETY_CABINET.FREQUENCY">
            <option value="">--Select--</option>
        </select>
    </div>
</div>

<div class="modal-footer">
    <button ng-disabled="!modalData.BioSafetyCabinetCopy.Room" class="btn btn-large btn-success left" ng-click="save(modalData.BioSafetyCabinetCopy, modalData.BioSafetyCabinet)"><i class="icon-checkmark"></i>Save</button>
    <a class="btn btn-large btn-danger left" ng-click="close()"><i class="icon-cancel-2"></i>Close</a>
</div>
