@CHARSET "ISO-8859-1";

/**********************************************************
*
*   EQUIPMENT STYLES;
*
**********************************************************/

.neg-marg {
    margin: 0 -30px;
}
.neg-marg .container-fluid,
.dashboard .container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.dashboard {
    margin: 0 -70px;
    padding-top: 75px;
}

@media screen and (max-width: 1366px) {
    .dashboard {
        margin: 0 0px;
    }
}
.hover-white:hover {
    background: white !important;
    box-shadow: none !important;
}
.hover-white:hover div {
    background: white !important;
    box-shadow: none !important;
}
.form-icon {
    margin-top: -4px;
    margin-left: 11px;
}
.card {
    background: white;
    color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.36);
    float: left;
    box-sizing: border-box;
}
.dashboard .well {
    background: rgba(255, 255, 255, .7);
    border: 2px solid #CDCDCD;
    float: left;
    box-sizing: border-box;
    border-radius: 3px;
}
.dashboard .well .alert {
    box-sizing: border-box;
    margin: 10px 0 5px;
}
.padding {
    padding: 10px !important;
}
.no-underline {
    border-bottom: none !important;
    text-decoration: none !important;
}
.left-nav-typeahead {
    margin: 8px;
    margin-left: -4px;
    width: 150px;
}
.left-nav {
    position: fixed;
    float: left;
    width: 208px;
    background: #ffffff;
    height: 100%;
    padding-top: 10px;
}
.left-nav ul {
    list-style-type: none;
    margin: 10px 0 25px;
}
.left-nav ul li {
    //border-top: 1px solid #3D4756;
    margin: 3px 0;
}
.left-nav ul li a {
    padding: 10px;
    display: block;
    font-size: 17px;
    color: #777777;
    background: #e7eeee;
    cursor: pointer;
}
.left-nav ul li a:hover {
    color: #f2f4f2;
}
.left-nav .section-header {
    /* border-bottom: 2px solid white; */
    padding-top: 15px;
    margin-bottom: 1px;
    background: rgba(0, 154, 255, .5);
}
.left-nav .section-header img {
    margin-left: -4px;
    margin-top: -20px;
    width: 61px;
}
.left-nav ul li a.x-ray {
    border-left: 6px solid #f56623;
}
.left-nav ul li a.x-ray:hover {
    background: #f56623;
}
.card.x-ray {
    background: #f56623;
}
.left-nav ul li a.lasers {
    border-left: 6px solid #da4842;
}
.left-nav ul li a.lasers:hover {
    background: #da4842;
}
.card.lasers {
    background: #da4842;
}
.left-nav ul li a.chem-fume-hoods {
    border-left: 6px solid #600c91;
}
.left-nav ul li a.chem-fume-hoods:hover {
    background: #600c91;
}
.card.chem-fume-hoods {
    background: #600c91;
}
.left-nav ul li a.bio-safety-cabinets {
    border-left: 6px solid #428642;
}
.left-nav ul li a.bio-safety-cabinets:hover {
    background: #428642;
}
.card.bio-safety-cabinets {
    background: #428642;
}
.left-nav ul li a.autoclaves {
    border-left: 6px solid #42adcc;
}
.left-nav ul li a.autoclaves:hover {
    background: #42adcc;
}
.card.autoclaves {
    background: #42adcc;
}
.left-nav ul li a i {
    margin: 4px 13px 0 5px;
    width: 12px;
}
.left-nav ul li a:hover {
    text-decoration: none;
}
.right-column {
    margin-left: 210px;
    padding-bottom: 200px;
    padding-top: 25px;
}
.right-column > div{
    padding: 10px 10px 0 5px;
}
.btn i {
    color: white;
}
button.btn:not(.btn-large) {
    padding-bottom: 22px;
}
.banner.dashboard-banner {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 900;
}
.banner.equipment {
    background: url('../img/equipment-icon.png') #51a351;
}
.banner {
    background: white;
    padding: 12px;
    background-repeat: no-repeat !important;
    background-size: 70px !Important;
    padding-left: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7)
}
.combobox ul {
    min-width: 0;
    width: 140px;
    box-sizing: border-box;
    border-top: none;
    margin-top: 5px;
    padding-left: 0px;
    font-size: 14px;
}
.combobox input {
    line-height: normal;
    padding: 5px;
    width: 140px;
}
.combobox i.icon-arrow-down {
    color: #cacaca;
    position: absolute;
    font-size: 27px;
    margin-left: -31px;
    margin-top: 7px;
}
.input-inline,
.input-block {
    font-size: 13px;
}
.extra-top {
    padding-top: 46px !important;
}
.small-extra-top {
    padding-top: 29px !important;
}
.table .btn,
.fake-table .btn {
    margin-bottom: 3px;
}
.fixed-full {
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    box-shadow: 0 0 15px rbga(0, 0, 0, .7)
}
.push-top {
    padding-top: 21px !Important;
}

.indent {
    margin: 15px 25px 0;
}
.indent-percent {
    margin: 15px 2.5% 0;
}
.print {
    display: none !important;
}
@media print {
    .no-print {
        display: none !important;
    }
    .print {
        display: block !important;
    }
    .print-always {
        display: block !important;
    }
    .label.print {}
    .inactive {
        text-decoration: line-through;
    }
    h1 {
        font-size: 20px;
    }
}

.bio-safety-cabinets table tr th,.bio-safety-cabinets table tr td table tr td{
    width: 220px;
    padding: 5px;
}
.bio-safety-cabinets table tr td table tr , .bio-safety-cabinets table tr td table tr td{
    background:none !important;
}
.bio-safety-cabinets table tr td:nth-of-type(6){
    padding:0
}
.bio-safety-cabinets table tr th:nth-of-type(6),.bio-safety-cabinets table tr td table tr td:nth-of-type(1){
    width: 480px;
}
.bio-safety-cabinets table tr th:nth-of-type(7),.bio-safety-cabinets table tr td table tr td:nth-of-type(2){
    width: 150px;
}
.bio-safety-cabinets table tr th:nth-of-type(8),.bio-safety-cabinets table tr td table tr td:nth-of-type(3){
    width: 470px;
}
.bio-safety-cabinets table tr th:nth-of-type(9),.bio-safety-cabinets table tr td table tr td:nth-of-type(4){
    width:200px
}
.bio-safety-cabinets table tr th:nth-of-type(10),.bio-safety-cabinets table tr td table tr td:nth-of-type(5){
    width:200px
}
.bio-safety-cabinets table tr th:nth-of-type(11),.bio-safety-cabinets table tr td table tr td:nth-of-type(6){
    width:200px
}
.bio-safety-cabinets table tr th, bio-safety-cabinets table tr td table tr td {
    padding:5px;
}