/*****************************************************************
*   LOCATION HUB
******************************************************************/
.pagination .btn {
    margin-left: -3px !important;
    margin-right: -3px !important;
}

.locationTable td > ul{
  margin:-4px -8px -1px !important;
}

.locationTable td > ul li{
  padding: 10px 8px 3px;
  border-bottom: 1px solid #d7d7d7 !important;
}

.locationTable td > ul li ul li{
  border:none;
}

.locationTable td > ul li:last-child{
  padding-bottom:0;
  border-bottom:none !important;
}
.locationTable ul li:first-child{
  padding-top:5px;
}
.locationTable ul li > span{
    display:inline-block;
}

.locationTable ul li ul, .locationTable th ul {
  list-style-type: none;
  border-left: 1px solid #d7d7d7;
  margin-left: 45%;
  margin-top: -35px;
  margin-bottom: -15px;
  padding: 10px 5px 20px;
}
.locationTable th ul{
  float: left;
  width: 45%;
  margin-left: 45%;
  margin-bottom: -20px;
  display: inline;
  padding-top: 3px;
}
.locationTable th span{
  margin-bottom: -30px;
}
.locationTable th input{
  width:90%;
}

/* Location Hub - Rooms: Table column sizing */
.locationTable tr .lhcol_edit { width:7%; }
.locationTable tr .lhcol_building { width:18%; }
.locationTable tr .lhcol_name { width:10%; }
.locationTable tr .lhcol_type { width:2%; }
.locationTable tr .lhcol_hazards { width:10%; }
.locationTable tr .lhcol_purpose { width:10%; }
.locationTable tr .lhcol_pidept { width:32%; }

.locationTable tr .lhcol_campus { width:12%; }

.lhcol_pidept .pi_filters span label { display: inline; }
.lhcol_pidept .pi_filters span input { width: inherit !important; }
.lhcol_pidept .pi_filters span { margin-right: 10%; }
.lhcol_pidept .pi_search input { max-width: 250px; }

h1 .room-type-icon {
    width: 25px;
    padding-right: 10px;

    /* Apply same opacity as 'grayed-out' class,
        but force color to black to treat icons
        and images the same */
    color: black;
    filter: grayscale(100%);
    opacity: .4;
}

h1 .room-type-icon i,
h1 .room-type-icon img {
    width: 0.8em;
    font-size: 1em;
}

h1 .room-type-icon i {
    /* Remove vertical alignment from bootstrap icon styling
        to avoid dancing to make centered icons */
    vertical-align: unset;
}

.locationTable {
    max-width: 100%;
    overflow-x: scroll;
}

.locationTable th h1 {
    display: inline-block;
}

.locationTable tr {
    max-width: 100%;
    border: none;
}

.locationTable tr th {
    font-size: .9vw;
}

.locationTable tr td {
    /*width: 1%;*/
    transition: all .3s;
    font-size: 16px;
}

.locationTable tr td ul {
    list-style: none;
}

.locationTable tr td li i:not(.icon-arrow-down) {
    /*width: auto;*/
    margin: 1px 0 10px 0px;
    cursor: pointer;
}

.locationTable tr td li i.icon-minus {
    color: #bd362f;
}

.locationTable tr td li.add-role {
    color: #5bb75b;
}

.locationTable tr td:last-child {
    /*width: 4%;*/
}