.banner {
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    color:white;
}

.title-icon {
    margin: 5px 0 0 5px;
    font-size: 35px;
    width: auto;
    line-height: 43px;
}

.rsms-home-icon {
    float:right;
    margin: 15px 30px 0 0;
    color:white;
}

.rsms-home-icon i {
    font-size:40px;
}

ul.banner-nav {
    float: right;
    margin-top: -30px;
    max-width: 50%;
}

ul.banner-nav li {
    display:inline-block;
    margin-right:10px;
}

ul.banner-nav li a {
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    display: block;
}

ul.banner-nav li a:hover {
    color: black;
}

my-lab-widget {
    display: block;
}

.widget-group {}

.widgets-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.widget {
    position: relative;
    flex-grow: 1;
    flex-basis: 0;
    margin: 10px;
}

.widget.full {
    width: 100%;
    flex-basis: auto;
}

.widget .widget-header {
    padding-bottom: 20px;
    position: relative;
}

.widget .widget-header .subheader {
    padding-left: 26px;
    padding-top: 5px;
    font-size: 20px;
    font-style: italic;
}

[class^="icon-"] {
    vertical-align: initial;
}

.widget .widget-header > .badge {
    position: absolute;
    margin-left: 10px;
}

/* widget-specific styles */
.widget input,
.widget select {
    width: 100%;
}

.widget input.phone-input {
    padding: 5px;
}

.widget .content-container {
    /* Leave room for toolbar */
    margin-bottom: 70px;
}

.widget .toolbar-container {
    position: absolute;
    bottom: 10;
    right: 10;
    width: 95%;
    min-height: 70px;

}

.saving .toolbar-container {
    display:none;
}

.widget .toolbar-container .toolbar {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.widget .link-container {
    display: flex;
    flex-wrap: wrap;
}

.link-container.vertical {
    flex-direction: column;
}

.link-container > * {
    min-width: 40px;
    margin: 5px;
}

.hazard-icons img, .hazard-icons i {
    width:25px;
}

/* Modal style */
.widget-modal {
    width: 40%;
}