.banner {
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    color:white;
}

.title-icon {
    margin: 5px 0 0 5px;
    font-size: 35px;
    width: auto;
    line-height: 43px;
}

.rsms-home-icon {
    float:right;
    margin: 15px 30px 0 0;
    color:white;
}

.rsms-home-icon i {
    font-size:40px;
}

ul.banner-nav {
    float: right;
    margin-top: -30px;
    max-width: 50%;
}

ul.banner-nav li {
    display:inline-block;
    margin-right:10px;
}

ul.banner-nav li a {
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    display: block;
}

ul.banner-nav li a:hover {
    color: black;
}

my-lab-widget {
    display: block;
}

.widget-group {}

.widgets-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.widget {
    position: relative;
    margin: 10px;
    align-self:flex-start;
    width: 48%;
}

/* Change color of widget border on-hover */
.widget.well:hover {
    border-color: rgb(185, 185, 185);
}

.widget.full {
    width: 100%;
    flex-basis: auto;
}

.widget.stretch-content {
    align-self: auto;
}

.widget .widget-header {
    padding-bottom: 20px;
    position: relative;
    border-bottom: double lightgray;
}

.widget .widget-header:hover {
    color: #777;
    cursor: pointer;
}

.widget .widget-header h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.widget .widget-header .actions {
    display: flex;
    align-items: center;
}

.widget .widget-header .actions .toolbar {
    padding: 0 20px;
}

.widget .widget-header .widget-title {
    flex-grow: 2;
    padding-left: 10px;
}

.widget .widget-header i {
    /*margin-top: -5px;*/
    font-size: 22px;
    margin-right: 4px;
}

.widget .widget-header h2 {
    font-weight: bold;
}

.widget .widget-header .subheader {
    padding-left: 26px;
    padding-top: 5px;
    font-size: 20px;
    font-style: italic;
}

[class^="icon-"] {
    vertical-align: initial;
}

.widget .widget-header > .badge {
    position: absolute;
    margin-left: 10px;
}

/* widget-specific styles */
.widget input,
.widget select {
    width: 100%;
}

.widget input.phone-input {
    padding: 5px;
}

.widget .collapsed .content-container,
.widget .collapsed .toolbar-container {
    display: none;
    overflow: hidden;
}

.widget .toolbar-container {
    text-align: right;
    margin-top: 10px;
}

.saving .toolbar-container {
    display:none;
}

.widget .link-container {
    display: flex;
    flex-wrap: wrap;
}

.link-container.vertical {
    flex-direction: column;
}

.link-container > * {
    min-width: 40px;
    margin: 5px;
}

.hazard-icons img, .hazard-icons i {
    width:25px;
}

.collapsible-table-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collapsible-table-header:hover {
    cursor: pointer;
    color: #777;
}

.tight-list {
    border: 3px solid rgb(205, 205, 205);
    padding: 9px;
    margin: 10px;
}

.tight-list ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.tight-list ul li {
    font-size: 16px;
    padding: 2px;
    flex: 1 0 30%;
    max-width: 30%;
}

/* Modal style */
.widget-modal {
    width: 40%;
}