/*
    This file defines Structural styles common to RSMS.
    Application of this stylesheet should not modify
    any non-structural CSS styles.

    Structural styles should be applied in the corresponding *-theme.css
*/

@media print {
    .no-print {
        display: none !important;
    }
}

/*********************/
/* General / Utility */
.even-content {
    display: flex;
    justify-content: space-between;
}

.comma-separated > *:not(:first-child)::before {
    content: ',';

    /* Move comma over to the content */
    margin-left: -0.3em;
}

ul.grid-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

ul.grid-list li {
    width: 20%;
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    line-height: 25px;
}

ul.grid-list li > * {
    padding-right: 5px;
}

/***********/
/* Hubs    */

.hub {}

.hub-full,
.hub-full.container-fluid {
    padding: 0;
}

.hub-full .hub-body {
    padding: 0 70px;
}

.hub-banner {
    display: flex;
    align-items: stretch;
    padding-left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.hub-banner.sticky-banner {
    position: sticky;
    top: 25;
    z-index: 1040;
}

.hub-banner > * {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.hub-banner a.home-link {
    border-left: solid 1px;
}

.hub-banner a.home-link i {
    width: 1em;
    font-size: 3em;
}

.hub-banner .title-icon { padding-right: 10px; }

.hub-banner img.title-icon {
    align-self: center;
    height: 50px;
}

.hub-banner i.title-icon {
    margin-right: 5px;
    width: auto;
    line-height: 43px;

    font-size: 5em;
    height: 100%;
}

.hub-banner ul.banner-nav {
    flex-grow: 1;
    justify-content: flex-end;
    margin: 0px;
}

.hub-banner ul.banner-nav li {
    height: 100%;
    display: inline-flex;
    font-size: 16px;
}

.hub-banner ul.banner-nav li > * {
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.hub-toolbar { margin-top: 10px; }

.hub-body { }