 <label class="checkbox inline">
    <input type="checkbox" ng-model="child.IsPresent" ng-change="af.handleHazardChecked(child, hazard)"/>
    <span class="metro-checkbox"></span>
</label>
<span style="font-size: 14px;font-weight: normal;line-height: 20px;">
    <span class="metro-checkbox targetHaz" ng-if="!room.HasMultiplePIs">
        {{child.Hazard_name}}
        <span ng-if="child.Stored_only" class="stored">(Stored Only)</span>    </span>
    <img ng-if="child.IsDirty" class="smallLoading" src="../../img/loading.gif" />
</span>
<div class="icons">
    <!--</h4>-->
    <span ng-if="child.ActiveSubHazards.length || child.HasChildren&& child.IsPresent ">
        <i class="icon-plus-2 modal-trigger-plus-2" ng-click="openSubsModal(child)"></i>
    </span>
    <span ng-if="child.IsPresent">
        <i class="icon-pencil primary" ng-click="openRoomsModal(child)"></i>
    </span>

    <span ng-if="child.IsPresent && child.HasMultiplePis">
        <i class="icon-info" ng-click="openMultiplePIsModal(child)"></i>
    </span>
</div>

<div ng-class="{hidden: !child.showSubHazardsModal}" class="subHazardModal popUp skinny" style="left:{{child.calculatedOffset.x}}px;top:{{child.calculatedOffset.y}}px;">
    <h3 class="redBg"><span>{{child.Hazard_name}} yes my child</span><i style="float:right; margin-top:5px;" class="icon-cancel-2" ng-click="child.showSubHazardsModal = !child.showSubHazardsModal"></i></h3>
    <ul>
        <li ng-repeat="(key, child) in child.ActiveSubHazards">
            <label class="checkbox inline">
                <input type="checkbox" ng-model="child.IsPresent" ng-change="af.handleHazardChecked(child)"/>
                <span class="metro-checkbox">{{child.Hazard_name}}<img ng-if="child.IsDirty" class="smallLoading" src="../../img/loading.gif"/></span>
            </label>
        </li>
    </ul>
</div>

<div class="roomsModal popUp skinny" ng-if="child.showRoomsModal" style="left:{{child.calculatedOffset.x}}px;top:{{child.calculatedOffset.y}}px;width:{{child.calculatedOffset.w}}px">
    <h3 class="redBg"><span>{{child.Hazard_name}}</span><i style="float:right; margin-top:5px;" class="icon-cancel-2" ng-click="child.showRoomsModal = !child.showRoomsModal"></i></h3>
    <ul>
        <li ng-class="{'yellowed': child.Stored_only}" ng-repeat="(key, room) in child.InspectionRooms">
            <label class="checkbox inline">
                <input ng-disabled="!$parent.$parent.$parent.$parent.$parent.child.InspectionRooms[$index].ContainsHazard" type="checkbox" ng-change="handleRoom(room, child, hazard)" ng-model="room.ContainsHazard"/>
                <span class="metro-checkbox">{{room.Name}}<img ng-if="room.waitingForServer" class="" src="../../img/loading.gif"/></span>
            </label>
<!--
            <label class="checkbox inline disallowed" ng-if="!$parent.$parent.$parent.child.InspectionRooms[$index].ContainsHazard">
                <input type="checkbox"  ng-model="room.ContainsHazard"  disabled>
                <span class="metro-checkbox">{{room.Name}}<img ng-if="room.waitingForServer" class="" src="../../img/loading.gif"/></span>
            </label>
-->
        </li>
    </ul>
</div>

<ul class="subRooms" ng-if="getShowRooms(child)" ng-repeat="(key, building) in child.InspectionRooms | groupBy: 'Building_name'">
    <li>{{ key }}: <span ng-repeat="room in building | filter: {ContainsHazard: true}">{{ room.Room_name }}<span ng-if="!$last">, </span></span></li>
</ul>

<ul>
    <li ng-repeat="child in child.ActiveSubHazards" ng-if="child.IsPresent" id="id-{{child.Key_Id}}" class="hazardLi"><span data-ng-include="'views/sub-hazard.html'"></span></li>
</ul>
