<label class="checkbox inline">
    <input type="checkbox" ng-model="child.IsPresent" ng-disabled="getDisabled(child)" ng-change="af.handleHazardChecked(child, hazard)"/>
    <span class="metro-checkbox"></span>
</label>
<span class="metro-checkbox targetHaz" ng-if="!room.HasMultiplePIs">
    {{child.Hazard_name}}
    <span ng-if="child.Stored_only" class="stored">(Stored Only)</span>
    <span ng-if="child.BelongsToOtherPI && !child.IsPresent" class="stored">(Other Lab's Hazard)</span>
</span>
            <!--</h4>-->           
<div class="icons">
    <!--</h4>-->
    <span ng-if="(child.ActiveSubHazards.length || child.HasChildren) && child.IsPresent ">
        <i class="icon-plus-2 modal-trigger-plus-2" ng-click="openSubsModal(child, hazard)"></i>
    </span>
   
    <span ng-if="child.IsPresent">
        <i class="icon-pencil primary" ng-click="openRoomsModal(child, hazard)"></i>
    </span>

    <span ng-if="child.HasMultiplePis">
        <i class="icon-users" ng-click="openMultiplePIHazardsModal(child, hazard)"></i>
    </span>
</div>

<ul class="subRooms hazInvSubRooms" ng-if="getShowRooms(child, room, key)" ng-repeat="(key, rooms) in child.InspectionRooms | groupBy: 'Building_name'">
    <li>
        <span ng-show="relevantRooms.length">{{ key }}:</span> <span ng-repeat="room in relevantRooms = ( rooms | filter: {ContainsHazard: true})"><a ng-click="openMultiplePIHazardsModal(child)" ng-if="room.HasMultiplePis">{{ room.Room_name }}</a><span ng-if="!room.HasMultiplePis">{{ room.Room_name }}</span><span ng-if="!$last">, </span></span>
    </li>
</ul>

<ul>
    <li ng-class="{'yellowed': child.Stored_only || child.storedOnly}" ng-repeat="child in child.ActiveSubHazards | orderBy: 'Order_index'" ng-if="child.IsPresent" id="id-{{child.Hazard_id}}" class="hazardLi"><span data-ng-include="'views/sub-hazard.html'"></span></li>
</ul>
