<div cg-busy="{promise:parcelPromise,message:'Loading', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:ParcelUseSaving,message:'Saving Use', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>

<div class="dashboard" ng-if="pi">
	<div class="card full parcels">
		<div class="card-content">
			<div class="fake-table striped bordered">
				<div class="table-header">
					<h3>R.S. Number</h3>
					<h3>Isotope</h3>
					<h3>Arrival Date</h3>
					<h3>Orginal Quantity</h3>
					<h3>Remaining Quantity</h3>
				</div>
				<div class="table-row">
					<div>
						{{parcel.Rs_number}}
					</div>

					<div>
						{{parcel.Isotope.Name}}
					</div>

					<div>
						{{parcel.Arrival_date | dateToISO}}
					</div>

					<div>
						{{parcel.Quantity}} mCi
					</div>

					<div>
						{{parcel.Remainder}} mCi
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card full parcels" ng-if="pi">
		<h3 class="card-header">Package Usages <a ng-click="addUsage(parcel)" class="btn btn-success left"><i class="icon-plus-2"></i>Add Usage</a></h3>
		<div class="card-content">
			<div class="fake-table striped bordered use-log">
				<div class="table-header">
					<h3>Edit</h3>
					<h3>Date</h3>
					<h3>Use</h3>
					<h3>Amount</h3>
					<h3>Disposals</h3>
					<h3></h3>

				</div>
				<div class="table-row top-align" ng-repeat="use in parcel.ParcelUses | parcelParser">
					<div ng-class="{'extra-top': use.edit}">
						<a ng-if="!use.edit" class="btn btn-primary" ng-click="editUse(use)"><i class="icon-pencil"></i></a>
						<a ng-if="use.edit" disabled="disabled" class="btn btn-primary"><i class="icon-pencil"></i></a>
					</div>
					<div ng-if="!use.edit">
						{{use.Date_used | dateToISO:use:'Date_used'}}
					</div>
					<div ng-if="use.edit">
						<div class="control-group">
						     <label class="control-label" for="inputEmail">Date Used:</label>
						     <div class="controls">
								<input ng-model="ParcelUseCopy.view_Date_used">
						        <span class="help-block" style="">mm/dd/yy</span>
							</div>
						</div>
					</div>

					<div ng-if="!use.edit">
						{{use.Experiment_use}}
					</div>
					<div ng-if="use.edit">
						<div class="control-group">
						     <label class="control-label" for="experiment-use">Use:</label>
						     <div class="controls">
						     <textarea rows="3" name="experiment-use" ng-model="ParcelUseCopy.Experiment_use" maxlength="60"></textarea>
							</div>
						</div>
					</div>

					<div ng-if="!use.edit">
						{{use.Quantity}} mCi
					</div>

					<div ng-if="use.edit">
						<label class="control-label" for="quantity">Amount:</label>
							<div class="control-group">
							     <div class="controls input-append">
									<input style="max-width:50%;" name="quantity" ng-model="ParcelUseCopy.Quantity">
									<span class="add-on">mCi</span>
								</div>
							</div>
						</div>
					<div>
						<div class="fake-table no-bg">
							<div class="table-row row-fluid" ng-if="!use.edit">
								<div class="span4">
									<div ng-repeat="solid in use.Solids">
										Sol: {{solid.Curie_level}} mCi
									</div>
									<div ng-if="!use.Solids.length">No Solid Disposals</div>
								</div>
								<div class="span4">
									<div ng-repeat="liquid in use.Liquids">
										Liq: {{liquid.Curie_level}} mCi
									</div>
									<div ng-if="!use.Liquids.length">No Solid Disposals</div>
								</div>
								<div class="span4">
									<div ng-repeat="vial in use.Vials">
										S/V: {{vial.Curie_level}} mCi
									</div>
									<div ng-if="!use.Vials.length">No vial Disposals</div>
								</div>
							</div>
							<div class="table-row row-fluid edit" ng-if="use.edit">

								<div class="span4">
							    	<label class="control-label" for="solid-curies">Sol: <a ng-click="addAmount('Solids')" class="btn btn-success"><i class="icon-plus-2"></i></a></label>
									<div ng-repeat="solid in ParcelUseCopy.Solids">
										<div class="control-group">
										     <div class="controls input-append">
												<input style="max-width:50%;" name="solid-curies" ng-model="solid.Curie_level">
												<span class="add-on">mCi</span>
												<select ng-model="solid.Waste_bag" ng-selected="selectedBag(solid, pi.WasteBags)" ng-change="selectContainer(solid)" ng-options="bag.ContainerName for bag in pi.WasteBags">
													<option value="">Select Receptical</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="span4">
									<label class="control-label" for="liquid-curies">Liq: <a ng-click="addAmount('Liquids')" class="btn btn-success"><i class="icon-plus-2"></i></a></label>
									<div ng-repeat="liquid in ParcelUseCopy.Liquids">
										<div class="control-group">
										     <div class="controls input-append">
												<input style="max-width:50%;" name="liquid-curies" ng-model="liquid.Curie_level">
												<span class="add-on">mCi</span>
												<select ng-change="selectCarboy(liquid)" ng-model="liquid.Carboy" ng-options="cycle.Carboy as cycle.Carboy.Carboy_number for cycle in pi.CarboyUseCycles">
													<option value="">Select Carboy</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="span4">		
								    <label class="control-label" for="vial-curies">S/V: <a ng-click="addAmount('Vials')" class="btn btn-success"><i class="icon-plus-2"></i></a></label>
									<div ng-repeat="vial in ParcelUseCopy.Vials">
										<div class="control-group">
										     <div class="controls input-append">
												<input style="max-width:50%;" name="vial-curies" ng-model="vial.Curie_level">
												<span class="add-on">mCi</span>	
												<select ng-model="vial.Waste_bag" ng-change="selectContainer(vial)" ng-options="bag.Container.Name for bag in pi.WasteBags">
													<option value="">Select Receptical</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div ng-class="{'extra-top': use.edit}">
						<a ng-if="use.edit" ng-click="af.saveParcelUse(parcel, ParcelUseCopy,use)" class="btn btn-success"><i class="icon-checkmark"></i></a>
						<a ng-if="use.edit" class="btn btn-danger" ng-click="cancel(use)"><i class="icon-cancel-2"></i></a>
					</div>
				</div>
			<!--
			<ul>
				<li ng-repeat="use in parcel.ParcelUses">
					<pre>{{use|json}}</pre>
				</li>
			</ul>
			-->
		</div>
	</div>
</div>
