<div class="neg-marg" ng-if="pi">
	<div class="card full parcels">
		<div class="card-content">
			<div class="fake-table striped bordered">
				<div class="table-header">
					<h3>R.S. Number</h3>
					<h3>Isotope</h3>
					<h3>Arrival Date</h3>
					<h3>Orginal Quantity</h3>
					<h3>Remaining Quantity</h3>
				</div>
				<div class="table-row">
					<div>
						{{parcel.Rs_number}}
					</div>

					<div>
						{{parcel.Isotope.Name}}
					</div>

					<div>
						{{parcel.Arrival_date | dateToISO}}
					</div>

					<div>
						{{parcel.Quantity}} mCi
					</div>

					<div>
						{{parcel.Remainder}} mCi
					</div>
				</div>
			</div>

			<div class="card-content">
			<div class="fake-table striped bordered">
				<div class="table-header">
					<h3>Date</h3>
					<h3>Use</h3>
					<h3>Use Amount</h3>
					<h3>Disposal</h3>
				</div>
				<div class="table-row" ng-repeat="use in parcel.ParcelUses">
					<div>
						{{use.Date_used | dateToISO:use:'Date_used'}}
					</div>
					<div>
						{{use.Experiment_use}}
					</div>
					<div>
						{{use.Quantity}} mCi
					</div>
					<div style="width:50%">
						<div class="fake-table no-bg">
							<div class="table-row" ng-if="!use.edit" ng-repeat="amt in use.ParcelUseAmounts">
								<div>Sol: {{amt.Curie_level}}mCi</div>
								<div>Liq: {{amt.Curie_level}}mCi</div>
								<div>S/v: {{amt.Curie_level}}mCi</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<ul>
				<li ng-repeat="use in parcel.ParcelUses">
					<pre>{{use|json}}</pre>
				</li>
			</ul>

		</div>
		</div>
	</div>
</div>
