<div cg-busy="{promise:PikcupSaving,message:'Saving Pickup', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:piPromise,message:'Loading', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<!--<pre>{{pi | json}}</pre>-->
<div class="neg-marg" ng-if="pi && pi.Rooms.length">
	<div class="alert alert-info" ng-if="scheduledPickups">
		<h3></h3> 
	</div>

	<div class="card super pickups">
		<h3 class="card-header"><i class="icon-box-remove"></i>You have <span class="bold">{{pi.Pickups.length}} Requested Pickup<span ng-if="pi.SolidsContainers.length != 1">s</span></span>
			<a ng-click="openModal('views/pi/pi-modals/pickup-modal')" class="btn btn-success left"><i class="icon-box-remove"></i>Request Pickup</a>
		</h3>
		<div class="fake-table bordered" ng-if="pi.Pickups.length">
			<div class="table-header">
				<h3>Edit</h3>
				<h3>Date Requested</h3>
				<h3>Pickup Date</h3>
			</div>
			<div class="table-row" ng-repeat="pickup in pi.Pickups" ng-class="{'green':!pickup.Pickup_date}">
				<div>
					<a ng-click="af.removeWasteBagFromContainer(container, bag)" class="btn btn-danger"><i class="icon-remove"></i></a>
				</div>
				<div>
					{{pickup.Date_created | dateToISO}}
				</div>
				<div>
					{{pickup.Pickup_date | dateToISO}}
				</div>
			</div>
		</div>
	</div>

	<div class="card half pickups">
			<h3 class="card-header"><i class="icon-box-remove"></i>The following items can be picked up</a></h3>			
			<div>
				<h3><i class="icon-remove-2 solids-containers"></i>Solid Waste Containers</h3>
				<ul>
					<ul>
						<li ng-repeat="container in pi.SolidsContainers" ng-if="container.WasteBagsForPickup.length">
							<h3>{{container.Name}}</h3>
							<h4>Waste Bags:</h4>
							<label class="checkbox" ng-repeat="bag in container.WasteBagsForPickup">
								<input type="checkbox" ng-true-value="yes" ng-model="bag.include"/>
								<span class="metro-checkbox">Removed from container on {{bag.Date_removed | dateToISO}} (<span ng-if="!bag.Contents.length">Empty Bag</span><span ng-repeat="isotope in bag.Contents">{{isotope.Curie_level}}mCi of {{isotope.IsotopeName}}<span ng-if="!$last">, </span></span>)</span>
							</label>
						</li>
					</ul>
				</ul>
			</div>

			<div>
				<h3><i class="icon-lab scint-vials"></i>Scintillation Vials</h3>
				<label class="checkbox" ng-repeat="collection in pi.CurrentScintVialCollection">
					<input type="checkbox" ng-true-value="yes" ng-model="collection.include"/>
					<span class="metro-checkbox"><h3 ng-repeat="amt in collection.Contents">{{amt.Curie_level}}mCi of {{amt.IsotopeName}}</h3></span>
				</label>
			</div>

			<div>
				<h3><i class="icon-carboy carboys"></i>Carboys</h3>
				<ul>
					<label class="checkbox" ng-repeat="cycle in pi.CarboyUseCycles" ng-if="cycle.Contents.length">
						<input type="checkbox" ng-true-value="yes" ng-model="cycle.include"/>
						<span class="metro-checkbox">
							Carboy #{{cycle.Carboy.Carboy_number}} (<span ng-repeat="isotope in cycle.Contents">{{isotope.Curie_level}}mCi of {{isotope.IsotopeName}}<span ng-if="!$last">, </span></span>)
						</span>
					</label>
				</ul>
			</div>

				<div class="table-header">
					<h3><a class="btn btn-success btn-large left" ng-click="createPickup(pi)"><i class="icon-box-remove"></i>Request Pickup</a></h3>
				</div>
			</div>
		</div>
		<!--<i style="font-size:200px;" class="icon-box-remove"></i>-->
	</div>
</div>
