<div cg-busy="{promise:inventoryPromise,message:'Loading Inventory', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div>
<div class="neg-marg dashboard" ng-if="pi">
	<div class="well almost-full">
		<div class="card almost-full parcels">
			<h3 class="card-header padding parcels"><i class="icon-calendar"></i>Quarterly Inventory for {{pi_inventory.Quarterly_inventory.Start_date | dateToISO}} - {{pi_inventory.Quarterly_inventory.End_date | dateToISO}}</h3>
		<div class="fake-table striped bordered">
			<div class="table-header">
				<h3 style="width: 7%;">Authorized Isotopes</h3>
				<h3>Limits</h3>
				<h3>Last Quarter Amount</h3>				
				<h3>Total Ordered</h3>
				<h3>Transfer In</h3>
				<h3>Transfer Out</h3>
				<h3>Solid Waste</h3>
				<h3>Liquid Waste</h3>
				<h3>Scintillation Vial Waste</h3>
				<h3>Other Waste</h3>
				<h3>Actual Amount on Hand</h3>
			</div>

			<div class="table-row" ng-repeat="amount in pi_inventory.Quarterly_isotope_amounts">
				<div>{{amount.Authorization.Isotope.Name}}</div>
				<div>{{amount.Authorization.Max_quantity}} mCi</div>
				<div>{{amount.Starting_amount}} mCi</div>
				<div>{{amount.Ordered}} mCi</div>
				<div>{{amount.Transfer_in}} mCi</div>
				<div>0 mCi</div>
				<div>{{amount.Solid_waste}} mCi</div>
				<div>{{amount.Liquid_waste}} mCi</div>
				<div>{{amount.Scint_vial_waste}} mCi</div>
				<div>{{amount.Other_waste}} mCi</div>
				<div>{{amount.On_hand}} mCi</div>
			</div>
					</div>

		</div>
	
</div>


	</div>
