<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--<script src="../../../../Scripts/promise.min.js"></script>-->
    <script src="../../../../Scripts/local.jquery.js"></script>
    <script src="../../js/lib/angular.js"></script>

    <script src="../../../../Scripts/promise.js"></script>
   <!--<script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>--> 

    <script src="../../../../Scripts/lodash.min.js"></script>
    <script src="../client-side-framework/DataStoreManager.js"></script>
    <script src="../client-side-framework/DataStorePromise.js"></script>
    <script src="../client-side-framework/InstanceFactory.js"></script>
    <script src="../../client-side-framework/genericModel/inheritance.js"></script>
    <script src="../../client-side-framework/genericModel/genericModel.js"></script>
    <script src="../../client-side-framework/genericModel/genericPrincipalInvestigator.js"></script>
    <script src="../../rad/scripts/models/PrincipalInvestigator.js"></script>
    <script src="../../rad/scripts/models/Room.js"></script>
    <script src="../../rad/scripts/models/User.js"></script>
    <script src="../../rad/scripts/models/Hazard.js"></script>
    <script>
        //InstanceFactory.testCopy();
        /*var classNames = InstanceFactory.getClassNames("/rad/scripts/models/");
        for (var n = 0; n < classNames.length; n++) {
            console.log(InstanceFactory.createInstance(classNames[n]));
        }*/
        /*var data = { name: "I'm a thing", num: 9, user: new User(), room: new Room(), nested: { thing: "I'm a thing too", num: 99, user: new User(), pi: new PrincipalInvestigator() } };
        DataStoreManager.ActualModel = data;
        DataStoreManager.syncViewModel(DataStoreManager.ActualModel);

        DataStoreManager.setViewModelProp(DataStoreManager.ActualModel.room.viewModelReference, "className", "POOP!!!");
        console.log(DataStoreManager.ActualModel);
        console.log(DataStoreManager.CurrentViewModel);*/

        var getStuff = function (url) {
            /*
            var f = function (stuff) {
                return !(Array.isArray(stuff) && stuff.Class == "ActionError");
            }

            var promises = [
                DataStorePromise.returnPromise('http://erasmus.graysail.com/rsms/src/ajaxaction.php?action=getAllHazards', f),
                DataStorePromise.returnPromise('http://erasmus.graysail.com/rsms/src/ajaxaction.php?action=getAllUsers', f)
            ]


           

            Promise.all(promises)
                    .then(
                        function (whateverGotReturned) {
                            console.log("good",whateverGotReturned);
                        }
                    )
                    .catch(
                        function (reason) {
                            console.log("bad", reason);
                        }
                    )

        }
        */

            $.getJSON(url)
                   .done(function (d) {
                       DataStoreManager.ActualModel = d;
                   })
                   .fail(function (d) {
                       console.log("uh oh");
                       reject(d.statusText);
                       //return DataStorePromise.Reject(d.statusText);
                   });

        }
        //getStuff('http://erasmus.graysail.com/rsms/src/ajaxaction.php?action=getAllUsers');

        console.log("Look:", DataStoreManager.getAll("User"));

        var ps = [DataStoreManager.getAll("User"), DataStoreManager.getAll("Hazard")];
        Promise.all(ps)
            .then(
                function (whateverGotReturned) {
                    console.log("good:", whateverGotReturned);
                }
            )
            .catch(
                function (reason) {
                    console.log("bad:", reason);
                }
            )

    </script>
</head>
<body>
</body>
</html>
