<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--<script src="../../../../Scripts/promise.min.js"></script>-->
    <script src="../../../../Scripts/jquery-3.1.0.min.js"></script>
   <!--<script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>-->
    <script src="../../js/lib/angular.js"></script>

    <script src="../../../../Scripts/promise.js"></script>

    <script src="../../../../Scripts/lodash.min.js"></script>
    <script src="../client-side-framework/DataStoreManager.js"></script>
    <script src="../client-side-framework/InstanceFactory.js"></script>
    <script src="../client-side-framework/BaseModel.js"></script>
    <script src="../client-side-framework/CompositionMapping.js"></script>
    <script src="../client-side-framework/UrlMapping.js"></script>
    <script src="../../client-side-framework/genericModel/inheritance.js"></script>
    <script src="../../client-side-framework/genericModel/genericModel.js"></script>
    <script src="../../client-side-framework/genericModel/genericPrincipalInvestigator.js"></script>
    <script src="../../rad/scripts/models/PrincipalInvestigator.js"></script>
    <script src="../client-side-framework/PrincipalInvestigator.js"></script>
    <script src="../../rad/scripts/models/Room.js"></script>
    <script src="../../rad/scripts/models/User.js"></script>
    <script src="../../rad/scripts/models/Hazard.js"></script>
    <script src="../../rad/scripts/models/Department.js"></script>
    <script>
        //InstanceFactory.testCopy();
        /*var classNames = InstanceFactory.getClassNames("/rad/scripts/models/");
        for (var n = 0; n < classNames.length; n++) {
            console.log(InstanceFactory.createInstance(classNames[n]));
        }*/
        /*var data = { name: "I'm a thing", num: 9, user: new User(), room: new Room(), nested: { thing: "I'm a thing too", num: 99, user: new User(), pi: new PrincipalInvestigator() } };
        DataStoreManager.ActualModel = data;
        DataStoreManager.syncViewModel(DataStoreManager.ActualModel);

        DataStoreManager.setViewModelProp(DataStoreManager.ActualModel.room.viewModelReference, "className", "POOP!!!");
        console.log(DataStoreManager.ActualModel);
        console.log(DataStoreManager.CurrentViewModel);*/

        var classNames = InstanceFactory.getClassNames("/rad/scripts/models/");
        console.log("approved classNames:", classNames);
        //console.log("Look:", DataStoreManager.getAll("User"));

        users = [];
        hazards = [];
        pis = [];

        var testEditingUser = function () {
            users[0].Email = "suck@toe.cunt";
            console.log(users[0]);
            //users[0] = DataStoreManager.getActualModelEquivalent(users[0]);
            console.log(pis[0]);
        }

        var ps = [DataStoreManager.getAll("User", users), DataStoreManager.getAll("PrincipalInvestigator", pis), DataStoreManager.getAll("Hazard", hazards)];
        Promise.all(ps)
            .then(
                function (whateverGotReturned) {
                    console.log("good:", whateverGotReturned);
                    //console.log(users[0]);
                    //console.log(DataStoreManager.ActualModel["User"]);
                }
            ).then(testEditingUser)
            .catch(
                function (reason) {
                    console.log("bad:", reason);
                }
            )

    </script>
</head>
<body>
</body>
</html>
