<form name="form" ng-submit="saveUser()" class="form-horizontal form">
    <div class="modal-header" style="padding:0;" class="">
        <h2 style="padding:5px" class="redBg">Assign a {{modalData.type}} to {{modalData.User.Name}}</h2>
    </div>
    <div class="modal-body" style="height:220px;">
        <h3 class="alert alert-danger" ng-if="modalError">{{modalError}}</h3>
        <div class="control-group">
            <label class="control-label" for="inputEmail">Select a {{modalData.type}}</label>
            <div class="controls" ng-if="!gettingUsers">
                <ui-select ng-model="selected.user" theme="selectize" ng-disabled="disabled" style="width:300px; margin-left:10px" on-select="checkUserForSave($item)">
                    <ui-select-match placeholder="Select a {{modalData.type}}">{{$select.selected.Name}}</ui-select-match>
                    <ui-select-choices repeat="user in users | isLabPersonnel | propsFilter: {Name: $select.search} | limitTo:20">
                        <div ng-bind-html="user.Name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div ng-if="gettingUsers">
                <input type="text" id="inputEmail" name="userName" disabled="disabled" placeholder="Loading Users">
                <i class="icon-spinnery-dealie spinner small"></i>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <h3 style="margin-top:20px" ng-if="message">{{message}}</h3>
        <a style="margin-left:4px;" class="btn btn-success left" ng-click="save(selected.user, true)">
            <i class="icon-checkmark"></i>
            <span ng-if="message">Yes</span>
            <span ng-if="!message">Save</span>
        </a>
        <a style="margin-left:4px;" class="btn btn-danger left" ng-click="cancel()">
            <i class="icon-cancel"></i>
            Cancel
        </a>
    </div>
</form>
