<!--
<input style="" type="text"  typeahead-on-select='onSelectUser($item)' ng-model="selectedUser" placeholder="Add a lab contact" typeahead="user as user.Name for user in users | filter:$viewValue"><img ng-show="selectedUser.IsDirty" class="smallLoading" src="../../../img/loading.gif"/>
-->
<div class="container loading" ng-hide="noPiSet" ng-if="!PI || !PI.LabPersonnel">
    <i class="icon-spinnery-dealie spinner large"></i>
    <span>Getting Lab Personnel...</span>
</div>
<span ng-if="PI">
<h2 style="margin-top:20px;" class="alert greenBg" ng-if="PI">Lab Personnel</h2>

<table class="roomList personnelList table table-striped table-hover list" id="rooms" ng-if="PI">
    <thead>
        <tr>
            <th>Name</th><th>Email</th><th>Office Phone</th><th>Emergency Phone</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{PI.User.Name}}</td><td>{{PI.User.Email}}</td><td>{{PI.User.Office_phone | tel}}</td><td>{{PI.User.Emergency_phone | tel}}</td>
        </tr>
    </tbody>
</table>
<hr>
<h2 ng-if="PI">Lab Contacts<a class="btn btn-success left"  ng-click="openModal(null, 'Lab Contact')"><i class="icon-plus-2"></i>Add Lab Contact</a><div class="clearfix"></div></h2>
<p ng-if="!contacts && PI">{{PI.User.Name}} has no lab contacts.</p>
<table class="roomList personnelList table table-striped table-hover list" id="rooms" style="margin-top: 12px" >
    <thead>
        <tr ng-if="contacts.length">
            <th>Remove User</th><th>Deactivate User</th><th>Name</th><th>Email</th><th>Lab Phone</th><th>Emergency Phone</th><th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in (contacts = (PI.LabPersonnel | isLabContact | activeOnly))">
            <td width="14%">
                <a class="btn btn-warning btn-large left" ng-click="deactivateUser(user)" alt="Deactivate" title="Deactivate"><i class="icon-remove"></i>Remove</a>
                <img ng-if="user.IsDirty && !user.beingDeactivated" class="smallLoading" src="../../img/loading.gif"/>
            </td>
            <td width="18%">
                <a class="btn btn-danger btn-large left" ng-click="confirmRemoveUser(user)">
                    <i class="icon-remove"></i>Deactivate</a>
                <img ng-if="user.beingDeactivated" class="smallLoading" src="../../img/loading.gif"/>
            </td>
            <td>{{user.Name}}</td><td>{{user.Email}}</td><td>{{user.Lab_phone | tel}}</td><td>{{user.Emergency_phone | tel}}</td><td><a class="btn btn-primary btn-large left" ng-click="openModal(user)"><i class="icon-pencil"></i>Edit</a></td>
        </tr>
    </tbody>
</table>
<hr>
<h2 ng-if="PI">Lab Personnel<a class="btn btn-success left" ng-click="openModal(null, 'Lab Personnel')"><i class="icon-plus-2"></i>Add Lab Personnel</a></h2>
<h3 ng-if="!personnel.length" >{{PI.User.Name}} has no lab personnel.</h3>
<table class="roomList personnelList table table-striped table-hover list" id="rooms" style="margin-top: 12px">
    <thead>
        <tr ng-if="personnel.length">
            <th>Remove User</th><th>Deactivate User</th><th>Name</th><th>Email</th><th>Lab Phone</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in (personnel = (PI.LabPersonnel | isNotContact))">
            <td width="14%">
                <a class="btn btn-warning btn-large left" ng-click="deactivateUser(user)" alt="Deactivate" title="Deactivate"><i class="icon-remove"></i>Remove</a>
                <img ng-if="user.IsDirty && !user.beingDeactivated" class="smallLoading" src="../../img/loading.gif"/>
            </td>
            <td width="18%">
                <a class="btn btn-danger btn-large left" ng-click="confirmRemoveUser(user)">
                    <i class="icon-remove"></i>Deactivate</a>
                <img ng-if="user.beingDeactivated" class="smallLoading" src="../../img/loading.gif" />
            </td>
            <td>{{user.Name}}</td><td>{{user.Email}}</td><td>{{user.Lab_phone | tel}}</td><td><a class="btn btn-primary btn-large left" ng-click="openModal(user)"><i class="icon-pencil"></i>Edit</a></td>
        </tr>
    </tbody>
</table>
</span>

<!-- confirmation modal-->
<script type="text/ng-template" id="confirmationModal.html">
    <div class="modal-header" style="padding:0;" class="">
        <h2 style="padding:5px" ng-show="userCopy.Key_id" class="greenBg">Please Confirm</h2>
    </div>
    <div class="modal-body">
        <h3 class="alert alert-danger" ng-if="error">{{error}}</h3>
        <h3>{{message}}</h3>
    </div>
    <div class="modal-footer">
        <i ng-if="userCopy.IsDirty" class="icon-spinnery-dealie spinner small"></i>
        <a ng-if="userCopy.Key_id" class="btn btn-success left btn-large" ng-click="confirm()"><i class="icon-checkmark"></i>Confirm</a>
        <a class="btn btn-danger left btn-large" ng-click="cancel()"><i class="icon-cancel-2"></i>Cancel</a>
    </div>
</script>
