<h3 ng-hide="!PI" class="piHeader" ng-class="{'inactive': !PI.Is_active}">Principle Investigator:  {{PI.User.Name}} <span ng-if="!PI.Is_active">(Inactive)</span></h3>

<div class="container loading" ng-hide="noPiSet" ng-if="!PI || !PI.Rooms">
    <i class="icon-spinnery-dealie spinner large"></i>
    <span>Getting Rooms...</span>
</div>
<table class="roomList table table-striped table-hover list" id="rooms" ng-if="PI">
<thead>
    <tr><td colspan="5"><h2 class="alert" style="background: #49afcd; border-color:#49afcd;">{{PI.User.Name}}'s Rooms</h2></td></tr>
    <tr>
        <td colspan="5">
            <a data-toggle="modal" ng-click="modalify(PI)" class="btn btn-info btn-large left">Assign Room</a>
            <a class="btn btn-primary btn-large left">Create Room</a>
        </td>
    </tr>
    <tr>
        <th>Remove Room</th><!--<th>Campus</th>--><th>Building</th><th>Room Number</th><th>Room Use</th><th>Room Hazards</th>
    </tr>
</thead>
<tbody>
    <tr ng-repeat="room in PI.Rooms | orderBy:['Building.Name','Name'] | activeOnly">
        <td><a class="btn btn-danger btn-large removeRow left" ng-click="removeRoom(room)" href="#"alt="Deactivate" title="Deactivate"><i class="icon-remove"></i>Remove</a><img ng-show="room.IsDirty" class="smallLoading" src="../../img/loading.gif"/></td>
        <!--<td width="25%">{{room.Capmus}}</td>-->
        <td width="25%">{{room.Building.Name}}</td>
        <td width="20%">{{room.Name}}</td>
        <td width="25%">{{room.Purpose}}</td>
        <td><!--<a class="edit btn btn-large btn-warning left" ng-click="showHazards(room)"><i class="icon-lab"></i>Show Hazards</a>--><a class="edit btn btn-large btn-warning left" href="../inspection/hazardInventory.php#?pi={{PI.Key_id}}&room={{room.Key_id}}" target="_blank"><i class="icon-lab"></i>Show Hazards</a></td>
    </tr>
</tbody>
</table>

<script type="text/ng-template" id="roomHandlerModal.html">
    <div class="modal-header" style="padding:0;">
        <h2 ng-show="!addRoom" style="padding:5px;" class="blueBg">Assign a Room to {{PI.User.Name}}</h2>
        <h2 ng-show="addRoom" style="padding:5px;" class="purpleBg">Create a New Room</h2>
    </div>
    <div class="modal-body">
        <div class="control-group">
         <label class="control-label" for="inputEmail">Select Building</label>
         <div class="controls span4">

             <ui-select ng-model="building.selected" theme="selectize" ng-disabled="disabled" style="width:315px;" on-select="onSelectBuilding($item)">
                    <ui-select-match placeholder="Select or search for a Buidling">{{$select.selected.Name}}</ui-select-match>
                    <ui-select-choices repeat="building in buildings | propsFilter: {Name: $select.search}">
                      <div ng-bind-html="building.Name | highlight: $select.search"></div>
                    </ui-select-choices>
            </ui-select>

            <span ng-if="!buildings">
                <input class="span4" style="background:white;border-color:#999; width:315px;"  type="text"  placeholder="Getting Buildings..." disabled="disabled">
                   <img class="" style="height:23px; margin:-9px 0 0 -35px;" src="<?php echo WEB_ROOT?>img/loading.gif"/>
            </span>
         </div>
        </div>

       <h3 ng-show="chosenBuilding">Rooms in {{chosenBuilding.Name}}:</h3>
       <ul ng-show="!addRoom">
               <li ng-repeat="room in chosenBuilding.Rooms | orderBy:'Name' | activeOnly">
                   <label class="checkbox inline">
                    <input type="checkbox" ng-model="room.piHasRel" ng-change="handleRoomChecked(room,chosenBuilding)"/>
                    <span class="metro-checkbox">{{room.Name}}<span ng-if="room.Purpose">({{room.Purpose}})</span><img ng-show="room.IsDirty" class="smallLoading" src="/rsms/img/loading.gif"/></span>
                </label>
               </li>
       </ul>

       <ul ng-show="addRoom">
               <input ng-model="newRoom.Name" ng-show="chosenBuilding" placeholder="Assign a room."><a ng-show="chosenBuilding" class="btn btn-success btn-mini" ng-click="addRoomToBuidling(newRoom)"><i class="icon-checkmark"></i>Save</a><img ng-show="newRoom.IsDirty" class="smallLoading" src="../../img/loading.gif"/>
               <li ng-repeat="room in chosenBuilding.Rooms | orderBy: room.Name | activeOnly">
                   {{room.Name}}
               </li>
       </ul>


    </div>
    <div class="modal-footer">
        <a class="btn btn-large" ng-class="{'btn-info': !addRoom, 'btn-primary': addRoom}" ng-click="close()">Close</a>
    </div>
</script>


<script type="text/ng-template" id="roomHazardsModal.html">
    <div class="modal-header wide-modal" style="padding:0;">
        <h2 ng-show="!addRoom" style="padding:5px;" class="redBg">Hazards in room {{room.Name}}</h2>
    <div class="modal-body">

       <span ng-if="!hazards && !error" class="loading">
              <img class="smallLoading" src="../../img/loading.gif"/>
              Loading Hazards...
       </span>
        <h1 class="hazardHeader" ng-if="hazards ">LABORATORY HAZARDS</h1>
        <ul class="modalHazardList">
            <li ng-if="hazards" data-ng-repeat="hazard in hazards" class="modalHazard{{hazard.Key_id}}">
                <h1>{{hazard.Name}}</h1>
                <ul ng-if="hazard.ActiveSubHazards" style="margin-left:35px;">
                    <div ng-include="'EmergencyInfoList.php'" ng-init="SubHazards = hazard.ActiveSubHazards"></div>
                </ul>
            </li>
            <div style='clear:both'>&nbsp;</div>
        </ul>
       <h3 ng-show="noHazards">{{noHazards}}</h3>

    </div>
    <div class="modal-footer">
        <a class="btn btn-large" ng-click="close()">Close</a>
    </div>
</script>


<script type="text/ng-template" id="roomHazardsModal.html">
    <div class="modal-header wide-modal" style="padding:0;">
        <h2 ng-show="!addRoom" style="padding:5px;" class="redBg">Hazards in room {{room.Name}}</h2>
    <div class="modal-body">

       <span ng-if="!hazards && !error" class="loading">
              <img class="smallLoading" src="../../img/loading.gif"/>
              Loading Hazards...
       </span>
        <h1 class="hazardHeader" ng-if="hazards ">LABORATORY HAZARDS</h1>
        <ul class="modalHazardList">
            <li ng-if="hazards" data-ng-repeat="hazard in hazards" class="modalHazard{{hazard.Key_id}}">
                <h1>{{hazard.Name}}</h1>
                <ul ng-if="hazard.ActiveSubHazards" style="margin-left:35px;">
                    <div ng-include="'EmergencyInfoList.php'" ng-init="SubHazards = hazard.ActiveSubHazards"></div>
                </ul>
            </li>
            <div style='clear:both'>&nbsp;</div>
        </ul>
       <h3 ng-show="noHazards">{{noHazards}}</h3>

    </div>
    <div class="modal-footer">
        <a class="btn btn-large" ng-click="close()">Close</a>
    </div>
</script>

<script type="text/ng-template" id="roomConfirmation.html">
    <div class="modal-header" style="padding:0;">
        <h2 ng-show="!addRoom" style="padding:5px;" class="redBg">Please Confirm</h2>
    <div class="modal-body">
    <h3 class="alert alert-danger" ng-if="error">{{error}}</h3>
    <h3>Remove room {{room.Name}} from {{PI.User.Name}}?</h3>
    </div>
    <div class="modal-footer">
        <i class="spinner icon-spinnery-dealie small" ng-show="saving"></i>
        <a class="btn btn-success left btn-large" ng-click="confirm()"><i class="icon-checkmark"></i>Confirm</a>
        <a class="btn btn-danger left btn-large" ng-click="cancel()"><i class="icon-cancel"></i>Cancel</a>
    </div>
</script>
