 <h3 ng-hide="!PI" class="piHeader" ng-class="{'inactive': !PI.Is_active}">Principle Investigator:  {{PI.User.Name}} <span ng-if="!PI.Is_active">(Inactive)</span></h3>
<div cg-busy="{promise:loading,message:'Loading',backdrop:true,templateUrl:'../../client-side-framework/busy-templates/full-page-busy.html'}"></div>

<div class="container loading" ng-hide="noPiSet" ng-if="!PI || !PI.Rooms">
    <i class="icon-spinnery-dealie spinner large"></i>
    <span>Getting Rooms...</span>
</div>
<table class="roomList table table-striped table-hover list" id="rooms" ng-if="PI">
<thead>
    <tr><td colspan="5"><h2 class="alert" style="background: #49afcd; border-color:#49afcd;">{{PI.User.Name}}'s Rooms</h2></td></tr>
    <tr>
        <td colspan="5">
            <a class="btn btn-info btn-large left" data-toggle="modal" ng-click="modalify(PI)">Assign Room</a>
            <a class="btn btn-primary btn-large left" ng-click="modalify(PI, true)">Create Room</a>
        </td>
    </tr>
    <tr>
        <th>Remove Room</th><!--<th>Campus</th>--><th>Building</th><th>Room Number</th><th>Room Use</th><th>Room Hazards</th>
    </tr>
</thead>
<tbody>
    <tr ng-repeat="room in PI.Rooms | orderBy:['Building.Name',convenienceMethods.sortAlphaNum('Name')] | activeOnly">
        <td><a class="btn btn-danger btn-large removeRow left" ng-click="removeRoom(room)" href="#" alt="Deactivate" title="Deactivate"><i class="icon-remove"></i>Remove</a><img ng-show="room.IsDirty" class="smallLoading" src="../../img/loading.gif" /></td>
        <!--<td width="25%">{{room.Capmus}}</td>-->
        <td width="25%">{{room.Building.Name}}</td>
        <td width="20%">{{room.Name}}</td>
        <td width="25%">{{room.Purpose}}</td>
        <!--&room%5B%5D=93&room%5B%5D=614&room%5B%5D=683&room%5B%5D=734&room%5B%5D=735&room%5B%5D=736&room%5B%5D=737&room%5B%5D=738&room%5B%5D=739-->
        <td>
            <span ng-init="room = getRoomUrlString(room)"></span>
            <a class="edit btn btn-large btn-warning left" href="../../hazard-inventory/#?pi={{PI.Key_id}}&{{room.roomUrlParam}}" target="_blank"><i class="icon-lab"></i>Show Hazards</a>
        </td>
    </tr>
</tbody>
</table>

<script type="text/ng-template" id="roomHandlerModal.html">
    <div class="modal-header" style="padding:0;">
        <h2 ng-show="!addRoom" style="padding:5px;" class="blueBg">Assign a Room to {{PI.User.Name}}</h2>
        <h2 ng-show="addRoom" style="padding:5px;" class="purpleBg">Create a New Room</h2>
    </div>
    <div class="modal-body">
        <div class="control-group">
         <div class="controls span4">
             <label class="control-label bold" for="inputEmail">Select Building</label>
             <select ng-change="onSelectBuilding(chosenBuilding)" ng-options="building as building.Name for building in buildings | orderBy: 'Name'" ng-model="chosenBuilding">
                 <option style="display:none" value="">Select Building</option>
             </select>

            <span ng-if="!buildings">
                <input class="span4" style="background:white;border-color:#999; width:350px;"  type="text"  placeholder="Getting Buildings..." disabled="disabled">
                <img class="" style="height:23px; margin:-9px 0 0 -35px;" ng-src="{{webRoot}}img/loading.gif"/>
            </span>
         </div>
        </div>
        {{chosenBuilding.roomsByFloor}}
       <h3 ng-show="chosenBuilding" style="font-size:19px; margin-bottom:15px; text-decoration:underline;">Rooms in {{chosenBuilding.Name}}:</h3>
       <img ng-show="loadingBuildingRooms" class="smallLoading" ng-src="{{webRoot}}img/loading.gif" />
       <ul ng-show="!addRoom" style="margin-top:5px">
            <li ng-repeat="(key,floor) in roomsByFloor" style="margin-top:10px">
                <h3>Floor: {{key}}</h3>
                <ul class="create-room">
                    <li ng-repeat="room in floor | orderBy:'Name' | activeOnly">
                        <label class="checkbox inline">
                            <input type="checkbox" ng-model="room.piHasRel" ng-change="handleRoomChecked(room,chosenBuilding)" />
                            <span class="metro-checkbox">{{room.Name}}<span ng-if="room.Purpose">&nbsp;({{room.Purpose}})</span><img ng-show="room.IsDirty" class="smallLoading" ng-src="{{webRoot}}img/loading.gif" /></span>
                        </label>
                    </li>
                </ul>
            </li>
       </ul>

        <ul ng-show="addRoom" style="margin-top:5px">
            <li>
                <div class="controls span4">
                    <label class="control-label bold" for="inputEmail">Room Number:</label>
                    <input ng-model="newRoom.Name" ng-show="chosenBuilding" placeholder="Enter new room number" style="width: 172px;">
                    <a style="margin: -2px 0 0 5px;" ng-show="chosenBuilding" class="btn btn-success btn-mini" ng-click="addRoomToBuidling(newRoom)"><i class="icon-checkmark"></i>Save</a><img ng-show="newRoom.IsDirty" class="smallLoading" src="../../img/loading.gif" />
                 </div>
            </li>
            <li ng-show="chosenBuilding">
                <span ng-init="newRoom.custom = getIsCustom(room.Purpose)"></span>
                <input ng-model="newRoom.Purpose"
                       placeholder="Use" style="max-width:172px; margin-top:3px;"
                       ng-if="newRoom.custom" />
                <select ng-if="!newRoom.custom"
                        ng-options="use.Name as use.Name for use in roomUses" ng-model="newRoom.Purpose"
                        style="max-width:172px; margin:3px 0 0">
                    <option value="">Select Use</option>
                </select>
                <i class="icon-pencil primary" ng-if="!newRoom.custom" ng-click="newRoom.custom = true"></i>
                <i class="icon-cancel-2 danger" style="margin-top: 6px; margin-left: -1px;" ng-if="newRoom.custom" ng-click="newRoom.custom = false"></i>
            </li>
            <li style="margin-top:4px" ng-if="error" class="red"><h3>{{error}}</h3></li>
            <li ng-repeat="(key,floor) in chosenBuilding.roomsByFloor" style="margin-top:10px">
                <h3>Floor: {{key}}</h3>
                <ul class="create-room">
                    <li ng-repeat="room in floor | orderBy:'Name' | activeOnly">
                        {{room.Name}}<span ng-if="room.Purpose">&nbsp;({{room.Purpose}})</span>
                    </li>
                </ul>
            </li>
        </ul>


    </div>
    <div class="modal-footer">
        <a class="btn btn-large" ng-class="{'btn-info': !addRoom, 'btn-primary': addRoom}" ng-click="close()">Close</a>
    </div>
</script>


<script type="text/ng-template" id="roomHazardsModal.html">
    <div class="modal-header wide-modal" style="padding:0;">
        <h2 ng-show="!addRoom" style="padding:5px;" class="redBg">Hazards in room {{room.Name}}</h2>
    <div class="modal-body">

       <span ng-if="!hazards && !error" class="loading">
              <img class="smallLoading" src="../../img/loading.gif"/>
              Loading Hazards...
       </span>
        <h1 class="hazardHeader" ng-if="hazards ">LABORATORY HAZARDS</h1>
        <ul class="modalHazardList">
            <li ng-if="hazards" data-ng-repeat="hazard in hazards" class="modalHazard{{hazard.Key_id}}">
                <h1>{{hazard.Name}}</h1>
                <ul ng-if="hazard.ActiveSubHazards" style="margin-left:35px;">
                    <div ng-include="'EmergencyInfoList.php'" ng-init="SubHazards = hazard.ActiveSubHazards"></div>
                </ul>
            </li>
            <div style='clear:both'>&nbsp;</div>
        </ul>
       <h3 ng-show="noHazards">{{noHazards}}</h3>

    </div>
    <div class="modal-footer">
        <a class="btn btn-large" ng-click="close()">Close</a>
    </div>
</script>


<script type="text/ng-template" id="roomHazardsModal.html">
    <div class="modal-header wide-modal" style="padding:0;">
        <h2 ng-show="!addRoom" style="padding:5px;" class="redBg">Hazards in room {{room.Name}}</h2>
    </div>
    <div class="modal-body">

       <span ng-if="!hazards && !error" class="loading">
              <img class="smallLoading" src="../../img/loading.gif"/>
              Loading Hazards...
       </span>
        <h1 class="hazardHeader" ng-if="hazards ">LABORATORY HAZARDS</h1>
        <ul class="modalHazardList">
            <li ng-if="hazards" data-ng-repeat="hazard in hazards" class="modalHazard{{hazard.Key_id}}">
                <h1>{{hazard.Name}}</h1>
                <ul ng-if="hazard.ActiveSubHazards" style="margin-left:35px;">
                    <div ng-include="'EmergencyInfoList.php'" ng-init="SubHazards = hazard.ActiveSubHazards"></div>
                </ul>
            </li>
            <div style='clear:both'>&nbsp;</div>
        </ul>
       <h3 ng-show="noHazards">{{noHazards}}</h3>

    </div>
    <div class="modal-footer">
        <a class="btn btn-large" ng-click="close()">Close</a>
    </div>
</script>