<table class="userList table table-striped table-hover piTable table-bordered sticky-headers"
       sticky-headers
       watch="filtered.length"
       ng-if="users">
    <thead>
        <tr>
            <th colspan="13" class="theme-main-element">
                <h1>{{category.name}}</h1>
                <div class="btn-group" style="margin: -18px 0 0 20px;">
                     <a class="btn btn-large"
                        ng-click="config.active_status = !config.active_status;">
                         <input type="hidden"
                                ng-model="config.active_status">
                         <span ng-show="config.active_status">Show Inactive</span>
                         <span ng-hide="config.active_status">Show Active</span>
                     </a>
                     <a ng-if="config.show_admin_controls"
                        class="btn-large btn"
                        ng-click="editUser()"
                        style="padding:10px; margin-left:5px;">
                        <i class="icon-add-users"></i>Add</a>
                 </div>
                 <h2 style="float:right; margin-top:8px;">
                    <span class="underline bold">{{filtered.length}}</span>
                    <span>Displayed</span>
                </h2>
            </th>
        </tr>
        <tr>
            <th>Edit</th>

            <th ng-if="config.show_field_username">Username</th>
            <th ng-if="config.show_field_last_name">
                <user-hub-sort-field sorter="config.sorter" field-expr="Last_name">Last Name</user-hub-sort-field>
            </th>
            <th ng-if="config.show_field_first_name">First Name</th>
            <th ng-if="config.show_field_roles">Role(s)</th>
            <th ng-if="config.show_field_principal_investigator">
                <user-hub-sort-field sorter="config.sorter" field-expr="Supervisor.Name">Lab PI</user-hub-sort-field>
            </th>
            <th ng-if="config.show_field_position">
                <user-hub-sort-field sorter="config.sorter" field-expr="Position">Position</user-hub-sort-field>
            </th>
            <th ng-if="config.show_field_department">Department(s)</th>
            <th ng-if="config.show_field_building">Building(s)</th>
            <th ng-if="config.show_field_email">
                <user-hub-sort-field sorter="config.sorter" field-expr="Email">Email</user-hub-sort-field>
            </th>
            <th ng-if="config.show_field_office_phone">Office Phone</th>
            <th ng-if="config.show_field_lab_phone">Lab Phone</th>
            <th ng-if="config.show_field_emergency_phone">Emergency Phone</th>
        </tr>
        <tr>
            <th></th>
            <th ng-if="config.show_field_username"></th>
            <th ng-if="config.show_field_last_name && config.show_field_first_name" colspan="2">
                <input class="full" ng-model="search.Name" placeholder="Filter by Name"/>
            </th>
            <th ng-if="config.show_field_roles">
                <select ng-model="search.RoleName"
                        ng-options="role for role in category.roles"
                        style="margin: 0;">
                    <option value="">-- Filter by Role --</option>
                </select>
            </th>
            <th ng-if="config.show_field_principal_investigator">
                <input ng-model="search.SupervisorName" placeholder="Filter by PI"/>
            </th>
            <th ng-if="config.show_field_position">
                <input ng-model="search.Position" placeholder="Filter by Position" />
            </th>
            <th ng-if="config.show_field_department">
                <input ng-model="search.DepartmentName" placeholder="Filter by Department"/>
            </th>
            <th ng-if="config.show_field_building">
                <input ng-model="search.BuildingName" placeholder="Filter by Building"/>
            </th>
            <th ng-if="config.show_field_email"></th>
            <th ng-if="config.show_field_office_phone"></th>
            <th ng-if="config.show_field_lab_phone"></th>
            <th ng-if="config.show_field_emergency_phone"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in (filtered = (users
                                            | categoryFilter:category
                                            | filter:{ Is_active: config.active_status }
                                            | userSearchFilter:search
                                            | orderBy: config.sorter.expr : !config.sorter.asc ))"
            ng-class="{inactive: !user.Is_active}">
            <td>
                <button ng-disabled="!config.show_admin_controls"
                        class="edit btn btn-primary"
                        ng-click="editUser(user, $index)"
                        alt="Edit" title="Edit" title="Edit">
                    <i class="icon-pencil"></i>
                </button>
                <button ng-disabled="!config.show_admin_controls"
                        class="btn DeactivateeRow"
                        ng-class="{
                            'btn-success': !user.Is_active,
                            'btn-danger': user.Is_active
                        }"
                        ng-click="toggleUserActive(user)">
                    <i ng-class="{
                        'icon-checkmark': !user.Is_active,
                        'icon-remove': user.Is_active
                    }"></i>
                </button>

                <i class="icon-spinnery-dealie spinner small" style="position:absolute;margin: 3px;" ng-if="pi.PrincipalInvestigator.IsDirty"></i>

                <div ng-if="config.show_field_contact_icons">
                    <span ng-if="user | hasRole:'Lab Contact'">
                        <img ng-if="user.Emergency_phone" src="../img/phone.png" style="width:35px" title="Emgergency Phone# {{user.Emergency_phone | tel}}">
                        <img ng-if="!user.Emergency_phone" src="../img/phone.png" style="width:35px" title="Emergency Phone# Unkown">
                    </span>

                    <span ng-if="user | hasRole:'Radiation Contact'">
                        <img ng-if="user.Emergency_phone" src="../img/radiation-large-icon.png" style="width:35px" title="Emgergency Phone# {{user.Emergency_phone | tel}}">
                        <img ng-if="!user.Emergency_phone" src="../img/radiation-large-icon.png" style="width:35px" title="Emergency Phone# Unkown">
                    </span>
                </div>
            </td>
            <td ng-if="config.show_field_username">{{user.Username}}</td>
            <td ng-if="config.show_field_last_name">{{user.Last_name}}</td>
            <td ng-if="config.show_field_first_name">{{user.First_name}}</td>
            <td ng-if="config.show_field_roles">
                <ul class="department-list">
                    <li ng-repeat="role in user.Roles | restrictRolesFilter: category">{{role.Name}}</li>
                </ul>
            </td>
            <td ng-if="config.show_field_principal_investigator">
                <span ng-if="user.Supervisor_id">{{user.Supervisor.Name}}</span>
            </td>
            <td ng-if="config.show_field_position">{{user.Position}}</td>
            <td ng-if="config.show_field_department">
                <ul class="department-list">
                    <li ng-if="user.Primary_department">{{user.Primary_department.Name}}</li>
                    <li ng-if="user.PrincipalInvestigator" ng-repeat="dept in user.PrincipalInvestigator.Departments">{{dept.Name}}</li>
                </ul>
            </td>
            <td ng-if="config.show_field_building">
                <ul class="department-list">
                    <li ng-repeat="building in user.PrincipalInvestigator.Buildings">{{building.Name}}</li>
                </ul>
            </td>
            <td ng-if="config.show_field_email">{{user.Email}}</td>
            <td ng-if="config.show_field_office_phone">{{user.Office_phone | tel}}</td>
            <td ng-if="config.show_field_lab_phone">{{user.Lab_phone | tel}}</td>
            <td ng-if="config.show_field_emergency_phone">{{user.Emergency_phone | tel}}</td>
        </tr>
    </tbody>
</table>
