<div class="modal-header" style="padding:0;">
    <h2 style="padding:5px; background:rgb(122, 6, 109); color:white">Select Drum</h2>
</div>

<div class="modal-body">
	<label>Select a drum</label>
	<select ng-if="modalData.WasteBagCopy" ng-model="modalData.WasteBagCopy.Drum_id">
		<option ng-repeat="drum in drums" value="{{drum.Key_id}}">{{drum.Label}}</option>
	</select>	
	<pre>{{modalData.WasteBagCopy | json }}</pre>
	<select ng-if="modalData.ScintVialCollectionCopy" ng-model="ScintVialCollectionCopy.Drum_id">
		<option ng-repeat="drum in Drums" value="{{drum.Key_id}}">{{drum.Label}}</option>
	</select>		
</div>

<div class="modal-footer">
  <a class="btn btn-success btn-large left" ng-if="modalData.WasteBagCopy" ng-click="saveWasteBag(modalData.WasteBag, modalData.WasteBagCopy)"><i class="icon-checkmark"></i></a>
  <a class="btn btn-success btn-large left" ng-if="modalData.ScintVialCollectionCopy" ng-click="saveSVCollection(modalData.ScintVialCollection, modalData.ScintVialCollectionCopy)"><i class="icon-checkmark"></i></a>

  <a class="btn btn-large btn-danger left" ng-click="close()"><i class="icon-cancel-2"></i>Close</a>
</div>
