<a class="btn btn-large offset3 row-fluid" ng-click="view = 'home'" ng-show="view == 'admin'">Home</a>
  <div class="row-fluid" >

    <div class="span2 rsmsCenterIconContainer offset3" style=" margin-bottom:30px;">
      <a class="span12 bg-color-green " style="background: #86b32d;" ng-click="setRoute('/admin')">
        <img class="" src="../img/admin-icon.png" />
        <p>Administration</p>
      </a>
    </div>

    <div class="span2 rsmsCenterIconContainer" style=" ">
    <a class="span12" style="background: #d00;" href="inspection/HazardInventory.php">
      <img class="" src="../img/new-inspection-icon.png" />
      <p>Laboratory Inspection</p>
    </a>
  </div>

    <div class="span2 rsmsCenterIconContainer" style=" margin-bottom:30px;">
      <a href="hubs/emergencyInformationHub.php" class="span12" style="background: #e67e1d;">
        <img class="" src="../img/hazard-icon.png" />
        <p>Emergency Information</p>
      </a>
    </div>
  </div>
</div>