<div class="modal-header" style="padding:0;">
    <h2 style="padding:5px; background:rgb(151, 49, 58); color:white">
        Place Waste in Drum(s)
        <button class="btn"
                ng-if="modalData.WasteBagCopy"
                ng-click="modalData.multipleDrums = !modalData.multipleDrums">
           Use <span ng-if="!modalData.multipleDrums">Multiple</span><span ng-if="modalData.multipleDrums">Single</span>Drum<span ng-if="!modalData.multipleDrums">s</span>
        
        </button>
    </h2>
</div>

<div class="modal-body" ng-class="{'multiple-disposal-modal':modalData.multipleDrums}">
    <div ng-if="!modalData.multipleDrums">
        <label>Select a drum</label>
        <select ng-if="modalData.WasteBagCopy" ng-model="modalData.WasteBagCopy.Drum_id">
            <option ng-repeat="drum in drums" value="{{drum.Key_id}}">{{drum.Label}}</option>
        </select>
        
        <select ng-if="modalData.ScintVialCollectionCopy" ng-model="modalData.ScintVialCollectionCopy.Drum_id">
            <option ng-repeat="drum in drums" value="{{drum.Key_id}}">{{drum.Label}}</option>
        </select>
        <select ng-if="modalData.CarboyUseCycleCopy" ng-model="modalData.CarboyUseCycleCopy.Drum_id">
            <option ng-repeat="drum in drums" value="{{drum.Key_id}}">{{drum.Label}}</option>
        </select>
    </div>
    <div ng-if="modalData.multipleDrums">
        
        <table class="table table-striped">
            <tr>
                <th>Activity (mCi)</th>
                <th>Isotope</th>
                <th>Drum</th>
                <th></th>
            </tr>
            <tr ng-repeat="lot in modalData.WasteBagCopy.PickupLots">
                <td>
                    <input ng-model="lot.Curie_level" />
                </td>
                <td>
                    <select ng-model="lot.Isotope_id" ng-options="c.Isotope_id as c.Isotope_name for c in modalData.WasteBagCopy.Contents">
                        <option value="">Select Isotope</option>
                    </select>
                </td>
                <td>
                    <select ng-model="lot.Drum_id" ng-options="drum.Key_id as drum.Label for drum in drums">
                        <option value="">Select Drum</option>
                    </select>
                </td>
                <td>
                    <a ng-click="addPickupLot(modalData.WasteBagCopy)"><i class="success icon-plus-2"></i></a>
                    <a ng-click="removePickupLot(modalData.WasteBagCopy, $index)"><i class="red icon-minus-2"></i></a>
                </td>
            </tr>
        </table>
    </div>

</div>

<div class="modal-footer">
    <a class="btn btn-success btn-large left" ng-if="modalData.WasteBagCopy" ng-click="saveWasteBag(modalData.WasteBag, modalData.WasteBagCopy)"><i class="icon-checkmark"></i>Save</a>
    <a class="btn btn-success btn-large left" ng-if="modalData.ScintVialCollectionCopy" ng-click="saveSVCollection(modalData.ScintVialCollection, modalData.ScintVialCollectionCopy)"><i class="icon-checkmark"></i>Save</a>
    <a class="btn btn-success btn-large left" ng-if="modalData.CarboyUseCycleCopy" ng-click="saveCarboyUseCycle(modalData.CarboyUseCycle, modalData.CarboyUseCycleCopy)"><i class="icon-checkmark"></i>Save</a>
    <a class="btn btn-large btn-danger left" ng-click="close()"><i class="icon-cancel-2"></i>Cancel</a>
</div>
