<div class="modal-header" style="padding:0;">
    <h2 style="padding:5px; background:rgb(151, 49, 58); color:white">Ship Drum</h2>
</div>

<div class="modal-body">
    <form class="form form-horizontal">
        <div class="control-group">
            <label class="control-label" for="shipDate">Date Shipped</label>
            <div class="controls">
                <datepicker2 ng-model="modalData.DrumCopy.Pickup_date" disable-timepicker='true'
                    placeholder="Set Date Shipped"
                    button-class="shipDateButtonClass" on-change="changes.changed = true;"></datepicker2>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">Weight</label>
            <div class="controls">
                <input data-ng-model="modalData.DrumCopy.Shipment_weight" placeholder="Weight" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="inputEmail">Shipment Number</label>
            <div class="controls">
                <input data-ng-model="modalData.DrumCopy.Shipment_number" placeholder="Shipment Number" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">Manifest Number</label>
            <div class="controls">
                <input data-ng-model="modalData.DrumCopy.Manifest_number" placeholder="Manifest Number" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">Epa ID</label>
            <div class="controls">
                <input data-ng-model="modalData.DrumCopy.Epa_id" placeholder="Epa ID" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">Destruction Method</label>
            <div class="controls">
                <input data-ng-model="modalData.DrumCopy.Destruction_method" placeholder="Destruction Method" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">Date Destroyed</label>
            <div class="controls">
                <datepicker2 ng-model="modalData.DrumCopy.Date_destroyed" disable-timepicker='true'
                    placeholder="Set Date Destroyed"
                    button-class="destroyDateButtonClass" on-change="changes.changed = true;"></datepicker2>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">Total Volume of Drum</label>
            <div class="controls">
                <input data-ng-model="modalData.DrumCopy.Total_volume" placeholder="Total Volume" />
                <div class="input-append">
                    <span class="help-block" style="">ml</span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">Notes</label>
            <div class="controls">
                <textarea ng-model="modalData.DrumCopy.Shipping_info" rows="5" style="width:90%"></textarea>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <div class="red" style="display: inline-block; padding-right:10px;" ng-repeat="error in validationErrors">
        <span>{{error}}</span>
    </div>
    <a class="btn btn-success btn-large left" ng-click="validate(modalData.DrumCopy) && shipDrum(modalData.Drum, modalData.DrumCopy)">
        <i class="icon-checkmark"></i>
        <span ng-if="modalData.Drum.Pickup_date">Save Drum</span>
        <span ng-if="!modalData.Drum.Pickup_date">Ship Drum</span>
    </a>
    <a class="btn btn-large btn-danger left" ng-click="close()"><i class="icon-cancel-2"></i>Close</a>
</div>
