<div class="modal-header" style="padding:0;">
    <h2 ng-show="!addRoom" style="padding:5px; background:purple; color:white">Wipe Tests</h2>
</div>

<div class="modal-body wide-modal wipes-modal">
    <h4 class="padding">Wipe Test <a ng-if="!modalData.ParcelCopy.Wipe_test.length && !modalData.Parcel.Creating_wipe" class="btn-success btn left" ng-click="editWipeParcelWipeTest(parcel)"><i class="icon-plus-2"></i><i class="icon-paper"></i>New Wipe Test</a></h4>
    <div class="fake-table" ng-if="modalData.ParcelCopy.Wipe_test.length || modalData.Parcel.Creating_wipe">
        <div class="table-header">
            <h3>Edit</h3>
            <h3>Instrument</h3>
            <h3>T.I.</h3>
            <h3>1m</h3>
            <h3>Surface</h3>
        </div>
        <div class="table-row">
            <div ng-class="{'small-extra-top': modalData.Parcel.Creating_wipe}">
                <a class="btn btn-primary left" ng-disabled="modalData.Parcel.Creating_wipe" ng-click="editWipeParcelWipeTest(parcel, modalData.ParcelCopy.Wipe_test[0])"><i class="icon-pencil"></i>Edit</a>
            </div>

            <div ng-if="!modalData.Parcel.Creating_wipe" ng-if="smear.edit">
                {{modalData.Parcel.Wipe_test[0].Reading_type}}
            </div>
            <div ng-if="modalData.Parcel.Creating_wipe" class="small-extra-top">
                <select ng-init="modalData.ParcelCopy.Wipe_test[0].Reading_type = Constants.WIPE_TEST.READING_TYPE.LSC" ng-model="modalData.ParcelCopy.Wipe_test[0].Reading_type" style="width:100px">
                    <option value="{{Constants.WIPE_TEST.READING_TYPE.LSC}}">{{Constants.WIPE_TEST.READING_TYPE.LSC}}</option>
                    <option value="{{Constants.WIPE_TEST.READING_TYPE.ALPHA_BETA}}">{{Constants.WIPE_TEST.READING_TYPE.ALPHA_BETA}}</option>
                    <option value="{{Constants.WIPE_TEST.READING_TYPE.MCA}}">{{Constants.WIPE_TEST.READING_TYPE.MCA}}</option>
                </select>
            </div>

            <div ng-if="!modalData.Parcel.Creating_wipe">{{modalData.Parcel.Wipe_test[0].Transportation_index}} DPM</div>
            <div ng-if="modalData.Parcel.Creating_wipe">
                <label class="control-label" for="quantity">T.I.:</label>
                <div class="control-group">
                    <div class="controls input-append">
                        <input class="span3" ng-model="modalData.ParcelCopy.Wipe_test[0].Transportation_index">
                    </div>
                </div>
            </div>

            <div ng-if="!modalData.Parcel.Creating_wipe">{{modalData.Parcel.Wipe_test[0].One_meter_background}} mR/hr</div>
            <div ng-if="modalData.Parcel.Creating_wipe">
                <label class="control-label" for="quantity">1m:</label>
                <div class="control-group">
                    <div class="controls input-append">
                        <input class="span3" ng-model="modalData.ParcelCopy.Wipe_test[0].One_meter_background">
                        <span class="add-on">mR/hr</span>
                    </div>
                </div>
            </div>

            <div ng-if="!modalData.Parcel.Creating_wipe">{{modalData.Parcel.Wipe_test[0].Box_background}} mR/hr</div>
            <div ng-if="modalData.Parcel.Creating_wipe">
                <label class="control-label" for="quantity">Surface:</label>
                <div class="control-group">
                    <div class="controls input-append">
                        <input class="span3" ng-model="modalData.ParcelCopy.Wipe_test[0].Box_background">
                        <span class="add-on">mR/hr</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="spacer small"></div>
    <h4 ng-if="modalData.ParcelCopy.Wipe_test.length" class="padding">Smears <a class="btn btn-success left" ng-click="modalData.ParcelCopy.Wipe_test[0].addWipe()"><i class="icon-plus-2"></i>Add Smear</a></h4>
    <div class="fake-table" ng-if="modalData.ParcelCopy.Wipe_test[0].Parcel_wipes.length && modalData.ParcelCopy.Wipe_test.length">
        <div class="table-header">
            <h3>Edit</h3>
            <h3>Test Location</h3>
            <h3>Instrument</h3>
            <h3>Radioactivity</h3>
            <h3>Comments</h3>
            <h3></h3>
        </div>

        <div class="table-row" ng-repeat="smear in modalData.ParcelCopy.Wipe_test[0].Parcel_wipes | orderBy:'Key_id'">
            <div>
                <a ng-disabled="smear.edit" ng-class="{'disabled':smear.edit}" ng-click="editWipeParcelWipe(modalData.ParcelCopy.Wipe_test[0], smear)" class="btn btn-primary left"><i class="icon-pencil"></i>Edit</a>
            </div>

            <div ng-if="!smear.edit">
                {{smear.Location}}
            </div>
            <div ng-if="smear.edit">
                <span ng-init="smear.DropLocation = {Name:smear.Location}" ng-if="smear.Location"/>
                <ui-select tagging="defaultAddOtherTag" ng-model="smear.DropLocation" theme="selectize" ng-disabled="disabled" on-select="smear.Location = $select.selected.Name">
                    <ui-select-match placeholder="Select or input a Room Use">{{$select.selected.Name}}</ui-select-match>
                    <ui-select-choices repeat="location in parcelWipeLocations | propsFilter: {Name: $select.search}">
                        <div once-text="location.Name"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <div>
                {{modalData.ParcelCopy.Wipe_test[0].Reading_type}}
            </div>

            <div ng-if="!smear.edit">
                {{smear.Curie_level}} <span ng-if="smear.Curie_level != null">DPM</span><span ng-if="smear.Curie_level == null">N/A</span>
            </div>
            <div ng-if="smear.edit">
                <div class="control-group">
                    <div class="controls input-append">
                        <input class="span3" ng-if="!ParcelWipeCopy" ng-model="smear.Curie_level">
                        <input class="span3" ng-if="ParcelWipeCopy" ng-model="ParcelWipeCopy.Curie_level">
                        <span class="add-on">DPM</span>
                    </div>
                </div>
            </div>


            <div ng-if="!smear.edit">
                {{smear.Notes}}
                <span ng-if="!smear.Notes">N/A</span>
            </div>
            <div ng-if="smear.edit">
                <textarea ng-if="ParcelWipeCopy" placeholder="Notes" ng-model="ParcelWipeCopy.Notes"></textarea>
                <textarea ng-if="!ParcelWipeCopy" placeholder="Notes" ng-model="smear.Notes"></textarea>
            </div>

            <div style="min-width:0;">
                <span ng-if="smear.edit && ParcelWipeCopy">
                                <a class="btn btn-success left" ng-click="af.saveParcelWipe(modalData.ParcelCopy.Wipe_test[0], ParcelWipeCopy, smear)"><i class="icon-checkmark"></i>Save</a>
                                <a class="btn btn-danger left" ng-click="cancelParcelWipeEdit(smear,modalData.ParcelCopy.Wipe_test[0])"><i class="icon-cancel-2"></i>Cancel</a>
                            </span>
            </div>
        </div>
        <div class="table-row hover-white" ng-if="modalData.ParcelCopy.Wipe_test[0].adding">
            <div class="hover-white">
                <a class="btn btn-large left btn-success" ng-click="af.saveParcelWipes(modalData.ParcelCopy.Wipe_test[0])"><i class="icon-checkmark"></i>Save Smears</a>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <a class="btn btn-large btn-success left" ng-click="af.saveParcelWipesAndChildren(modalData.ParcelCopy,modalData.Parcel)"><i class="icon-checkmark"></i>Save</a>
    <a class="btn btn-large btn-danger left" ng-click="close()"><i class="icon-cancel-2"></i>Close</a>
</div>
