<div class="modal-header" style="padding:0;">
    <h2 ng-show="!addRoom" style="padding:5px; background:rgba(153, 96, 40, 1); color:white"><span ng-if="!modalData.Authorization">Add</span><span ng-if="modalData.Authorization">Edit</span> an parcel for {{modalData.pi.User.Name}}</h2>
</div>

<div class="modal-body">
  <div class="control-group">
     <label class="control-label">Status</label>
     <div class="controls">
        <select data-ng-model="modalData.ParcelCopy.Status" >
            <option value="Ordered">Ordered</option>
            <option value="Wipe Tested">Wipe Tested</option>
            <option value="Delivered">Delivered</option>
            <option value="Disposed">Disposed</option>
        </select>
     </div>
  </div>

  <div class="control-group">
     <label class="control-label">Authorization</label>
     <div class="controls">
        <select data-ng-model="modalData.ParcelCopy.Authorization_id">
            <option selected="selected" value="">Select an authorization</option>
            <option ng-repeat="auth in modalData.pi.Authorizations" value="{{auth.Key_id}}">{{auth.Isotope.Name}}: ({{auth.Form}})</option>
        </select>
     </div>
  </div>

  <div class="control-group">
     <label class="control-label">R.S. Number</label>
     <div class="controls">
         <input ng-model="modalData.ParcelCopy.Rs_number" />
     </div>
  </div>

  <div class="control-group">
     <label class="control-label" for="inputEmail">Purchase Order</label>
     <div class="controls">
        <select data-ng-change="selectPO()" data-ng-options="po.Purchase_order_number for po in modalData.pi.PurchaseOrders" data-ng-model="modalData.ParcelCopy.Purchase_order">
            <option style="display:none" value="">Select a Purchase Order</option>
        </select>
     </div>
  </div>

  <div class="control-group">
     <label class="control-label" for="inputEmail">Quantity</label>
     <div class="controls input-append">
        <input ng-model="modalData.ParcelCopy.Quantity"/><span class="add-on">mCi</span>
     </div>
  </div>

</div>
<div class="modal-footer">
  <a class="btn btn-large btn-success left" ng-click="saveParcel(modalData.ParcelCopy, modalData.Parcel, modalData.pi)"><i class="icon-checkmark"></i>Save</a>
  <a class="btn btn-large btn-danger left" ng-click="close()"><i class="icon-cancel-2"></i>Close</a>
</div>
