<!--
        <div class="control-group" ng-if="modalData.pi && modalData.pi.ActiveParcels.length">
            <label class="control-label">Receiving PI</label>
            <div class="controls">
                <ui-select ng-model="pi.selected" theme="selectize" ng-disabled="disabled" on-select="onSelectPi($item)">
                    <ui-select-match placeholder="Select or search for a PI">{{$select.selected.User.Name}}</ui-select-match>
                    <ui-select-choices repeat="pi in dataStore.PrincipalInvestigator | orderBy:'User.Name' |propsFilter: {User.Name: $select.search}">
                        <div ng-bind-html="pi.User.Name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
            -->
