<div cg-busy="{promise:loading, message:'Loading', backdrop:true,templateUrl:'../client-side-framework/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:Saving, message:'BioSafetyCabinetSaving', backdrop:true,templateUrl:'../client-side-framework/busy-templates/full-page-busy.html'}"></div>

<div class="right-column">
    <h1 class="card full bio-safety-cabinets"><i class="icon-cabinet"></i>Biological Safety Cabinets
        <a ng-click="showInactive = !showInactive" class="btn left" style="margin-left:10px">{{showInactive ? 'Show Active' : 'Show Inactive'}}</a>
        <a ng-click="openModal()" class="btn left" style="margin-left:10px"><i class="icon-plus-2"></i>Add Cabinet</a>
    </h1>
    <div>
        <h2 style="padding-top:60">Complete Certifications</h2>
        <h2 ng-if="!cabinets.length">No Cabinets</h2>
        <div class="full bio-safety-cabinets well full" ng-show="completeCabinets">
            <table class="table table-striped table-bordered">
                <tr class="table-header">
                    <th>EDIT</th>
                    <th>TYPE</th>
                    <th>SERIAL #</th>
                    <th>MAKE</th>
                    <th>MODEL</th>
                    <th>
                        <ul>
                            <li>
                                BUILDING<br>
                                <input ng-model="selectedBuilding" style="width:150px;" placeholder="Filter by Building" />
                            </li>
                            <li>
                                ROOM
                            </li>
                            <li>
                                CERT-DATE<br>
                                <select ng-options="certYear as certYear for certYear in certYears" ng-model="selectedCertificationDate">
                                    <option value="">All</option>
                                </select>
                            </li>
                            <li>
                                INVESTIGATOR
                            </li>
                            <li>
                                REPORT
                            </li>
                            <li>
                                COMMENTS
                            </li>
                        </ul>
                    </th>
                </tr>
                <!-- the following filter grabs cabinet inspections that have a Certification_date, stripping those with no Certification_date set: matchEquipmentDate:'':'Certification_date' -->
                <tr class="table-row" ng-repeat="cabinet in (completeCabinets = (cabinets | matchEquipmentBuilding:selectedBuilding | matchEquipmentDate:selectedCertificationDate:'Certification_date' | matchEquipmentDate:'':'Certification_date' | filter:{Is_active: !showInactive}))">
                    <td rowspan="{{inspections.legnth}}">
                        <button ng-disabled="cabinet.edit" ng-class="{'disabled':cabinet.edit}" ng-click="openModal(cabinet)" class="btn btn-primary left"><i class="icon-pencil"></i></button>
                        <button ng-disabled="cabinet.edit" ng-class="{'disabled':cabinet.edit}" ng-click="deactivate(cabinet)" class="btn btn-danger left"><i class="icon-remove"></i></button>
                    </td>
                    <td rowspan="{{inspections.legnth}}">
                        {{cabinet.Type}} | {{inspections.legnth}}
                    </td>
                    <td rowspan="{{inspections.legnth}}">
                        {{cabinet.Serial_number}}
                    </td>
                    <td rowspan="{{inspections.legnth}}">
                        {{cabinet.Make}}
                    </td>
                    <td rowspan="{{inspections.legnth}}">
                        {{cabinet.Model}}
                    </td>
                    <td>
                        
                            <ul ng-repeat="inspection in (inspections = (cabinet.EquipmentInspections | filter:{Certification_date: ''}))">
                                <li>
                                    {{inspection.Room.Building.Name}}
                                </li>
                                <li>
                                    {{inspection.Room.Name}}
                                </li>
                                <li>
                                    {{inspection.Certification_date | dateToISO}}
                                </li>
                                <li>
                                    {{inspection.PrincipalInvestigator.User.Name}}
                                </li>
                                <li>
                                    <a ng-click="report(cabinet)" class="btn btn-success left">Report</a>
                                </li>
                                <li>
                                    {{inspection.Comment}}
                                </li>
                            </ul>
                        
                    </td>
                </tr>
            </table>
        </div>

        <br>
        <h2>Incomplete Certifications</h2>
        <h2 ng-if="!neededInspections.length">No Cabinets Need Certifications for {{dueYear}}</h2>

        <div class="full bio-safety-cabinets well full" ng-show="neededInspections.length">
            <table class="table table-striped table-hover bio-safety-cabinets table-bordered ng-scope ng-isolate-scope" ng-if="!cabinets.length">
                <tr class="table-header">
                    <th>EDIT</th>
                    <th>TYPE</th>
                    <th>SERIAL #</th>
                    <th>MAKE</th>
                    <th>MODEL</th>
                    <th>
                        <ul>
                            <li>
                                BUILDING<br>
                                <input ng-model="selectedBuilding" style="width:150px;" placeholder="Filter by Building" />
                            </li>
                            <li>
                                ROOM
                            </li>
                            <li>
                                DUE-DATE<br>
                                <select ng-options="dueYear as dueYear for dueYear in dueYears" ng-model="selectedDueDate">
                                    <option value="">All</option>
                                </select>
                            </li>
                            <li>
                                INVESTIGATOR
                            </li>
                            <li>
                                REPORT
                            </li>
                            <li>
                                STATUS
                            </li>
                            <li>
                                CERTIFY
                            </li>
                        </ul>
                    </th>
                 </tr>
                <!-- the following filter grabs cabinet inspections that have no Certification_date, stripping those with Certification_date set: matchEquipmentDate:'*':'Certification_date' 
                To bad it don't seem to work. Thoughts? -->
                <tr class="table-row" ng-repeat="cabinet in neededInspections = (cabinets | matchEquipmentBuilding:selectedBuilding | matchEquipmentDate:selectedDueDate:'Due_date' | matchEquipmentDate:'*':'Certification_date' | filter:{Is_active: !showInactive})">
                    <td>
                        <button ng-disabled="cabinet.edit" ng-class="{'disabled':cabinet.edit}" ng-click="openModal(cabinet)" class="btn btn-primary left"><i class="icon-pencil"></i></button>
                        <button ng-disabled="cabinet.edit" ng-class="{'disabled':cabinet.edit}" ng-click="deactivate(cabinet)" class="btn btn-danger left"><i class="icon-remove"></i></button>
                    </td>
                    <td>
                        {{cabinet.Type}}
                    </td>
                    <td>
                        {{cabinet.Serial_number}}
                    </td>
                    <td>
                        {{cabinet.Make}}
                    </td>
                    <td>
                        {{cabinet.Model}}
                    </td>
                    <td>                        
                        <ul ng-repeat="inspection in cabinet.EquipmentInspections | filter:{Certification_date: null}">
                            <li>
                                {{inspection.Room.Building.Name}}
                            </li>
                            <li>
                                {{inspection.Room.Name}}
                            </li>
                            <li>
                                {{inspection.Due_date | dateToISO}} {{inspection.Key_id}}
                            </li>
                            <li>
                                {{inspection.PrincipalInvestigator.User.Name}}
                            </li>
                            <li>
                                <a ng-click="report(cabinet)" class="btn btn-success left">Report</a>
                            </li>
                            <li>
                                {{inspection.Status}}
                            </li>
                            <li>
                                <button ng-disabled="inspection.edit" ng-class="{'disabled':inspection.edit}" ng-click="openModal(cabinet, $index)" class="btn btn-primary left"><i class="icon-pencil"></i></button>
                            </li>
                        </ul>                        
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>
