<!--div cg-busy="{promise:Saving, message:'Saving', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div-->

<div class="right-column">
    <div class="well full">
        <h1 class="card full bio-safety-cabinets"><i class="icon-cabinet"></i>Biological Safety Cabinets
            <a ng-click="showInactive()" class="btn left" style="margin-left:10px">Show Inactive</a>
            <a ng-click="openModal()" class="btn left" style="margin-left:10px"><i class="icon-plus-2"></i><i class="icon-cabinet"></i>Add Cabinet</a>
        </h1>
        <h3 ng-if="!cabinets.length">No Cabinets</h3>
        <div class="card full bio-safety-cabinets" ng-if="cabinets.length">
            <div class="fake-table bordered">
                <div class="table-header">
                    <h3>EDIT</h3>
                    <h3>BUILDING</h3>
                    <h3>ROOM</h3>
                    <h3>TYPE</h3>
                    <h3>SERIAL #</h3>
                    <h3>MAKE</h3>
                    <h3>MODEL</h3>
                    <h3>CERT-DATE</h3>
                    <h3>DUE-DATE</h3>
                    <h3>FREQUENCY</h3>
                    <h3>PI</h3>
                    <h3>REPORT</h3>
                </div>
                <div class="table-row" ng-repeat="cabinet in cabinets | active">
                    <div>
                        <a ng-disabled="cabinet.edit" ng-class="{'disabled':cabinet.edit}" ng-click="openModal(cabinet)" class="btn btn-primary left"><i class="icon-pencil"></i></a>
                        <a ng-disabled="cabinet.edit" ng-class="{'disabled':cabinet.edit}" ng-click="deactivate(cabinet)" class="btn btn-danger left"><i class="icon-remove"></i></a>
                    </div>
                    <div>
                        {{cabinet.Building.Name}}
                    </div>
                    <div>
                        {{cabinet.Room.Name}}
                    </div>
                    <div>
                        {{cabinet.Type}}
                    </div>
                    <div>
                        {{cabinet.SerialNum}}
                    </div>
                    <div>
                        {{cabinet.make}}
                    </div>
                    <div>
                        {{cabinet.model}}
                    </div>
                    <div>
                        {{cabinet.CertDate}}
                    </div>
                    <div>
                        {{cabinet.DueDate}}
                    </div>
                    <div>
                        {{cabinet.Frequency}}
                    </div>
                    <div>
                        {{cabinet.Pi.Name}}
                    </div>
                    <div>
                        <a ng-click="report(cabinet)" class="btn btn-success left">Report</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
