<div cg-busy="{promise:loading, message:'Loading', backdrop:true,templateUrl:'../client-side-framework/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:Saving, message:'BioSafetyCabinetSaving', backdrop:true,templateUrl:'../client-side-framework/busy-templates/full-page-busy.html'}"></div>

<div class="right-column">
    <div class="well full">
        <h1 class="card-header full bio-safety-cabinets"><i class="icon-cabinet"></i>Biological Safety Cabinets
            <a ng-click="showInactive()" class="btn left" style="margin-left:10px">Show Inactive</a>
            <a ng-click="openModal()" class="btn left" style="margin-left:10px"><i class="icon-plus-2"></i>Add Cabinet</a>
        </h1>
        <h3 ng-if="!cabinets.length">No Cabinets</h3>
        <div class="full bio-safety-cabinets" ng-show="cabinets.length">
            <table class="table table-striped">
                <tr class="table-header">
                    <th>EDIT</th>
                    <th>
                        CAMPUS<br>
                        <input ng-model="selectedCampus" style="width:150px;" placeholder="Filter by Campus"/>
                    </th>
                    <th>
                        BUILDING<br>
                        <input ng-model="selectedBuilding" style="width:150px;" placeholder="Filter by Building"/>
                    </th>
                    <th>ROOM</th>
                    <th>TYPE</th>
                    <th>SERIAL #</th>
                    <th>MAKE</th>
                    <th>MODEL</th>
                    <th>
                        CERT-DATE<br>
                        <select ng-options="cabinet.Certification_date as (cabinet.Certification_date | dateToISO).split('/')[2] for cabinet in cabinets | orderBy:'Certification_date'" ng-model="selectedCertificationDate">
                            <option value="">All</option>
                        </select>
                    </th>
                    <th>DUE-DATE</th>
                    <th>FREQUENCY</th>
                    <th>PI</th>
                    <th>REPORT</th>
                </tr>
                <tr class="table-row" ng-repeat="cabinet in cabinets | matchCabinetCampus:selectedCampus | matchCabinetBuilding:selectedBuilding | matchCabinetCertDate:selectedCertificationDate">
                    <td>
                        <button ng-disabled="cabinet.edit" ng-class="{'disabled':cabinet.edit}" ng-click="openModal(cabinet)" class="btn btn-primary left"><i class="icon-pencil"></i></button>
                        <button ng-disabled="cabinet.edit" ng-class="{'disabled':cabinet.edit}" ng-click="deactivate(cabinet)" class="btn btn-danger left"><i class="icon-remove"></i></button>
                    </td>
                    <td>
                        {{cabinet.Room.Building.Campus.Name}}
                    </td>
                    <td>
                        {{cabinet.Room.Building.Name}}
                    </td>
                    <td>
                        {{cabinet.Room.Name}}
                    </td>
                    <td>
                        {{cabinet.Type}}
                    </td>
                    <td>
                        {{cabinet.Serial_number}}
                    </td>
                    <td>
                        {{cabinet.Make}}
                    </td>
                    <td>
                        {{cabinet.Model}}
                    </td>
                    <td>
                        {{cabinet.Certification_date | dateToISO}}
                    </td>
                    <td>
                        {{cabinet.Due_date | dateToISO}}
                    </td>
                    <td>
                        {{cabinet.Frequency}}
                    </td>
                    <td ng-init="cabinet.PrincipalInvestigator.loadRooms()">
                        {{cabinet.PrincipalInvestigator.User.Name}}
                    </td>
                    <td>
                        <a ng-click="report(cabinet)" class="btn btn-success left">Report</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
