<div class="full bio-safety-cabinets-container well" style="padding:5px;" ng-show="cabinets.length && completeCabinets.length || selectedBuilding || filter.pi || filter.status">
    <h2 ng-if="!uncertified">{{selectedCertificationDate || 'All'}} Certification Records -- {{campus.Name}}</h2>
    <h2 ng-if="uncertified">Uncertified Cabinets</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr class="table-header">
                <th>EDIT</th>
                <th>
                    BUILDING<br>
                    <input ng-model="selectedBuilding" style="width:150px;" placeholder="Filter by Building" />
                </th>
                <th>
                    ROOM
                </th>
                <th>TYPE</th>
                <th>MANUFACTURER</th>
                <th>MODEL</th>
                <th>SERIAL #</th>
                <th>CERT-DATE</th>
                <td>DUE-DATE</td>
                <th ng-init="filter">
                    INVESTIGATOR
                    <input ng-model="filter.pi" style="width:150px;" placeholder="Filter by PI" />
                </th>
                <th>
                    STATUS
                    <input ng-model="filter.status" style="width:100%;" placeholder="Filter by Status" />
                </th>
                <th>
                    REPORT
                </th>
                <th>COMMENTS</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="cabinet in completeCabinets = (cabinets | pi:filter.pi | status:filter.status | matchEquipmentBuilding:selectedBuilding | cabinetYear:selectedCertificationDate:uncertified | matchEquipmentCampus:campus.Key_id | filter:{Is_active: !showInactive}) track by $index" ng-class="{'inactive':!cabinet.Is_active}">
                <td>
                    <button ng-disabled="cabinet.edit" ng-class="{'disabled':cabinet.edit}" ng-click="openModal(cabinet, inspections[0], true)" class="btn btn-primary btn-mini left"><i class="icon-pencil"></i></button>
                    <button ng-disabled="cabinet.edit" ng-class="{'disabled':cabinet.edit, 'btn-success':!cabinet.Is_active}" ng-click="deactivate(cabinet)" class="btn btn-danger btn-mini left"><i class="icon-remove" ng-class="{'icon-checkmark':!cabinet.Is_active}"></i></button>
                </td>
                <td watch="inspections.length" otherwatch="completeCabinets.length" class="asdful-table-heights">
                    <div>
                        <div ng-repeat="inspection in inspections = (cabinet.EquipmentInspections | cabinetInspectionYear:selectedCertificationDate:uncertified | hasMoved:'Room' | orderBy:'Due_date':true)">
                            <span>{{inspection.Room.Building.Alias || inspection.Room.Building.Name}}</span>
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <div ng-repeat="inspection in inspections = (cabinet.EquipmentInspections | cabinetInspectionYear:selectedCertificationDate:uncertified | hasMoved:'Room' | orderBy:'Due_date':true)">
                            <span>{{inspection.Room.Name}}</span>
                        </div>
                    </div>
                </td>
                <td>
                    {{cabinet.Type}}
                </td>

                <td>
                    {{cabinet.Make}}
                </td>
                <td>
                    {{cabinet.Model}}
                </td>
                <td>
                    {{cabinet.Serial_number}}
                </td>                
                <td style="text-align:center">
                    <div>
                        <div ng-repeat="inspection in inspections = (cabinet.EquipmentInspections | cabinetInspectionYear:selectedCertificationDate:uncertified | orderBy:'Due_date':true)">
                            <span><a ng-class="{'btn-success':inspection.Certification_date, 'btn-danger':inspection.Status == 'FAIL','btn-info':inspection.Status != 'FAIL' && !inspection.Certification_date}" ng-click="openModal(cabinet, inspection)" class="btn left"><span ng-if="inspection.Certification_date || inspection.Fail_date">{{inspection.Certification_date || inspection.Fail_date | dateToISO}}</span><i class="icon-calendar-alt-stroke"></i></a></span>
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <div ng-repeat="inspection in inspections = (cabinet.EquipmentInspections | cabinetInspectionYear:selectedCertificationDate:uncertified | orderBy:'Due_date':true)">
                            <span>{{inspection.Due_date | dateToISO}}</span>
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <div ng-repeat="inspection in inspections = (cabinet.EquipmentInspections | cabinetInspectionYear:selectedCertificationDate:uncertified | hasMoved:'PrincipalInvestigators' | orderBy:'Due_date':true)">
                            <span><a ng-click="openPiInfoModal(pi)" ng-repeat="pi in inspection.PrincipalInvestigators">{{pi.User.Name}}<br ng-if="!$last"></a></span>
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <div ng-repeat="inspection in inspections = (cabinet.EquipmentInspections | cabinetInspectionYear:selectedCertificationDate:uncertified | orderBy:'Due_date':true)">
                            <span><span class="bold" ng-class="{'red': inspection.Status == constants.BIOSAFETY_CABINET.STATUS.FAIL || inspection.Status == constants.BIOSAFETY_CABINET.STATUS.OVERDUE,
                                        'yellow': inspection.Status == constants.BIOSAFETY_CABINET.STATUS.PENDING || inspection.Status == constants.BIOSAFETY_CABINET.STATUS.NEW_BSC,
                                        'green': inspection.Status == constants.BIOSAFETY_CABINET.STATUS.PASS }">{{inspection.Status}}</span> </span>
                        </div>
                    </div>                             
                </td>
                <td>
                    <div>
                        <div ng-repeat="inspection in inspections = (cabinet.EquipmentInspections | cabinetInspectionYear:selectedCertificationDate:uncertified | orderBy:'Due_date':true)">
                            <span>
                                <sapn ng-if="inspection.Status == inspection.Status == 'FAIL' || inspection.Status == 'PASS'">
                                    <span class="btn-group dropup">
                                        <a ng-if="inspection.Report_path" class="btn btn-success" href="../biosafety-committees/protocol-documents/{{inspection.Report_path}}" target="_blank">Report</a>
                                        <a ng-if="!inspection.Report_path" class="btn btn-success disabled">Report</a>

                                        <a class="btn dropdown-toggle upload-container" click-target="inspection" url-fragment="uploadReportCertDocument">
                                            <span class="icon-upload-4"></span>
                                            <input type="file" name="file" id="file" class="inputfile inputfile-1" />
                                        </a>
                                    </span>

                                    <span class="btn-group dropup">
                                        <a ng-if="inspection.Quote_path" class="btn btn-info" href="../biosafety-committees/protocol-documents/{{inspection.Quote_path}}" target="_blank">Quote</a>
                                        <a ng-if="!inspection.Quote_path" class="btn btn-info disabled">Quote</a>

                                        <a class="btn dropdown-toggle upload-container" click-target="inspection" url-fragment="uploadReportQuoteDocument">
                                            <span class="icon-upload-4"></span>
                                            <input type="file" name="file" id="file" class="inputfile inputfile-1" />
                                        </a>
                                    </span>
                                </sapn>
                            </span>
                        </div>
                    </div>       
                </td>
                <td>
                    <div>
                        <div ng-repeat="inspection in inspections = (cabinet.EquipmentInspections | cabinetInspectionYear:selectedCertificationDate:uncertified | orderBy:'Due_date':true)">
                            <span>{{inspection.Comment}}</span>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
