<div class="dashboard">
    <div class="row-fluid" style="margin-top: -55px;">
        <h2>Equipment</h2>
        <div class="left-nav">
            <h4 class="section-header">Location:
                <input class="left-nav-typeahead" type="text" ng-model="customSelected" placeholder="Select a location" typeahead="location as (location.Name) for locations in typeAheadPis | filter:$viewValue">
            </h4>
            
            <ul class="sideNav">
                <li><a class="autoclaves" ui-sref="equipment.autoclaves">Autoclaves</a></li>
                <li><a class="bio-safety-cabinets" ui-sref="equipment.bio-safety-cabinets">Biological Safety Cabinets</a></li>
                <li><a class="chem-fume-hoods" ui-sref="equipment.chem-fume-hoods">Chemical Fume Hoods</a></li>
                <li><a class="lasers" ui-sref="equipment.lasers">Lasers</a></li>
                <li><a class="x-ray" ui-sref="equipment.x-ray">X-Ray Machines</a></li>
            </ul>
        </div>

        <div ui-view></div>

    </div>
</div>
