<div class="dashboard">
    <div class="row-fluid" style="margin-top: -15px;">
        <div class="left-nav">
            <ul class="sideNav">
                <li><a class="inventories" ui-sref="radmin.inventories">Autoclaves</a></li>
                <li><a class="wipe-tests" ui-sref="radmin.wipe-tests">Biological Safety Cabinets</a></li>
                <li><a class="pickups" ui-sref="admin-pickups">Chemical Fume Hoods</a></li>
                <li><a class="solids-containers" ui-sref="radmin.disposals">Lasers</a></li>
                <li><a class="carboys" ui-sref="radmin.carboys">X-Ray Machines</a></li>
            </ul>
        </div>

        <div ui-view></div>

    </div>
</div>
