<!--div cg-busy="{promise:Saving, message:'Saving', backdrop:true,templateUrl:'views/busy-templates/full-page-busy.html'}"></div-->

<div class="right-column">
    <div class="well full">
        <h1 class="card full x-ray"><i class="icon-autoclave"></i>X-Ray Machines
            <a ng-click="showInactive()" class="btn left" style="margin-left:10px">Show Inactive</a>
            <a ng-click="openModal()" class="btn left" style="margin-left:10px"><i class="icon-plus-2"></i><i class="icon-xrays"></i>Add Machine</a>
        </h1>
        <h3 ng-if="!xrays.length">No X-Ray Machines</h3>
        <div class="card full x-ray" ng-if="xrays.length">
            <div class="fake-table bordered">
                <div class="table-header">
                    <h3>EDIT</h3>
                    <h3>BUILDING</h3>
                    <h3>ROOM</h3>
                    <h3>TYPE</h3>
                    <h3>SERIAL #</h3>
                    <h3>CONTRACT STATUS</h3>
                    <h3>VENDOR CONTACT</h3>
                    <h3>COMMENTS</h3>
                </div>
                <div class="table-row" ng-repeat="machine in xrays | active">
                    <div>
                        <a ng-disabled="machine.edit" ng-class="{'disabled':machine.edit}" ng-click="openModal(machine)" class="btn btn-primary left"><i class="icon-pencil"></i></a>
                        <a ng-disabled="machine.edit" ng-class="{'disabled':machine.edit}" ng-click="deactivate(machine)" class="btn btn-danger left"><i class="icon-remove"></i></a>
                    </div>
                    <div>
                        {{machine.Building.Name}}
                    </div>
                    <div>
                        {{machine.Room.Name}}
                    </div>
                    <div>
                        {{machine.Type}}
                    </div>
                    <div>
                        {{machine.SerialNum}}
                    </div>
                    <div>
                        {{machine.ContractStatus}}
                    </div>
                    <div>
                        {{machine.VendorContact}}
                    </div>
                    <div>
                        {{machine.Comment}}
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
