<h1 class="alert alert-danger" ng-if="error">{{error}}</h1>
<div cg-busy="{promise:saving,message:'Saving',backdrop:true,templateUrl:'../../client-side-framework/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:loadingHasHazards,message:'Loading',backdrop:true,templateUrl:'../../client-side-framework/busy-templates/full-page-busy.html'}"></div>
<div class="loading" ng-if="loading" style="margin-top: 140px;">
    <i class="icon-spinnery-dealie spinner large"></i>
    <span>Getting Lab Locations...</span>
</div>
<table class="table table-striped table-hover piTable table-bordered locationTable" scroll-table watch="filtered.length" ng-if="rooms && !loading && !modal" style="margin-top: 140px;">
    <thead>
        <tr class="blueBg">
            <th colspan="5" class="blueBg">
                <h1 class="blueBg">Laboratory Locations</h1>
                <div class="btn-group" style="margin:-22px 0 0 30px">
                    <a ng-if="rbf.getHasPermission([ R[Constants.ROLE.NAME.ADMIN],  R[Constants.ROLE.NAME.RADIATION_ADMIN]])" class="btn-large btn" ng-click="editRoom()" style="padding:10px; margin-left:5px;"><i class="icon-plus-2" style="margin: 3px 13px 0 0 !important;font-size: 21px;"></i>Add Lab Room</a>
                    <a style="margin-left: 6px;font-size: 19px;height: 22px;" class="btn-large btn left" href="../../ajaxaction.php?action=getLocationCSV"><i class="icon-download"></i>Download Report</a>
                </div>

                <div class="blueBg" style="float:right; margin-top:-3px">
                    <p class="pagination" ng-init="paginationObj = {start:0, range:100}" 
                       style="position:absolute; margin-top:21px;right:5px">
                        <button class="btn btn-mini" ng-click="paginationObj.start = 0" ng-disabled="paginationObj.start == 0">First</button>
                        <button class="btn btn-mini" ng-click="paginationObj.start = paginationObj.start - 100" ng-disabled="paginationObj.start == 0"><<</button>
                        <span style="margin-top:3px;display:inline-block;color:#333">
                            {{paginationObj.start}} - {{paginationObj.start + 100}}
                        </span>
                        <button class="btn btn-mini" ng-click="paginationObj.start = paginationObj.start + 100" ng-disabled="filtered.length - paginationObj.start < 100">>></button>
                        <button class="btn btn-mini" ng-click="paginationObj.start = roundDown(filtered.length, paginationObj.range)" ng-disabled="filtered.length - paginationObj.start < 100">Last</button>
                    </p>
                    <span>
                        <span class="bold underline">{{(filtered | filter:{Is_active: true}).length}}</span>
                        Laboratory Locations
                    </span>
                </div>
            </th>
        </tr>
        <tr>
            <th class="lhcol_edit">Edit</th>
            <th class="lhcol_building">Building</th>
            <th class="lhcol_name">Room Number</th>
            <th class="lhcol_type">T</th>
            <th class="lhcol_campus">Campus</th>
        </tr>
        <tr>
            <th class="lhcol_edit"></th>
            <th class="lhcol_building">
                <input class="span2" ng-model="search.building" placeholder="Filter by Building" />
            </th>
            <th class="lhcol_name">
                <input class="span2" ng-model="search.room" placeholder="Filter by Lab Room" />
            </th>
            <th class="lhcol_type"></th>
            <th class="lhcol_campus">
                <input class="span2" ng-model="search.campus" placeholder="Filter by Campus" />
            </th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="room in (filtered = (rooms | orderBy:['isNew', 'Building_name', convenienceMethods.sortAlphaNum('Name')] | genericFilter:search)) | paginationFilter:paginationObj.start:100" ng-class="{'inactive': !room.Is_active, 'new': room.isNew, 'edit':room.edit}">
            <td class="lhcol_edit">
                <button ng-disabled="editingRoom || !rbf.getHasPermission([ R[Constants.ROLE.NAME.ADMIN],  R[Constants.ROLE.NAME.RADIATION_ADMIN]])" ng-if="!room.edit" class="edit btn btn btn-primary" ng-click="editRoom(room)" alt="Edit" title="Edit"><i class="icon-pencil"></i></button>
                <button ng-disabled="editingRoom || !rbf.getHasPermission([ R[Constants.ROLE.NAME.ADMIN],  R[Constants.ROLE.NAME.RADIATION_ADMIN]])" class="btn btn-danger btn DeactivateeRow" ng-click="confirmDeactivate(room)" ng-if="room.Is_active && !room.edit" alt="Deactivate" title="Deactivate"><i class="icon-remove"></i></button>
                <button ng-disabled="editingRoom || !rbf.getHasPermission([ R[Constants.ROLE.NAME.ADMIN],  R[Constants.ROLE.NAME.RADIATION_ADMIN]])" class="btn btn-success btn DeactivateeRow" ng-click="lhf.handleObjectActive(room)" ng-if="!room.Is_active && !room.edit"><i class="icon-checkmark"></i></button>

                <button ng-disabled="!rbf.getHasPermission([ R[Constants.ROLE.NAME.ADMIN],  R[Constants.ROLE.NAME.RADIATION_ADMIN]])" class="btn btn-danger btn DeactivateeRow" ng-click="cancelEdit(room)" ng-if="room.edit"><i class="icon-cancel-2"></i></button>
                <button ng-disabled="!rbf.getHasPermission([ R[Constants.ROLE.NAME.ADMIN],  R[Constants.ROLE.NAME.RADIATION_ADMIN]])" class="btn btn-success btn DeactivateeRow" ng-click="saveRoom(roomCopy, room)" ng-if="room.edit"><i class="icon-checkmark"></i></button>
                <i class="icon-spinnery-dealie spinner small" style="position:absolute;margin: 3px;" ng-if="room.IsDirty"></i>
            </td>

            <td class="lhcol_building">
                <span ng-if="!room.edit">{{lhf.getBuildingByRoom(room).Name}}</span>
                <div class="control-group" ng-if="room.edit">
                    <div class="controls">
                        <select style="max-width:300px; margin:3px 0 0" value=""
                                ng-model="roomCopy.Building_id" 
                                ng-options="building.Key_id as building.Name for building in lhf.buildings | orderBy:'Name'">
                            <option value="">--Select Building--</option>
                        </select>
                    </div>
                </div>
            </td>

            <td class="lhcol_name">
                <input ng-model="roomCopy.Name" placeholder="Name" ng-if="room.edit" style="max-width:115px" />
                <span ng-if="!room.edit">{{room.Name}}</span>
            </td>

            <td class="lhcol_type">
                <span style="padding-right: 5px;"
                    ng-init="type = constants.ROOM_TYPE[room.Room_type]">
                    <img ng-if="type.img_src" width="15px;" ng-src="{{type.img_src}}"/>
                    <i ng-if="type.icon_class" class="{{type.icon_class}}"></i>
                </span>
            </td>

            <td class="lhcol_campus" once-text="room.Building.Campus.Name"></td>
        </tr>
    </tbody>
</table>
