<div class="loading" ng-if="loading">
    <i class="icon-spinnery-dealie spinner large"></i>
    <span>Getting Buildings...</span>
</div>

<table class="userList table table-striped table-hover piTable table-bordered locationTable sticky-headers" sticky-headers ng-if="buildings && !loading" watch="filtered.length">
    <thead>
        <tr>
            <th colspan="5" class="theme-main-element">
                <h1 >Buildings</h1>
                <div class="btn-group" style="margin:-22px 0 0 30px">
                    <a ng-if="userCanEditBuilding" class="btn-large btn" ng-click="addBuilding()" style="padding:10px; margin-left:5px;"><i class="icon-plus-2" style="margin: 3px 13px 0 0 !important;font-size: 21px;"></i>Add Building</a>
                </div>
                <h2 style="float:right; margin-top:8"><span class="bold underline">{{filtered.length}}</span> Building Displayed</h2>
            </th>
        </tr>
        <tr>
            <th clas="temp">Edit</th>
            <th>
                <a>Building</a><br>
                <input class="span2" ng-model="search.building" placeholder="Filter by Building" />
            </th>
            <th>
                <a>Alias</a>
                <i class="icon-help pull-right"
                   style="color: #777"
                   popover="As of April 2020, Building Aliases are displayed in the Hazard Hub and Hazard Inventory."></i>
                <br>
                <input class="span2" ng-model="search.alias" placeholder="Filter by Alias" />
            </th>
            <th>
                Physical Address
            </th>
            <th style="width:15.4%;">
                <a>Campus</a><br>
                <input class="span2" ng-model="search.campus" placeholder="Filter by Campus" />
            </th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="building in (filtered = (buildings | genericFilter:search | orderBy:['index', 'Campus.Name', 'Name']))" ng-class="{'inactive': !building.Is_active, 'new': building.isNew, 'theme-underlight-element': building.edit}">
            <td style="width:6%;">

                <span ng-if="!building.edit">
                    <button ng-disabled="lhf.isEditing || !userCanEditBuilding" ng-if="!building.edit" class="edit btn btn btn-primary" ng-click="lhf.setEditState(building, buildings);" alt="Edit" title="Edit" title="Edit"><i class="icon-pencil"></i></button>
                    <button ng-disabled="lhf.isEditing || !userCanEditBuilding" class="btn btn-danger btn DeactivateeRow" ng-click="lhf.handleObjectActive(building)" ng-if="building.Is_active" alt="Deactivate" title="Deactivate"><i class="icon-remove"></i></button>
                    <button ng-disabled="lhf.isEditing || !userCanEditBuilding" class="btn btn-success btn DeactivateeRow" ng-click="lhf.handleObjectActive(building)" ng-if="!building.Is_active"><i class="icon-checkmark"></i></button>
                    <i class="icon-spinnery-dealie spinner small" style="position:absolute;margin: 3px;" ng-if="building.IsDirty"></i>
                </span>

                <span ng-if="building.edit">
                    <button class="btn-danger btn" ng-click="lhf.cancelEdit(building, buildings); lhf.editing(false);"><i class="icon-cancel-2"></i></button>

                    <button ng-if="copy.Name && copy.Campus_id" class="btn-success btn" ng-click="saveBuilding(building); lhf.editing(false);"><i class="icon-checkmark"></i></button>
                    <button ng-if="!copy.Name || !copy.Campus_id" class="btn-success btn" disabled="disabled"><i class="icon-checkmark"></i></button>
                    <i class="icon-spinnery-dealie spinner small" style="position:absolute;margin: 3px;" ng-if="building.IsDirty"></i>
                </span>

            </td>

            <td style="width:15%">
                <span ng-if="!building.edit" once-text="building.Name"></span>
                <input ng-if="building.edit" ng-model="copy.Name" ng-change="lhf.editing(true)" class="full" placeholder="Name">
            </td>
            <td style="width:15%">
                <span ng-if="!building.edit" once-text="building.Alias"></span>
                <input ng-if="building.edit" ng-model="copy.Alias" ng-change="lhf.editing(true)" placeholder="Alias">
            </td>

            <td style="width:15%">
                <div ng-if="!building.edit" class="even-content" style="align-items: center;">
                    <div once-text="building.Physical_address"></div>
                    <a class="btn btn-info" target="_blank"
                       title="View Map"
                       ng-if="building.Map_url" ng-href="{{building.Map_url}}">
                        <i class="icon-map-pin-fill"></i>
                    </a>
                </div>
                <div ng-if="building.edit">
                    <div class="full even-content">
                        <input ng-model="copy.Physical_address" ng-change="lhf.editing(true)" style="width: 80%"
                            placeholder="Address">

                        <a ng-if="!copy.Map_url && !copy.showmap" ng-click="copy.showmap = true"
                            class="btn"
                            style="font-size: small; margin-left:auto;"
                            title="Add a maps link (such as from Google Maps) to this Building">
                            <i class="icon-map-pin-fill"></i>
                        </a>
                    </div>

                    <div ng-if="copy.Map_url || copy.showmap" class="even-content full" style="margin-top: 10px; align-items: flex-start;">
                        <input type="url" ng-model="copy.Map_url" ng-change="lhf.editing(true)"
                            placeholder="Maps link" style="width: 80%">

                        <a class="btn btn-info" target="_blank"
                           ng-if="copy.Map_url" ng-href="{{copy.Map_url}}">
                            <i class="icon-map-pin-fill"></i>
                        </a>
                    </div>
                </div>
            </td>
            <td style="width:15%">
                <span ng-if="building.edit">
                    <select ng-model="copy.Campus_id" ng-options="campus.Key_id as campus.Name for campus in campuses">
                        <option value="" style="display:none"></option>
                    </select>
                </span>
                <span ng-if="!building.edit" once-text="building.Campus.Name"></span>
            </td>
        </tr>
    </tbody>
</table>
