<div cg-busy="{promise:saving,message:'Saving',backdrop:true,templateUrl:'../../client-side-framework/busy-templates/full-page-busy.html'}"></div>
<div cg-busy="{promise:loadingHasHazards,message:'Loading',backdrop:true,templateUrl:'../../client-side-framework/busy-templates/full-page-busy.html'}"></div>
<div class="loading" ng-if="loading">
    <i class="icon-spinnery-dealie spinner large"></i>
    <span>Getting  {{roomType.label}} data...</span>
</div>
<table class="table table-striped table-hover piTable table-bordered locationTable sticky-headers" sticky-headers watch="filtered.length" ng-if="rooms && !loading && !modal">
    <thead>
        <tr>
            <th colspan="7" class="theme-main-element">
                <h1>
                    <span class="room-type-icon">
                        <img ng-if="roomType.img_src" width="25px" ng-src="{{roomType.img_src}}"/>
                        <i ng-if="roomType.icon_class" class="{{roomType.icon_class}}"></i>
                    </span>
                    {{roomType.label_plural}}
                </h1>

                <div class="btn-group" style="margin:-22px 0 0 30px">
                    <a ng-if="userCanEditRoom" class="btn-large btn" ng-click="editRoom()" style="padding:10px; margin-left:5px;"><i class="icon-plus-2" style="margin: 3px 13px 0 0 !important;font-size: 21px;"></i>Add {{roomType.label}}</a>
                </div>

                <div style="float:right; margin-top:-3px">
                    <p class="pagination" ng-init="paginationObj = {start:0, range:100}" 
                       style="position:absolute; margin-top:21px;right:5px">
                        <button class="btn btn-mini" ng-click="paginationObj.start = 0" ng-disabled="paginationObj.start == 0">First</button>
                        <button class="btn btn-mini" ng-click="paginationObj.start = paginationObj.start - 100" ng-disabled="paginationObj.start == 0"><<</button>
                        <span style="margin-top:3px;display:inline-block;color:#333">
                            {{paginationObj.start}} - {{paginationObj.start + 100}}
                        </span>
                        <button class="btn btn-mini" ng-click="paginationObj.start = paginationObj.start + 100" ng-disabled="filtered.length - paginationObj.start < 100">>></button>
                        <button class="btn btn-mini" ng-click="paginationObj.start = roundDown(filtered.length, paginationObj.range)" ng-disabled="filtered.length - paginationObj.start < 100">Last</button>
                    </p>
                    <span>
                        <span class="bold underline">{{result_count = (filtered | filter:{Is_active: true}).length}}</span>
                        {{result_count == 1 ? roomType.label : roomType.label_plural}}
                    </span>
                </div>
            </th>
        </tr>
        <tr>
            <th class="lhcol_edit">Edit</th>
            <th class="lhcol_building">Building</th>
            <th class="lhcol_name">Room Number</th>
            <th class="lhcol_courses">Course(s)</th>
            <th>Teaching Lab Contact</th>
            <th>Department</th>

            <th class="lhcol_campus">Campus</th>
        </tr>
        <tr>
            <th class="lhcol_edit"></th>
            <th class="lhcol_building">
                <input class="span2" ng-model="search.building" placeholder="Filter by Building" />
            </th>
            <th class="lhcol_name">
                <input class="span2" ng-model="search.room" placeholder="Filter by Lab Room" />
            </th>
            <th class="lhcol_courses"></th>
            <th>
                <input class="span2" ng-model="search.assignedUser" placeholder="Filter by {{roomType.assignable_to}}" />
            </th>
            <th>
                <input class="span2" ng-model="search.department" placeholder="Filter by {{roomType.assignable_to}} Department" />
            </th>
            <th class="lhcol_campus">
                <input class="span2" ng-model="search.campus" placeholder="Filter by Campus" />
            </th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="room in (filtered = (rooms | roomTypeFilter:roomType.name | orderBy:['isNew', 'Building_name', convenienceMethods.sortAlphaNum('Name')] | genericFilter:search)) | paginationFilter:paginationObj.start:100" ng-class="{'inactive': !room.Is_active, 'new': room.isNew, 'theme-underlight-element':room.edit}">
            <td class="lhcol_edit">
                <button ng-disabled="editingRoom || !userCanEditRoom" ng-if="!room.edit" class="edit btn btn btn-primary" ng-click="editRoom(room)" alt="Edit" title="Edit"><i class="icon-pencil"></i></button>
                <button ng-disabled="editingRoom || !userCanEditRoom" class="btn btn-danger btn DeactivateeRow" ng-click="confirmDeactivate(room)" ng-if="room.Is_active && !room.edit" alt="Deactivate" title="Deactivate"><i class="icon-remove"></i></button>
                <button ng-disabled="editingRoom || !userCanEditRoom" class="btn btn-success btn DeactivateeRow" ng-click="lhf.handleObjectActive(room)" ng-if="!room.Is_active && !room.edit"><i class="icon-checkmark"></i></button>

                <button ng-disabled="!userCanEditRoom" class="btn btn-danger btn DeactivateeRow" ng-click="cancelEdit(room)" ng-if="room.edit"><i class="icon-cancel-2"></i></button>
                <button ng-disabled="!userCanEditRoom" class="btn btn-success btn DeactivateeRow" ng-click="saveRoom(roomCopy, room)" ng-if="room.edit"><i class="icon-checkmark"></i></button>
                <i class="icon-spinnery-dealie spinner small" style="position:absolute;margin: 3px;" ng-if="room.IsDirty"></i>
            </td>

            <td class="lhcol_building">
                <span ng-if="!room.edit">{{lhf.getBuildingByRoom(room).Name}}</span>
                <div class="control-group" ng-if="room.edit">
                    <div class="controls">
                        <select style="max-width:300px; margin:3px 0 0" value=""
                                ng-model="roomCopy.Building_id" 
                                ng-options="building.Key_id as building.Name for building in lhf.buildings | orderBy:'Name'">
                            <option value="">--Select Building--</option>
                        </select>
                    </div>
                </div>
            </td>

            <td class="lhcol_name">
                <input ng-model="roomCopy.Name" placeholder="Name" ng-if="room.edit" style="max-width:115px" />
                <span ng-if="!room.edit">{{room.Name}}</span>
            </td>

            <td class="lhcol_courses">
                <textarea ng-model="roomCopy.Purpose" placeholder="Course(s)" ng-if="room.edit" maxlength="255" />
                <pre ng-if="!room.edit" class="no-background no-border" style="font-family: inherit;">{{room.Purpose}}</pre>
            </td>

            <!-- Edit-mode display of Assignee (1 col)-->
            <td ng-if="room.edit" colspan="2">
                <div ng-if="room.edit" class="control-group">
                    <span ng-if="!assignableUsers" class="even-content" style="align-items: center;">
                        <i class="icon-spinnery-dealie spinner small"></i>
                        <input style="margin: 0; flex-grow: 1;"
                            type="text"
                            placeholder="Getting {{roomType.assignable_to}} users..."
                            disabled="disabled"
                            style="flex-grow:1;">
                    </span>
                    <div ng-if="assignableUsers" class="controls even-content">
                        <a ng-click="assignUser(null, false)" class="btn btn-mini btn-danger left"
                           title="Unassign">
                            <i class="icon-cancel"></i>
                        </a>

                        <ui-select  ng-show="assignableUsers"
                                    ng-model="assignableUsers.selected"
                                    theme="selectize"
                                    ng-disabled="disabled"
                                    on-select="assignUser($item, true)"
                                    style="flex-grow: 1;">
                            <ui-select-match placeholder="Select a {{roomType.assignable_to}}">
                                <div class="even-content" style="padding-right: 3%">
                                    <span style="flex-grow: 1;">{{$select.selected.Name}}</span>
                                    <div class="italic">
                                        <span once-text="$select.selected.Departments[0].Name"></span>
                                        <span ng-if="$select.selected.Departments.length > 1">, ({{$select.selected.Departments.length - 1}} more)...</span>
                                    </div>
                                </div>
                            </ui-select-match>
                            <ui-select-choices repeat="user in assignableUsers | propsFilter: {Name: $select.search}">
                                <div class="even-content" style="padding-right: 5%;">
                                    <span style="flex-grow: 1;">{{user.Name}}</span>
                                    <div class="italic" style="text-align: right">
                                        <div ng-repeat="dept in user.Departments" once-text="dept.Name"></div>
                                    </div>
                                </div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </td>

            <!-- Non-edit mode Unassigned display (2 cols) -->
            <td ng-if="!room.edit && !room.UserAssignments.length" class="italic">Unassigned</td>
            <td ng-if="!room.edit && !room.UserAssignments.length" class="italic">Unassigned</td>

            <!-- Non-edit mode Assignee display (2 cols)-->
            <td ng-if="!room.edit && $index == 0" ng-repeat-start="assignment in room.UserAssignments"
                ng-class="{
                    inactive: room.UserAssignments[0] && !room.UserAssignments[0].User.Is_active
                }">
                <span ng-repeat="assignment in room.UserAssignments"
                      ng-if="$index == 0"
                      ng-class="{ 'inactive-contact': !assignment.User.Is_active }"
                      once-text="assignment.User.Name"></span>
            </td>
            <td ng-if="!room.edit && $index == 0" ng-repeat-end>
                <ul ng-repeat="assignment in room.UserAssignments" ng-if="$index == 0">
                    <li ng-repeat="dept in assignment.User.Departments">{{ dept.Name }}</li>
                    <li ng-if="!assignment.User.Departments.length" class="italic">Unassigned</li>
                </ul>
            </td>
            <!---->

            <td class="lhcol_campus">
                <span once-text="room.Building.Campus.Name"></span>
            </td>
        </tr>
    </tbody>
</table>
