<h1 class="alert alert-danger" ng-if="error">{{error}}</h1>
<div class="loading" ng-if="loading" style="margin-top: 140px;">
  <i class="icon-spinnery-dealie spinner large"></i>
  <span>Getting Lab Locations...</span>
</div>
<table class="userList table table-striped table-hover piTable table-bordered locationTable" scroll-table watch="filtered.length" ng-if="rooms && !loading && !modal" style="margin-top: 140px;">
    <thead>
        <tr class="blueBg">
            <th colspan="8" class="blueBg">
                <h1 class="blueBg">Laboratory Locations</h1>
                <div class="btn-group" style="margin:-22px 0 0 30px">
                 <a ng-if="rbf.getHasPermission([ R[Constants.ROLE.NAME.ADMIN],  R[Constants.ROLE.NAME.RADIATION_ADMIN]])" class="btn-large btn" ng-click="openRoomModal()" style="padding:10px; margin-left:5px;"><i class="icon-plus-2" style="margin: 3px 13px 0 0 !important;font-size: 21px;"></i>Add Lab Room</a>
                 <a style="  margin: 3px 0px 0 6px !important;font-size: 19px;height: 22px;" class="btn-large btn left" href="../../ajaxaction.php?action=getLocationCSV"><i class="icon-download"></i>Download Report</a>
               </div>
                   <h2 class="blueBg" style="float:right; margin-top:8"><span class="bold underline">{{filtered.length}}</span> Laboratory Locations Displayed</h2>
            </th>
        </tr>
        <tr>
            <th clas="temp">Edit</th>
            <th>
                Building<br>
                <input class="span2" ng-model="search.building" placeholder="Filter by Building"/>
            </th>
            <th>
                Room Number
                <input class="span2" ng-model="search.room" placeholder="Filter by Lab Room"/>
            </th>
            <th>
                Room Hazards
                <select ng-model="search.hazards" ng-options="v.value as v.label for (k,v) in constants.ROOM_HAZARDS" style="margin-bottom: 0;width: 142px;">
                    <option value="">Select</option>
                </select>
            </th>
            <th>
                Room Use
                <input class="span2" ng-model="search.purpose" placeholder="Filter by Lab Use"/>
            </th>
            <th style="width:12.6%">
                <label style="margin-bottom: -21px;width: 45%;display: inline-block; font-weight:bold;font-size: .9vw;">
                    Lab PI
                    <input class="span2" ng-model="search.pi" placeholder="Filter by PI"/>
                </label>
                <ul>
                    <li><label style="margin-bottom: -21px;width: 45%;display: inline-block; font-weight:bold;font-size: .9vw;">Department(s)</label><br>
                <input class="span2" ng-model="search.department" placeholder="Filter by Department"/></li>
                </ul>
            </th>
            <th>
                Campus
                <input class="span2" ng-model="search.campus" placeholder="Filter by Campus"/>
            </th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="room in (filtered = (rooms |  orderBy:['index', 'Building.Campus.Name', 'Building.Name', 'Name'] | genericFilter:search))" ng-class="{'inactive': !room.Is_active, 'new': room.isNew}">
            <td style="width:6%;">
                <button ng-disabled="!rbf.getHasPermission([ R[Constants.ROLE.NAME.ADMIN],  R[Constants.ROLE.NAME.RADIATION_ADMIN]])" ng-hide="contact.edit" class="edit btn btn btn-primary" ng-click="openRoomModal(room)" alt="Edit" title="Edit" title="Edit"><i class="icon-pencil"></i></button>
                <button ng-disabled="!rbf.getHasPermission([ R[Constants.ROLE.NAME.ADMIN],  R[Constants.ROLE.NAME.RADIATION_ADMIN]])" class="btn btn-danger btn DeactivateeRow" ng-click="lhf.handleObjectActive(room)" ng-if="room.Is_active"alt="Deactivate" title="Deactivate"><i class="icon-remove"></i></a>
                <button ng-disabled="!rbf.getHasPermission([ R[Constants.ROLE.NAME.ADMIN],  R[Constants.ROLE.NAME.RADIATION_ADMIN]])" class="btn btn-success btn DeactivateeRow" ng-click="lhf.handleObjectActive(room)" ng-if="!room.Is_active"><i class="icon-checkmark"></i></button>
                <i class="icon-spinnery-dealie spinner small" style="position:absolute;margin: 3px;" ng-if="room.IsDirty"></i>
            </td>

            <td style="width:20%">
                {{lhf.getBuildingByRoom(room).Name}}
            </td>

            <td once-text="room.Name" style="width:8%;">
            </td>

            <td style="width:9%" class="hazard-icons">
                <span ng-if="room.Bio_hazards_present"><img src="../../img/biohazard-largeicon.png"/></span>
                <span ng-if="room.Chem_hazards_present"><img src="../../img/chemical-blue-icon.png"/></span>
                <span ng-if="room.Rad_hazards_present"><img src="../../img/radiation-large-icon.png"/></span>
            </td>

            <td once-text="room.Purpose" style="width:10%;">
            </td>

            <td  style="width:34%">
                <ul ng-if="room.PrincipalInvestigators.length">
                    <li ng-repeat="pi in room.PrincipalInvestigators" class="piList" ng-class="{unassigned: pi.User.Name == 'Unassigned'}">
                        <span><a once-href="'PIHub.php#/rooms?pi='+pi.Key_id" once-text="pi.User.Name"></a></span>
                        <ul>
                            <li ng-if="!pi.Departments || !pi.Departments.length" class="unassigned" style="color:#f00">Unassigned</li>
                            <li ng-repeat="department in pi.Departments" ng-class="{unassigned: department.Name == 'Unassigned'}"><span once-text="department.Name"></span></li>
                        </ul>
                    </li>
                </ul>
                <ul ng-if="!room.PrincipalInvestigators.length">
                    <li>
                        <span style="color:#f00;">Unassigned</span>
                        <ul>
                            <li><span style="color:#f00;">Unassigned</span></li>
                        </ul>
                </ul>
            </td>

            <td style="width:12%" once-text="room.Building.Campus.Name">
            </td>
        </tr>
    </tbody>
</table>
