<div class="modal-header footer-present" style="padding:0;">
    <h2 style="padding:5px;" class="redBg">{{pi.User.Name}}'s Inspection Comments</h2>
</div>
<div class="modal-body">
    <h2 class="alert alert-danger" ng-if="error">{{error}}</h2>
   <h3 ng-if="!pi.editNote && pi.Inspection_notes"><a style="margin-right:5px;" ng-click="edit(true)" class="btn btn-primary"><i class="icon-pencil"></i></a><span ng-bind-html="piCopy.Inspection_notes | sanitize"></span></h3>
   <textarea ui-tinymce="tinymceOptions" ng-if="pi.editNote || !pi.Inspection_notes" ng-model="piCopy.Inspection_notes" style="width:100%;" rows="5" placeholder="Enter inspection comments"></textarea>
   <br><br>
</div>
<div class="modal-footer">
    <i ng-if="savingNote" class="icon-spinnery-dealie spinner small"></i>
    <a class="btn btn-large btn-success left" ng-click="saveNote()"><i class="icon-checkmark"></i>Save</a>
    <a class="btn btn-large btn-danger left" ng-click="edit(false);close()"><i class="icon-cancel-2"></i>Cancel</a>
</div>
