<h3 class="redBg"><span class="nudge-up" ng-if="instanceWithPIs.Class == 'Room'">Investigators Assigned to Room {{instanceWithPIs.Name}}</span><span class="nudge-up" ng-if="instanceWithPIs.Class == 'Hazard'">PIs sharing {{instanceWithPIs.Name}} with {{PI.User.Name}}</span><i style="float:right; margin-top:5px;" class="icon-cancel-2" ng-click="close()"></i></h3>

<div class="modal-body" style="border-bottom:none">
    <div class="loading" ng-show='!instanceWithPIs.PrincipalInvestigators.length'>
        <i class="icon-spinnery-dealie spinner large"></i>
        <span>Getting PIs...</span>
    </div>

    <ul>
        <li ng-repeat="pi in PIs"><h3>{{pi.User.Name}}</h3></li>
    </ul>
</div>
