<div class="modal-header wide-modal" style="padding:0;">
    <h2 style="padding:5px;" class="redBg">{{pi.User.Name}}'s scheduled inspections
        <a class="btn left" ng-click="setInspection()"><i class="icon-plus-2" style="color: rgba(255,255,255,.7);"></i>New Inspection</a>
           <a class="btn left" ng-click="setInspection(true)"><img src="../../img/radiation-large-icon.png">New Radiation Inspection</a>
           <i ng-if="creatingInspection" class="icon icon-spinnery-dealie spinner large"></i>
    </h2>
</div>
<div class="modal-body">
    <h3 class="alert alert-danger" ng-if="error">{{error}}</h3>
   <span ng-if="gettingInspections" class="loading">
          <i class="icon icon-spinnery-dealie spinner large"></i>
          <span>Loading Inspections...</span>
   </span>
   <span ng-if="!gettingInspections && !openInspections.length">
       <h3>{{pi.User.Name}} has no pending inspections.</h3>
       <a class="btn left" ng-click="setInspection()"><i class="icon-plus-2"></i>New Inspection</a>
         <a class="btn left" ng-click="setInspection(true)"><img src="../../img/radiation-large-icon.png">New Radiation Inspection</a>
          <i ng-if="creatingInspection" class="icon icon-spinnery-dealie spinner large"></i>
   </span>
    <table class="table table-bordered table-striped">
    <table ng-show="openInspections" class="table table-striped table-bordered">
    <thead>
            <th>Inspect Lab</th>
            <th>Rooms</th>
            <th>Year</th>
            <th>Month</th>
            <th>Inspector(s)</th>
            <th>Hazards</th>
            <th>Report</th>
        </thead>
        <tbody>
            <tr ng-repeat="(key, inspection) in openInspections | orderBy:'Date_started':reverse | inspectionClosed:false" ng-class="{new:inspection.Is_new}">
                <td style="width:14%; vertical-align:middle;text-align:center;">
                    <a ng-disalbed="inspection.Notification_date" class="btn btn-danger left" href="InspectionChecklist.php#?inspection={{inspection.Key_id}}"><i class="icon-zoom-in"></i>Inspect Labs</a>
                </td>
                <td>
                    <ul>
                        <li ng-repeat="building in buildings">
                        <span class="bold underline">{{building.Name}}</span>
                            <ul style="margin:5px;">
                                <li ng-repeat="(key,room) in building.Rooms|orderBy:'Name'">
                                    <label class="checkbox inline">
                                        <input type="checkbox" ng-checked="hif.evalInspectionRoomChecked( inspection, room )" ng-change="hif.saveInspectionRoomRelationship( inspection, room )" ng-model="room.checked"/>
                                        <span class="metro-checkbox"><span once-text="room.Name"></span><i ng-if="room.IsDirty" class="icon-spinnery-dealie spinner small"></i></span>
                                    </label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </td>
                <td once-text="inspection.Schedule_year"></td>
                <td once-text="inspection.Text_schedule_month"></td>
                <td>
                    <ul>
                        <li ng-repeat='inspector in inspection.Inspectors' once-text='inspector.User.Name'></li>
                    </ul>
                </td>
                <td>
                    <span ng-if="!inspection.Is_rad"><img src="../../img/biohazard-largeicon.png" style="width: 21px;"/><img src="../../img/chemical-safety-large-icon.png" style="width: 21px;"/></span><img src="../../img/radiation-large-icon.png" ng-if="inspection.Is_rad" style="width: 21px;"/>
                </td>

                <td>
                    <span ng-if="inspection.Status != Contacts.INSPECTION.STATUS.SCHEDULED">{{inspection.Status}}</span>

                    <span ng-if="inspection.Status == Contacts.INSPECTION.STATUS.PENDING_CLOSEOUT">
                        <p>
                            (Due: {{inspection.Cap_due_date | dateToISO}})
                            <a target="_blank" style="margin-top: -4px; margin-left: 6px;padding: 4px 7px 6px 0px;" class="btn btn-info" href="InspectionConfirmation.php#/report?inspection={{inspection.Key_id}}"><i style="font-size: 21px;" class="icon-clipboard-2"></i></a>
                        </p>
                    </span>

                    <span ng-if="inspection.Status == Contacts.INSPECTION.STATUS.INCOMPLETE_REPORT">
                        <p>
                            (Started: {{inspection.Date_started | dateToISO}})
                            <a target="_blank" style="margin-top: -4px; margin-left: 6px;padding: 4px 7px 6px 0px;" class="btn btn-info" href="InspectionConfirmation.php#/report?inspection={{inspection.Key_id}}"><i style="font-size: 21px;" class="icon-clipboard-2"></i></a>
                        </p>
                    </span>

                    <span ng-if="!inspection.Status || inspection.Status == Contacts.INSPECTION.STATUS.SCHEDULED">
                        <p>
                            N/A
                        </p>
                    </span>

                    <span ng-if="inspection.Status == Contacts.INSPECTION.STATUS.OVERDUE_FOR_INSPECTION">
                        <p>
                            (Scheduled for {{inspection.Text_schedule_month}})
                            <a target="_blank" style="margin-top: -4px; margin-left: 6px;padding: 4px 7px 6px 0px;" class="btn btn-info" href="InspectionConfirmation.php#/report?inspection={{inspection.Key_id}}"><i style="font-size: 21px;" class="icon-clipboard-2"></i></a>
                        </p>
                    </span>

                </td>


            </tr>
        </tbody>
    </table>
   <h3 ng-show="noHazards">{{noHazards}}</h3>

</div>
<div class="modal-footer">
    <a class="btn btn-large" ng-click="close()">Close</a>
</div>
