<form name="loginform" id="loginform" class="form form-horizontal"
      method="post" action="{{GLOBAL_WEB_ROOT + 'action.php'}}">

    <input type="hidden" name="action" value="loginAction">

    <div class="form-group">
        <input ng-model="data.username" autofocus required type="text" class="form-control" name="username" placeholder="Enter Username" autocomplete="username">
        <br>
        <input ng-model="data.password" type="password" name="password" class="form-control" id="password" placeholder="Password" autocomplete="current-password">
    </div>

    <div class="form-group" ng-if="auth_errors.length">
        <p ng-repeat="error in auth_errors" class="login-error">{{error}}<p>
    </div>

    <div class="form-group" style="margin-top:20px;">
        <button type="submit" name="submit" class="btn btn-large btn-success" id="login" style="padding:0 20px;"
            ng-click="_submitted = !_submitted">Login</button>
    </div>
</form>
