<form class="access-request">
    <div class="well">
        <h3 class="auth-form-header">RSMS Request for User Access</h3>

        <div ng-if="data.candidate.IsFulfilled">
            <h4 style="color: green;">
                <i class="icon-info"></i>
                <span>Your request for access under {{data.candidate.Current_access_request.Principal_investigator_name}} on {{getDate(data.candidate.Current_access_request.Date_created) | date:'shortDate'}} has been Approved.</span>
            </h4>

            <p class="auth-element">
                <a class="btn btn-success" ng-href="{{GLOBAL_WEB_ROOT}}action.php?action=logoutAction">Log in here</a>
            </p>
        </div>

        <div class="request-status fadein" ng-show="!data.candidate.IsFulfilled && data.candidate.Current_access_request">
            <h5 ng-if="data.candidate.Current_access_request.Status == 'PENDING'">
                <span>You submitted a request for access under {{data.candidate.Current_access_request.Principal_investigator_name}} on {{getDate(data.candidate.Current_access_request.Date_created) | date:'shortDate'}}.</span>
                <span>This request is being reviewed and you will be notified via email when it is complete.</span>

                <p class="auth-element">
                    <a class="btn btn-success" ng-href="{{GLOBAL_WEB_ROOT}}action.php?action=logoutAction">Back to Login</a>
                </p>
            </h5>

            <div ng-if="data.candidate.Current_access_request.Status == 'DENIED'">
                <h4 class="red">
                    <i class="icon-warning"></i>
                    <span>Your request for access under {{data.candidate.Current_access_request.Principal_investigator_name}} on {{getDate(data.candidate.Current_access_request.Date_created) | date:'shortDate'}} was Denied.</span>
                </h4>
            </div>
        </div>

        <div style="margin-top: 20px;" class="overlay-container fadein" ng-show="!data.candidate.IsFulfilled && data.candidate.Current_access_request.Status != 'PENDING'">
            <div class="overlay" ng-if="data.selection.submitting && !data.selection.submission_complete">
                <i class="icon-spinnery-dealie spinner"></i>
                <span>Submitting Access Request for {{data.selection.username}}...</span>
            </div>

            <div class="overlay" ng-if="data.selection.submitting && data.selection.submission_complete">
                <i class="icon-checkmark"></i>
                <span>Access Request complete</span>
            </div>

            <div class="overlay" ng-if="data.selection.submitting && data.selection.submission_error">
                <i class="icon-cancel"></i>
                <span>An error occurred while processing your Access Request. Please try again later.</span>
                <div>
                    <a class="btn btn-danger" ng-href="{{GLOBAL_WEB_ROOT}}action.php?action=logoutAction">Back to Login</a>
                </div>
            </div>

            <div class="auth-form-fields overlay-container">
                <div class="overlay" ng-if="!data.listing.length">
                    <i class="icon-spinnery-dealie spinner"></i>
                    <span>Loading...</span>
                </div>

                <h5 ng-show="data.listing.length" class="fadein bold">
                    <span>Complete the following form to submit a new request for access to <i>RSMS</i>.</span>
                </h5>

                <hr/>

                <div ng-show="data.listing.length" class="card auth-element fadein"
                    ng-class="{ 'selection-made': data.selection.username, 'selection-empty': !data.selection.username }">
                    <h3 class="even-content">
                        <span>Confirm Your Network Username</span>
                        <span class="badge">1/4</span>
                    </h3>
                    <div class="even-content">
                        <pre class="auth-username" once-text="data.candidate.Username"></pre>
                        <div ng-show="!data.selection.username" class="fadein auth-form-footer">
                            <a class="btn btn-success" ng-click="data.selection.username = data.candidate.Username">
                                <i class="icon-checkmark"></i>
                            </a>
    
                            <a class="btn btn-danger" ng-href="{{GLOBAL_WEB_ROOT}}action.php?action=logoutAction">
                                <i class="icon-cancel"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div ng-show="data.listing.length && data.selection.username" class="card auth-element fadein"
                    ng-class="{ 'selection-made': data.selection.department, 'selection-empty': !data.selection.department }">
                    <h3 class="even-content">
                        <span>Select Your Department</span>
                        <span class="badge">2/4</span>
                    </h3>
                    <ui-select ng-model="data.selection.department" theme="selectize" ng-disabled="disabled" on-select="data.selection.pi = null">
                        <ui-select-match placeholder="Select or search for a Department">{{$select.selected.Name}}</ui-select-match>
                        <ui-select-choices repeat="dept in data.listing | filter: {Name:$select.search} | orderBy:'Name'">
                            <span ng-bind-html="dept.Name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div ng-show="data.selection.department" class="card auth-element fadein"
                    ng-class="{ 'selection-made': data.selection.pi, 'selection-empty': !data.selection.pi }">
                    <h3 class="even-content">
                        <div>
                            <div>Select Your Principal Investigator</div>
                            <h5 style="font-style: italic;">
                                <strong>Department:</strong>
                                <span>{{data.selection.department.Name}}</span>
                            </h5>
                        </div>

                        <span class="badge">3/4</span>
                    </h3>
                    <ui-select ng-model="data.selection.pi" theme="selectize" ng-disabled="disabled">
                        <ui-select-match placeholder="Select or search for a Principal Investigator">{{$select.selected.Name}}</ui-select-match>
                        <ui-select-choices repeat="pi in data.selection.department.PrincipalInvestigators | filter: $select.search | orderBy:'Name'">
                            <span ng-bind-html="pi.Name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <hr ng-show="data.selection.pi"/>

                <div ng-show="data.selection.pi" class="card auth-element fadein"
                    ng-class="{ 'selection-made': data.selection.submitting, 'selection-empty': !data.selection.submitting }">
                    <h3 class="even-content">
                        <span>Submit Access Request</span>
                        <span class="badge">4/4</span>
                    </h3>

                    <h5>
                        <span>You are about to request access to <i>RSMS</i> as Laboratory Personnel of <strong><i>{{data.selection.pi.Name}}</i></strong>.</span>
                        <span>Your submitted request will be reviewed by your <i>Principal Investigator</i> and you will be notified when it has been completed.</span>
                    </h5>

                    <div class="auth-form-footer">
                        <a ng-click="submitRequest()" class="btn btn-success">Submit Access Request</a>

                        <a class="btn btn-danger" ng-href="{{GLOBAL_WEB_ROOT}}action.php?action=logoutAction">Cancel Request</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
